- pug_html += app.breadcrumbs('Custom design elements', 'you can choose your own buttons style, colors and typography', [ ['Home', '/'], ['custom design elements', ''], ]);

section.custom-element-design
  .container
    .row
      .col-lg-3.hidden-md-down  
        .page_title.border-bottom.mb25
          h4.text-uppercase additional features
        ul.list-unstyled.custom.pages-left-menu
          li.active
            a(href='/demo/custom-element-design').d-inline-block.w-100 Custom Design Elements
          li
            a(href='#').d-inline-block.w-100 Custom Newsletter Layout
          li
            a(href='#').d-inline-block.w-100 Statistics and Trecking
          li
            a(href='#').d-inline-block.w-100 Administration Panel
          li
            a(href='#').d-inline-block.w-100 Material and Files Storage

      .col-lg-9
        .row
          .col-xl-12
            h2.text-uppercase.text-xs-center.m-t-0 Colors
      .col-xl-9
        .row.colors
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #2f2235")
            span.color #2f2235
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #fe7f2d")
            span.color #fe7f2d
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #9ee493")
            span.color #9ee493
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #ca054d")
            span.color #ca054d
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #ed1c24")
            span.color #ed1c24
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #f8f8f8")
            span.color #f8f8f8
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #ebebeb")
            span.color #ebebeb
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #111111")
            span.color #111111
          .item.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
            .square(style="background-color: #777777")
            span.color #777777
        .row.buttons
          .col-xl-12
            h2.text-uppercase.text-xs-center.m-t-0 BUTTONS
          .col-xl-4
            h3.font-weight-normal.m-t-0 .btn
            a(href="#").btn.btn-lg.m-b-1 btn-lg
            br
            a(href="#").btn.m-b-1 btn
            br
            a(href="#").btn.btn-sm.m-b-1 btn-sm
          .col-xl-4
            h3.font-weight-normal.m-t-0 .btn-primary
            a(href="#").btn.btn-lg.btn-primary.m-b-1 btn-lg
            br
            a(href="#").btn.btn-primary.m-b-1 btn
            br
            a(href="#").btn.btn-sm.btn-primary.m-b-1 btn-sm
          .col-xl-4
            h3.font-weight-normal.m-t-0 .btn-secondary
            a(href="#").btn.btn-lg.btn-secondary.m-b-1 btn-lg
            br
            a(href="#").btn.btn-secondary.m-b-1 btn
            br
            a(href="#").btn.btn-sm.btn-secondary.m-b-1 btn-sm
          .col-xl-12
            h3.font-weight-normal.m-t-2 .btn-social
            .social
              a(href="#")#signup-facebook.btn.btn-block.btn-social-network.btn-facebook.text-uppercase.m-b-2
                i.fa.fa-facebook
                |  log in with Facebook
              a(href="#")#signup-linkedin.btn.btn-block.btn-social-network.btn-linkedin.text-uppercase.m-b-2
                i.fa.fa-linkedin
                |  log in with linkedin
              a(href="#")#signup-google.btn.btn-block.btn-social-network.btn-google.text-uppercase.m-b-2
                i.fa.fa-google-plus
                |  log in with Google
        .row
          .col-xl-12
            h2.text-uppercase.text-xs-center.m-t-2 typography
        .row
          .col-xl-3
            h3.text-uppercase.m-b-0.m-t-0.pb10 LIST OL
            ol
              li First item
              li Second item
              li Third item
          .col-xl-8
            h3.text-uppercase.m-b-0.m-t-0.pb10 PARAGRAPH
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur  adipiscing elit. Integer posuere erat a ante. Mauris non ipsum  molestie, sagittis elit ac, vulputate odio.
        .row
          .col-xl-7
            h3.text-uppercase.m-b-0.m-t-2.pb10 LINKS
            a(href="#").link-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            br
            a(href="#").link-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            br
            a(href="#").link-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            br
            a(href="#").link-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            br
            a(href="#").link-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .col-xl-5.p-r-0.emphasis
            h3.text-uppercase.m-b-0.pb10.m-t-2 EMPHASIS
            p.print.pb10 This line of text is meant to be treated as fine print.
            p.font-weight-bold.pb10 Rendered as bold text
            h1.font-weight-light Rendered as lighted text
        .row
          .col-xl-12
            h2.text-uppercase.text-xs-center.m-t-3 HEADINGS
        .row
          .col-xl-7
            h1.big-h1 HEADING 1
            br
            h1 HEADING 1
            br
            h1 HEADING 1
              span.small-text LOREM IPSUM DOLOR SIT AMET CONSECTETUR
            h2.m-b-2 HEADING 2
            h2.m-t-0.m-b-1 HEADING 2
              span.small-text Link your bank account or manually enter your bank account details.
            h3.m-t-0.m-b-1 Heading 3
            h4 HEADING 4
            h4 HEADING 4
              span.small-text.font-weight-light (10% Done)
            h5 HEADING 5
          .col-xl-5
            h1.font-weight-light Heading 1
            h2.font-weight-light.m-t-0 Heading 2
            h3.font-weight-light.m-t-1.m-b-1 Heading 3
            h4.font-weight-light Heading 4
            h4 Heading 4
            h5 Heading 5

