form.comment-form.form-section.edit-comment
  .col-lg-12.p-x-0.form-group.mt30
    .border-bottom.m-t-0.mb30.hidden-xs-down
    .col-lg-12.p-l-0.p-r-0
      textarea(
        name="message"
        placeholder="Type your text here"
      ).big-textarea.col-lg-12.text-body.form-control
  .col-lg-12.p-r-0.text-xl-right.text-lg-right.text-xs-center.p-xs-0.m-b-1
    button(type="button").btn.btn-sm.btn-secondary.text-uppercase.m-r-2.cancel-comment Cancel
    button(type="button").btn.btn-sm.btn-primary.text-uppercase.submit-comment Submit