form.comment-form.form-section.edit-comment
  .col-lg-11.offset-lg-1.m-t-2.p-r-0.p-l-3.p-xs-0.form-group
    .border-bottom.m-t-0.mb30.hidden-xs-down
    .col-lg-12.p-xs-0
      textarea(
        name="message"
        placeholder="Type your text here"
      ).form-control.big-textarea.col-lg-12.text-body
  .col-lg-12.p-r-0.text-xl-right.text-lg-right.text-xs-center.p-xs-0
    button(type="button").btn.btn-sm.btn-secondary.text-uppercase.m-r-2.cancel-comment Cancel
    button(type="button").btn.btn-sm.btn-primary.text-uppercase.submit-comment Submit