// @import "bourbon"

/** Signup button **/

/** Menu costum **/

$padding_menu: 14px 0 0 0

$menu_shadows: none
$navbar_height: 65px

/** Menu gradient color **/


$border-width: 1px
$border-radius: 1px
$input-color: $black

$btn-color: #006b96
$btn-border: #006b96
$btn-bg: transparent
$btn-hover-bg: #006b96
$btn-hover-color: #fff

$btn-primary-bg: #006b96
$btn-primary-hover-bg: #3389ab
$btn-primary-border: #006b96
$btn-primary-hover-border: #3389ab
$btn-primary-color: $white

$btn-secondary-hover-color: $black
$btn-secondary-border: #efefef
$btn-secondary-bg: #ebebeb
$btn-secondary-hover-bg: transparent

$btn-success-bg: #5cb85c
$btn-success-border: #5cb85c
$btn-success-color: $white
$btn-success-hover-bg: #449d44
$btn-success-hover-border: #449d44

$btn-danger-bg: #d9534f
$btn-danger-border: #d9534f
$btn-danger-color: $white
$btn-danger-hover-bg: #c9302c
$btn-danger-hover-border: #c9302c

//btn social
$btn-facebook-bg: #3b5998
$btn-facebook-hover-bg: rgba(59, 89, 152, .6)

$btn-linkedin-bg: #257ebb
$btn-linkedin-hover-bg: rgba(37,126,187, .6)

$btn-google-bg: #d44330
$btn-google-hover-bg: rgba(212,67,48, .6)