- var zipCodeDirective = require('directives/zipcode/index.js');
.us-row
  | !{ zipCodeDirective(view).render().resultHtml }
  .row
    .col-xl-6.col-lg-6.us-phone
      -
        pug_html += app.fields.textLabel('phone', _.extend({
            'class1': 'col-xl-6 col-lg-12 text-xl-right text-lg-left',
            'class2': 'col-xl-6 col-lg-12 input-min-width',
            'type': 'text',
            'value': user.phone,
          }, fields.phone));