- document.title = 'Advertising Guidelines for Equity Crowdfunding';
- document.head.querySelector('meta[name="description"]').content = 'Learn about how to advertise an equity crowdfunding campaing while respecting the regulations that protect investors.';

- pug_html += app.breadcrumbs('Advertising and Communication', '', [ ['Home', '/'], ['Advertising and Communication', ''], ]);

section.text_block.information-page
  .container
    .row
      .col-lg-3.sticky-side-menu.hidden-md-down.m-t-2
        .page_title.border-bottom.mb25
          h4.text-uppercase.dosis Advertising and Communication
        ul.list-unstyled.mb50.custom.pages-left-menu
          li.active
            a(href='#best_practices').d-inline-block.w-100 Best Practices for Advertising and Communications
          li
            a(href='#prior_to_filing').d-inline-block.w-100 Prior to Filing and Your Campaign Going Live - No Offers 
          li
            a(href='#filing_and_during').d-inline-block.w-100 After Filing and During Your Campaign - Limited Communications
          li
            a(href='#examples_of_acceptable').d-inline-block.w-100 Examples of Acceptable Communications

      .col-lg-9
        .row
          .col-lg-12#best_practices
            h2.m-t-0.text-uppercase.dosis.heading-education.text-xs-center BEST PRACTICES FOR ADVERTISING AND COMMUNICATIONS
            p.pb10.text-justify Title III of the JOBS Act has broken down the barriers that made it difficult for America’s small businesses and entrepreneurs to raise capital, while permitting a far wider group of people to invest.  In doing so, the Jobs Act has levelled the playing field for companies seeking access to capital and made it easier and less costly for companies to connect with investors and to raise the money they need to grow.
            p.pb10.text-justify The opportunities created by the JOBS Act come along with the requirement to comply with Regulation CF.  As part of this regulation, Congress mandated that all companies that want to raise money online by selling securities 
              u must commit to a single location
              |  where investors can find and review all the material information and disclosures related to those securities being sold – this single location is referred to as a “funding portal” and we appreciate your considering GrowthFountain to be your funding portal.
            p.pb10.text-justify Outside of the limited exceptions discussed below, communications and advertising related to a company’s online fund-raising and sale of securities 
              u will only be found on the one funding portal
              |  that is listing the securities that are being offered or sale.  That single funding portal will allow each company to (a) provide as much reliable information as they would like o encourage investors to participate in their online fund-raise and (b) respond to investor questions through a communication channel where a company can virtually discuss deal terms and business prospects with potential investors.
            p.pb10.text-justify While Title III of the Jobs Act opens up new avenues to raising capital, there are regulations as to what communications are allowed both 
              u prior to
              |  and 
              u during
              |  any online fund-raise because any transaction that involves the offer and sale of securities is regulated by the Securities and Exchange Commission (“SEC”). Unlike the “charitable” donations made on crowdfunding sites like Kickstarter or GoFundMe, any attempt to sell securities online through a funding portal is 
              b highly regulated.
            p.text-justify The purpose of this document is to help companies navigate the Jobs Act regulations and the SEC’s rules regarding selling securities online.  In particular, this document focuses on certain best practices for you to consider with respect to your advertising and communications with investors so that you do not violate any of these rules and regulations.  Since this document is not able to take into consideration your specific circumstances, it should not be relied upon as legal advice but rather a starting point for your own analysis.

          .col-lg-12#prior_to_filing
            h3.m-t-2.text-uppercase.dosis.heading-education.text-xs-center PRIOR TO FILING AND YOUR CAMPAIGN GOING LIVE – NO OFFERS
            p.text-justify.pb10 Your online securities offering has not officially begun until the point-in-time when the offering document or “Form C” is filed with the SEC.  Until the Form C is filed with the SEC, you are prohibited from offering to sell any of your securities either privately or publicly to potential investors, including on any general investing forums, unless you are certain that you can rely on an SEC exemption from registering your securities (such as an exemption under Regulation D instead of Regulation CF). Understanding what constitutes an 
              b “offer”
              |  to sell securities is the most delicate and important piece of compliance for any company that wants to raise money by selling securities. The SEC has interpreted an “offer” very broadly, and any violation of Section 5 of the Securities Act can prevent you from being able to raise money online through Regulation CF.
            p.pb10.text-justify Sharing information about an offering prior to filing the required forms with the SEC has long been considered a problem and has often been referred to as “conditioning the market”.  There are rules against conditioning the market because any such activity could undermine the Congressional intent to ensure that all investors have access to the same information.  If you want to give certain people a “sneak peek” or a small group of friends a “heads up,” there is the risk that those people will have information that is not the same as the information that would be available to all the other investors.  There is also the risk that if you are sharing information in advance of filing the Form C (which contains all of the many required disclosures), you may share information in a manner that omits a material disclosure and set yourself up for a potential claim from an investor that they were misled because they did not have access to complete information. So we’re sorry, but no “Coming Soon” signs, no tips to your social network, and certainly no press releases or media attention is permitted if it in any way references the potential sale of securities prior to the Form C being filed with the SEC.
            p.pb10.text-justify While these prohibitions may seem like a stranglehold on a company’s ability to market a fundraising campaign, please remember that, upon filing the Form C, these advertising restrictions loosen.
            p.pb10.text-justify Please note that these restrictions on offering a security for sale in no way would limit any of your normal advertising for your business, its products or services, or any other advertising that takes place in the normal course of business.  Additionally, conversations had with any legal or tax advisors or any of your friends or business mentors would not be restricted so long as they are limited to having such persons provide input on how to structure your securities offering or similar matters related to making the fund-raising campaign successful….just make sure you aren’t trying to pitch them as investors because any “offer” to those people would violate the rules and potentially prevent you from being able to sell securities online. You also are not allowed to have other people make the offer for you indirectly since all offers are prohibited prior to filing the Form C and having your campaign be listed on the funding portal.

          .col-lg-12#filing_and_during
            h3.m-t-2.text-uppercase.dosis.heading-education.text-xs-center AFTER FILING AND DURING YOUR CAMPAIGN – LIMITED COMMUNICATION
            p.text-justify After filing your Form C with the SEC and launching your campaign, only limited communication is allowed outside of the listing page and communication channel available on the funding portal.  The limitation narrows the permissible communication down to two categories:
            ol(type="1").p-l-2.pb10.m-b-0
              li Communication which doesn’t mention the “terms of the offering”; and
              li Communication that only contains “tombstone” information.
            p.pb10.text-justify Below we explain each type of acceptable communication – these are communications that can be done outside of the funding portal.  If an advertisement, press release or other type of communication does not fit into one of these narrow exceptions, then you should not use or pursue such communication outside of the funding portal.  To be safe, you always have the ability to include the information on your listing page and in the communication channel on the funding portal.
            p.pb10.text-justify The SEC rules explicitly state that a company “may not, directly or indirectly, advertise the terms of an offering” except for an advertisement, communication or other notice that directs investors to the funding portal and includes no more than the following information:  (1) a statement that the company is conducting an offering, (2) the name of the funding portal being used along with a link directing any potential investor to the funding portal; (3) the terms of the offering as explained below; and (4) factual information about the legal identity and business location of the company, limited to the name, address, phone number and Web site of the company, the email address of a company representative and a brief description of the business.
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Understanding “Terms of the Offering” Communications
            p.pb10.text-justify The general rule is that communication and advertising done in the normal course of business intended to create press, news, or other publicity is allowed absent any reference to the terms of the offering.  In this context “terms of the offering” would consist of information such as the following:
            ol(type="1").p-l-2.pb10.m-b-0
              li The amount of securities offered;
              li The nature of the securities (i.e., whether they are debt or equity, common or preferred, etc.);
              li The price of the securities; and
              li The closing date of the offering period.
            p.pb10.text-justify So long as you avoid referencing the terms of the offering, most communications will be not violate the Regulation CF.  You also should note that you are not able to use third parties to circumvent this limitation because the rules explicitly state that you may not advertise the terms directly or indirectly.  Finally, please also remember that even though communications that refrain from identifying “terms” are generally acceptable, that does not allow a company to make statements that are materially misleading since the SEC’s anti-fraud rules would still apply.
            p.pb10.text-justify As a best practice, you should be sure to link to the funding portal whenever you are mentioning your offering or any term related to the offering.  By sending potential investors to the funding portal, you are increasing the likelihood that all investors have access to the same information.
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Understanding “Tombstone” Communications
            p.pb10.text-justify “Tombstone” communications are very limited in-nature, and would be limited to identifying no more than the following information mentioned above:
            ol(type="1").p-l-2.pb10.m-b-0
              li A statement that the issuer is conducting an offering pursuant to Section 4(a)(6) of the Securities Act (this is a                    specific reference to a Regulation CF offering);
              li The name of the funding portal through which the offering is being conducted and a link directing the potential investor to the funding portal’s website;
              li The terms of the offering (including information such as the amount of securities offered, the nature of the securities, the price of the securities and the closing date of the offering period) and;
              li Factual information about the legal identity and business location of the company, limited to the name of the company that is issuing the security, the address, phone number and website of the issuer, the e-mail address of a representative of the issuer and a brief description of the business of the issuer.
            p.pb10.text-justify Any notice or advertisement that contains more than the information listed above is likely cause problems, so you should take the time to research the rules further or ask a private attorney for advice if you intend on releasing any advertising or communications that are more inclusive.  Note that failure to fully comply with the rules may prevent your company from being able to use this new exemption.
            p.pb10.text-justify When considering the limitations above, please note that these limitations will apply to any medium in which you communicate any form or marketing.  So, if you plan to advertise on any social media websites, newspapers, TV or radio – these Tombstone-type limitations would still apply and you would want to be sure to comply the limitations described above.  Companies can use their imagination and be creative: coffee shops can print this information on to-go cups, new craft breweries can place it on every six-pack sold, or a company could simply send a card with every product it sells – so long as they comply with the limitations.
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Things to Keep in Mind When Using Different Forms of Communication
            p.pb10.text-justify Today’s world offers the ability to connect people like never before. It’s an exciting time to be a hungry entrepreneur! But remember that as you’re working on getting the message out to all corners of the globe 
              u you absolutely must be in compliance with the rules and regulations.
              |  Further, while it’s understandable that in your communications you’ll want to list every single reason why someone should invest, consider the importance of brevity and the strictness of the limitations set forth above.   And finally, please remember that the list below is
              b  NOT 
              | comprehensive: GrowthFountain and its affiliates are not giving legal advice and you should ask an independent attorney any questions you may have.
            p.pb10.text-justify
              b Website.
              |  If you currently run your own website, this may be the first place you think of advertising. However, posting specific terms of the offering may be a bad idea unless you limit the language on your website to the tombstone information and are certain to include a link to the funding portal.  Landing pages that arise upon a users entry to your website, but with the ability to disappear after a user decides to continue on to your website may offer an alternative but remember you are still limited to tombstone-type communications.  Also key to the campaign is remembering to include a link to your offering everywhere so people can help fuel your campaign – in general it is a best practice to send people to the funding portal for all inquiries and to access all material information.
            p.pb10.text-justify
              b “Invest Now” Buttons. 
              | The SEC has generally allowed an “Invest Now” link on your website, so long as it directs web traffic to your funding portal.  However, you should refrain from mentioning any terms of the offering on your website unless your entire website complies with the tombstone-type guidelines.
            p.pb10.text-justify
              b Social Media and Emails.
              |  Companies can use social media and emails to help draw attention to the offering immediately following the filing of your Form C with the SEC.  Social media and emails are subject to the same restrictions as any other communication – either don’t mention the terms at all, or don’t go beyond the tombstone-type requirements.  Remember: in order to ensure that all investors have access to the same information, no emails or social media posting from you or any third party can offer information beyond what is available through the funding portal.
            p.pb10.text-justify
              b Images and Videos.
              |  Images and videos are both permitted, but are also limited to tombstone-type communications only.  You are encouraged to publish pictures and videos that show what the company does, how it does it, and the people involved. Of course pictures and videos, like all other forms of communication, are not allowed to be misleading or misrepresentative in any way.
            p.pb10.text-justify
              b Press Releases, Interviews, and Articles.
              |  Interviews or coordination on press is difficult, as participation with the media could be deemed to be a communication sent on behalf of the company.  Hence, any press that is released must comply with the tombstone-type limitations, which may be difficult when you don’t have final, editorial control over what is communicated by the press doing the piece.
            p.pb10.text-justify These rules apply to all press communications in which the company participates.  This means that if anyone on behalf of your company tells the press to look at your crowdfunding campaign, any subsequent communication by the press may be attributed to your company.
            p.pb10.text-justify Links to press articles are subject to all the same rules discussed above.  If you try to link to an article, you may be deemed to be integrating the information in that article into your website as if you were speaking it directly.  If an article mentions the terms of the offering, then you risk violating the Regulation CF rules if it does not comply with the tombstone-type limitations.
            p.pb10.text-justify
              b Demo Days.
              |  Many companies look to “Demo Days” to showcase to audiences what their product or service is, how it works, etc.  This can be an excellent marketing tool, but one that is still subject to the same restrictions applied to press documents.  If you decide to participate in a “Demo Day” try not to mention anything beyond the tombstone-type language.  One potential tip to reduce the likelihood of trouble: if you anticipate having to answer questions, you might want to wait till the end to mention your offering and be sure to provide the address of the funding portal where all the information related to your offering can be located.
            p.pb10.text-justify
              b Product and Service Advertising.
              |  Ordinary advertising or communication that do not mention the offering are never limited (unless they contain material errors or misleading information).
          .col-lg-12#examples_of_acceptable
            h3.m-t-2.text-uppercase.dosis.heading-education.text-xs-center EXAMPLES OF ACCEPTABLE COMMUNICATIONS
            p.pb10.text-justify The advertisements below illustrate the tombstone-type limitations that a company should observe in connection with their communications.  Each of the samples relate to a fictitious brewery company and please note that each one includes a link or reference to the funding portal to ensure investors all have access to the same information.
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Sample Non-Terms Communication
            p.pb10.text-justify Help spread the Holiday Spirits.  Fiction Brewery is making a crowdfunding offering on GrowthFountain.com to raise the funds needed to expand our spirits collection.  Bring a smile to all holiday humbugs.  This is your chance to support small businesses like never before.
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Sample Tombstone Communication
            p.pb10.text-justify Fiction Brewery, Inc.
            p.pb10.text-justify Fiction Brewery is a holiday themed brewery based out of Santa Claus, Indiana and was incorporated on December 25, 2011.  The brewery specializes in spiked hot chocolate, eggnog and of course craft beers. Our goal is spreading holiday spirits for all to drink.
            p.pb10.text-justify We are selling common shares in our company at $12.25 a share.  Our offering looks to make $107,000.  The offering will remain open until December 25, 2017.  This offering is being made pursuant to Section 4(a)(6) of the Securities Act.
            p.pb10.text-justify For additional information please visit: 
              a(href="").link-2.disabled http://www.growthfountain.com/Fiction-Brewery
            ul.pb10.font-weight-bold.p-l-1.m-b-0
              li
                u Sample Landing Page
            p.pb10.text-justify An initial landing page for your users that shows informs them about your offering. This allows users the ability to click different buttons, such as invest now or continue onto your website.
            img(src=require('images/generals/background-invert.png') ).img-fluid.m-b-3.m-t-1
            .form-section
              .help-block.text-justify All references in this document to GrowthFountain are to GrowthFountain Capital LLC which is registered with the SEC as a funding portal. GrowthFountain is not a law firm and nothing in this document should be considered financial or legal advice. Moreover, due to the constant evolution of the industry please contact your lawyer to discuss any matters you encounter here.
            p.text-xl-right ©GrowthFountain

