- document.title = 'Annual Privacy Notice';
- document.head.querySelector('meta[name="description"]').content = 'Annual Privacy Notice- GrowthFountain Equity Crowdfunding';

- pug_html += app.breadcrumbs('Annual Privacy Notice', '', [ ['Home', '/'], ['Annual Privacy Notice', ''], ]);

section.annual_privacy_notice
  .container
    .row
      h2.m-t-0.text-xs-center.text-uppercase annual privacy
      .col-lg-12
        table.table.table-bordered.m-b-1.table-responsive
          tbody
            tr
              td(style="color:#fff; width:25%;").facts-bgc
                h2.m-t-0.m-b-0.p-l-1.p-t-1 Facts
              td 
                h2.text-uppercase.l-h-24.m-t-1.m-b-1.p-l-1 WHAT DOES GROWTHFOUNTAIN DO WITH YOUR PERSONAL INFORMATION?
            tr
              td(style="background-color:#f8f8f8") 
                h3.m-t-0.m-b-0.p-l-1.p-t-1 Why?
              td 
                .p-l-1 Financial companies choose how they share your personal information. Federal law gives consumers the right to limit some but not all sharing. Federal law also requires us to tell you how we collect, share, and protect your personal information. Please read this notice carefully to understand what we do.
            tr
              td(style="background-color:#f8f8f8")
                h3.m-t-0.m-b-0.p-l-1.p-t-1 What?
              td
                p.pb10.p-l-1 The types of personal information we collect and share depend on the product or service you have with us. This information can include:
                ul
                  li.pb10 Social Security number, net worth and income information
                  li.pb10 Transaction history and any data collected in connection with the offer and sale of securities, including bank account information
                  li Identifying information collected from a background check
            tr
              td(style="background-color:#f8f8f8")
                h3.m-t-0.m-b-0.p-l-1.p-t-1 How?
              td 
                .p-l-1 All financial companies need to share personal information to run their everyday business. In the section below, we list (1) the reasons financial companies can share personal Information, (2) the reasons GrowthFountain Capital LLC (“GrowthFountain”) chooses to share personal information; and (3) whether you can limit this sharing.
        table.table.table-bordered.m-b-1.table-responsive
          tbody
            tr(style="background-color:#f8f8f8")
              td(style="")
                h3.m-t-0.m-b-0.p-l-1 Reasons we can share your personal information
              td(style="")
                h3.m-t-0.m-b-0.p-l-1 Does GrowthFountain share this information?
              td(style="")
                h3.m-t-0.m-b-0.p-l-1 Can you limit this sharing?
            tr
              td
                b.p-l-1 For our everyday business purposes —
                p.p-l-1 such as to process your transactions, maintain your account(s), respond to court orders and legal investigations, or report to credit bureaus
              td.text-xs-center
                b Yes
              td.text-xs-center
                b No
            tr
              td 
                b.p-l-1 For our marketing purposes —
                p.p-l-1 to offer our products and services to you
              td.text-xs-center
                b Yes
              td.text-xs-center
                b No
            tr
              td 
                b.p-l-1 For joint marketing with other financial companies
              td.text-xs-center
                b Yes
              td.text-xs-center
                b No
            tr
              td 
                b.p-l-1 For our affiliates’ everyday business purposes —
                p.p-l-1 information about your transactions and experiences
              td.text-xs-center
                b Yes
              td.text-xs-center
                b No
            tr
              td 
                b.p-l-1 For our affiliates’ everyday business purposes —
                p.p-l-1 information about your creditworthiness
              td.text-xs-center
                b No
              td.text-xs-center
                b Not necessary,
                br
                b We don’t share.
            tr
              td 
                b.p-l-1 For our affiliates to market to you
              td.text-xs-center
                b Yes
              td.text-xs-center
                b Yes
            tr
              td 
                b.p-l-1 For nonaffiliates to market to you
              td.text-xs-center
                b Yes
              td.text-xs-center
                b Yes
        table.table.table-bordered.m-b-1.table-responsive
          tbody
            tr
              td(style="background-color:#f8f8f8; width:25%;") 
                h3.m-t-0.m-b-0.p-l-1 To limit our sharing
              td 
                .p-l-1 To limit our sharing of information with affiliates or non-affiliates that market to you, you can choose to close your account by notifying us at info@growthfountain
            tr
              td(style="background-color:#f8f8f8") 
                h3.m-t-0.m-b-0.p-l-1 Questions
              td
                p.p-l-1 Contact us at 
                  a(href="mailto:info@growthfountain.com").link-2 info@growthfountain.com

        table.table.table-bordered.m-b-1.table-responsive
          tbody
            tr(style="background-color:#f8f8f8")
              td(style="background-color:#f8f8f8; width:25%;") 
                h3.m-t-0.m-b-0.p-l-1 Who we are
              td 
            tr
              td(style="") 
                b.p-l-1 Who is providing this notice?
              td 
                .p-l-1 This notice is being provided by GrowthFountain Capital LLC, a company registered as a funding portal with the Securities and Exchange commission.  In providing services, GrowthFountain may collect information to share with third party joint marketers and third party service providers.
            tr(style="background-color:#f8f8f8")
              td(style="background-color:#f8f8f8") 
                h3.m-t-0.m-b-0.p-l-1 What we do
              td
            tr
              td(style="") 
                b.p-l-1.d-block How does GrowthFountain protect my personal information?
              td 
                .p-l-1 To protect your personal information from unauthorized access and use, we use security measures that are designed to comply with federal law.  These measures include computer safeguards and secured files.  We employ passwords and other log-in security measures which in some cases will require your assistance to protect and keep confidential.
            tr
              td(style="") 
                b.p-l-1.d-block How does GrowthFountain collect my personal information
              td 
                .p-l-1 We collect your information when you:  register for an account with GrowthFoutain, interact with websites maintained by GrowthFountain or participate in a securities transaction in which GrowthFountain serves as the funding portal.  We also collect your information from others, such as background check providers, affiliates and other companies.
            tr
              td(style="") 
                b.p-l-1 Why can’t I limit all sharing?
              td 
                .p-l-1 Federal law gives you the right to limit only
                ul
                  li.pb10 sharing for affiliates’ everyday business purposes—information about your creditworthiness
                  li.pb10 affiliates from using your information to market to you
                  li sharing for nonaffiliates to market to you
                p.p-l-1 State laws and individual companies may give you additional rights to limit sharing.
            tr
              td(style="") 
                b.p-l-1.d-block What happens when I limit sharing for an account I hold jointly with someone else?
              td 
                .p-l-1 Your choices will apply to everyone on your account.
            tr(style="background-color:#f8f8f8")
              td(style=" background-color:#f8f8f8") 
                h3.m-t-0.m-b-0.p-l-1 Definitions
              td
            tr
              td(style="") 
                b.p-l-1.d-block Affiliates
              td 
                .p-l-1 Companies related by common ownership or control. They can be financial and nonfinancial companies.
            tr
              td(style="") 
                b.p-l-1.d-block Nonaffiliates
              td 
                .p-l-1 Companies not related by common ownership or control. They can be financial and nonfinancial companies.
            tr
              td(style="") 
                b.p-l-1.d-block Joint Marketing
              td 
                .p-l-1 A formal agreement between nonaffiliated financial companies that together market financial products or services to you.
        table.table.table-bordered.m-b-1.table-responsive
          tbody
            tr(style="background-color:#f8f8f8")
              td
                h3.m-t-0.m-b-0.p-l-1 Other Important Information
            tr
              td
                .p-l-1 Please refer to our full Privacy Policy for additional disclosure on the information we collect and the circumstances by which we share such information.











          
