- document.title = 'Careers at GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'We\'re always looking for additional team members who understand how revolutionary and transformative the crowfunding initiative is';

- pug_html += app.breadcrumbs('Working At GrowthFountain', '', [ ['Home', '/'], ['Working At GrowthFountain', ''], ]);

section.text_block 
  .container
    .row
      .col-lg-3.hidden-md-down  
        .page_title.border-bottom.mb25
          h4.text-uppercase ABOUT US
        ul.list-unstyled.custom.pages-left-menu
          li
            a(href='/pg/overview').d-inline-block.w-100 GrowthFountain Overview
          li
            a(href='/pg/team').d-inline-block.w-100 #{app.config.teamName}
          li.display-partners
            a(href='/pg/partners').d-inline-block.w-100 Partners
          li
            a(href='/pg/contact').d-inline-block.w-100 Contact Us
          li.active
            a(href='/pg/careers').d-inline-block.w-100 Careers
          li
            a(href='/pg/news').d-inline-block.w-100 In the News
          li
            a(href='/pg/faq').d-inline-block.w-100 FAQ


      .col-lg-9
        .row
          .col-lg-12.text-xs-center
            h2.text-uppercase.dosis.m-t-0 Career Opportunities
            
        .row
          .col-lg-12
            h3.text-xs-center.font-weight-light.m-t-0.m-b-0 We're always looking for additional team members who understand how revolutionary and transformative the  crowfunding initiative is. If you have great ideas on how to improve investors’ experience and the quality of our business offerings, we want to hear from you!
        .row
          .col-lg-12.m-t-3
            .form-group.row.clearfix.m0 
              .col-lg-12.text-xs-center
                .controls  
                  a(href="mailto:info@growthfountain.com").btn.btn-primary.text-uppercase apply today 
