- pug_html += app.breadcrumbs('EDUCATION', '', [ ['Home', '/'], ['EDUCATION', ''], ]);

section.text_block.information-page
  .container
    .row
      .col-lg-3.sticky-side-menu.hidden-md-down.m-t-2
        .page_title.border-bottom.mb25
          h4.text-uppercase.dosis EDUCATION
        ul.list-unstyled.mb50.custom.pages-left-menu
          li.active
            a.d-inline-block.w-100(href='#welcomeGF') Welcome to GrowthFountain!
          li
            a.d-inline-block.w-100(href='#risks') There are a Number of Risks
          li
            a.d-inline-block.w-100(href='#offeringProcess') The Offering Process
          li
            a.d-inline-block.w-100(href='#afterOfferingProcess') After an Offering is Completed

      .col-lg-9
        .row
          .col-lg-12#welcomeGF
            h2.text-uppercase.heading-education.m-t-0.text-xs-center WELCOME TO GROWTHFOUNTAIN!
            h3.font-weight-light.text-xs-center.m-t-0 The materials below will help you get acquainted with the GrowthFountain website and educate yourself to the offering process.
            p.m-b-2 Issuers listed on GrowthFountain will offer one of the following:
            p
              h4.text-uppercase.d-inline-block.m-b-0 Revenue Share Agreement.
              |  This security allows a company to raise money with a promise to repay a multiple of that amount over time out of a capital pool equal to 5% of the company’s revenue each year. This security may be a good option for a) companies that generate or are expected to generate cash and b) LLC’s; we’ve carefully written the revenue share as a contract, so it shouldn’t trigger the need to issue K-1s.
          .col-lg-12#risks
            

          .col-lg-12#offeringProcess
            

          .col-lg-12#afterOfferingProcess
          

