.container
	h1.text-uppercase BUTTONS
	br
	br
	.col-xl-3
		h3 btn
		hr
		a(href="#").btn.btn-lg btn-lg
		br
		br
		a(href="#").btn btn
		br
		br
		a(href="#").btn.btn-sm btn-Sm
	.col-xl-3
		h3 btn primaty
		hr
		a(href="#").btn.btn-lg.btn-primary btn-lg
		br
		br
		a(href="#").btn.btn-primary btn
		br
		br
		a(href="#").btn.btn-sm.btn-primary btn-Sm
	.col-xl-3
		h3 btn .secondary
		hr
		a(href="#").btn.btn-lg.btn-secondary btn-lg
		br
		br
		a(href="#").btn.primaty.btn-secondary btn
		br
		br
		a(href="#").btn.btn-sm.primaty.btn-secondary btn-Sm
	.col-xl-3
		h3 btn .social
		hr
		a(href="#").btn.btn-block.btn-social-network.btn-facebook  SIGN UP with Facebook
		br
		br
		a(href="#").btn.btn-block.btn-social-network.btn-linkedin  SIGN UP with linkedin
		br
		br
		a(href="#").btn.btn-block.btn-social-network.btn-google  SIGN UP with Google