- pug_html += app.breadcrumbs('Form C Review', '', [ ['Home', '/'], ['Form C Review', ''], ]);

.container
  .row
    .col-lg-8.offset-lg-2
      h2.text-xs-center.thankyou-title.letter-spacing-normal.m-b-0.m-t-0
        i.fa.fa-check-square-o.color-green
        |  We need to review your Form C!

  .row
    .col-lg-8.offset-lg-2.m-t-3.m-b-3
      hr.m-t-0.m-b-0
  
  .row
    .col-lg-6.offset-lg-3
      p.text-xs-center Please consult the dashboard in your account profile for updates. We need to obtain certain electronic signatures from the CEO and CFO. We’ll be in the touch shortly! 
