- pug_html += app.breadcrumbs('Unsubscribed', '', [ ['Home', '/'], ['Unsubscribed', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center Unsubscribed!
        .row
            .offset-lg-2.col-lg-8
                .mt30
                    p.mb15 Sorry for disturbing, you are successfully unsubscribed.
