-
  pug_html += app.breadcrumbs('THANK YOU!', '', [['Home', '/'], ['confirmation', '']]);

.container
  .row
    .col-xl-12
      h2.text-xs-center.m-b-3.font-weight-light.m-t-0.thank-you-page-title
        .icon-in-circle.m-r-1.d-inline-block.align-middle
          i(aria-hidden="true").fa.fa-thumbs-o-up
        | We’ll send along some information ASAP!

    .col-xl-12.text-xs-center
      a(href="/company/create").btn.btn-primary raise capital
    .col-xl-12
      p.font-weight-bold.text-xs-center.m-t-3 Question in the mean time?  Call 646-759-8229