-
  pug_html += app.breadcrumbs('THANK YOU!', '', [['Home', '/'], ['confirmation', '']]);

.container
  .row
    .col-xl-12
      h2.text-xs-center.m-b-3.font-weight-light.m-t-0.thank-you-page-title
        .icon-in-circle.m-r-1.d-inline-block.align-middle
          i(aria-hidden="true").fa.fa-thumbs-o-up
        | Your subscription to the GrowthFountain Newsletter
        br
        | is Confirmed!
    .col-xl-12.text-xs-center
      a(href="/companies").btn.btn-primary explore
    .col-xl-12
      p.small.text-grey.text-xs-center.m-t-1 Explore investment opportunities