- document.title = 'How to Succeed with Equity Crowdfunding on GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'What\'s it take to conduct a successful equity crowdfunding round? Here\'s everything you need to know.';

- pug_html += app.breadcrumbs('Creating a Successful Campaign', '', [ ['Home', '/'], ['Creating a Successful Campaign', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center After Your Fundraise
        .row
            .offset-lg-2.col-lg-8
                .mt30
                    p.mb15 When you engage in an equity crowdfunding campaign, the fundraise is only the beginning of a long term relationship between you and your investors. Like any relationship, your willingness to make an ongoing commitment to investors will determine how successful your partnership proves to be in the long run.

                    p.mb15 In fact, you should make the extra effort to embrace your new investors as they can be an extraordinary resource for you. Think of your investors as advocates of who can help spread the word. Look to them for feedback which will be more valuable than any focus group. Finally, you might be surprised at how valuable their insight or how relevant their experience might be to your endeavor. Ask for their input and their thoughts – you’ll find welcome partners that will go above and beyond to help you succeed.

                    p.mb15 Down the road, there are some things you will need to account for after your fundraise is complete, including:

                    ul.simple-list.mb25
                        li 
                            | Regular reporting obligations to investors and the SEC
                        li
                            | Handling investor relations and any cash distributions you may choose to make to your investors
                        li 
                            | Whether and how you will decide to make additional fundraises in the future


        .row
            .offset-lg-2.col-lg-8.mt50.text-xs-center
                .controls
                    a(
                        href="/pg/success_guide_5"
                    ).btn.btn-primary.pull-sm-left.text-uppercase previous 
                    a(
                        href="/company/create"
                    ).btn.btn-primary.pull-sm-right.text-uppercase.m-t-xs-1.p-l-xs-1.p-r-xs-1 start/continue your campaign 
