- document.title = 'How to Succeed with Equity Crowdfunding on GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'What\'s it take to conduct a successful equity crowdfunding round? Here\'s everything you need to know.';

- pug_html += app.breadcrumbs('Creating a Successful Campaign', '', [ ['Home', '/'], ['Creating a Successful Campaign', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center YOUR ELEVATOR PITCH
        .row
            .offset-lg-2.col-lg-8.mb25
                .mt30
                    p.mb15 An elevator pitch refers to a clear, concise presentation on who you are and what you do, explained in the amount of time it takes to ride an elevator.

                    p Here is a helpful template that can guide you through your short pitch:

        .row
            .offset-lg-2.col-lg-8
                .bg-gray-block
                    h3.opensans.mt20.mb15
                        | Paragraph 1: High Concept Pitch. Who is the customer and what does your product/service help them do?

                    p GrowthFountain connects small businesses to all the tools they need to succeed – including financial, human and social capital. Our goal is to level the playing field and make things easy for entrepreneurs to focus on what matters – their product or service! Check it out:  
                        a(href="https://growthfountain.com/").link-3 www.growthfountain.com

                    h3.opensans.mt20.mb15
                        | Paragraph 2: What is the problem that your product/service helps overcome? Mention traction and social proof.

                    p Companies have had very limited access to capital since the 1933 Securities Act made regulation expensive and burdensome for all but the largest companies, but that has all changed with new legislation brought forward in the JOBS Act. Now, small businesses and entrepreneurs can publically advertise their fundraising campaign – AND – investors are no longer required to meet certain wealth or income thresholds to invest! At GrowthFountain, we are helping bring this revolutionary change to local businesses across America. Our message is resonating strong and clear with credit unions who have partnered with us to bring up to 16 million members to our platform to help foster community development and growth – just check out our &nbsp;
                        a(href="https://growthfountain.com/pg/partners" target="_blank").link-3 “Partners”
                        | &nbsp;and &nbsp;
                        a(href="/pg/overview").link-3 “About” 
                        | tabs to learn more!

                    h3.opensans.mt20.mb15
                        | Paragraph 3: The Team

                    p GrowthFountain’s team has over 75 years of executive experience in starting and growing businesses from scratch. Prior to co-founding GrowthFountain, our leaders: co-founded and sold a hedge fund, co-founded a tech start-up, were early employees at digital marketing & social media companies, were lawyers and financial analysts. And now we are culminating our collective skill sets to help local businesses across America.

        .row
            .offset-lg-2.col-lg-8.mt50
                .controls
                    a(
                        href="/pg/success_guide_1"
                    ).btn.btn-primary.pull-xs-left.text-uppercase previous 
                    a(
                        href="/pg/success_guide_3"
                    ).btn.btn-primary.pull-xs-right.text-uppercase next 
