- document.title = 'How to Succeed with Equity Crowdfunding on GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'What\'s it take to conduct a successful equity crowdfunding round? Here\'s everything you need to know.';

- pug_html += app.breadcrumbs('Creating a Successful Campaign', '', [ ['Home', '/'], ['Creating a Successful Campaign', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center WELCOME!
        .row
            .offset-lg-2.col-lg-8
                .mt30
                    p.mb15 Welcome, and thank you for your interest in raising capital on GrowthFountain.com.

                    p.mb15 We intend to make the process as seamless and easy for you as possible. At the appropriate point in the process, we will make a variety of proprietary tools available to you, including links to our valuation calculators. We will also provide educational material and template legal forms and assist you with making any necessary filings.
                    
                    p.mb15 We will need a whole host of information from you to comply with the law, complete your public filings and make sure your investors learn all details, risks and disclosures.
                    
                    p 
                        b The important thing to remember is to focus on your passion – your product or service! Every fundraising campaign should include the following:

                        ul.mt20.simple-list
                            li An elevator pitch
                            li A slide deck
                            li A video portraying your product and telling your story

                    // last element has not pb15 class
                    p We’ll also give you some good advice on how to best manage your family, friends, network and get the most our of your campaign. With that, let’s get started!

        .form-group.row.clearfix.m0 
            .offset-lg-2.col-lg-8.mt50
                .controls.text-xs-center
                    a(
                        href="/pg/success_guide_1"
                    ).btn.btn-primary.text-uppercase next 