- document.title = 'How to Succeed with Equity Crowdfunding on GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'What\'s it take to conduct a successful equity crowdfunding round? Here\'s everything you need to know.';

- pug_html += app.breadcrumbs('Creating a Successful Campaign', '', [ ['Home', '/'], ['Creating a Successful Campaign', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center Your Fund Raise
        .row
            .offset-lg-2.col-lg-8
                .mt30
                    p.mb15 In accordance with the law, GrowthFountain uses an all-or-nothing funding model. If your campaign doesn’t meet your funding goal, all committed investments will be returned to investors. As you complete your campaign, you’ll have the choice as to whether or not you’ll accept funding above and beyond your goal, and if so, the maximum amount you are willing to accept up to the maximum investment amount of $1 million. Your campaign therefore should be the minimum amount that you need to at least get your business to the next level. We have built two sets of calculators – the first, &nbsp;
                        a(href="/calculator/capital-raise").link-2 “How Much Should I Raise?”
                        | &nbsp;will help you determine the amount that is right for your business. The second – a set of &nbsp;
                        b three valuation calculators
                        | &nbsp; to help you determine what your business is worth&nbsp;
                        a(href="/calculator/startup/intro").link-2 “Startup”
                        | , &nbsp;
                        a(href="/calculator/established-business/intro").link-2 “Established Businesses”
                        | &nbsp;and&nbsp;
                        a(href="/calculator/revenue-share").link-2 “Revenue Share”
                        |.

                    p Next, set your project deadline. We recommend 60 or 90 days. Now it’s time to sit back and let the cash roll in, right? NO! Campaigns don’t just go viral on their own – it takes an awful lot of hard work to get the early traction you need to succeed. Please note, federal law limits your ability to advertise your fundraise to:

                    ul.simple-list.mb25.mt20
                        li 
                            | A statement that you are conducting an offering on &nbsp;
                            a(href="https://growthfountain.com/").link-2 www.growthfountain.com
                        li
                            | The terms of the offering, including $ amount offered, type of securities, price and closing date
                        li 
                            | A brief description of your business, which may include, full color posters, advertisements and videos, that describe your business and refer people to your offering on GrowthFountain
                        li
                            | Finally, have fun with it!

                    p.mb15 Get the word out to your family, your friends, and your social network. Empower your advocates to help spread the word and refer people to your campaign on GrowthFountain. By turning your customers, social network, community and suppliers into owners, you’ll make them feel like they are part of something special and they’ll become evangelical supporters on your behalf.

                    p Finally, don’t forget to closely follow the “Message Board” communication channel within your campaign. Potential investors can ask questions and make comments here – and you’ll want to timely respond and update investors on progress with your product or service. Make sure you let us know at GrowthFountain if there are any material updates to your company. Keep the pedal to the metal throughout your campaign and you’ll likely be rewarded.

        .row
            .offset-lg-2.col-lg-8.mt50
                .controls
                    a(
                        href="/pg/success_guide_4"
                    ).btn.btn-primary.pull-xs-left.text-uppercase previous 
                    a(
                        href="/pg/success_guide_6"
                    ).btn.btn-primary.pull-xs-right.text-uppercase next 
