- document.title = 'How to Succeed with Equity Crowdfunding on GrowthFountain';
- document.head.querySelector('meta[name="description"]').content = 'What\'s it take to conduct a successful equity crowdfunding round? Here\'s everything you need to know.';

- pug_html += app.breadcrumbs('Creating a Successful Campaign', '', [ ['Home', '/'], ['Creating a Successful Campaign', ''], ]);

section.text_block
    .container
        .row
            .offset-lg-2.col-lg-8
                h2.text-uppercase.dosis.m0.text-xs-center Your Video
        .row
            .offset-lg-2.col-lg-8.mb25
                .mt30
                    p Though a video isn’t mandatory, statistics demonstrate that fundraising campaigns that contain a video are far more likely to succeed. The video does not have to be professionally produced – you can even shoot it on a smart phone. A couple things to keep in mind:

        .row
            .offset-lg-2.col-lg-8
                ul.simple-list.mb50
                    li 
                        | Keep it short! People have an attention span of about a minute
                    li
                        | Make sure to introduce your team and show some personality – investors invest based on capability and likeability first – then product/service second!
                    li 
                        | Be sure to demo/fully explain your product or service with passion and excitement
                    li
                        | Finally, have fun with it!

        .row
            .offset-lg-2.col-lg-8
                .controls
                    a(
                        href="/pg/success_guide_3"
                    ).btn.btn-primary.pull-xs-left.text-uppercase previous 
                    a(
                        href="/pg/success_guide_5"
                    ).btn.btn-primary.pull-xs-right.text-uppercase next 
