<section id="view-wodget-v1">
  <h1 class="text-uppercase big">View widget v2</h1>
  <div id="gf__widget" class="gf__widget_v2">
  <div class="gf_widget_wrap" id="gf__widget_invest" style="display:none;">
   <div class="gf__widget_header">
    <a href="#" class="gf__close_widget" id="gFcloseWidget"><i class="fa fa-times" aria-hidden="true"></i></a>
   </div>
   <div class="gf__content_widgets">
    <div class="gf__img_wrap">
     <img src="http://localhost:7070/staticdata/img/fade-in-logo.png">
    </div>
    <h3>Invest Now!</h3>
    <p>Own a piece of <span>MOBODEXTER</span> with equity crowdfunding on GrowthFountain.</p>
   </div>
  </div>
  <a href="http://localhost:7070/30" class="gf__btn_widget" target="blank">invest now</a>
</div>
</section>
<script type="text/javascript">widgetsElement();</script>
