section#view-wodget-v1
  h1.text-uppercase.big View widget v1
  div#gf__widget.gf__widget_v1
    div#gf__widget_invest
      .gf__widget_header
        a(href="#" class="gf__close_widget" id="gFcloseWidget")
          | &times;
      .gf__all_widget_wrap
        h3 Invest in 
          span.gf__company_name AMERICAN DRAFT
        img(src=window.location.protocol + '//' + window.location.host + '/staticdata/img/logo-black.png')
        a(href=window.location.protocol + '//' + window.location.host + '/americandraft' target="blank").gf__btn_widget invest now
    #gf__widget_show
      img(src=window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png')

script(src=window.location.protocol + '//' + window.location.host + "/js/widget/widget-gfv2.js" type="text/javascript")
  
script(type="text/javascript").
  widgetsElement({
    buttonBackground: '#39b2af',
    buttonColor: '#fff',
    buttonPadding: '15px 35px',
    buttonRadius: '30px',
    borderColors: '#39b2af',
    timeOut: 4000,
  });

