section#view-wodget-v1
  h1.text-uppercase.big View widget v1
  div#gf__widget.gf__widget_v1
    div#gf__widget_invest(style="visibility: hidden;")
      .gf__widget_header
        a(href="#" class="gf__close_widget" id="gFcloseWidget")
          i.fa.fa-times
      .gf__all_widget_wrap
        h3 Invest in 
          span.gf__company_name AMERICAN DRAFT
        img(src=window.location.protocol + '//' + window.location.host + '/staticdata/img/logo-black.png')
        a(href=window.location.protocol + '//' + window.location.host + '/americandraft' target="blank").gf__btn_widget invest now
    #gf__widget_show
      img(src=window.location.protocol + '//' + window.location.host + '/staticdata/img/fade-in-logo.png')
<script type="text/javascript">widgetsElement();</script>
