<section id="view-wodget-v1">
  <h1 class="text-uppercase big">View widget v1</h1>
  <div id="gf__widget" class="gf__widget_v1">
  <div id="gf__widget_invest" style="display:none;">
   <div class="gf__widget_header">
    <a href="#" class="gf__close_widget" id="gFcloseWidget"><i class="fa fa-times" aria-hidden="true"></i></a>
   </div>
   <div class="gf__all_widget_wrap">
    <h3>Invest in <span class="gf__company_name">MOBODEXTER</span> on</h3>
    <img src="https://alpha.growthfountain.com/staticdata/img/logo-black.png">
    <a href="https://alpha.growthfountain.com/30" class="gf__btn_widget" target="blank">invest now</a>
   </div>
  </div>
  <div id="gf__widget_show" style="display:none;">
   <img src="https://alpha.growthfountain.com/staticdata/img/fade-in-logo.png">
  </div>
</div>
</section>
<script type="text/javascript">widgetsElement();</script>
