include ../../raiseFunds/templates/menu.pug

- pug_html += app.breadcrumbs('create form c', '', [ ['Home', '/'], ['Create Form C', '/formc/' + values.id + '/introduction'], ['Background Check', ''], ]);

section.formc-background-check.container.m-b-85
  - var campaignId = values.campaign_id;
  .row
    +menu('formc', 'background-check')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.mb45 Background  check
      .row
        .col-lg-12
          b Has the company or any director, officer, 20% voting shareholder or paid securities promoter been subject to:
          ol.m-t-1
            li.pb10.font-weight-bold Conviction: felony or misdemeanor, within 10 years prior to this offering (5 years in the case of the company) in connection with the purchase or sale of securities, making false filings with the SEC, or arising out of the conduct of the business of an underwriter, broker, dealer, municipal securities dealer, investment adviser, funding portal or paid solicitor of purchasers of securities?
            li.pb10.font-weight-bold Subject to court order, judgment or decree, within 5 years prior to this offering, that restrains or enjoins such person from any connection with the purchase or sale of securities, involving any false filing with the SEC, arising out of the conduct of the business of an underwriter, broker, dealer, municipal securities dealer, investment adviser, funding portal or paid solicitor of securities?
            li.pb10.font-weight-bold Subject to a final order of a state securities commission or similar agency or bank, savings associations, credit union, state insurance commission, federal banking agency, CFTC or NCUA that, at the time of this offering, bars the person from association with an entity regulated by such commission, engaging in the business of securities, insurance or banking, engaging in savings association or credit union activities, or constitutes a final order based on a violation of any law or regulation that prohibits fraudulent, manipulative or deceptive conduct and for which the order was entered within 10 years prior to this offering?
            li.pb10.font-weight-bold Subject to an SEC order pursuant to Section 15(b) or 15B(c) of the Exchange Act or Section 203(e) or (f) of the Investment Advisers Act of 1940 that, at the time of this offering, suspends or revokes such person’s registration as a broker, dealer, municipal securities dealer, investment adviser or funding portal, places limitations on the activities, functions or operations of such person, bars such person from being associated with any entity or from participating in the offering of any penny stock?
            li.pb10.font-weight-bold Subject to an SEC order within 5 years prior to this offering, orders the person to cease and desist from violating any scienter-based anti-fraud provision of federal securities laws or Section 5 of the Securities Act?
            li.pb10.font-weight-bold Suspended or expelled from membership in, or barred from association with a member of a registered national securities exchange or association for conduct inconsistent with just and equitable principles of trade?
            li.pb10.font-weight-bold Subject to a refusal order, stop order or suspended exemption within 5 years prior to this offering, with regards to a Regulation A offering statement, or was any such person, at the time of filing, the subject of an investigation or proceeding to determine whether a stop order or suspension should be issued?
            li.font-weight-bold Subject to a United States Postal Service false representation order within 5 years prior to this offering, or is such person subject to a temporary restraining order or preliminary injunction with respect to conduct alleged by the United States Postal Service to constitute a scheme or device for obtaining money or property through the mail by means of false representations?
      form(action="").form-section
        .form-group.form-section.m-t-1.m-b-0
          .radio-input.m-b-1.yesno
            label 
              input(type="radio" data-value-type="boolean" name="company_or_director_subjected_to_choice" value="true" checked=(values['company_or_director_subjected_to_choice'] == 1) target=".transactions-past-year-container")
              |  Yes
            label 
              input(type="radio" data-value-type="boolean" name="company_or_director_subjected_to_choice" value="false" checked=(values['company_or_director_subjected_to_choice'] == 0) target=".transactions-past-year-container")
              |  No
        .company_or_director_subjected_to_choice.shown-yes(style="display:" + (values['company_or_director_subjected_to_choice']  == 1? 'block' : 'none'))
          -
            pug_html += app.fields.textareaLabel('company_or_director_subjected_to', {
            schema: fields.company_or_director_subjected_to, 
            placeholder: 'Explain',
            value: values.company_or_director_subjected_to,})
        .row.pb10
          b.col-lg-12 In addition to the information expressly required to be included in this Form, include:
        -
          pug_html += app.fields.textareaLabel('material_information', {
          class1: 'col-lg-12 col-md-12 text-md-left text-xl-left', 
          class2: 'col-lg-12 col-md-12 big-textarea', 
          schema: fields.material_information, 
          placeholder: 'Description',
          value: values.material_information,})
        -
          pug_html += app.fields.textareaLabel('descrption_material_information', {
          class1: 'col-lg-12 col-md-12 text-md-left text-xl-left', 
          class2: 'col-lg-12 col-md-12 big-textarea', 
          schema: fields.descrption_material_information, 
          placeholder: 'Description',
          value: values.descrption_material_information,})
          
        .border-bottom.m-t-3.m-b-3
        h3.pb10.m-b-0 The issuer must continue to comply with the ongoing reporting requirements until:
        ol
          li.pb10 the issuer is required to file reports under Section 13(a) or Section 15(d) of the Exchange Act;
          li.pb10 the issuer has filed at least one annual report pursuant to Regulation Crowdfunding and has fewer than 300 holders of record and has total assets that do not exceed $10,000,000;
          li.pb10 the issuer has filed at least three annual reports pursuant to Regulation Crowdfunding;
          li.pb10 the issuer or another party repurchases all of the securities issued in reliance on Section 4(a)(6) of the Securities Act, including any payment in full of debt securities or any complete redemp- tion of redeemable securities; or
          li the issuer liquidates or dissolves its business in accordance with state law.
        .row.m-t-3
          .col-lg-12.text-md-center.text-sm-center.text-xs-center
            button.btn.btn-primary.text-uppercase.pull-lg-right Save
