
- pug_html += app.breadcrumbs('form c and electronic signature', '', [ ['', ''], ['', ''], ['', '']]);

section.formc-team-members-director.container.m-b-85

  //START RIGHT BLOCK
  .col-lg-10.offset-lg-1
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis Form C Electronic Signature
    .col-lg-12
      p.pb10 Company Name is preparing to file its Form C Offering Material and to officially begin their fundraising campaign.
      p.pb10 Congratulations on this exciting milestone for your company!
      p The Form C is a legally required document that we anticipate filing with the SEC to commence your Offering through our Funding Portal.  
      p The SEC requires each issuer to include in the Form C all the material information that is necessary to make the statements in the Form C not misleading. Intentional misstatements or omissions of fact constitute federal criminal violations. See 18 U.S.C. 1001. Including any material misstatements in the Form C could invalidate the Offering, so please review the contents carefully.
    .col-lg-12.m-t-2.m-b-2
      a(href="#").link-2 Click Here to View the Form C Offering Statement and Electronically Sign

    form(metod="post" action="").form-section
      .col-lg-12
      p.col-lg-12.m-t-1 Pursuant to the requirements of Sections 4(a)(6) and 4A of the Securities Act of 1933 and Regulation Crowdfunding (ยง 227.100-503), this Form C has been signed by the following persons in the capacities and on the dates indicated.
      .col-lg-12.m-t-2.investment
        .form-group.row
          //- 
            pug_html += app.fields.fieldText('name', {
            schema: fields.name,
            class: 'col-xl-4 m-b-md-25',
            placeholder:'Type your name here'
            value: values.name,})
          .col-xl-4
            .electronically
              span.by By:
              span.name Maria Kravchuk
        .row
          .form-group
            //- 
              pug_html += app.fields.fieldText('title', {
              schema: fields.title,
              class: 'col-xl-4 m-b-md-25',
              placeholder:'Title'
              value: values.title,})
        .row
          .form-group
            //- 
              pug_html += app.fields.fieldText('date', {
              schema: fields.date,
              class: 'col-xl-8',
              placeholder:'Date'
              value: values.date,})
        .row
          .col-lg-12.text-md-center.text-sm-center-text-xs-center.m-t-3
            a(href="#").btn.btn-primary.text-uppercase.pull-lg-right submit
