
- pug_html += app.breadcrumbs('form c and electronic signature', '', [ ['', ''], ['', ''], ['', '']]);

section.formc-team-members-director.container.m-b-85
  //START LEFT BLOCK
  .col-lg-3.create_compaign
    .jumbotron.jumbotron-fluid.row
      .raise-funds
        h4.font-weight-bold.text-uppercase.m-b-0 REQUIRED INFORMATION
          .small-text (10% Done)
      .list-group
        a(href="#").list-group-item Company Form C Electronic Signature
        a(href="#").list-group-item CIK Code
        a(href="#").list-group-item Financials Certification 
    


  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis CIK Code
    form(metod="post" action="").form-section
      .col-lg-12
        p.pb10 We need to obtain certain information from you to submit your completed Form C to the SEC.
      .col-xl-12.m-t-3
        //- 
          pug_html += app.fields.textLabel('ein', {
          schema: fields.ein,
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right p-t-0 m-b-0',
          placeholder: 'EIN', 
          value: values.ein,})
      .row
        .col-xl-12
          .yesno.yes-no
            .col-xl-12
              label How would you prefer we obtain your CIK code?
            .col-xl-12
              .form-group.font-weight-normal
                label.m-r-1.font-weight-normal
                  input(type="radio" ).d-inline-block.m-r-1
                  |  I already have a CIK code
                label.font-weight-normal
                  input(type="radio").m-r-1
                  | I authorize you to apply for a CIK code for me
      .col-xl-12
        .row
          .col-xl-6.col-lg-6.form-group
            .row
              label.col-xl-6.col-lg-12.text-xl-right.text-lg-left.m-b-0.p-t-0 Please enter your fiscal year end
              #board_service_start_date.col-xl-6.col-lg-12
                .row
                  //- 
                    pug_html += app.fields.dateMonth('fiscal_year_end', {
                    'empty': { '': 'Choose' },
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    'value': values.fiscal_year_end,
                    }, fields.fiscal_year_end);
                  //- 
                    pug_html += app.fields.dateYear('fiscal_year_end', {
                    'value': values.fiscal_year_end,
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    'placeholder': 'YYYY',
                    'divId': 'dob',
                    }, fields.fiscal_year_end);

      .row
        .col-xl-12
          .yesno.yes-no
            .col-xl-12
              label Are you doing business under a different name than provided?
            .col-xl-12
              .form-group.font-weight-normal
                label.m-r-1.font-weight-normal
                  input(type="radio" ).d-inline-block.m-r-1
                  |  Yes
                label.font-weight-normal
                  input(type="radio").m-r-1
                  | No
      .col-xl-12
        //- 
          pug_html += app.fields.textLabel('type_name', {
          schema: fields.type_name,
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right p-t-0 m-b-0 m-b-lg-1',
          placeholder: 'Name', 
          value: values.type_name,})

      .col-xl-12.m-t-1
        p By Signing You Acknowledge and Agree to the 
          a(href="#").link-2 Delegation and Authorization Letter
      .col-lg-12.m-t-2.investment
        .form-group.row
          //- 
            pug_html += app.fields.fieldText('name', {
            schema: fields.name,
            class: 'col-xl-4 m-b-md-25',
            placeholder: 'Type your name here', 
            value: values.name,})
          .col-xl-4
            .electronically
              span.by By:
              span.name Maria Kravchuk

      
      
      .col-lg-12.text-md-center.text-sm-center-text-xs-center.m-t-2
        a(href="#").btn.btn-primary.text-uppercase.pull-lg-right submit
