
- 'use strict'
include ../../../templates/mixins.pug
include ../../raiseFunds/templates/menu.pug
include ../../../templates/fields_mixins.pug

+breadcrumbs('Create Formc', '', [['home', '/'], [ 'Create Formc', page.get_absolute_url], ['Introduction']])

section.formc.introduction.create-company-media.container
  +menu('formc', 'introduction')
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0.mb-50 introduction
    .col-lg-12
      .welcome-text
        h3.m-t-0 Welcome!
        p.m-b-1 Our goal is to get you all the resources you need to succeed, and to do so in a way that brings you closer to the most important people of all: your potential customers.
        p.m-b-1 This is a lengthy process and we will need a robust amount of information about your business, as required by law. Don’t worry, we’re here to help in any way we can! The process includes creating a company profile, submitting to a background check and ultimately launching your fundraising campaign.
        p.m-b-1 Much of the information you provide will be filed with the SEC. So, be very careful and precise in answering all questions. Give full and complete answers so that they are not misleading under the circumstances involved. Do not discuss any future performance or other anticipated event unless you have a reasonable basis to believe that it will actually occur within the foreseeable future. If any answer requiring significant information is materially inaccurate, incomplete or misleading, the Company, its management and principal shareholders may be liable to investors based on that information.
        p At the end, you’ll have the opportunity to review all material before submission, including the ability to have your attorney approve.
        form(action="").form-section
          .certify-checkbox
            .form-group.required
              label#certify
                input(type="checkbox" name="certify" value='1' checked=(values['certify']))
                | Check this box to certify that all the following statements are true:
          .list
            ul
              li Organized under, and subject to, the laws of a State or territory of the United States or the District of  Columbia.
              li Not subject to the requirement to file reports pursuant to Section 13 or Section 15(d) of the Securities Exchange Act of 1934.
              li Not an investment company registered or required to be registered under the Investment Company Act of 1940.
              li Not ineligible to rely on this exemption under Section 4(a)(6) of the Securities Act as a result of a disqualification specified in Rule 503(a) of Regulation Crowdfunding. (This question refers to questions around any securities related violations you might have, which you'll come to later in this Form).
              li Has filed with the Commission and provided to investors, to the extent required, the ongoing annual reports required by Regulation Crowdfunding during the two years immediately preceding the filing of this offering statement (or for such shorter period that the issuer was required to file such reports).
              li Not a development stage company that (a) has no specific business plan or (b) has indicated that its business plan is to engage in a merger or acquisition with an unidentified company or companies.
          .yesno.yes-no
            p.font-weight-bold Has the issuer or any of its predecessors previously failed to comply with the ongoing reporting requirements of Rule 202 Regulation Crowdfunding?
              span.color-red *
            .form-group
              label
                input(type="radio" name="failed_to_comply_choice" value="true" checked=values['failed_to_comply_choice'] target=".explain")
                | Yes
              label
                input(type="radio" name="failed_to_comply_choice" value="false" checked=!values['failed_to_comply_choice'] target=".explain")
                | No
          div(style='display:' + (values['failed_to_comply_choice'] ? 'block' : 'none') + ';').failed_to_comply_choice.explain.shown-yes
            .form-group.row
              .col-lg-3.text-lg-right
                label If Yes, Explain
              .col-lg-9
                textarea(rows="3" name="failed_to_comply").form-control= values['failed_to_comply']
          if values.is_paid != true
            .payment-block
              .row
                .col-xl-12
                  .border-bottom.m-t-2.m-b-3
              .growthfountain-charges
                p.m-b-1 GrowthFountain charges $500 for Form C generation, background checks and escrow. To authorize this charge and to enter into the Listing Agreement, please electronically sign below.
                a(href="#").link-2 To review the Listing Agreement, click here
                .form-group.row.m-t-2
                  .col-lg-3.text-lg-right
                    label Credit Card Number
                  .col-lg-9
                    input(type="text" data-stripe="number" id="card_number").form-control
                    img(src="/img/visa_logo_6.gif", alt="")
                    img(src="/img/mastercard_logo_5.gif", alt="")
                    img(src="/img/amex_512.png", alt="")
                    img(src="/img/Discover-Logo.png", alt="")

              div(id="expiration-block").expiration
                .form-group.row.m-b-0
                  .col-xl-7
                    .col-lg-5.text-lg-right
                      label Expiration
                    .col-lg-7
                      +fieldDateMonth("card_exp_month", _.extend({
                      class: 'col-xl-6 p-l-0',
                      }, fields.card_exp_month))
                      +fieldDateYear("card_exp_date_year", _.extend({
                      class: 'col-xl-6 p-r-0',
                      placeholder: 'YYYY',
                      }, fields.card_exp_date_year))
                  .col-xl-5.p-r-0
                    .col-lg-5
                      label CVV Code
                    .col-lg-7.p-l-0
                      .input-icon
                        div.fa.fa-question-circle.showPopover(
                        data-content="<p class='pb10'>For Visa, MasterCard and Discover (left), the <br> 3 digits on the <u>back</u> of your card.</p> <p class='pb10'>For American Express (right) the 4 digits on the <br> <u>front</u> of your card.</p><img class='m-r-1 m-l-1' src='http://localhost:7070/img/cart_pay_1.png' /> <img  src='http://localhost:7070/img/cart_pay_2.png' />")
                      input(type="text" data-stripe="cvc" id="card_cvc" placeholder="CVV Code").form-control
                #electronically-sign-form.electronically-sign
                  .col-xl-10.offset-xl-1.m-t-3.investment
                    .col-lg-12
                      h3.m-t-0.text-lg-center.m-b-2 Electronically Sign
                    .form-group.row
                      +fieldText('full_name', _.extend({ 'id': 'full-name', value: fullName, 'placeholder': 'Type your name', 'class': 'col-xl-6', 'help_text': 'Type name (it signs on right)'}, fields.full_name))
                      .col-xl-6
                        .electronically
                          span.by By:
                          span.name #{fullName}
              .row.btn-pay
                .col-lg-12.m-t-2
                  button#pay-btn.btn.btn-primary.text-uppercase Agree and Pay

          div(class=(values.is_paid != true ? 'collapse' : '') id="save-button-block")
            .row
              .col-lg-12
                .btn-save.text-lg-right.m-t-2
                  button(type='submit').btn.btn-primary.text-uppercase save
