include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

- 'use strict'





// - var fields = { creditor: { label: 'Creditor'} };
// - var fields = { outstanding: { label: 'Outstanding Amount'} };
// - var fields = { rate: { label: 'Interest Rate'} };
// - var fields = { date: { label: 'Maturity Date'} };
// - var fields = { terms: { label: 'Other Material Terms'} };
// - var fields = { date_offering: { label: 'Date of the Offering'} };
// - var fields = { exemption: { label: 'Exemption Relied Upon'} };
// - var fields = { securities: { label: 'Securities Offered'} };
// - var fields = { amount: { label: 'Amount Sold'} };
// - var fields = { use: { label: 'Use of Proceeds'} };
// - var fields = { limited: { label: 'How may the rights of the securities being offered be materially limited, diluted or qualified by the rights of any other class of security identified above?'} };
// - var fields = { offered_modified: { label: 'How may the terms of the securities being offered be modified?'} };
// - var fields = { issuer: { label: 'Are there any differences not reflected above between the securities being offered and each other class of security of the issuer?'} };
// - var fields = { could: { label: 'How could the exercise of rights held by the principal shareholders affect the purchasers of the securities being offered?'} };
// - var fields = { security_type: { label: 'Security Type'} };
// - var fields = { description_security_type: { label: 'Description of Security Type'} };
// - var fields = { amount_authorized: { label: 'Amount Authorized'} };
// - var fields = { amount_outstanding: { label: 'Amount Outstanding'} };
// - var fields = { specify_other_rights: { label: 'Specify Other Rights'} };
+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['financial condition', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  +menu('formc', 'outstanding-security')



  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.mb45 outstanding security
    form(metod="post" action="").form-section
      input(name="outstanding_securities_choice" type="hidden" value="false")
      .col-lg-12
        b Do you have any business loans or debt?
        .form-group.form-section.m-t-2.m-b-0
          .radio-input.m-b-1
            label 
              input(type="radio" name="have_loans_debt" value="true" checked=(values['have_loans_debt']) target=".have-loans-debt")
              |  Yes
            label 
              input(type="radio" name="have_loans_debt" value="false" checked=(!values['have_loans_debt']) target=".have-loans-debt")
              |  No
        .have-loans-debt.shown-yes(style="display:" + (values['have_loans_debt'] ? 'block' : 'none') + ";")
            +fieldBlock("business_loans_or_debt", '', {
                class1: 'col-lg-3 col-md-3',
                class2: 'col-lg-9 col-md-9',
                type: 'json',
                })
            .row.add-link
                .col-lg-9.offset-1.pull-right
                    a(href="#" data-section="loans").link-2.add-section
                        i.fa.fa-plus
                        |  Add Another Business Loans or Debt
        //- +fieldBlock("creditor", '', {
        //- class1: 'col-lg-3 col-md-12 text-md-left text-xl-right text-xl-left',
        //- class2: 'col-lg-9 col-md-12',
        //- type: 'text',
        //- placeholder: 'Creditor',
        //- })
        //- +fieldBlock("outstanding", '', {
        //- class1: 'col-lg-3 col-md-12 p-t-0 text-md-left text-xl-right text-xl-left',
        //- class2: 'col-lg-9 col-md-12',
        //- type: 'text',
        //- placeholder: 'Outstanding Amount',
        //- })
        //- +fieldBlock("rate", '', {
        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
        //- class2: 'col-lg-9 col-md-12',
        //- type: 'text',
        //- placeholder: 'Interest Rate',
        //- })
        //- +fieldBlock("date", '', {
        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
        //- class2: 'col-lg-9 col-md-12',
        //- type: 'text',
        //- placeholder: 'Maturity Date',
        //- })
        //- +fieldBlock("terms", '', {
        //- class1: 'col-lg-3 col-md-12 p-t-0 text-md-left text-xl-right text-xl-left',
        //- class2: 'col-lg-9 col-md-12',
        //- type: 'text',
        //- placeholder: 'Other Material Terms',
        //- })
        .col-lg-12.m-t-3
            .row
                b An "exempt offering" is any offering of securities which is exempted from the registration requirements of the Securities Act.Have you conducted any exempt offerings in the past three years?
                .form-group.form-section.m-t-2.m-b-0
                  .radio-input.m-b-1
                    label 
                      input(type="radio" name="conduct_exempt_offerings" value="true" checked=(values['conduct_exempt_offerings']) target=".conduct-exempt-offerings-container")
                      |  Yes
                    label 
                      input(type="radio" name="conduct_exempt_offerings" value="false" checked=(!values['conduct_exempt_offerings']) target=".conduct-exempt-offerings-container")
                      |  No
        .conduct-exempt-offerings-container.shown-yes(style="display:" + (values['conduct_exempt_offerings'] ? 'block' : 'none') + ";")
            .row
                .date-input.required.col-lg-12
                
                    .col-date.form-group.m-b-0
                        +fieldBlock("exempt_offering", '', {
                            class1: 'col-lg-3 col-md-3',
                            class2: 'col-lg-9 col-md-9',
                            type: 'json',
                        })


                        //- +fieldBlock("date_offering", '', {
                        //-   class1: 'col-lg-3 col-md-3 ',
                        //-   class2: 'col-lg-9 col-md-8 pull-md-right',
                        //- })

                        //- +fieldBlock("exemption", '', {
                        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
                        //- class2: 'col-lg-9 col-md-12',
                        //- type: 'text',
                        //- placeholder: 'Exemption Relied Upon',
                        //- })
                        //- +fieldBlock("securities", '', {
                        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
                        //- class2: 'col-lg-9 col-md-12',
                        //- type: 'text',
                        //- placeholder: 'Securities Offered',
                        //- })
                        //- +fieldBlock("amount", '', {
                        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
                        //- class2: 'col-lg-9 col-md-12',
                        //- type: 'text',
                        //- placeholder: 'Amount Sold',
                        //- })
                        //- +fieldBlock("use", '', {
                        //- class1: 'col-lg-3 col-md-12  text-md-left text-xl-right text-xl-left',
                        //- class2: 'col-lg-9 col-md-12',
                        //- type: 'text',
                        //- placeholder: 'Use of Proceeds',
                        //- })
            .row.add-link
                .col-lg-9.offset-1.pull-right
                    a(href="#" data-section="exempt_offerings").link-2.add-section
                        i.fa.fa-plus
                        |  Add Another Exemption Offering
        .border-bottom.m-t-3.m-b-3
        h3.text-xs-center Outstanding Securities
        p What other securities are outstanding? Describe the material terms of any other outstanding securies.
        a(data-toggle="modal" data-target="#security_modal" href="#security_modal").btn.text-uppercase.m-t-2.m-b-2
            i.fa.fa-plus
            |  add outstanding securities
        .table-responsive
            table.table.table-bordered.table-striped.text-xs-center.table-outstanding.m-b-0.securities-table
                thead
                    tr
                        th(width="22%").text-xs-center Security Type
                        th(width="21%").text-xs-center Amount Authorized
                        th(width="21%").text-xs-center Amount Outstanding
                        th(width="20%").text-xs-center Voting Rights
                        th(width="6%")
                tbody
                    tr
                        td Convertible Debt
                        td $2,000
                        td $1,000
                        td Yes 
                        td
                            .delete-section-container
                                a(href="#").delete-section
                                    i.fa.fa-times
                    tr
                        td Debt
                        td $2,000
                        td $1,000
                        td Yes 
                        td 
                            .delete-section-container
                                a(href="#").delete-section
                                    i.fa.fa-times
                    tr
                        td Debt
                        td $2,000
                        td $1,000
                        td Yes 
                        td 
                            .delete-section-container
                                a(href="#").delete-section
                                    i.fa.fa-times
                    tr
                        td Debt
                        td $2,000
                        td $1,000
                        td Yes 
                        td 
                            .delete-section-container
                                a(href="#").delete-section
                                    i.fa.fa-times
        .border-bottom.m-t-3.m-b-3 
        +fieldBlock("rights_of_securities_beign", '', {
        class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
        class2: 'col-lg-12 col-md-12 big-textarea',
        type: 'textarea',
        placeholder: 'Description',
        })
        +fieldBlock("terms_modified", '', {
        class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
        class2: 'col-lg-12 col-md-12 big-textarea',
        type: 'textarea',
        placeholder: 'Description',
        })
        +fieldBlock("security_differences", '', {
        class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
        class2: 'col-lg-12 col-md-12 big-textarea',
        type: 'textarea',
        placeholder: 'Description', 
        })
        +fieldBlock("principal_shareholders_affect", '', {
        class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
        class2: 'col-lg-12 col-md-12 big-textarea',
        type: 'textarea',
        placeholder: 'Description',
        })
        
        .row.form-group.form-section
            .col-lg-12
                label Please discuss risks to purchasers of securities relating to:
                    br
                    | - minority ownership
                    br
                    | - additional issuances of securities
                    br
                    | - company repurchases of securities
                    br
                    | - a sale of the company or company assets
                    br
                    | - transactions with related parties 
            .col-lg-12.big-textarea
                 textarea(placeholder="Description" name="risks_to_purchasers").form-control= values['risks_to_purchasers']
        .col-lg-12.m-t-2
            .row
                .text-md-center.text-sm-center-text-xs-center
                    //- a(href="#").btn.btn-primary.text-uppercase.pull-lg-right Save
                    button.btn.btn-primary.text-uppercase.pull-lg-right Save

//MODAL
#security_modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                        i.fa.fa-times

            .modal-body.p-t-0
                form.modal-form
                    .form-section    
                        .row.form-group
                            .col-lg-12
                                label Security Type
                            .col-lg-12
                                select(name="security_type" style="width:100%").custom-select
                                    option Preferred Stock
                                    option Common Stock
                                    option Debt
                                    option Warrants
                                    option Options
                                    option Other
                        +fieldBlock("description_security_type", '', {
                        class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
                        class2: 'col-lg-12 col-md-12 big-textarea',
                        type: 'textarea',
                        placeholder: 'Description',
                        })
                        .row
                            .col-lg-6
                                +fieldBlock("amount_authorized", '', {
                                class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
                                class2: 'col-lg-12 col-md-12 ',
                                type: 'text',
                                placeholder: 'Amount Authorized',
                                })
                            .col-lg-6
                                +fieldBlock("amount_outstanding", '', {
                                class1: 'col-lg-12 col-md-12  text-md-left  text-xl-left',
                                class2: 'col-lg-12 col-md-12 ',
                                type: 'text',
                                placeholder: 'Amount Authorized',
                                })
                        .row.form-group.m-b-0
                            .col-lg-3
                                label Voting Rights
                            .col-lg-9
                                .form-group.form-section.m-b-0
                                    .radio-input
                                        label 
                                            input(type="radio" name="voting_right" value="true")
                                            |  Yes
                                        label 
                                          input(type="radio" name="voting_right" value="false")
                                          |  No
                        

                    .row.m-b-2
                        .col-lg-12.text-lg-center.text-md-center.text-xs-center
                            button(data-dismiss="modal").update-location.btn.btn-primary.text-uppercase.pull-lg-right.add-outstanding save
            .modal-footer



