include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

- 'use strict'
// - var fields = { specified_person: { label: 'Specified Person'} };
// - var fields = { relationshop_sssuer: { label: 'Relationshop to Issuer'} };
// - var fields = { nature: { label: 'Nature of Interest in Transation'} };
// - var fields = { amount: { label: 'Amount of Interest'} };



+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['related parties', ''],
    ]
)

mixin nestedRelated(name, text, attr)
  +nestedBlockHeader()
  +fieldBlock('amount_of_interest', values['amount_of_interest'], {
    class1: 'col-lg-3 col-md-3',
    class2: 'col-lg-9 col-md-9',
  })
  +fieldBlock('relationship_to_issuer', values['amount_of_interest'], {
    class1: 'col-lg-3 col-md-3',
    class2: 'col-lg-9 col-md-9',
  })
  +nestedBlockFooter()
  script
    - global.nestedRelated = this.nestedRelated


section.formc-team-members-director.container.m-b-85
  +menu('formc', 'related-parties')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis related parties
    p.pb10.col-lg-12 Please describe any transaction or proposed transaction with related parties in the last 12 months in excess of 5% of capital raised in reliance on 4(a)(6) inclusive of current offering.
    p.pb10.col-lg-12 Related parties is defined as: any director, officer or 20% voting shareholder (no earlier than 120 days prior to this offering for 20%+ shareholder), any promoter (if organized within past three years), or any family member of the foregoing persons.  Family member includes any child, stepchild, grandchild, parent, stepparent, grandparent, spouse or spousal equivalent, sibling, mother-in-law, father-in-law, son-in-law, daughter-in-law, brother-in-law, or sister-in-law of the person, and includes adoptive relationships.  The term “spousal equivalent” means a cohabitant occupying a relationship generally equivalent to that of a spouse.
    p.col-lg-12 For each related party transaction identified, please disclose the specific person, the relationship to your company and the nature and amount of his or her interest in the transaction.
    .col-lg-12
      .border-bottom.m-t-3.m-b-3
    .col-lg-12
      b Have you had any transactions with related parties in the past 12 months?
    form(metod="post" action="").form-section
      .col-lg-12.form-group.form-section.m-t-2.m-b-2
        .radio-input.m-b-2
          label 
            input(type="radio" name="had_transactions" value="yes" checked=(values['had_transactions'] == 'yes'))
            |  Yes
          label 
            input(type="radio" name="had_transactions" value="no" checked=(values['had_transactions'] == 'no'))
            |  No

          +nestedRelated("transaction_with_related_parties", "bla bla")

        .row.m-t-3
          .col-lg-12.text-md-center.text-sm-center.text-xs-center
            button.btn.btn-primary.text-uppercase.pull-lg-right Save
