include ../../raiseFunds/templates/menu.pug

- 'use strict'

- pug_html += app.breadcrumbs('create form c', '', [ ['Home', '/'], ['Create Form C', '/formc/' + values.id + '/introduction'], ['Risk Factors', ''], ]);

section.formc-risk-factor.container.m-b-85
  - var campaignId = values.campaign_id;
  .row
    +menu('formc', 'risk-factors-instruction')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0 risk factors (INSTRUCTIONS)
      .row
        .col-lg-12
          p.pb10.pb10.text-justify The  Crowdfunding rules require that each company offering securities disclose the risks involved in purchasing their securities.  In identifying these risks, each company should avoid generalized statements and focus on those factors that are unique to their company.  Therefore, in completing this risk factor section, it is important that you tailor the description of each risk to your company’s business and
            b 
              u.text-uppercase MAKE EACH RISK AS SPECIFIC AS POSSIBLE.
          p.pb10.text-justify To assist you with this process, we have divided the risk factors into categories so it is easier for you to focus on those types of risk might affect your company.  The categories for your review are: (1) Market and Customer Risk, (2) Financial Risk, (3) Operational Risk, (4) Competitive Risk, (5) Personnel and Third Party Risk, (6) Legal and Regulatory Risk and finally (7) Miscellaneous Risk which is a catch-all category to identify anything not previously covered.
          p.pb10.text-justify For each of the seven categories identified above, we will provide you with sample language of some of the common risks that apply to crowdfunding companies.  This language is for reference only and while you are free to use this language, it is critical for you to
            b 
              u customize each risk to be specific to your company.
          p.text-justify Even if you may be concerned that identifying too many risks might scare off investors, it is very important that your disclosure of risk be as comprehensive as possible to insulate you from potential liability and to ensure that investors are fully informed.  You should consult with your own attorney if you need assistance in identifying or drafting risks or if you do not fully understand how disclosure can protect you from potential liability.
      .row.m-t-3
        .col-lg-12.text-md-center.text-sm-center.text-xs-center
          //- a(href="/formc/risk-factors/" + values.id + "/market").btn.btn-primary.text-uppercase.pull-lg-right next
          //- a(href="/formc/risk-factors/market/" + values.id).btn.btn-primary.text-uppercase.pull-lg-right next
          //- a(href="/formc/risk-factors-market/" + values.id).btn.btn-primary.text-uppercase.pull-lg-right next
          a(href="/formc/" + values.id + "/risk-factors-market").btn.btn-primary.text-uppercase.pull-lg-right next
            i.fa.fa-angle-right
