include ../../../templates/mixins.pug
include ../../raiseFunds/templates/menu.pug
include riskFactorsMixins.pug

- 'use strict'

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['Risk Factors', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  - var campaignId = values.campaign_id;
  +menu('formc', 'risk-factors-market')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.m-b-3 risk factors (MARKET AND CUSTOMER)
    .col-lg-12
      p.pb10.pb10.text-justify Please review the following statements that relate to common market and customer risk factors.  If any of these statements reflect potential risks for your company, then you should edit and add such statement so that they are personalized to your company.  Please note that the rules
        b 
          u require you to add specificity
        |  to each risk statement to ensure that an investor understands how the risk applies to your business.
    .col-sm-12.m-t-2
      .warning-block.m-t-1
        i.fa.fa-info-circle
        span.warning-text You are free to use any statement that applies to your business, provided that in each case you customize the final language to be specific to your company.
    .form-section
      section.risks
        .col-lg-12
          #accordion-risk.pannel-group.accordion.accordion-risk(role="tablist" aria-multiselectable="true")
            each v, k in defaultRisks
              +showRiskForm(v, k, 'market_and_customer_risk')

            - var disabled = false
            each v, k in values['market_and_customer_risk']
              - if (k != 99)
                - disabled = true;
              - if (!(k < Object.keys(defaultRisks).length) && k != 99)
                +showRiskForm(v, k, 'market_and_customer_risk')

    .col-lg-12.m-t-3
      p.pb10
        b In the text box below, please include those market and customer risks that are specific to your business.
        |  In brainstorming the proper risks to disclose, please consider the following questions for guidance:
      ul
        li.pb10 Does your market have seasonal fluctuations or other unpredictable characteristics?
        li.pb10 Are your customers concentrated in a few areas or accounts?
        li.pb10 Is there risk around losing major customers or the risk they may not timely pay you?
        li.pb10 Are there any risks identifying customers or risks around ensuring their retention?
      .pb10 In the text box below, please write in full sentences consistent with the sample language provided above.
    .col-lg-12
      form(data-method="PATCH").add-risk-form.clearfix
        +fieldBlock("title", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12',
          type: 'text',
          placeholder: 'Title for Risk',
          })
        +fieldBlock("risk", '', {
          class1: 'col-lg-3 col-md-12 text-md-left',
          class2: 'col-lg-9 col-md-12 big-textarea',
          type: 'textarea',
          placeholder: 'Describe Your Risk',
          })
        button(data-method="PATCH" data-concat="false").btn.btn-secondary.btn-sm.text-uppercase.pull-lg-right.m-b-3.add-risk save and Add this Risk

      label
        - var complete = values.market_and_customer_risk[99] ? true : false
        input(type="checkbox" name="complete" disabled=disabled data-previous=String(complete) checked=complete)#complete
        span None of these risks apply. This page is complete.

      .row.m-t-3
        .col-lg-12.text-md-center.text-sm-center-text-xs-center
          a(href="/formc/" + values.id + "/risk-factors-financial").btn.btn-primary.text-uppercase.pull-lg-right next
            i.fa.fa-angle-right
