include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug

include ../../raiseFunds/templates/menu.pug

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['team members (director)', ''],
    ]
)

mixin fieldHeader(name, attr)

  - attr = attr ? attr : fields[name];
  div(class=(attr.type != 'nested' ? "form-group " : '' ) + (attr.row == 0 ? '' : 'row ') + name + (fields[name].required == true ? ' required ' : ' ') + ' ' + attr.type)


mixin fieldNested(name, template, attr = {})
  - val = attr.value ? attr.value : values[name]
  - indexCounter = attr.index || 0


section.formc-team-members-director.container.m-b-85
  +menu('formc', 'team-members-director')

  //START RIGHT BLOCK
  .col-xl-8.col-lg-8.col-md-12.team-member-formc
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.mb50 Team members (director)
    form(metod="post" action="").form-section
      input(type="hidden" value=1 name="role")
      .col-xl-12
        +fieldTextLabel("first_name", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          }, fields.first_name))
        +fieldTextLabel("last_name", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          label: 'Last name',
          placeholder: 'Last Name',
          }, fields.last_name))

        .row.form-group
          .col-date#dob
            label.col-xl-3.col-lg-12.text-xl-right.textlg-left Date of birth
              span.color-red *
            .col-xl-4.col-lg-6.p-r-0
              +fieldDateMonth("dob", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-l-0  m-d-p-r-5',
              }, fields.dob))
              +fieldDateDay("dob", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 m-d-p-l-5',
              }, fields.dob))
              +fieldDateYear("dob", _.extend({
                class: 'col-xl-4 col-lg-4 col-xs-4 p-r-0 ',
                placeholder: 'YYYY',
              }, fields.dob))
        +fieldTextLabel("email", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right ',
          class2: 'col-xl-9 col-lg-12',
          label: 'Email Address',
          help_text: 'On this  team member’s E-mail we will send invitation, using which he has to confirm that really belongs to your company.',
          placeholder: 'Email Address',
          }, fields.email))
        .row
          .col-xl-6.col-lg-6.form-group
            .row
              label.col-xl-6.col-lg-12.text-xl-right.text-lg-left.m-b-0.p-t-0 Board Service Start Date
                span.color-red *
              #board_service_start_date.col-xl-6.col-lg-12
                .row
                  +fieldDateMonth("board_service_start_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    placeholder: 'MM',
                    name: 'board_service_start_date',
                    label: 'Board Service Start Date',
                  }, fields.board_service_start_date))
                  +fieldDateYear("board_service_start_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    placeholder: 'YYYY',
                    name: 'board_service_start_date',
                    label: 'Board Service Start Date',
                  }, fields.board_service_start_date))
          .col-xl-6.col-lg-6.form-group
            .row
              label.col-xl-6.col-lg-12.text-xl-right.text-lg-left.m-b-0.p-t-0 Board Service End Date
                span.color-red *
              #board_service_end_date.col-xl-6.col-lg-12
                .row
                  +fieldDateMonth("board_service_end_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    placeholder: 'MM',
                  }, fields.board_service_end_date))
                  +fieldDateYear("board_service_end_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    help_text: 'If your Board Service has a term, please input the end date.  Otherwise, leave blank'
                  }, fields.board_service_end_date))


        +fieldTextLabel("principal_occupation", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right p-t-0 m-b-0',
          class2: 'col-xl-9 col-lg-12',
          placeholder: 'Principal Occupation',
          }, fields.principal_occupation))

        +fieldTextLabel("employer_principal_businesss", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left p-t-0 m-b-0 text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          placeholder: 'Employer and Principal Business',
          }, fields.employer_principal_businesss))
        .row
          .col-xl-6.col-lg-6
            .row
              label.col-xl-6.col-lg-12.text-xl-right.text-lg-left.m-b-0.p-t-0 Employer Start Date
                span.color-red *
              #employer_start_date.col-xl-6.col-lg-12
                .row
                  +fieldDateMonth("employer_start_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    placeholder: 'MM',
                    name: 'employer_start_date',
                    label: 'Employer Start Date',
                  }, fields.board_service_start_date))
                  +fieldDateYear("board_service_start_date", _.extend({
                    class: 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    placeholder: 'YYYY',
                    name: 'employer_start_date',
                    label: 'Employer Start Date',
                  }, fields.board_service_start_date))
        .row
          .col-xl-12
            .border-bottom.m-t-3.m-b-3
            
        |!{ templates.positions }
        |!{ templates.experiences }

        .row.m-t-3
          .col-xl-12
            .text-md-center.text-sm-center.text-xs-center
              button(type='submit').btn.btn-primary.text-uppercase.pull-lg-right Save
