include ../../raiseFunds/templates/menu.pug

- pug_html += app.breadcrumbs('create form c', '', [ ['Home', '/'], ['Create Form C', '/formc/' + values.id + '/introduction'], ['team members (director)', ''], ]);

section.formc-team-members-director.container.m-b-85
  - var formcId = values.formc_id;
  - var campaignId = values.campaign_id;
  .row
    +menu('formc', 'team-members-director')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12.team-member-formc
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.mb45 Team members (director)
      form.form-section
        input(type="hidden" value=2 name="role[]")
        input(type="hidden" value=1 name="individual_director_choice")
        .row
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('first_name', {
              schema: fields.first_name, 
              value: values.first_name,})
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('last_name', {
              schema: fields.last_name, 
              value: values.last_name,})
        .row
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('email', {
              schema: fields.email, 
              value: values.email, 
              placeholder: 'Email Address', 
              help_text: 'We will need to contact team members',})
          .col-xl-6.col-lg-6.col-md-6
            .row.form-group
              .col-date
                label.col-xl-12.text-xl-left Date of birth
                  span.color-red *
                .col-xl-12
                  - 
                    pug_html += app.fields.dateMonth('dob', Object.assign({
                    'empty': { '': 'Choose' },
                    'value': values.dob,
                    }, fields.dob));

                  - 
                    pug_html += app.fields.dateDay('dob', Object.assign({
                    'empty': { '': 'Choose' },
                    'value': values.dob,
                    }, fields.dob));
                  - 
                    pug_html += app.fields.dateYear('dob', Object.assign({
                    'value': values.dob,
                    'placeholder': 'YYYY',
                    'divId': 'dob',
                    }, fields.dob));
        .row
          .col-xl-6.col-lg-5.col-md-6
            .row.form-group
              label.col-xl-12 Board Service Start Date
                span.color-red *
              .col-xl-12
                .row#board_service_start_date
                  - 
                    pug_html += app.fields.dateMonth('board_service_start_date', Object.assign({
                    'empty': { '': 'Choose' },
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    'value': values.board_service_start_date,
                    }, fields.board_service_start_date));
                  - 
                    pug_html += app.fields.dateYear('board_service_start_date', Object.assign({
                    'value': values.board_service_start_date,
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    'placeholder': 'YYYY',
                    }, fields.board_service_start_date));
          .col-xl-6.col-lg-7.col-md-6
            -
              pug_html += app.fields.textLabel('principal_occupation', {
              schema: fields.principal_occupation, 
              value: values.principal_occupation, 
              placeholder: 'Principal Occupation and Name of Employer',})
        .row
          .col-xl-6.col-lg-7.col-md-6
            -
              pug_html += app.fields.textLabel('employer_principal_businesss', {
              schema: fields.employer_principal_businesss, 
              value: values.employer_principal_businesss, 
              placeholder: 'Provide short description of the business',})
          .col-xl-6.col-lg-5.col-md-6
            .row.form-group
              label.col-xl-12 Employment Start Date
                span.color-red *
              .col-xl-12
                .row#employer_start_date

                  - 
                    pug_html += app.fields.dateMonth('employer_start_date', Object.assign({
                    'empty': { '': 'Choose' },
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    'value': values.employer_start_date,
                    'name': 'employer_start_date',
                    }, fields.employer_start_date));
                  - 
                    pug_html += app.fields.dateYear('employer_start_date', Object.assign({
                    'value': values.employer_start_date,
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    'placeholder': 'YYYY',
                    'name': 'employer_start_date',
                    }, fields.employer_start_date));
          
        .row
          .col-lg-12
            strong Is this individual also a 20%+ Voting Shareholder?
            .form-group.form-section.m-t-1.m-b-0
              .radio-input.m-b-1.yesno
                label 
                  input(type="radio" name="voting_shareholder_choice" value="1" checked=((values.role & 1) == 1 ? true : false))
                  |  Yes
                label 
                  input(type="radio" name="voting_shareholder_choice" value="0" checked=((values.role & 1) != 1 ? true : false))
                  |  No
        .voting_shareholder_choice.shown-yes(style="display:" + ((values.role & 1) == 1? 'block' : 'none'))
          .row
            .col-xl-6.col-lg-5.col-md-6
              -
                pug_html += app.fields.textLabel('number_of_shares', {
                schema: fields.number_of_shares,
                label: 'Number of Shares', 
                value: values.number_of_shares,})
            .col-xl-6.col-lg-5.col-md-6
              -
                pug_html += app.fields.textLabel('class_of_securities', {
                schema: fields.class_of_securities,
                label: 'Class of Securities',
                value: values.class_of_securities,})
          .row
            .col-xl-6.col-lg-5.col-md-6
              -
                pug_html += app.fields.textLabel('voting_power_percent', {
                schema: fields.voting_power_percent || { type: 'percent' },
                label: '% of Voting Power Prior to Offering',
                value: values.voting_power_percent,})
        .row
          .col-xl-12
            .border-bottom.m-t-2.m-b-3
            
        |!{ templates.positions }
        .row
          .col-xl-12
            .border-bottom.m-t-3.m-b-3
        |!{ templates.experiences }

        .row.offecer-btn-m-t
          .col-xl-12
            .text-sm-center.text-xs-center.text-lg-right
              a(href='/formc/' + values.formc_id + '/team-members').btn.btn-secondary.text-uppercas.m-r-1 Cancel
              button(type='button')#submitForm.btn.btn-primary.text-uppercase Save
                i.fa.fa-angle-right
