include ../../raiseFunds/templates/menu.pug

- pug_html += app.breadcrumbs('create form c', '', [ ['Home', '/'], ['Create Form C', '/formc/' + values.id + '/introduction'], ['team members (officer)', ''], ]);

section.formc-team-members-officer.container.m-b-85
  - var formcId = values.formc_id;
  - var campaignId = values.campaign_id;
  .row
    +menu('formc', 'team-members-officer')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12.team-member-formc
      h2.text-uppercase.text-xs-center.m-t-0.mb45 Team members (officer)
      form.form-section
        .row
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('first_name', {
              schema: fields.first_name, 
              value: values.first_name,})
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('last_name', {
              schema: fields.last_name, 
              value: values.last_name,})
        .row
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('email', {
              schema: fields.email, 
              value: values.email, 
              placeholder: 'Email Address', 
              help_text: 'We will need to contact team members',})
          .col-xl-6.col-lg-6.col-md-6
            .row.form-group
              .col-date
                label.col-xl-12.text-xl-left Date of birth
                  span.color-red *
                .col-xl-12
                  - 
                    pug_html += app.fields.dateMonth('dob', Object.assign({
                    'empty': { '': 'Choose' },
                    'value': values.dob,
                    }, fields.dob));
                  - 
                    pug_html += app.fields.dateDay('dob', Object.assign({
                    'empty': { '': 'Choose' },
                    'value': values.dob,
                    }, fields.dob));
                  - 
                    pug_html += app.fields.dateYear('dob', Object.assign({
                    'value': values.dob,
                    'placeholder': 'YYYY',
                    'divId': 'dob',
                    }, fields.dob));
        .row
          .col-xl-6.col-lg-6.col-md-6
            -
              pug_html += app.fields.textLabel('responsibilities', {
              schema: fields.responsibilities, 
              value: values.responsibilities,})
          .col-xl-6.col-lg-6.col-md-6
            .filter.p-t-0.p-b-0
              .one_drop
                .row.form-group
                  label.col-xl-12.text-xl-left Responsibilities
                    span.color-red *
                  .col-xl-12.showPopover(data-content=" Select all roles that currently apply.")
                    select(name="role[]" multiple="true" title="Responsibilities" data-type="array")#role.form-control.selectpicker.w-100.team-select
                      option(value=4 data-value-type="number" selected=((values.role & 4) != 0 ? true : false ) ) CEO/President
                      option(value=8 data-value-type="number" selected=((values.role & 8) != 0 ? true : false )) Principal Financial Officer/Treasurer
                      option(value=16 data-value-type="number" selected=((values.role & 16) != 0 ? true : false )) Vice President
                      option(value=32 data-value-type="number" selected=((values.role & 32) != 0 ? true : false )) Secretary
                      option(value=64 data-value-type="number" selected=((values.role & 64) != 0 ? true : false )) Controller/Principal Accounting Officer
        .row
          .col-xl-6.col-lg-6.col-md-6
            .row
              label.col-xl-12.text-xl-left Start Date
                span.color-red *
              .col-xl-12
                #start_date.row
                  - 
                    pug_html += app.fields.dateMonth('start_date', Object.assign({
                    'empty': { '': 'Choose' },
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                    'value': values.start_date,
                    }, fields.start_date));
                  - 
                    pug_html += app.fields.dateYear('start_date', Object.assign({
                    'value': values.start_date,
                    'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                    'placeholder': 'YYYY',
                    }, fields.start_date));
        .row
          .col-lg-12.m-t-2.m-b-1
            strong Is this individual also a Director?
            .form-group.form-section.m-t-1.m-b-0
              .radio-input.m-b-0.yesno
                
                label 
                  input(type="radio" name="individual_director_choice" value="1" checked=((values.role & 2) == 2 ? true : false))
                  |  Yes
                label 
                  input(type="radio" name="individual_director_choice" value="0" checked=((values.role & 2) != 2 ? true : false))
                  |  No
        .row
          .individual_director_choice.shown-yes(style="display:" + ((values.role & 2) == 2? 'block' : 'none'))
            .col-xl-6.col-lg-5.col-md-6
              .row.form-group
                label.col-xl-12.text-xl-left Board Service Start Date
                  span.color-red *
                .col-xl-12
                  .row#board_service_start_date
                    - 
                      pug_html += app.fields.dateMonth('board_service_start_date', Object.assign({
                      'empty': { '': 'Choose' },
                      'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                      'value': values.board_service_start_date,
                      }, fields.board_service_start_date));
                    - 
                      pug_html += app.fields.dateYear('board_service_start_date', Object.assign({
                      'value': values.board_service_start_date,
                      'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                      'placeholder': 'YYYY',
                      }, fields.board_service_start_date));
            .col-xl-6.col-lg-7.col-md-6
              -
                pug_html += app.fields.textLabel('principal_occupation', Object.assign({
                schema: fields.principal_occupation, 
                value: values.principal_occupation, 
                label: 'Principal Occupation and Name of Employer',
                placeholder: 'Principal Occupation and Name of Employer',}, 
                fields.principal_occupation))
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('employer_principal_businesss', Object.assign({
                schema: fields.employer_principal_businesss, 
                value: values.employer_principal_businesss, 
                label: 'Employer’s Principal Business',
                placeholder: 'Provide short description of the business',},
                fields.employer_principal_businesss))
            .col-xl-6.col-lg-6.col-md-6
              .row.form-group
                label.col-xl-12.text-xl-left Employment Start Date
                  span.color-red *
                .col-xl-12
                  .row#employer_start_date

                    - 
                      pug_html += app.fields.dateMonth('employer_start_date', Object.assign({
                      'empty': { '': 'Choose' },
                      'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-r-5',
                      'value': values.employer_start_date,
                      'name': 'employer_start_date',
                      }, fields.employer_start_date));
                    - 
                      pug_html += app.fields.dateYear('employer_start_date', Object.assign({
                      'value': values.employer_start_date,
                      'class1': 'col-xl-6 col-lg-6 col-sm-6 col-xs-6 m-d-p-l-5',
                      'placeholder': 'YYYY',
                      'name': 'employer_start_date',
                      }, fields.employer_start_date));
            
        .row
          .col-xl-12
            strong Is this individual also a 20%+ Voting Shareholder?
            .form-group.form-section.m-t-1.m-b-0
              .radio-input.m-b-1.yesno
                label 
                  input(type="radio" name="voting_shareholder_choice" value="1" checked=((values.role & 1) == 1 ? true : false))
                  |  Yes
                label 
                  input(type="radio" name="voting_shareholder_choice" value="0" checked=((values.role & 1) != 1 ? true : false))
                  |  No
          .voting_shareholder_choice.shown-yes(style="display:" + ((values.role & 1) == 1? 'block' : 'none'))
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('number_of_shares', {
                schema: fields.number_of_shares,
                label: 'Number of Shares', 
                value: values.number_of_shares,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('class_of_securities', {
                schema: fields.class_of_securities,
                label: 'Class of Securities',
                value: values.class_of_securities,})
            .col-xl-6.col-lg-6.col-md-6
              -
                pug_html += app.fields.textLabel('voting_power_percent', {
                schema: fields.voting_power_percent || { type: 'percent' },
                label: '% of Voting Power Prior to Offering',  
                value: values.voting_power_percent,})
        .row
          .col-xl-12
            .border-bottom.m-t-2.m-b-3
        |!{ templates.positions }
        .row
          .col-xl-12
            .border-bottom.m-t-3.m-b-3
        |!{ templates.experiences }

        .row.offecer-btn-m-t
          .col-lg-12.text-lg-right.text-sm-center.text-xs-center
            a(href='/formc/' + values.formc_id + '/team-members').btn.btn-secondary.text-uppercas.m-r-1 Cancel
            button(type='button')#submitForm.btn.btn-primary.text-uppercase Save
              i.fa.fa-angle-right
