include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['team members (director)', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  +menu('formc', 'team-members-officer')


  //START RIGHT BLOCK
  .col-lg-8.team-member-formc
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.mb50 Team members (officer)
    form(metod="post" action="").form-section
      +fieldBlock("first_name", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        label: 'First Name',
        })
      +fieldBlock("last_name", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        label: 'Last Name',
        })
      +fieldBlock("email", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        label: 'Email Address',
        })
      // select-custom in this look in list page
      //.row.form-group
        label.col-lg-3.col-md-12.text-md-left.text-lg-right Title
        .col-lg-9.col-md-12
          select( style="width:100%" ).custom-select
            //- option(selected) CEO/President, Controller/Principal Accounting Officer
            //- option CEO/President   
            option CEO/President(selected)
            option Principal Financial Officer/Treasurer
            option Vice President
            option Secretary
            option Controller/Principal Accounting Officer 
      .filter.p-b-0.p-t-0
        .one_drop.m-t-2.m-b-2
          .row.form-group
            label.col-lg-3.col-md-12.text-md-left.text-lg-right Title
            .col-lg-9.col-md-12
              select( multiple="true" title="Title").form-control.selectpicker.w-100.team-select
                option(selected) CEO/President
                option Principal Financial Officer/Treasurer
                option Vice President
                option Secretary
                option Controller/Principal Accounting Officer 

      +fieldBlock("responsibilities", '', {
         class1: 'col-lg-3 col-md-12 text-md-left  m-b-0',
         class2: 'col-lg-9 col-md-12',
         type: 'text',
         label: 'Responsibilities',
      })
      .row
        .col-lg-6.col-md-12
          .col-lg-6.text-lg-right.text-md-left.p-t-0
            label.m-b-0 Start Date

          .col-lg-6.p-r-0
            .row
              .col-lg-6.p-r-0
                input(type="number"  placeholder="MM").form-control
              .col-lg-6.p-r-0
                input(type="number"  placeholder="YYYY").form-control
      
      .border-bottom.m-t-3.m-b-3
      |!{ templates.positions }
      |!{ templates.businessExperiences }

      .row.m-t-3
        .col-lg-12.text-md-center.text-sm-center-text-xs-center
          button.btn.btn-primary.text-uppercase.pull-lg-right Save
