include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug

include ../../raiseFunds/templates/menu.pug

+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['team members (director)', ''],
    ]
)

mixin fieldHeader(name, attr)

  - attr = attr ? attr : fields[name];
  div(class=(attr.type != 'nested' ? "form-group " : '' ) + (attr.row == 0 ? '' : 'row ') + name + (fields[name].required == true ? ' required ' : ' ') + ' ' + attr.type)


mixin fieldNested(name, template, attr = {})
  - val = attr.value ? attr.value : values[name]
  - indexCounter = attr.index || 0


section.formc-team-members-director.container.m-b-85
  +menu('formc', 'team-members-director')

  //START RIGHT BLOCK
  .col-lg-8.team-member-formc
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis.mb50 Team members (director)
    form(metod="post" action="").form-section
      +fieldTextLabel("first_name", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left text-lg-right ',
        class2: 'col-lg-9 col-md-12',
        }, fields.first_name))
      +fieldTextLabel("last_name", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left text-lg-right ',
        class2: 'col-lg-9 col-md-12',
        label: 'Last name',
        placeholder: 'Last Name',
        }, fields.last_name))
      +fieldTextLabel("email", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left text-lg-right ',
        class2: 'col-lg-9 col-md-12',
        label: 'Email Address',
        placeholder: 'Email Address',
        }, fields.email))
      +fieldTextLabel("dob", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left text-lg-right ',
        class2: 'col-lg-9 col-md-12',
        type: 'date',
        label: 'Date of birth',
        }, fields.dob))

      .row.form-group
        .col-lg-6.col-md-12
          .col-lg-6.text-lg-right.text-md-left.p-t-0
            label.p-t-0.m-b-0 Board Date Start Date
          #board_service_start_date.col-lg-6.p-t-0
            .row
              +fieldDateMonth("board_service_start_date", _.extend({
                class: 'col-lg-6 p-r-0',
                placeholder: 'MM',
                name: 'board_service_start_date',
                label: 'Board Service Start Date',
              }, fields.board_service_start_date))
              +fieldDateYear("board_service_start_date", _.extend({
                class: 'col-lg-6 p-r-0',
                placeholder: 'YYYY',
                name: 'board_service_start_date',
                label: 'Board Service Start Date',
              }, fields.board_service_start_date))
        .col-lg-6.col-md-12
          .col-lg-6.text-lg-right.text-md-left.p-t-0
            label.p-t-0.m-b-0 Board Date End Date
          #board_service_end_date.col-lg-6.p-t-0
            .row
              +fieldDateMonth("board_service_end_date", _.extend({
                class: 'col-lg-6 p-r-0',
                placeholder: 'MM',
                name: 'board_service_end_date',
                label: 'Board Service End Date',
              }, fields.board_service_end_date))
              +fieldDateYear("board_service_end_date", _.extend({
                class: 'col-lg-6 p-r-0',
                placeholder: 'YYYY',
                name: 'board_service_end_date',
                label: 'Board Service End Date',
              }, fields.board_service_end_date))


      +fieldTextLabel("principal_occupation", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left text-lg-right',
        class2: 'col-lg-9 col-md-12',
        placeholder: 'Principal Occupation',
        }, fields.principal_occupation))

      +fieldTextLabel("employer_principal_businesss", _.extend({
        class1: 'col-lg-3 col-md-12 text-md-left p-t-0 m-b-0 text-lg-right',
        class2: 'col-lg-9 col-md-12',
        placeholder: 'Employer and Principal Business',
        }, fields.employer_principal_businesss))

      .row
      .row.required
        .col-lg-3.text-lg-right.text-md-left.p-t-0
          label.p-t-0.m-b-0.p-l-1 Employer Start Date

        #employer_start_date.col-lg-4.p-r-0
          .row
            +fieldDateMonth("employer_start_date", {
              class: 'col-lg-4 p-r-0',
              placeholder: 'MM',
            })
            +fieldDateYear("employer_start_date", {
              class: 'col-lg-4 p-r-0',
              placeholder: 'YYYY',
            })
      .row
        .col-xl-12
          .border-bottom.m-t-3.m-b-3
          
      |!{ templates.positions }
      |!{ templates.experiences }

      .row.m-t-3
        .col-xl-12
          .text-md-center.text-sm-center-text-xs-center
            button(type='submit').btn.btn-primary.text-uppercase.pull-lg-right Save
