- 'use strict'
include ../../raiseFunds/templates/menu.pug

- 
  var fileDropzone = require('directives/setdropzone/file.js'); 
  pug_html += app.breadcrumbs('create form c', '', [ ['Home', '/'], ['Create Form C', '/formc/' + values.id + '/introduction'], ['Use Of Proceeds', ''], ]);

section.formc.use_of_proceeds.create-company-media.container
  .row
    +menu('formc', 'use-of-proceeds')

    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0 use of proceeds
      .row
        .col-lg-12
          b Please provide a detailed description of the intended use of proceeds of this offering.  If you provide a range of possible uses, you should identify and describe each probably use and the factors you might consider in allocating proceeds.  If you will accept proceeds in excess of the target offering amount, you must describe the purpose and method for allocating excess proceeds with similar specificity.
            span.color-red *
      form(action="").form-section
        .row
          .form-group.intended.m-b-0
            .col-lg-12
              textarea(rows="3" placeholder="Intended Use of Proceeds" name="intended_use_of_proceeds").form-control= values.intended_use_of_proceeds
        .row
          .table.col-xl-12.m-b-0.table-responsive
            table.table.table-bordered.use-of-proceeds-table.expense-table.m-b-0.m-t-0
              thead
                tr
                  th.w-50
                  th.w-25.text-xs-center.font-size-12 If target offering amount sold
                  th.w-25.text-xs-center.font-size-12 If maximum amount sold
                tr.color-grey.row-gray
                  td.w-50.p-l-r-20.p-t-b-5 Total Proceeds
                  td.w-25.text-xs-center.font-size-12.p-t-b-5 $#{ app.helpers.format.formatNumber(minRaise) }
                  td.w-25.text-xs-center.font-size-12.p-t-b-5 $#{ app.helpers.format.formatNumber(maxRaise) }
                |!{ templates.less_offering_express }

            table.table.table-bordered.use-of-proceeds-table.use-table.m-b-0.m-t-0
              thead
                tr.color-grey.row-gray
                  td.w-50.p-l-r-20 Net Proceeds
                    .pull-right.icon.showPopover(data-content="Minimum and maximum net proceeds is calculated automatically: <br> Net Proceeds = Total Proceeds - Sum (A+B+C)")
                      i.fa.fa-question-circle.m-r-0
                    div#use_of_net_proceeds
                  td.w-25.text-xs-center.font-size-12.min-net-proceeds
                  td.w-25.text-xs-center.font-size-12.max-net-proceeds
              |!{ templates.use_of_net_proceeds }
            table.table.table-bordered.m-t-0
              tbody
                tr.row-gray
                  td.w-50 Total Use of Net Proceeds
                    .pull-right.icon.showPopover(data-content="Minimum and maximum total use of net proceeds is calculated automatically: <br>  Total Use of Net Proceeds = Sum (A+B+C)")
                      i.fa.fa-question-circle
                  td.w-25.text-xs-center.font-size-12.min-total-use(data-content="Minimum Total Use of Net Proceeds must be equal to Minimum Net Proceeds." data-placement="bottom" data-toggle="popover" data-container="body" data-trigger="manual")
                  td.w-25.text-xs-center.font-size-12.max-total-use(data-content="Maximum Total Use of Net Proceeds must be equal to Maximum Net Proceeds." data-placement="bottom" data-toggle="popover" data-container="body" data-trigger="manual")
        .row
          .col-lg-12
            .border-bottom.m-b-3.m-t-2
            h3.text-xs-center Business Plan
        .row
          .col-lg-12.create-perks.doc
            .img-ppt
              -
                pug_html += fileDropzone.getInstance(view, 
                  'business_plan_file_id', 
                  'business_plan_data', 
                  view.fields.business_plan_file_id
                ).render().resultHTML;
        .row
          .col-lg-12.text-lg-right.m-t-2.text-xs-center.text-sm-center
            //- a(href="#").btn.btn-primary.text-uppercase save
            button#submit.btn.btn-primary.text-uppercase save and continue
              i.fa.fa-angle-right
