.xero-formc.col-xs-12
  .xero-logo.col-xl-1.col-lg-1.col-md-1.col-sm-2.col-xs-12.text-xs-center.p-x-0
    img(src=require("images/icons/xero-logo.png"), alt="")
  .xero-text.col-xl-8.col-lg-7.col-md-7.col-sm-10.col-xs-12.text-xs-center.text-sm-left.text-md-left.text-lg-left.text-xl-left
    p
      | Do you use 
      a(href="https://www.xero.com/" target="_blank").link-3 XERO
      |  online accounting software? Quickly upload your financials with a click of a button.
  .xero-btn.col-xl-3.p-x-0.col-lg-4.col-md-4.col-sm-12.col-xs-12.text-xs-center
    a(href="#").btn-xero.xeroConnect 
      span.text-btn-xero Connect to XERO


div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#xeroModal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        h2.text-uppercase.text-xs-center Connect to XERO
      .modal-body
        .row
          .col-xl-12
            .warning-block  
              i.fa.fa-info-circle
              span.warning-text Please select the files you would like to upload from your XERO account:
        form.form-section
          .row
            .bank#documents
              .row
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12
                  .form-group
                    label Balance sheet
                      input(type="checkbox" name="documents[]" value="BalanceSheet").saveCheckboxValue
                  .form-group
                    label Bank statement
                      input(type="checkbox" name="documents[]" value="BankStatement").saveCheckboxValue
                  .form-group
                    label Bank Summary
                      input(type="checkbox" name="documents[]" value="BankSummary").saveCheckboxValue
                  .form-group
                    label Budget Summary
                      input(type="checkbox" name="documents[]" value="BudgetSummary").saveCheckboxValue
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12.p-r-0
                  .form-group
                    label Executive Summary
                      input(type="checkbox" name="documents[]" value="ExecutiveSummary").saveCheckboxValue
                  .form-group
                    label Profit and Loss
                      input(type="checkbox" name="documents[]" value="ProfitAndLoss").saveCheckboxValue
                  .form-group
                    label Trial Balance
                      input(type="checkbox" name="documents[]" value="TrialBalance").saveCheckboxValue
          .row
            .col-xl-12.text-xs-center
              a#url(href="" class="btn btn-primary" value="upload files") upload files
      .modal-footer
