.xero-formc.col-xs-12
  .xero-logo.col-xl-1.col-lg-1.col-md-1.col-sm-2.col-xs-12.text-xs-center
    img(src=require("images/icons/xero-logo.png"), alt="")
  .xero-text.col-xl-8.col-lg-7.col-md-7.col-sm-10.col-xs-12.text-xs-center.text-sm-left.text-md-left.text-lg-left.text-xl-left
    p
      | Do you use 
      a(href="https://www.xero.com/" target="_blank").link-3 XERO
      |  online accounting software? Quickly upload your financials with a click of a button.
  .xero-btn.col-xl-3.p-x-0.col-lg-4.col-md-4.col-sm-12.col-xs-12.text-xs-center
    a(href="#").btn-xero.xeroConnect 
      span.text-btn-xero Connect to XERO


div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#xeroModal.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header.sign-up-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        .title-header-signup.m-t-1
          .row
            p bla bla bla
      .modal-body
        form
          input(type="checkbox" name="documents[]" value="balance_sheet")
          | Balance sheet 
          br
          input(type="checkbox" name="documents[]" value="bank_statement")
          | Bank statement
          br
          input(type="checkbox" name="documents[]" value="bank_summary")
          | Bank Summary
          br
          input(type="checkbox" name="documents[]" value="budget_summary")
          | Budget Summary
          br
          input(type="checkbox" name="documents[]" value="executive_summary")
          | Executive Summary
          br
          input(type="checkbox" name="documents[]" value="profit_and_loss")
          | Profit and Loss
          br
          input(type="checkbox" name="documents[]" value="trial_balance")
          | Trial Balance
          br
          a(href="" id="url" target="_blank") Get access code
          br
          input(text="text" name="code" id="code" data-token="" data-secret="")
          br
          input(type="button" class="btn btn-primary xeroGrabData" value="Grab data")
          br
      .modal-footer
