-
  pug_html += app.fields.fieldChoiceLabel('country', Object.assign({
      'empty': { '': 'Choose Country' },
      'value': user.country,
    }, fields.country));
.row
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.textLabel('street_address_1', Object.assign({
          'type': 'text',
          'value': user.street_address_1,
        }, fields.street_address_1))
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.textLabel('street_address_2', Object.assign({
          'type': 'text',
          'value': user.street_address_2,
        }, fields.street_address_2))

if user.country == 'US'
  -
    pug_html += snippets.us({view: view, user: user, fields: fields});
else
  -
    pug_html += snippets.nonUs({view: view, user: user, fields: fields });