.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery1-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery1.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery2-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery2.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery3-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery3.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery4-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery4.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery5-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery5.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery6-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery6.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery7-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery7.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery8-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery8.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery9-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery9.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery10-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery10.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery11-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery11.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery12-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery12.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery13-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery13.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery14-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery14.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Originals/Gallery15-ORIGINAL.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/have_not_film/Gallery15.png').w-100.img-responsive
