.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery1.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery1.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery2.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery2.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery3.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery3.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery4.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery4.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery5.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery5.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery6.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery6.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery7.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery7.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery8.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery8.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery9.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery9.png').w-100.img-responsive

.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery10.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery10.png').w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery11.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src=require('images/company_gallery/cogent/Gallery11.png')).w-100.img-responsive
.col-lg-4.col-sm-12.col-xs-12.col-md-6.no-padding-img
  a(href='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Originals/Gallery12.png' data-size='1440x900' data-toggle="modal" rel="gallery1").fancybox
    img(src='https://s3.amazonaws.com/growthfountain-master/img/company_gallery/cogent/Gallery12.png').w-100.img-responsive
