.other-countries-fields
  .row
    .col-lg-6.p-xl-0
      -
        pug_html += app.fields.nestedTextLabel(
        'personal_information_data',
        'city',
        user,
        -1, {
          class1: 'col-xl-6 col-lg-12 text-lg-left text-xl-right m-b-lg-1',
          class2: 'col-xl-6 col-lg-12 p-r-xl-0',
          id: 'personal_information_data__city',
        }, _.extend({}, fields.personal_information_data.schema.city, { required: true }));
    .col-lg-6
      -
        pug_html += app.fields.nestedTextLabel(
          'personal_information_data',
          'state',
          user,
          -1, {
            class1: 'text-xl-right text-lg-left col-xl-5 col-lg-12 p-t-0 m-b-0 m-b-lg-1',
            class2: 'col-xl-7 col-lg-12',
          }, _.extend({}, fields.personal_information_data.schema.state, { required: true, label: 'State/Province/ Region', placeholder: 'State/Province/Region' })
        );
  .row
    .col-lg-6.p-xl-0
      -
        pug_html += app.fields.nestedTextLabel(
          'personal_information_data',
          'zip_code',
          user,
          -1, {
            class1: 'text-xl-right text-lg-left col-xl-6 col-lg-12',
            class2: 'col-xl-6 col-lg-12 p-r-xl-0',
          }, _.extend({}, fields.personal_information_data.schema.zip_code, { required: true, label: 'Postal Code'})
        );
    .col-lg-6
      -
        pug_html += app.fields.nestedTextLabel(
          'personal_information_data',
          'phone',
          user,
          -1, {
            label: 'Phone',
            class1: 'col-xl-5 col-lg-12 text-lg-left text-xl-right',
            class2: 'col-xl-7 col-lg-12',
            id: 'personal_information_data__phone__0',
          }, _.extend({}, fields.personal_information_data.schema.phone, { required: true }));
