.row.us-fields
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.nestedTextLabel(
        'personal_information_data',
        'zip_code',
        user,
        -1, {
          id: 'personal_information_data__zip_code',
        }, fields.personal_information_data.schema.zip_code);
  .col-xl-6.col-lg-6.col-md-6.city_states.city-state-us
    .form-group.row
      input(type="hidden" name="personal_information_data[state]" id="personal_information_data__state" value=user.state)
      label.col-xl-12.text-xl-left City/State
        span.color-red *
      .col-xl-12#personal_information_data__city
        input(type="hidden" name="personal_information_data[city]" id="personal_information_data__city" value=user.city)
        span(data-toggle="modal" data-target="#city_state_modal" href="#city_state_modal").change_state_city
          span.input-value.js-city-state #{user.city || '(City)'}, #{user.state || '(State)'}
          i.fa.fa-pencil-square-o