include mixins.pug

+breadcrumbs('Blog', '', 
    [
        ['Home', '/'],
        ['Blog', ''],
    ]
)

section.text_block  
    .container
        .row
            .col-lg-4 
                .page_title.border-bottom.mb30
                    h4.text-uppercase.dosis CATEGORIES
                ul.list-unstyled.mb50
                    li
                        a.d-inline-block.w-100.pb10(href='') Branding
                    li
                        a.d-inline-block.w-100.pb10(href='') Business
                    li
                        a.d-inline-block.w-100.pb10(href='') Design
                    li
                        a.d-inline-block.w-100.pb10(href='') Development
                    li
                        a.d-inline-block.w-100.pb10(href='') Other

                .page_title.border-bottom.mb30
                    h4.text-uppercase.dosis LATEST POSTS
                ul.list-unstyled.mb50.list-blog-aside.list-blog
                    li
                        a.d-inline-block.w-100.pb10(href='')
                            img(src="/img/pages/bas1.png" alt="").pull-md-left
                            p.title Crowdfunding Regulation
                            .blog-info
                                span.author John Doe 
                                span.date-blog 10 December

                    li
                        a.d-inline-block.w-100.pb10(href='' alt="")
                            img(src="/img/pages/bas1.png").pull-md-left
                            p.title Crowdfunding Regulation
                            .blog-info
                                span.author John Doe 
                                span.date-blog 10 December

                    li
                        a.d-inline-block.w-100.pb10(href='' alt="")
                            img(src="/img/pages/bas1.png").pull-md-left
                            p.title Crowdfunding Regulation
                            .blog-info
                                span.author John Doe 
                                span.date-blog 10 December


                .page_title.border-bottom.mb30
                    h4.text-uppercase.dosis ARCHIVES
                ul.list-unstyled.mb50.list-blog-aside
                    li
                        a.d-inline-block.w-100.pb10(href='') July 2016

                    li
                        a.d-inline-block.w-100.pb10(href='' alt="") June 2016

                    li
                        a.d-inline-block.w-100.pb10(href='' alt="") May 2016

            .col-lg-8
                ul.list-unstyled.list-blog.list-blog-main
                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse1.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                                    .btn-blog-block
                                        a(href="#").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right

                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse2.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                                    .btn-blog-block
                                        a(href="").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right

                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse4.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                                    .btn-blog-block
                                        a(href="").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right

                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse4.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                                    .btn-blog-block
                                        a(href="").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right
                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse5.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur feus.
                                    .btn-blog-block
                                        a(href="").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right

                    li.pul-md-left.mb50
                        article 
                            figure
                                p
                                    img(src="/img/pages/bse6.png").img-fluid
                                figcaption
                                    h3.dosis New Web Design Trends
                                    .blog-info
                                        span.author.text-muted John Doe 
                                        span.date-blog.text-muted 10 December
                                    p 
                                        | Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.

                                    .btn-blog-block
                                        a(href="").btn.btn-lg.btn-secondary.text-uppercase read more &nbsp;
                                            i.fa.fa-angle-right

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>











