.container.text-center-flex
  .row
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12.text-xs-center
      .calculator-item
        i.fa.fa-briefcase
        .text-wrap
          h3.font-weight-light.m-t-0.m-b-0 Want to know what your business is worth?
        a(href="calculator/established-business/intro").btn.btn-primary click here
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12.text-xs-center
      .calculator-item
        i.fa.fa-lightbulb-o
        .text-wrap
          h3.font-weight-light.m-t-0.m-b-0 Thinking of starting a business? Want to know what your idea is worth?
        a(href="calculator/startup/intro").btn.btn-primary click here

    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-xs-12.text-xs-center
      .calculator-item
        i.fa.fa-bar-chart
        .text-wrap
          h3.font-weight-light.m-t-0.m-b-0 Wonder how much you need to raise?
        a(href="calculator/capital-raise").btn.btn-primary click here
