include mixins.pug

+breadcrumbs('Confirmation', '', 
[]
)

.container
  .row
    .col-lg-12
      h2.text-xs-center.thankyou-title.m0 
        i(aria-hidden="true").fa.fa-smile-o.icon-color
        | Welcome to Some Company on the GrowthFountain!

  .row
    .col-lg-10.offset-lg-1.mb50.mt50
      hr.m-t-0.m-b-0
  
  .row
    .col-lg-8.offset-lg-2.text-xs-center
      span Some Company Name marks you as a member of her team as CEO/President. Do you confirm that you belong to Some Company Name on the CEO/President title?

      .info-btn-block.pt50
        a(href="#").btn.btn-secondary.m-r-1 cancel
        a(href="#").btn.btn-primary confirm
