<!DOCTYPE html>
<html>
<head>
<title>email  Account Opening</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
  table {border-collapse: collapse !important;}
  body {height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}
</style>
</head>
<body style="margin: 0 !important; padding: 0 !important;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <!--HEADER -->
  <tr>
    <td bgcolor="#111111" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
        <tr>
          <td align="center" valign="top" style="padding: 15px 0;" class="logo">
            <a href="#" target="_blank">
              <img alt="Logo" src="http://growthfountain-ostap.s3-website-us-east-1.amazonaws.com/img/logo.png" width="200"  style="margin: 0 auto;" border="0">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- INTRO TEXT -->
  <tr>
    <td bgcolor="#ffffff" align="center" style="padding: 50px 10px 50px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="font-size: 24px; font-family: Arial, sans-serif; color: #000000;  font-weight: bold;" >Dear Maria Kravchuk,</td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 18px; font-family: Arial, sans-serif; color: #111111;">Thank you for opening your GrowthFountain account. This email confirms that we have received your registration information and that you now have access to review the offerings listed on our site.  Should any of your information change in the future, please update your profile by clicking < direct to user profile > <a href="#" style="color:#aed07c">here</a></td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 18px; font-family: Arial, sans-serif; color: #111111;">< growthfountain.com – explore > <a href="#" style="color:#aed07c">Access current offerings</a> at any time to determine if any meet your investment criteria - please note that you will need your login credentials for investor access.  To review information about crowdfunding, you can refer to the educational material available by clicking < growthfountain.com - education > <a href="#" style="color:#aed07c">here</a></td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 18px; font-family: Arial, sans-serif; color: #111111;">Happy hunting!</td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 20px 0 0 0; font-size: 14px; line-height: 18px; font-family: Arial, sans-serif; color: #111111;">Sincerely,<br>The GrowthFountain Team</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- CAMPAIGN -->
  <tr style="border-top: solid 1px  #ebebeb">
    <td align="center" style="padding: 50px 10px 30px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" style="font-size: 24px; font-family: Arial, sans-serif; color: #000000; font-weight: bold;" class="padding">Current Campaigns</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- One Company Start -->
  <tr>
    <td align="center" style="padding: 0px 10px 50px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%"  style="max-width: 400px; border: solid 1px  #ebebeb;" class="responsive-table">
        <tr>
          <td>
            <img style="max-height:200px; width: 100%;" alt=""   src="https://s3.amazonaws.com/growthfountain-development/filer_public_thumbnails/filer_public/20/8f/208f2ce1-4776-4816-8a70-d30fab541f21/shutterstock_151474727.jpg__255x153_q85_crop_subsampling-2.jpg" border="0"> 
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 10px 0px 10px; font-size: 18px; font-family: Arial, sans-serif; color:#131313;">
            The DOUGHNUT PROJECT
          </td>
        </tr>
        <tr>
          <td style="padding: 5px 10px; font-size: 11px; color:#777777;">
            New York, NY
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px 30px 10px; font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color:#111111;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipiscing eli... eiusmod tempor in
          </td>
        </tr>
        <tr align="center">
          <td style="padding: 0px 10px 30px 10px; color:#111111;">
            <a href="#" style="font-size: 13px; color:#fff; padding: 10px 46px; line-height: 18px; font-family: Arial, sans-serif; background-color: #197471; text-decoration: none; text-transform: uppercase;">view Campaign</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- One Company End -->
  <!-- One Company Start -->
  <tr>
    <td align="center" style="padding: 0px 10px 50px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 400px; border: solid 1px  #ebebeb;" class="responsive-table">
        <tr>
          <td>
            <img style="max-height:200px; width: 100%;" alt=""   src="https://s3.amazonaws.com/growthfountain-development/filer_public_thumbnails/filer_public/44/d0/44d0f486-c72b-4522-9b7b-a2adeae8806b/skybudslist2.jpg__255x153_q85_crop_subsampling-2.jpg" border="0">  
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 10px 0px 10px; font-size: 18px; line-height: 18px; font-family: Arial, sans-serif; color:#131313; ">
            The DOUGHNUT PROJECT
          </td>
        </tr>
        <tr>
          <td style="padding: 5px 10px; font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color:#777777;">
            New York, NY
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px 30px 10px; font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color:#111111;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipiscing eli... eiusmod tempor in
          </td>
        </tr>
        <tr align="center">
          <td style="padding: 0px 10px 30px 10px; color:#111111;">
            <a href="#" style="font-size: 13px; color:#fff; padding: 10px 46px; line-height: 18px; font-family: Arial, sans-serif; background-color: #197471; text-decoration: none; text-transform: uppercase;">view Campaign</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- One Company End -->
  <!-- One Company Start -->
  <tr>
    <td align="center" style="padding: 0px 10px 50px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 400px; border: solid 1px  #ebebeb;" class="responsive-table">
        <tr>
          <td>
            <img style="max-height:200px; width: 100%;" alt=""   src="https://s3.amazonaws.com/growthfountain-development/filer_public_thumbnails/filer_public/42/53/42535d72-d0f7-4f84-9f3b-b2275bf735b8/bff26287f7f0a9fd385407d8ccac29f5_original.jpg__255x153_q85_crop_subsampling-2.jpg" border="0">
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 10px 0px 10px; font-size: 18px; line-height: 18px; font-family: Arial, sans-serif; color:#131313; ">
            The DOUGHNUT PROJECT
          </td>
        </tr>
        <tr>
          <td style="padding: 5px 10px; font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color:#777777;">
            New York, NY
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px 30px 10px; font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color:#111111;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Lorem ipsum dolor sit amet, consectetur adipiscing eli... eiusmod tempor in
          </td>
        </tr>
        <tr align="center">
          <td style="padding: 0px 10px 30px 10px; color:#111111;">
            <a href="#" style="font-size: 13px; color:#fff; padding: 10px 46px; line-height: 18px; font-family: Arial, sans-serif; background-color: #197471; text-decoration: none; text-transform: uppercase;">view Campaign</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- One Company End -->
  <!-- FOOTER -->
  <tr style="border-top: solid 1px  #ebebeb">
    <td align="center" style="padding: 20px 10px 20px 10px;" class="section-padding">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="responsive-table">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="justify" style="font-size: 11px; line-height: 18px; font-family: Arial, sans-serif; color: #a3a3a3;" class="padding">
                  Nothing contained in this e-mail should be construed as investment advice or as a recommendation regarding suitability.  GrowthFountain Capital LLC is a funding portal registered with the US Securities and Exchange Commission (SEC) and a member of the Financial Industry Regulatory Authority (FINRA).  Certain risks are inherent in any crowdfunding transaction and you can access information relating to such risks through our website at growthfountain.com/education
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ebebeb" align="center" style="padding: 10px 0px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="max-width: 500px;" class="responsive-table">
        <tr>
          <td align="center" style="font-size: 12px; line-height: 18px; font-family: Arial, sans-serif; color:#666666;">
            <a href="#" target="_blank">
              <img alt="Logo" src="http://growthfountain-ostap.s3-website-us-east-1.amazonaws.com/img/fade-in-logo.png" width="40" height="30" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">
            </a>
          </td>
        </tr>
        <tr>
          <td align="center" style="font-size: 11px; line-height: 14px; font-family: Arial, sans-serif; color:#747474;">
            GrowthFountain LLC | 79 Madison Ave, 5th Floor | New York, NY 10016 
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
