include mixins.pug

+breadcrumbs('Form C Review', '', 
    [
        ['Home', '/'],
        ['Form C Review', ''],
    ]
)

section.formc-review
  .container
    .col-lg-10.offset-lg-1
      section.page-formc-review
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        
        h3.text-xs-center
          a(href="#") issuer_legal_name*
        h3.text-xs-center.m-b-0.m-t-0.pb10 A 
          a(href="") [jurisdiction_of_organization]*
        h3.text-xs-center.m-t-0 
          a(href="#") [Corporate_Structure]*
        p.text-xs-center.m-b-1
          a(href="#") website
        
        p.text-xs-center.font-weight-bold $
          a(href="#") [ maximum_raise ]*
          |   MAXIMUM OFFERING
        p.text-xs-center.font-weight-bold.m-b-3 $
          a(href="#") [ minimum_raise ]*
          |   MINIMUM OFFERING

        p.text-xs-center.font-weight-bold.pb10 OFFERING PRICE: $
          a(href="#") [price_per_share]* 
          |  per Share
        p.text-xs-center.font-weight-bold
          a(href="#") [security_type]*
          |  Offered
        p.text-xs-center.font-weight-bold $
          a(href="#") [minimum_incriment]*
          |  MINIMUM INVESTMENT

        p.text-uppercase.text-xs-center.m-t-3.m-b-2 
          u REGULATION CROWDFUNDING OFFERING

        p.text-uppercase.font-weight-bold.pb10 THESE ARE SPECULATIVE SECURITIES AND INVOLVE A HIGH DEGREE OF RISK. PLEASE REVIEW ALL RISK FACTORS CONTAINED IN THIS OFFERING MATERIAL.
        p.pb10 GrowthFountain Capital LLC is acting as the funding portal in this offering of securities in reliance on section 4(a)(6) of the Securities Act of 1933 (15 U.S.C. 77d(a)(6)).  To participate in this offering, you must open an account at www.GrowthFountain.com.
        p.pb10 A crowdfunding investment involves risk. You should not invest any funds in this offering unless you can afford to lose your entire investment. In making an investment decision, investors must rely on their own examination of the issuer and the terms of the offering, including the merits and risks involved. These securities have not been recommended or approved by any federal or state securities commission or regulatory authority. Furthermore, these authorities have not passed upon the accuracy or adequacy of this document, or the completeness of any information contained herein or listed with the funding portal.  These securities are being offered under an exemption from registration; however, the U.S. Securities and Exchange Commission has not made an independent determination that these securities are exempt from registration.  GrowthFountain Capital LLC and its affiliates are not making any investment recommendation in connection with making this offering material available to you.
        p The date of this offering material being listed on the funding portal at www.GrowthFountain.com is
          a(href="#")  [live.date]*
        p.page-namder.text-xs-right.m-t-3 Page 
          b 1
          |  of 
          b  37
      
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer

        h2.text-uppercase.text-xs-center.font-weight-bold TABLE OF CONTENTS
        
        p.pb10
          a(href="#").text-xs-left.font-weight-bold OVERVIEW INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold INTRODUCTORY NOTICES
        p.pb10
          a(href="#").text-xs-left.font-weight-bold DESCRIPTION OF THE ISSUER’S BUSINESS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold MANAGEMENT & MATERIAL PERSONS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold PROCEDURE FOR PURCHASING SECURITIES
        p.pb10
          a(href="#").text-xs-left.font-weight-bold CAPITAL STRUCTURE OF THE ISSUER
        p.pb10
          a(href="#").text-xs-left.font-weight-bold DESCRIPTION OF SECURITIES OFFERED
        p.pb10
          a(href="#").text-xs-left.font-weight-bold USE OF PROCEEDS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold FINANCIAL CONDITION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold RISK FACTORS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold ELIGIBILITY INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold OTHER MATTERS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold REPORTING OBLIGATIONS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT A:
            |  BUSINESS PLAN
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT B:
            |  FINANCIAL STATEMENTS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT C:
            |  BIOGRAPHICAL INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT D:
            |  EXCERPTS FROM ORGANIZATIONAL DOCUMENTATION
        p.page-namder.text-xs-right.m-t-3 Page 
          b 2
          |  of 
          b  37
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold OVERVIEW INFORMATION
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u Issuer Information
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Name of issuer:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Entity Form:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Jurisdiction of Organization:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") jurisdiction_of_organization
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Date of Organization:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") founding_date
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Physical address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") address_1, address_2
                br
                |  City, State  zip_code
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Website address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u Intermediary Information
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p GrowthFountain Capital, LLC
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold CIK Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 0001668506
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold SEC File Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 007-00028
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold CRD Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 283380
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Funding Portal Address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p www.GrowthFountain.com
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Compensation to Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 5% of the closing amount raised + pass-through and registration fees
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Ownership interest by Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p None
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u The Security Offering
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Type of security offered:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") security_type
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Voting rights:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p No
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Minimum target number of securities being offered:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") min_number_of_shares
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Price of security:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") price_per_share
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Minimum target amount of offering:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") minimum_raise
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Oversubscription allowed:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [Yes]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Allocation method of oversubscription:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [Yes]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Oversubscription allowed:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [First Come First Served]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Maximum amount of offering:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") maximum_raise
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Deadline to reach target amount:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") close.date
        p.page-namder.text-xs-right.m-t-3 Page 
          b 3
          |  of 
          b  37
      // page 4
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold INTRODUCTORY NOTICES
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Offering Made Pursuant To Regulation Crowdfunding
        p.pb10 This offering material, including all the exhibits attached hereto (collectively, the 
          u “Material”
          |  ) describes the terms relating to an offer and sale of securities to qualified investors consistent with the rules and regulations of Regulation Crowdfunding (17 CFR §227).
          a(href="#") [issuer_legal_name]
          |  ,a 
          a(href="#")  [jurisdiction_of_organization] [Corporate_Structure]
          |  (the “Company”), is offering up to
          a(href="#") [max_number_of_shares] 
          |  shares of 
          a(href="#") [security_type] 
          |  (the 
          u “Shares”)
          |  at an offering price of $
          a(href="#") [price_per_share] 
          |  per Share for a maximum aggregate offering price of $ 
          a(href="#") [minimum_raise].
        p.pb10 The Company has established a minimum offering of at least 
          a(href="#") [min_number_of_shares] 
          |  Shares for a minimum aggregate offering price of $ 
          a(href="#") [minimum_raise] 
          | prior to 
          a(href="#") [close.date] 
          |  (the 
          u “Offering”
          |  ).  If the sum of the investment commitments does not equal or exceed this minimum target amount at the Offering deadline, no securities will be sold in the Offering, investment commitments will be cancelled and committed funds will be returned. There can be no assurance that the minimum number of the Shares offered will be subscribed for and therefore these if no guarantee that this Offering will be completed.
        p.pb10 The minimum subscription by an investor is a $
          a(href="#") [minimum_incriment] 
          |  investment.  Each investor interested in participating in this Offering must register at 
          a(href="www.GrowthFountain.com").link-2 www.GrowthFountain.com.
          |  The website GrowthFountain.com (the 
          u “Platform”
          | ) is operated by GrowthFountain Capital LLC (the 
          u “Intermediary”
          | ) which is registered with the U.S. Securities Exchange Commission (the 
          u “SEC”
          | ) as a funding portal and is also a member of the Financial Industry Regulatory Authority (
          u “FINRA”
          | ).  The Intermediary is the exclusive listing agent and funding portal for this Offering and is acting in reliance on section 4(a)(6) of the Securities Act of 1933 (15 U.S.C. 77d(a)(6)). 
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Crowdfunding Investments Are Risky
        p.pb10 A crowdfunding investment involves risk. You should not invest any funds in this offering unless you can afford to lose your entire investment. In making an investment decision, investors must rely on their own examination of the issuer and the terms of the offering, including the merits and risks involved. The securities being offered in this Offering are not insured by the Federal Deposit Insurance Corporation, are not guaranteed by any bank and may lose their entire value.  The securities being offered will have transfer restrictions during the one-year period beginning when the Shares are issued. In addition, there is no ready market for the sale of the Shares and it may be difficult or impossible for an investor to sell or otherwise
        p.page-namder.text-xs-right.m-t-3 Page 
          b 4
          |  of 
          b  37
      // page 5
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 dispose of the Shares.  This Material contains significant additional disclosure of investment risks to be reviewed by each potential investor.  Each investor should review all pf the risks related to this Offering prior to making a commitment to invest in the Shares.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u No Investment Advice is Being Provided
        p.pb10 This Material contains statements by the Company which have not been independently verified.  The Intermediary has not performed an independent assessment of any of these statements and the Intermediary is not providing any investment advice in connection with making this Material available on its Platform.
        p.pb10 Some of the Company’s statements in this Material may be forward-looking.  Projections relating to the Company’s future performance are subject to a high degree of uncertainty.  Actual results can be expected to vary from the results projected and such variances may be material. Prospective investors must not to construe the contents of this Material as legal, business, tax or investment advice. Each investor in any securities should consult their own attorney, business advisor and tax advisor as to the legal, business, tax and related matters concerning this Offering.  
        p.pb10 These securities have not been recommended or reviewed by any federal or state securities commission or regulatory authority and these authorities have not passed upon the accuracy or adequacy of this Material. FINRA and the SEC do not pass upon the merits of any securities offered and they are not providing any endorsement or investment advice related to this Offering.  The Shares are being offered under an exemption from registration; however, the SEC has not made an independent determination that these securities are exempt from registration.  There may be a risk that the Shares will fail to qualify for this exemption due to actions taken by the Company that are not properly disclosed.  The Intermediary has not investigated or verified the information provided by the Company and neither has any regulatory authority, so each investor must perform their own assessment of the information contained in the Material prior to relying on the Company for its completeness and accuracy.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Changes Are Possible In Certain Circumstances
        p.pb10 The Company reserves the right to modify any of the terms of the Offering at any time before the Offering closes. However, if any material changes are made, each investor will be notified and will be required to reconfirm their investment commitment within 5 days of such notice or their entire investment commitment shall be cancelled. Investors are also given the right to terminate an investment at any time prior to 48 hours from a notified closing date.  Additional details on the procedures involved with this Offering are contained later in this Material.  Additional information relating to this Offering, including communication channels allowing investors to pose questions and receive answers, is available through the Intermediary on the Platform at GrowthFountain.com/
          a(href="#") campaign.link
        p.page-namder.text-xs-right.m-t-3 Page 
          b 5
          |  of 
          b  37
      // page 6
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold DESCRIPTION OF THE ISSUER’S BUSINESS
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u The Company
        p.pb10
          a(href="#") [issuer_legal_name]
          | , was organized on 
          a(href="#") [founding_date]
          | , as a 
          a(href="#") [jurisdiction_of_organization] 
          a(href="#") [Corporate_Structure]. 
          |  The Company’s headquarters is located 
          a(href="#") address_1, address_2, city, state, zip_code.  
          |  The Company’s website is 
          a(href="#")  [website].
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Business Overview
        p.p-l-2.pb10 
            a(href="#") [pitch].
        p.p-l-2.pb10
            a(href="#") [business_model].
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Business Plan
        p.p-l-2.pb10 Please refer to the copy of the Company’s business plan which is attached as Exhibit A hereto.
        p.p-l-2.pb10
            a(href="#") [description].
        p.page-namder.text-xs-right.m-t-3 Page 
          b 6
          |  of 
          b  37
      // page 7
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold MANAGEMENT & MATERIAL PERSONS
        p.pb10 Specific biographical information on each of the Company’s officers and members of its Board of Directors of is attached as Exhibit D.  Exhibit D contains information on the last three years of employment and supplements the information summarized below.  The Company has confirmed that no officer, director or 20% shareholder would cause a violation of Rule 503(a) of the Crowdfunding Regulations (17 CFR §227.503).
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Number of Total Employees
        p.p-l-2 Full time employees: 
          a(href="#") [full_time_employee]
        p.p-l-2.pb10 Part time employees: 
          a(href="#") [part_time_employee]
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Officers
        p.pb10 The following information has been provided by the Company as true and correct regarding each of the Company’s officers.  For purposes of this Form C, the term “officer” means a president, vice president, secretary, treasurer or principal financial officer, comptroller or principal accounting officer, and any person routinely performing similar functions.
        .table-responsive.m-t-1
          table.table.table-bordered
            theader
              tr.bg-grey
                th.text-xs-center.w-30 Officer Name
                th.text-xs-center.w-30 Tenure
                th.text-xs-center.w-40 Title and Responsibilities
            tbody
              tr
                td.text-xs-center
                  a(href="#") Officer.1.first_name
                  br
                  a(href="#") Officer.1.last_name
                td.text-xs-center
                  a(href="#") officer.1.start_date:
                  br
                  a(href="#") officer.1.end_date: 
                td.text-xs-center
                  a(href="#") officer.1.title,
                  br
                  a(href="#") officer.1.responsibilities,
              tr
                td.text-xs-center
                  a(href="#") Officer.2.first_name 
                  br
                  a(href="#") Officer.2.last_name
                td.text-xs-center
                  a(href="#") officer.2.start_date:
                  br
                  a(href="#") officer.2.end_date: 
                td.text-xs-center
                  a(href="#") officer.2.title,
                  br
                  a(href="#") officer.2.responsibilities,
              tr
                td.text-xs-center
                  a(href="#") Officer.3.first_name 
                  br
                  a(href="#") Officer.3.last_name
                td.text-xs-center
                  a(href="#") officer.3.start_date:
                  br
                  a(href="#") officer.3.end_date: 
                td.text-xs-center
                  a(href="#") officer.3.title,
                  br
                  a(href="#") officer.3.responsibilities,
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Board of Directors
        p.pb10 The following information has been provided by the Company as true and correct regarding each of the Company’s directors (and any person performing a similar function):
        .table-responsive.m-t-1
          table.table.table-bordered
            theader
              tr.bg-grey
                th.text-xs-center.w-30 Director Name
                th.text-xs-center.w-30 Dates of Board Service (Year Begin – Year End)
                th.text-xs-center.w-40 Principal Occupation + Employer & Title
            tbody
              tr
                td.text-xs-center
                  a(href="#") director.1.first_name 
                  br
                  a(href="#") director.1.last_name
                td.text-xs-center
                  a(href="#") Director.1.service_start 
                  br
                  a(href="#") Director.1.service_end
                td.text-xs-center
                  a(href="#") Director.1.occupation, 
                  br
                  a(href="#") director.1.employer, director.1.title
              tr
                td.text-xs-center
                  a(href="#") director.2.first_name 
                  br
                  a(href="#") director.2.last_name
                td.text-xs-center
                  a(href="#") Director.2.service_start 
                  br
                  a(href="#") Director.2.service_end
                td.text-xs-center
                  a(href="#") Director.2.occupation, 
                  br
                  a(href="#") director.2.employer, director.1.title
              tr
                td.text-xs-center
                  a(href="#") director.3.first_name 
                  br
                  a(href="#") director.3.last_name
                td.text-xs-center
                  a(href="#") Director.3.service_start 
                  br
                  a(href="#") Director.3.service_end
                td.text-xs-center
                  a(href="#") Director.3.occupation, 
                  br
                  a(href="#") director.3.employer, director.1.title
        p.page-namder.text-xs-right.m-t-3 Page 
          b 7
          |  of 
          b  37
      // page 8
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u 20% Holders
        p.pb10 The following information has been provided by the Company as true and correct regarding each person who owns twenty percent (20%) or more of the Company’s outstanding voting equity securities calculated on the basis of voting power.
        .table-responsive.m-t-1
          table.table.table-bordered
            theader
              tr.bg-grey
                th.text-xs-center Name of Holder
                th.text-xs-center Class of Securities
                th.text-xs-center Number Held
                th.text-xs-center % of Voting Power
            tbody
              tr
                td.text-xs-center
                  a(href="#") Holder.1.first_name 
                  br
                  a(href="#") Holder.1.last_name
                td.text-xs-center
                  a(href="#") Holder.1.class_shares
                td.text-xs-center
                  a(href="#") Holder.1.number_shares
                td.text-xs-center
                  a(href="#") Holder.1.voting_power
              tr
                td.text-xs-center
                  a(href="#") Holder.2.first_name 
                  br
                  a(href="#") Holder.2.last_name
                td.text-xs-center
                  a(href="#") Holder.2.class_shares
                td.text-xs-center
                  a(href="#") Holder.2.number_shares
                td.text-xs-center
                  a(href="#") Holder.2.voting_power

        p.pb10 The Company has confirmed that information above is accurate for the period spanning 120 days prior to the date of filing of this Material.   For any calculation above of total voting power, all securities are included for which the person directly or indirectly has or shares the voting power, which includes the power to vote or to direct the voting of such securities. If the person has the right to acquire voting power of such securities within 60 days, including through the exercise of any option, warrant or right, the conversion of a security, or other arrangement, or if securities are held by a member of the family, through corporations or partnerships, or otherwise in a manner that would allow a person to direct or control the voting of the securities (or share in such direction or control — as, for example, a co-trustee) they are included as being “beneficially owned.” For any calculation of outstanding voting equity securities, all outstanding options are assumed to be exercised and all outstanding convertible securities converted.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Related Party Transactions
        p.pb10 LOGIC: if related.answer_toggle = no then:
        p.pb10 The Company has confirmed that there are no related party transactions.  This representation covers all the proposed transactions occurring in the Company’s last fiscal year.  As used here, the term “related party” includes: (1) any director or officer of the Company; (2) any person who is, as of the most recent practicable date, the beneficial owner of twenty percent (20%) or more of the Company’s outstanding voting equity securities, calculated on the basis of voting power; (3) if the Company was incorporated or organized within the past three years, any promoter of the Company; or (4) any immediate family member of any of the foregoing persons.   As used here, the term “transaction” includes, but is not limited to, any financial transaction, arrangement or relationship (including any indebtedness or guarantee of indebtedness) or any series of similar transactions, arrangements or relationships.
        p.page-namder.text-xs-right.m-t-3 Page 
          b 8
          |  of 
          b  37
      // page 9
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 LOGIC: if related.answer_toggle = yes then:
        p.pb10 The Company is disclosing certain related party transactions below arising from any of the transactions occurring in the Company’s last fiscal year.  As used here, the term “related party” includes: (1) any director or officer of the Company; (2) any person who is, as of the most recent practicable date, the beneficial owner of twenty percent (20%) or more of the Company’s outstanding voting equity securities, calculated on the basis of voting power; (3) if the Company was incorporated or organized within the past three years, any promoter of the Company; or (4) any immediate family member of any of the foregoing persons.  Only those transactions are listed in which the related party had or is expected to have a direct or indirect material interest in such transaction, and the list includes transactions with entities under common control with the issuer.  As used here, the term “transaction” includes, but is not limited to, any financial transaction, arrangement or relationship (including any indebtedness or guarantee of indebtedness) or any series of similar transactions, arrangements or relationships.  Where it is not practicable to state the approximate amount of the interest, the amount involved in the transaction has been approximated.
        p.pb10 Those transactions with a related party having a direct or indirect material interest:
        .table-responsive.m-t-1
          table.table.table-bordered
            theader
              tr.bg-grey
                th.text-xs-center Specified Person
                th.text-xs-center Relationship To Issuer
                th.text-xs-center Nature of Transaction
                th.text-xs-center Amount of Interest
            tbody
              tr
                td.text-xs-center
                  a(href="#") specified_person
                td.text-xs-center
                  a(href="#") relationship_to_issuer
                td.text-xs-center
                  a(href="#") nature_of_interest
                td.text-xs-center
                  a(href="#") amount_of_interest
        p.pb10 The term “immediate family member” includes any child, stepchild, grandchild, parent, stepparent, grandparent, spouse or spousal equivalent, sibling, mother-in-law, father-in-law, son-in-law, daughter-in-law, brother-in-law, or sister-in-law of the person, and includes adoptive relationships. The term “spousal equivalent” means a co-habitant occupying a relationship generally equivalent to that of a spouse.
        p.page-namder.text-xs-right.m-t-3 Page 
          b 9
          |  of 
          b  37
      // page 10
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold PROCEDURE FOR PURCHASING SECURITIES
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Minimum Commitment and Closing Date
        p.pb10 To participate in this Offering, each investor must purchase securities in a minimum dollar amount equal to $
          a(href="#") [minimum_incriment]
          |  The securities are being offered until [close.date], unless notice is provided to investors at least five (5) business days prior to any change in such date.  The Company reserves the right to change the closing date with such notice and with a minimum twenty-one (21) day period in which to carry out the offering.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Account Opening Requirement
        p.pb10 If a potential investor is interested in participating in the Offering, such investor must first open an account with the Intermediary by registering at www.GrowthFountain.com.  During such registration process, the Intermediary may request financial information to determine investor’s eligibility and may require the acceptance of certain terms and conditions applicable to investor’s use of the Platform. In addition, prior to communicating any investment commitment, each investor must (a) consent to electronic delivery of materials, (b) provide a representation that such investor has reviewed the educational material available from the Intermediary delivered pursuant to Rule 302 of Regulation Crowdfunding, (c) provide a representation that such investor understands that the entire investment amount may be lost and that such investor could bear such loss, (d) complete a questionnaire demonstrating such investor’s understanding that there are limitations on cancelling an investment commitment and that it may be difficult to resell securities acquired in this Offering.  Each potential investor is subject to investment limitations established by the Securities Act (15 USC 77d(a)(6)(B)) and Regulation Crowdfunding (17 CFR 227.100(a)(2)).
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Offering Process After Registration
        p Each Offering is listed on the Platform for a minimum of twenty-one (21) days and the Offering period may extend beyond such twenty-one days if set forth in the Material or each investor is properly notified.  During that period (or later if the investor is notified of a change), the Company must aggregate investor commitments that are equal to or greater than the Offering minimum target amount.  The process generally involves the following steps: (1) an investor registered on the Platform identifies a desired offering and communicates an investment commitment to purchase securities in such offering by completing a subscription agreement; (2) the Intermediary confirms the investor’s eligibility to participate in the Offering and then has the subscription agreement countersigned by the issuer; (3) the investor transfers the funds required to purchase the offered securities to the Intermediary’s designated escrow agent; (4) once the targeted minimum offering amount is achieved or exceeded through investor
        p.page-namder.text-xs-right.m-t-3 Page 
          b 10
          |  of 
          b  37
      // page 11
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 commitments collectively, the issuer would be able to close the transaction on the original target closing date or an earlier date with at least five business days prior notice to the investors; and (5) the funds would be released by the escrow agent to the issuer, less any required fees sent to the Intermediary, and the issuer would issue the securities to the investor.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Method for Investor Cancellation of a Commitment 
        p.pb10 Investors may cancel an investment commitment at any time up until forty-eight (48) hours prior to the applicable closing date.  The process for any such cancellation is for the investor to log onto the Platform and indicate a cancellation by selecting such option in connection with the applicable offering once they have logged into their account and accessed their investor dashboard.  With respect to specific scenarios: (1) if the target minimum offering amount is not met prior to the target closing date, then the Intermediary will automatically cancel all investment commitments and notify each investor of the return of their respective funds, (2) if the issuer reaches the target minimum offering amount prior to the deadline identified in the offering materials, then it may close the offering early (if it provides notice about the new offering deadline at least five business days prior to such new offering deadline) provided that the investor would be able to cancel the investment commitment before the 48-hour period prior to the new offering deadline, (3) if the issuer notifies the investor of a material change to an offering, then the investor must reconfirm their investment commitment after the material change is made to the offering, or such investor’s investment commitment will be cancelled and the committed funds will be returned.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Method for Delivering the Securities
        p.pb10 LOGIC: if transfer_method = self-manage then:
        p.pb10 The issuer will record all investments in book entry form so that no certificates would be delivered.  The fully executed Subscription Agreement relating to the Offering will serve as a written record of the transaction and will be available on the Platform via the investor dashboard.  The investor will also receive email confirmation of the successful closing of the Offering, which will confirm the number of securities purchased and the amount paid. 
        p.pb10 LOGIC: if transfer_method = use of Solo then:
        p.pb10 The issuer will use a third-party software-as-a-service transfer agent provided by Transfer Online.  Consequently, the issuer will serve as its own transfer agent and will have the choice whether to deliver certificates or to keep all investments in book entry form.  Regardless, the fully executed Subscription Agreement relating to the Offering will serve as a written record of the transaction and will be available on the Platform via the investor dashboard.  The investor will also receive email confirmation of the successful closing of the Offering which will confirm the number of securities purchased and the amount paid.
        p.page-namder.text-xs-right.m-t-3 Page 
          b 11
          |  of 
          b  37
      // page 12
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 LOGIC: if transfer_method = full service then:
        p.pb10 The issuer will use a full-service third-party transfer agent to handle the delivery of all certificates.  In addition, the fully executed Subscription Agreement relating to the Offering will serve as a written record of the transaction and will be available on the Platform via the investor dashboard.  The investor will also receive email confirmation of the successful closing of the Offering which will confirm the number of securities purchased and the amount paid.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Use of Third Party Services
        p.pb10 Each investor commitment made in connection with the completion of a Subscription Agreement will be held in a depository account maintained for the benefit of investors.  The Intermediary will not hold any investor funds or issuer securities in connection with this Offering.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Use of Communication Channel
        p.pb10 The Intermediary makes available on the Platform certain communication channels by which registered users can communicate with representatives of the Company.  While any person can view the postings made within the communication channel, only registered users can post questions or comments.  Investors have the opportunity to use the communication channels in connection with their evaluation of the securities in this Offering to support their diligence effort and to clarify any information provided in the Material.  The Intermediary is not serving as an agent or representative of the Company in connection with the operation of the communication channels and is not providing any investment advice through the communication channels.  All promoters and representatives of the Company participating in the communication channels on the Platform are required to disclose their relationship with the Company.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Intermediary Compensation
        p.pb10 The Intermediary will be compensated a dollar amount equal to 5% of the total Offering amount if the Offering is successfully completed and closed.  Such compensation is paid only if the Company’s total Offering proceeds meets or exceeds the target minimum offering amount indicated in this Material. Additionally, the Company reimburses the Intermediary for certain fees that the Intermediary passes through to the Company, such as the costs related to performing background checks and establishing an escrow account.  These fees are one-time fees and are not dependent on the success of the Offering.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Conditional Commitment
        p.pb10 Purchase of the securities offered in this Offering shall be made pursuant to the 
        p.page-namder.text-xs-right.m-t-3 Page 
          b 12
          |  of 
          b  37
      // page 13
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 execution of a Subscription Agreement available on the Platform, which contains, among other things, certain representations, warranties and covenants.  The Company must secure investor commitments that equal or exceed the minimum target amount for the Offering prior to the applicable closing date, or the Offering will be canceled and investor funds committed in connection with the Offering will be returned.  An investor commitment is conditional after being made, but only up until the time that is 48 hours before the applicable closing date.  For the 48-hour period prior to the applicable closing date, investor commitments may not be cancelled by the investor but in certain circumstances may still be returned (e.g. if the target minimum amount is not met).   As a reminder, investors are required to reconfirm their investment commitment after receiving notice of a material change to the Offering.  If an investor takes no action to reconfirm the investment commitment after the Company notifies the investor of a material change, the commitment will be cancelled and funds relating to that Offering returned. 
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Jurisdictional Coverage
        p Jurisdictions in which the issuer intends to offer the securities include the following: AL, AK, AZ, AR, CA, CO, CT, DE, DC, FL, GA, HI, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT, WA, WV, WI, WY, WY, PR, GU, VI, NMI, AS
        p Canadian Jurisdictions: AB, BC, MB, NB, NL, NS, ON, PE, QC, SK, YT, Canada [Federal Level]
        p.page-namder.text-xs-right.m-t-3 Page 
          b 13
          |  of 
          b  37
      // page 14
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold CAPITAL STRUCTURE OF THE ISSUER
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Description of the Issuer’s Existing Securities
        p.pb10 The outstanding and authorized amounts of the Company’s existing securities are identified in the table below.  Please note that the Company has indicated that this table includes (a) all instruments that could convert into securities such as convertible debt, (b) securities that are reserved for issuance upon exercise or conversion such as an option plan and (c) any other instruments that could be expected to impact the capitalization of the Company.
        .table-responsive.m-t-1
          table.table.table-bordered
            theader
              tr.bg-grey
                th.text-xs-center Class of Security
                th.text-xs-center # Authorized
                th.text-xs-center # Outstanding
                th.text-xs-center Voting Rights
            tbody
              tr
                td.text-xs-center
                  a(href="#") cap_type
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Common Stock
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Preferred Stock
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Debt
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Warrants
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Options
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Other1
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
              tr
                td.text-xs-center
                  a(href="#") Other2
                td
                  a(href="#") cap_type_XXX_authorized
                td
                  a(href="#") cap_type_XXX outstanding
                td
                  a(href="#") cap_type_XXX_voting
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Description of Securities, Material Terms and Other Rights:
        p.pb10 LOGIC: The description for each separate security that is listed above appears below
        p
          a(href="#") cap_type_common_description
        p
          a(href="#") cap_type_perferred_description
        p
          a(href="#") cap_type_debt_description
        p
          a(href="#") cap_type_warrants_description
        p
          a(href="#") cap_type_options_description
        p
          a(href="#") cap_type_other.1_description 
        p
          a(href="#") cap_type_other.2_description
        p.p-t-1 rights_toggle 
        p.page-namder.text-xs-right.m-t-3 Page 
          b 14
          |  of 
          b  37
      // page 15
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold DESCRIPTION OF SECURITIES OFFERED
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u General Terms
        p.pb10 The type of security being offered is non-voting shares of our common stock.  This means purchasers of the Shares will have no voting rights whatsoever.  Potential investors should reference the actual terms and provisions of the capital stock contained in the Company's [Certificate of Incorporation and the Company’s bylaws] attached as Exhibit C as well as the Subscription Agreement for the Shares. Each investor is responsible for reviewing and understanding such documents and can use the communication channels on the Platform to request clarification or additional information.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Common Stock
        p.pb10 The voting, dividend and liquidation rights of the holders of the Common Stock are subject to and qualified by the rights, powers, and preferences of the holders of the Common Stock set forth in the Company’s charter documents as well as the terms of the Subscription Agreement. The securities in this Offering are non-voting common stock. Dividends upon the capital stock of the Company, if any, subject to the provisions of the Certificate of Incorporation, may be declared by the Board of Directors at any regular or special meeting, pursuant to law. The Company does not anticipate issuing any dividends in the near term.
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Voting Rights and Limitations
        p.pb10 The Shares have no voting rights and will be excluded from all voting.  Additionally, the Shares have no liquidation or preference rights. 
          a(href="#") modify_method
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Restrictions on Transfer of Shares
        p.pb10 Consistent with Subpart E of Regulation Crowdfunding (17 CFR 501), securities issued in this Offering pursuant to section 4(a)(6) of the Securities Act (15 U.S.C. 77d(a)(6)) may not be transferred by any purchaser of such securities during the one-year period beginning when the securities were issued, unless such securities are transferred to a limited group including (a) to the Company, (b) to an accredited investor, (c) as part of an offering registered with the SEC, or (d) to a family member, trust or equivalent.  In connection with any participation in this Offering, each potential investor may be required to agree not to dispose of or otherwise sell or transfer any of the Shares, until there is in effect a registration statement under the Securities Act covering such proposed disposition or if such disposition will not require registration under the Securities Act.
        p.page-namder.text-xs-right.m-t-3 Page 
          b 15
          |  of 
          b  37
      // page 16
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Distinguishing the Securities
        p.pb10 Differences between the securities being offered and the other classes of securities:
        p.p-l-2.pb10
          a(href="#") security_differences
        p.pb10 Ability of one class of security to materially limit, dilute or qualify the rights of another class:
        p.p-l-2.pb10
          a(href="#") rights_of_securities_being
        p.pb10 Ability of any principal shareholders to affect the purchasers of the securities being offered:
        p.p-l-2.pb10
          a(href="#") principal_shareholders_affect
        h3.font-weight-bold.m-t-0.m-b-0.pb10 
          u Valuation of the Securities
        p.pb10 The offering price of the securities in this Offering has been established by the Company and does not necessarily bear any specific relation to the assets, book value or potential earnings of the Company or any other recognized criteria of value. The Shares have not been registered under the Securities Exchange Act of 1934 and have not been traded or quoted on any exchange or quotation system. There is no public market in which shareholders may sell their Shares, and there can be no assurance given that such a market will ever develop. The securities offered hereby are restricted by law and the ability to transfer and interests in the Shares is severely limited.
        p.pb10 Method by which the offered securities are valued:
        p.p-l-2.pb10
          a(href="#") valuation_determine
        p.p-l-2.pb10
          a(href="#") valuation_determine_describe
        p.pb10 The price of each Share was determined by the Company in good faith based on its own assessment of its current position and the possibility of future growth.  The Company has taken into account its own internal calculation of potential future revenue and based on such forward looking estimates has created a valuation that reflects the multiple or premium determined by the Company to be appropriate in this situation.  The Company acknowledges that the valuation bears no relationship to established value criteria such as net tangible assets or a multiple of earnings per share.  The Company accepts that some investors may conclude that the current valuation is not an indication of the actual value of the Company.
        p LOGIC: if valuation_determine = use_BIZcalculator then:
        p.page-namder.text-xs-right.m-t-3 Page 
          b 16
          |  of 
          b  37
      // page 17
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small.pb10
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        p.pb10 The price of each Share was determined by the Company in good faith based on its own assessment of its current position and the benchmarking reference range determined by the use of certain business calculators provided by the Intermediary.  Such calculators use the data provided by the Company and do not reflect any advice or recommendation on the part of the Intermediary.  In working with the calculators, the Company considered its current capital structure, including current debt and cash, and assembled an income statement from the last twelve months including an estimate of net income and EBITDA.  The Company also made projections for the next twelve months along with a similar estimate of net income and EBITDA.
        p.pb10 The Company then looked at potential peers that trade in public markets and considered a variety of metrics, including but not limited to Price/Sales, Enterprise Value/EBITDA and Price/Equity.  The Company applied a 20% liquidity discount to publically traded peers and utilized an average of different valuation metrics to derive a benchmarking range for the Company’s ultimate value.
        p.pb10 LOGIC: if valuation_determine = use_SUcalculator then:
        p.pb10 The price of each Share was determined by the Company in good faith based on its own assessment of its current position and by taking a variety of quantitative and qualitative considerations into account.  Quantitatively, the Company considered revenue and operating profit, both one year from now and five years from now along with an analysis of the Company’s existing capital structure and available cash.  The Company then assessed where publicly traded peer were being valued in the markets.  After considering several different valuation metrics, including Price/Sales and Enterprise Value/EBIT, the Company discounted its valuation by its cost of capital.  The, for qualitative factors, the Company considered the type of industry that it is in and applied a discount rate appropriate for such industry.  Finally, the Company applied a liquidity discount which resulted in a post-money valuation which takes into consideration the money projected to be raised in order to derive the valuation contained in this Material.
        p.page-namder.text-xs-right.m-t-3 Page 
          b 17
          |  of 
          b  37










