include mixins.pug

+breadcrumbs('Form C Review', '', 
    [
        ['Home', '/'],
        ['Form C Review', ''],
    ]
)

section.formc-review
  .container
    .col-lg-10.offset-lg-1
      section.page-formc-review
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        
        h3.text-xs-center
          a(href="#") issuer_legal_name*
        h3.text-xs-center.m-b-0.m-t-0.pb10 A 
          a(href="") [jurisdiction_of_organization]*
        h3.text-xs-center.m-t-0 
          a(href="#") [Corporate_Structure]*
        p.text-xs-center.m-b-1
          a(href="#") website
        
        p.text-xs-center.font-weight-bold $
          a(href="#") [ maximum_raise ]*
          |   MAXIMUM OFFERING
        p.text-xs-center.font-weight-bold.m-b-3 $
          a(href="#") [ minimum_raise ]*
          |   MINIMUM OFFERING

        p.text-xs-center.font-weight-bold.pb10 OFFERING PRICE: $
          a(href="#") [price_per_share]* 
          |  per Share
        p.text-xs-center.font-weight-bold
          a(href="#") [security_type]*
          |  Offered
        p.text-xs-center.font-weight-bold $
          a(href="#") [minimum_incriment]*
          |  MINIMUM INVESTMENT

        p.text-uppercase.text-xs-center.m-t-3.m-b-2 
          u REGULATION CROWDFUNDING OFFERING

        p.text-uppercase.font-weight-bold.pb10 THESE ARE SPECULATIVE SECURITIES AND INVOLVE A HIGH DEGREE OF RISK. PLEASE REVIEW ALL RISK FACTORS CONTAINED IN THIS OFFERING MATERIAL.
        p.pb10 GrowthFountain Capital LLC is acting as the funding portal in this offering of securities in reliance on section 4(a)(6) of the Securities Act of 1933 (15 U.S.C. 77d(a)(6)).  To participate in this offering, you must open an account at www.GrowthFountain.com.
        p.pb10 A crowdfunding investment involves risk. You should not invest any funds in this offering unless you can afford to lose your entire investment. In making an investment decision, investors must rely on their own examination of the issuer and the terms of the offering, including the merits and risks involved. These securities have not been recommended or approved by any federal or state securities commission or regulatory authority. Furthermore, these authorities have not passed upon the accuracy or adequacy of this document, or the completeness of any information contained herein or listed with the funding portal.  These securities are being offered under an exemption from registration; however, the U.S. Securities and Exchange Commission has not made an independent determination that these securities are exempt from registration.  GrowthFountain Capital LLC and its affiliates are not making any investment recommendation in connection with making this offering material available to you.
        p The date of this offering material being listed on the funding portal at www.GrowthFountain.com is
          a(href="#")  [live.date]*
        p.page-namder.text-xs-right.m-t-3 Page 
          b 1
          |  of 
          b  37
      
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer

        h2.text-uppercase.text-xs-center.font-weight-bold TABLE OF CONTENTS
        
        p.pb10
          a(href="#").text-xs-left.font-weight-bold OVERVIEW INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold INTRODUCTORY NOTICES
        p.pb10
          a(href="#").text-xs-left.font-weight-bold DESCRIPTION OF THE ISSUER’S BUSINESS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold MANAGEMENT & MATERIAL PERSONS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold PROCEDURE FOR PURCHASING SECURITIES
        p.pb10
          a(href="#").text-xs-left.font-weight-bold CAPITAL STRUCTURE OF THE ISSUER
        p.pb10
          a(href="#").text-xs-left.font-weight-bold DESCRIPTION OF SECURITIES OFFERED
        p.pb10
          a(href="#").text-xs-left.font-weight-bold USE OF PROCEEDS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold FINANCIAL CONDITION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold RISK FACTORS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold ELIGIBILITY INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold OTHER MATTERS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold REPORTING OBLIGATIONS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT A:
            |  BUSINESS PLAN
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT B:
            |  FINANCIAL STATEMENTS
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT C:
            |  BIOGRAPHICAL INFORMATION
        p.pb10
          a(href="#").text-xs-left.font-weight-bold 
            em EXHIBIT D:
            |  EXCERPTS FROM ORGANIZATIONAL DOCUMENTATION
        p.page-namder.text-xs-right.m-t-3 Page 
          b 2
          |  of 
          b  37
      section.page-formc-review.m-t-1
        p.small.text-xs-left FORM C Offering Material for
        p.small
          a(href="#").link-1 [issuer_short_name]* 
          |  as Issuer
        h2.text-uppercase.text-xs-center.font-weight-bold OVERVIEW INFORMATION
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u Issuer Information
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Name of issuer:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Entity Form:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Jurisdiction of Organization:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") jurisdiction_of_organization
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Date of Organization:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") founding_date
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Physical address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") address_1, address_2
                br
                |  City, State  zip_code
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Website address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") issuer_legal_name
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u Intermediary Information
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p GrowthFountain Capital, LLC
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold CIK Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 0001668506
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold SEC File Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 007-00028
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold CRD Number:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 283380
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Funding Portal Address:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p www.GrowthFountain.com
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Compensation to Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p 5% of the closing amount raised + pass-through and registration fees
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Ownership interest by Intermediary:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p None
        .one-block.m-b-1
          h3.font-weight-bold.m-t-0.m-b-0.pb10 
            u The Security Offering
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Type of security offered:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") security_type
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Voting rights:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p No
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Minimum target number of securities being offered:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") min_number_of_shares
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Price of security:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") price_per_share
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Minimum target amount of offering:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") minimum_raise
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Oversubscription allowed:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [Yes]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Allocation method of oversubscription:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [Yes]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Oversubscription allowed:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") [First Come First Served]
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Maximum amount of offering:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") maximum_raise
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              p.font-weight-bold Deadline to reach target amount:
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              a(href="#") close.date
        p.page-namder.text-xs-right.m-t-3 Page 
          b 3
          |  of 
          b  37

