
section.heartland-tour
  .top-baner
    .container
      .row
        .col-xl-12
          .top-baner-text.text-xs-right
            h1.big-h1.text-uppercase The Heartland Tour
            h3.m-t-0 We’re traveling across country on a quest for exciting companies that need to raise money to grow;
              br
              |  from tech startups to the restaurants, bars and bricks & mortar locations across America
  .how-it-works
    .container
      .row
        .col-xl-12
          p.text-justify GrowthFountain, in coordination with select credit union and accelerator partners, is on a nationwide search to help businesses raise the capital they need to grow.  Whether you operate a local business, have a startup or the next big idea, if you’re looking to grow and could use financial backing, we can help.
          h4.text-uppercase.m-t-2 Here’s how it works:
          p.m-b-1
            a(href="#").link-3 Apply now 
            | to create your campaign in advance of the live event.
          p.m-b-2 At each event:
          p 
            i.fa.fa-circle-thin.red-circle
            | We’ll host a fireside chat on stage with the founders of companies raising money
          p 
            i.fa.fa-circle-thin.white-circle
            | We will broadcast these live discussions / presentations to thousands of investors online
          p 
            i.fa.fa-circle-thin.blue-circle 
            | The investors – both at the event and viewing remotely, can invest in real time through their devices
  .map-apply
    .container
      .row
        .col-xl-12.block-links
          .col-xl-6.liks.link-left.text-xs-center.p-x-0
            a(href="#") NOMINATE your favorite business!

          .col-xl-6.liks.link-right.text-xs-center.p-x-0
            a(href="#") RSVP to attend in person!
          .center-logo
            img(src=require("img/gf_icon.png") alt="")
      .row
        .col-xl-12
          .map-center
            img(src=require("img/USA5.png") alt="")
            h1.text-uppercase Apply Today and we May
              br
              | Choose Your Town!
            p.small *Companies interested in participate must have a completed campaign and Form C. Call us with any questions: 646-759-8229
      .row
        .col-xl-12
          .share.text-xs-center
            h2.font-weight-light.m-t-1.m-b-2 Share the Heartland Tour!
            span.d-inline-block
              i.fa.fa-share
              |  Share:
            div(data-key=key).d-inline-block.social-links-container
              a(href="#" target="_blank").facebook-share
                i.fa.fa-facebook-square
              a(href="#" target="_blank").twitter-share
                i.fa.fa-twitter-square
              a(href='#'
                target="_blank"
              ).linkedin-share
                i.fa.fa-linkedin-square
              a(href="#").email-share
                i.fa.fa-envelope-square
  .sities
    section.home-wrap-text-block.raise-wrap.hide-bg-fixed.sities-section
      .opasity-block
        .container.text-lg-center.text-xs-center
          .wrap
            .col-lg-12
              h2.m-t-0  Is your startup or business looking to fundraise?
              h1.text-uppercase Join GrowthFountain’s Heartland Tour
            .col-lg-12
              a(href="#").btn.btn-lg.btn-primary.m-t-2 apply now!


