-
  var socialDirective = require('directives/social/index.js');
  var HeartlandInfoProvider = require('directives/social/heartlandTourInfoProvider.js');
  var infoProvider = new HeartlandInfoProvider();
  var directiveKey = 'heartland-tour';

section.heartland-tour
  .top-baner
    .container
      .row
        .col-xl-12
          .top-baner-text.text-xs-right
            h1.big-h1.text-uppercase The Heartland Tour
            h3.m-t-0 We’re traveling across country on a quest for exciting companies that need to raise money to grow;
              br
              |  from tech startups to the restaurants, bars and bricks & mortar locations across America
  .how-it-works
    .container
      .row
        .col-xl-12
          p.text-justify GrowthFountain, in coordination with select credit union and accelerator partners, is on a nationwide search to help businesses raise the capital they need to grow.  Whether you operate a local business, have a startup or the next big idea, if you’re looking to grow and could use financial backing, we can help.
          h4.text-uppercase.m-t-2 Here’s how it works:
          p.m-b-1
            a(href="/company/create").link-3 Apply now 
            | to create your campaign in advance of the live event.
          p.m-b-2 At each event:
          p 
            .circle.red-circle
            | We’ll host a fireside chat on stage with the founders of companies raising money
          p 
            .circle.white-circle
            | We will broadcast these live discussions / presentations to thousands of investors online
          p 
            .circle.blue-circle
            | The investors – both at the event and viewing remotely, can invest in real time through their devices
  .map-apply
    .container
      .row
        .col-xl-12.block-links
          .col-xl-4.offset-xl-1.col-lg-5.offset-lg-0.col-md-12.text-xs-center.p-r-0
            a(href=infoProvider.nominateEmail()).btn.btn-block nominate your favorite business!
          .col-xl-2.col-lg-2.wrap-logo.hidden-md-down
            .center-logo
              img(src=require("img/gf_icon.png") alt="")
          .col-xl-4.col-lg-5.col-md-12.text-xs-center.p-l-0
            a(href="mailto:info@growthfountain.com?subject=I’m interested in attending one of your events!&body=JPlease send me details as you finalize the schedule for The Heartland Tour!").btn.btn-block RSVP to attend in person!
          
            
      .row
        .col-xl-8.offset-xl-2
          .map-center
            img(src=require("img/USA5.png") alt="")
            .text-wrap
              h2.m-b-1.m-t-0 We’re finalizing our schedule.
              h1.text-uppercase Apply today and we’ll fly you
                br
                | to one of our great events!*
        .col-xl-8.offset-xl-2
          p.small.m-b-1.text-xs-left *Companies interested in participate must have a completed campaign and Form C. Call us with any questions: 646-759-8229.
            br
            | One presenter or more per location may receive an honorarium to cover travel expenses, up to $1,000.
      .row
        .col-xl-12
          h2.font-weight-light.m-t-2.m-b-0.text-xs-center Share the Heartland Tour!
          .share.text-xs-center
            | !{ socialDirective.render(directiveKey, infoProvider) }
  .sities
    section.home-wrap-text-block.raise-wrap.hide-bg-fixed.sities-section
      .opasity-block
        .container.text-lg-center.text-xs-center
          .wrap
            .col-lg-12
              h2.m-t-0  Is your startup or business looking to fundraise?
              h1.text-uppercase Join GrowthFountain’s Heartland Tour
            .col-lg-12
              a(href="/company/create").btn.btn-lg.btn-primary.m-t-2 apply now!


