include mixins.pug

section.investor-tutorial
  #carousel-investor(data-ride="carousel").carousel.slide
    ol.carousel-indicators
      li(data-target="#carousel-investor" data-slide-to="0").active
      li(data-target="#carousel-investor" data-slide-to="1")
      li(data-target="#carousel-investor" data-slide-to="3")
      li(data-target="#carousel-investor" data-slide-to="4")
      li(data-target="#carousel-investor" data-slide-to="5")
      li(data-target="#carousel-investor" data-slide-to="6")
      li(data-target="#carousel-investor" data-slide-to="7")
      li(data-target="#carousel-investor" data-slide-to="8")
      li(data-target="#carousel-investor" data-slide-to="9")
      li(data-target="#carousel-investor" data-slide-to="10")
      li(data-target="#carousel-investor" data-slide-to="11")

    .carousel-inner(role="listbox")
      .carousel-item.active
        img(src="/img/investor_slider/shutterstock_151501652.jpg" alt="...").img-fluid
        .carousel-caption
          h2 Get started
          h1 Sign up
          p You will need to be signed in to gain full access to the growthfountain website
          p Once you're registered, you can join discussions, acces our  full suite of tools and make investments
      .carousel-item
        img(src="/img/investor_slider/shutterstock_200408042.jpg" alt="...").img-fluid
        .carousel-caption
          h2 What is equity crowdfunding?
          h1 A revolution
          p For the first time, ordinary americans will be able  to go online and invest in entrepreneurs that they  belive in" - president Obama
      .carousel-item
        img(src="/img/investor_slider/shutterstock_231344695.jpg" alt="...").img-fluid
        .carousel-caption
          h2 HOW CAN I LEARN MORE?
          h1 browse
          p CHECK OUT THE unique BUSINESSES RAISING MONEY ON GROWTHFOUNTAIn; it could be your neighbor, an entrepreneur in your community or the next facebook or google
          p DISCOVER investments that INTEREST YOU. FOLLOW THEIR PROGRESS WHILE YOU LEARN MORE ABOUT THEIR BUSINESS, PRODUCTS, AND OFFERING

      .carousel-item
        img(src="/img/investor_slider/shutterstock_262335101.jpg" alt="...").img-fluid
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT
          p You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel
      
      .carousel-item
        img(src="/img/investor_slider/shutterstock_314380265.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 How much can i invest?
          h1 give me a number
          p You are legally allowed to invest between $2,000 and $100,000 annually based on your income and wealth
          a(href="#").link-3 (click to launch our investor calculator)

      .carousel-item
        img(src="/img/investor_slider/shutterstock_321452279.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Should i invest?
          h1 risks
          p Roughly one-half of small businesses fail within five years. for those that succeed, the time horizon to create value for shareholders tends to be 7+ years.  please set your expectations accordingly
          p You should understand that you may lose your entire investment. If you are risk-averse, are just starting to invest, have only a little money to invest or need the money in the short term, crowdfunding investments likely are not for you
          p Investments also carry liquidity risk. you will be limited in your ability to resell your investment for the first year – and you may need to hold your investment for an indefinite period of time as no secondary market currently exists
          p Be sure to read about Specific risks associated with each offering in their Form C
      
      .carousel-item
        img(src="/img/investor_slider/shutterstock_323615741.jpg" alt="...").img-fluid 
        .carousel-caption.m-t-85
          p You are legally allowed to invest between $2,000 and $100,000 annually based on your income and wealth
          a(href="#").link-3 (click to launch our investor calculator)
      
      .carousel-item
        img(src="/img/investor_slider/shutterstock_332291144.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT
          p You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel
      
      .carousel-item
        img(src="/img/investor_slider/shutterstock_344201303.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT
          p You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel

      .carousel-item
        img(src="/img/investor_slider/shutterstock_361948769.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT
          p You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel

      .carousel-item
        img(src="/img/investor_slider/shutterstock_387341530.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT
          p You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel

      a(href="#carousel-investor"
      role="button" 
      data-slide="prev").left.carousel-control
        span(aria-hidden="true").icon-prev
        span.sr-only Previous
      a(href="#carousel-investor"
      role="button" 
      data-slide="next").right.carousel-control
        span(aria-hidden="true").icon-next
        span.sr-only Next