include mixins.pug

section.investor-tutorial
  #carousel-investor(data-ride="carousel").carousel.slide
    ol.carousel-indicators
      li(data-target="#carousel-investor" data-slide-to="0").active
      li(data-target="#carousel-investor" data-slide-to="1")
      li(data-target="#carousel-investor" data-slide-to="3")
      li(data-target="#carousel-investor" data-slide-to="4")
      li(data-target="#carousel-investor" data-slide-to="5")
      li(data-target="#carousel-investor" data-slide-to="6")
      li(data-target="#carousel-investor" data-slide-to="7")
      li(data-target="#carousel-investor" data-slide-to="8")
      li(data-target="#carousel-investor" data-slide-to="9")
      li(data-target="#carousel-investor" data-slide-to="10")
      li(data-target="#carousel-investor" data-slide-to="11")


    .carousel-inner(role="listbox")
      .carousel-item.active.t40
        img(src="/img/investor_slider/1.jpg" alt="...").img-fluid
        .carousel-caption
          h2 Get started
          h1 Sign up
          p.m-b-1 YOU WILL NEED TO BE SIGNED in TO gain full access to the growthfountain website. 
          p once you're registered, you‘ll be able to join discussions, access our full suite of tools and resources, and (yes) make investments.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p A revolution
      .carousel-item.t40
        img(src="/img/investor_slider/GF_hands.jpg" alt="...").img-fluid
        .carousel-caption
          h2 What is equity crowdfunding?
          h1 A revolution
          p.m-b-1 “For the first time, ordinary americans will be able to go online and invest in entrepreneurs that they believe in”  - President OBAMA
          p.m-b-1 Finally, equity crowdfunding is here.
          p.m-b-1 Investors all over the world now have the ability to invest directly in America’s entrepreneurs online.
          p A revolution indeed.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p Browse
      .carousel-item.t40
        img(src="/img/investor_slider/brouse.jpg" alt="...").img-fluid
        .carousel-caption
          h2 HOW CAN I LEARN MORE?
          h1 browse
          p.m-b-1 CHECK OUT THE unique BUSINESSES RAISING MONEY ON GROWTHFOUNTAIn. You might be surprised who you find: these businesses could be run by your neighbor, by an entrepreneur in your community, or perhaps by that soon-to-be famous founder who’s in the early process of creating the next big idea
          p.m-b-1 DISCOVER investments that INTEREST YOU, and FOLLOW THEIR PROGRESS WHILE YOU LEARN MORE ABOUT THEIR BUSINESS, PRODUCTS, AND OFFERING.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p research
      .carousel-item.before-making
        img(src="/img/investor_slider/RESEARCH.jpg" alt="...").img-fluid
        .carousel-caption
          h2 Before MAKING AN investMENT, YOU NEED TO DO YOUR
          h1 Research
          p.m-b-1 Each company RAISING MONEY UNDER REGULATION CROWDFUNDING must DISCLOSE SIGNIFICANT INFORMATION TO POTENTIAL INVESTORS. Make sure to view their form c and do your research; it includes EVERYTHING from Financial records to PRODUCT INFORMATION TO THE VARIOUS risks associated with INVESTMENT.
          p.m-b-2 You’ll also be able to see bios for ALL OFFICERS, directors and 20%+ voting shareholders. If you have additional questions, you can ask management questions through our built in communication channel.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p give me a number
      .carousel-item.t40
        img(src="/img/investor_slider/5.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 How much can i invest?
          h1.m-b-3 give me a number
          p.m-b-2 You are legally allowed to invest between $2,000 and $100,000 annually based on your income and wealth
          a(href="#").link-3 (click to launch our investor calculator)
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p risks
      .carousel-item.t30
        img(src="/img/investor_slider/RISKS.jpg" alt="...").img-fluid 
        .carousel-caption.should
          h2 Should i invest?
          h1 risks
          p.m-b-1 Roughly one-half of small businesses fail within five years. for those that succeed, the time horizon to create value for shareholders tends to be 7+ years.  please set your expectations accordingly.

          p.m-b-1 You should understand that you may lose your entire investment. If you are risk-averse, are just starting to invest, have only a little money to invest or need the money in the short term, crowdfunding investments likely are not for you.

          p.m-b-1 Investments also carry liquidity risk. you will be limited in your ability to resell your investment for the first year – and you may need to hold your investment for an indefinite period of time as no secondary market currently exists.
          p.m-b-3 Be sure to read about Specific risks associated with each offering in the Form C.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p equity vs payback equity
      .carousel-item.t30
        img(src="/img/investor_slider/EQUITY.jpg" alt="...").img-fluid 
        .carousel-caption.should
          h2 what will i actually own?
          h1 equity vs payback share
          p Companies on growthfountain can either issue equity or payback share.
          p
            u PayBack share
          ul.text-lg-left
            li Earn 5% of the company’s revenue annually;
            li No distributions are required until the second full calendar year and the company is allowed 
            li Distributions capped at 2x;
            li In event of default, investors becomes general unsecured creditors.
          p
            u Equity
          ul.text-lg-left
            li You become a shareholder in the company; you are an owner
            li Though equity has no bespoke payment guarantees, you would hope for:
              ol
                li an acquisition at a higher valuation than you invested;
                li the company goes public;
                li the company generates cash flow and pays a dividend.

          p.m-b-0 your investment will be electronically maintained by a third party transfer agent who will manage communication and any dividends. Once an offering reaches it's goal and closes, you will receive an email from growthfountain containing all the details.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p patience
      .carousel-item.t40
        img(src="/img/investor_slider/8.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 how long is the wait?
          h1 patience
          p it is unlikely you will see a return on your investment in the near term. Venture capital firms typically have time horizons of 5-10 years, and they often invest in later stage companies – so you should prepare for the long hall if you invest in any companies on GrowthFountain.
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p all stop
          

      .carousel-item.t40
        img(src="/img/investor_slider/9.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Change your mind?
          h1.m-b-3 All Stop
          p.m-b-1 You have up to 48 hours prior to the end of the offer period to change your mind and cancel your investment for any reason.  

          p If the company makes a material change to their offering, you will be required to reconfirm your investment within five business days. If you do not reconfirm, your investment will be cancelled and money returned to you. 
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p keep me posted

      .carousel-item.t40
        img(src="/img/investor_slider/10.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Will i receive updates on my investment?

          h1.m-b-3 keep me posted
          p.m-b-1 Companies that raise money via Regulation Crowdfunding will have some limited ongoing reporting requirements, so you may be able to access annual Form C filings on 
            a(href="Edgar.com").link-3  Edgar.com 
            |  and on the company’s website.
          p We encourage companies that raise money on GrowthFountain to maintain regular dialogue and communication with investors, however the specifics will be up to the company. 
          .slide_bottom_text.text-uppercase
            .extap up Next:
            p no can do
      .carousel-item.t40
        img(src="/img/investor_slider/no.jpg" alt="...").img-fluid 
        .carousel-caption
          h2 Does GrowthFountain recommend investment opportunities?
          h1.m-b-1 no can do
          p.m-b-1 No, we can't make any investment recommendations. We are simply a technology platform built for companies to list and meet potential investors. Please consult your advisors as it may result to any specific investment consideration. GrowthFountain does not vet, curate or recommend any offerings on our platform.

      a(href="#carousel-investor"
      role="button" 
      data-slide="prev").left.carousel-control
        span(aria-hidden="true").icon-prev
        span.sr-only Previous
      a(href="#carousel-investor"
      role="button" 
      data-slide="next").right.carousel-control
        span(aria-hidden="true").icon-next
        span.sr-only Next