section.home-section.bg-dark-alfa-30(style="background: url(/img/bg.jpg) center center no-repeat; background-size: cover;")
    .js-height-full
        .home-content.container
            .col-lg-12.home-text.text-lg-center
                h1.text-uppercase.dosis Investors and Entrepreneurs:
                .col-lg-4.offset-lg-4.text-lg-center.text-sm-center.text-xs-center.m-b-3
                    span.small-text connecting, funding, and enriching one another, one idea at a time.
                .col-lg-12
                    a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary.mr30 INVEST
                    span.hidden-xs  
                    a(href="/company/create").btn.btn-lg.btn-primary RAISE CAPITAL

section.home-wrap-text-block(style="background: url(/img/section-bg-3.jpg) center center no-repeat; background-size: cover;")
    .container.text-lg-center
        .col-lg-6.offset-lg-3
            h2.dosis.text-uppercase Invest in the great future
