li.nav-item.hidden-md-down
    a.nav-link(href=Urls['campaign-list']())
        i.fa.fa-search 
        |  Explore
li.nav-item.active
    a.nav-link(href="#") About us 
        i.fa.fa-angle-down
    .list-container
        ul.submenu.list-unstyled
            li
                a.nav-link(href="/pg/overview") Overview
            li
                a.nav-link(href="#") Team
            li
                a.nav-link(href="#") Partners
            li
                a.nav-link(href="#") Contact Us
            li
                a.nav-link(href="#") Careers
            li
                a.nav-link(href="/pg/news") In the News
            li
                a.nav-link(href="/pg/faq") FAQ
            li
                a.nav-link(href="/pg/blogs") Blog
    li.nav-item
        a.nav-link(href="#") Resource center 
            i.fa.fa-angle-down
        .list-container.two-columns
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Investors
                li
                    a.nav-link(href="/page/21") Investor Tutorial
                li
                    a.nav-link(href="/page/14") Educational Materials
                li
                    a.nav-link(href="/pg/investorquestions") FAQ
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Businesses
                li
                    a.nav-link(href="/page/21") Business Tutorial
                //- li
                //-     a.nav-link(href=Urls['campaign-list']()) Campaign Material
                li
                    a.nav-link(href="/page/22") Success Guide
                li
                    a.nav-link(href="/page/23") Capital Raise Caculator
                li
                    a.nav-link(href="/page/24") What's My Business Worth?
                li
                    a.nav-link(href="/pg/entrepreneurquestions") FAQ
    li.nav-item
        a.nav-link(href="/company/create") Raise Funds 
            i.fa.fa-angle-down
        .list-container
            ul.submenu.list-unstyled
                li
                    a.nav-link(href="/company/create") Publish Company
                li
                    a.nav-link(href="#") Publish Campaign
                li
                    a.nav-link(href="#") Fill Form C
                li
                    a.nav-link(href="#") Form C Review
