div.modal.fade
  div(role="document").modal-dialog
    div.modal-content
      div.modal-header
        button(type="button" data-dismiss="modal").close
          i.fa.fa-times
        h4.modal-title !{title || ''}
      div.modal-body
        | This is modal content
      div.modal-footer
        button(type="button" data-dismiss="modal").btn.btn-primary OK
        button(type="button" data-dismiss="modal").btn.btn-primary Cancel
