include mixins.pug

+breadcrumbs('Overview', '', 
    [
        ['Home', '/'],
        ['Overview', ''],
    ]
)

section.text_block
    .container
        .row

            .col-lg-12
                .row
                    .col-lg-12.text-xs-center
                        h2.text-uppercase.dosis.m0 Overview
                        
                .row
                    .col-lg-12.mt30
                        p We banded together with a simple mission – to connect small businesses to all the tools they need to succeed – including financial, human and social capital. Our goal is to level the playing field and make things easy for entrepreneurs to focus on what matters – their product or service! Please feel free to take advantage of all of the tools, tutorials and calculators we have available on our platform, including:

                        ul.mt25.list-unstyled.simple-list
                            li 
                                i &middot; 
                                | Raise Capital: Access our investor network to raise financial capital for your company
                            li
                                i &middot; 
                                | Advisor Network: We intend to help companies connect with individuals who have been there, done that and who might be able to give the right advice
                            li 
                                i &middot; 
                                | Education Material: How does investing in Regulation Crowdfunding offerings actually work?
                            li
                                i &middot; 
                                | Success Guide: This tool can help your company prepare your fundraising campaign
                            li
                                i &middot; 
                                | Investor and Business Tutorials: Delve deeper into the rules and obligations of Regulation Crowdfunding
                            li
                                i &middot; 
                                | Capital Raise Calculator: This tool helps you understand how much money you might need to raise to accomplish your goals
                            li 
                                i &middot; 
                                | What’s my Business Worth?: This tool helps you benchmark valuations for similar companies
                            li
                                i &middot; 
                                | Blog: Read and contribute to GrowthFountain’s Blog!
                            li
                                i &middot; 
                                | FAQ: Scroll through our Frequently Asked Questions to gain additional insight into how it all works Together, we can help support entrepreneurs and grow businesses that otherwise might not have had this opportunity.

                        