section.raise-capital-landing
  .top-baner.home-wrap-text-block.m-t-0
    .opasity-block
      .wrap.text-xs-center
        img(src="/img/gf_icon.png").logo-banner
        h1.big-h1.text-uppercase.m-t-0 Turn your customers into owners
          br
          | and access our investor network
        h2.font-weight-light.m-t-1.m-b-2 Raise $25,000 - $1,000,000 per year
        a(href="#").btn.btn-primary.btn-lg Start Campaign
  .content-section
    .top-section
      .container
        .row
          .col-xl-12
            .col-xl-6.col-lg-6.col-md-12
              .growth-is
                .content
                  h3.text-uppercase.m-b-1.m-t-0 GrowthFountain is a community focused on investing in small businesses and startups.
                  p But you’ll need to get the ball rolling first by getting your most loyal followers involved. This is the chance to turn your customers, community and network into owners!  This will empower them to spread the word about your company. Once you receive early traction, you can attract more investors from our network.
              
            .col-xl-6.col-lg-6.col-md-12
              .good-candidate
                h2.font-weight-light.text-xs-center Is my business a good candidate?
                h3.m-t-0.font-weight-bold GrowthFountain doesn’t vet your application,we just screen for fraud. We have seen that successful issuers tend to share many of these attributes:
                p But you’ll need to get the ball rolling first by getting your most loyal followers involved. This is the chance to turn your customers, community and network into owners!  This will empower them to spread the word about your company. Once you receive early traction, you can attract more investors from our network.
                ul.m-b-0
                  li - An existing customer base
                  li - People who love your product or service
                  li - A strong social media presence
                  li - A product or service that’s easy to understand
                  li - More than one team member

  
  //section.content-bottom
    .container
      .row
        .col-xl-12.text-xs-center
          h2.text-uppercase How do I get started?
        .col-xl-7.offset-xl-3.col-lg-10.offset-lg-2
          .how-do
            p Please look over our checklist before starting your campaign:
            ul.p-l-0
              li
                i.fa.fa-check-square-o
                span.font-weight-bold Video 
                | that draws people in and connects them to your team, product or service
              li
                i.fa.fa-check-square-o
                span.font-weight-bold Photos 
                | that demonstrate what you’re all about
              li
                i.fa.fa-check-square-o
                span.font-weight-bold Investor Presentation 
                | that easily explains your business
              li
                i.fa.fa-check-square-o
                span.font-weight-bold Business Plan. 
                | No need to give away trade secrets or make financial projections
              li
                i.fa.fa-check-square-o
                span.font-weight-bold Marketing budget 
                | to help spread the word on your campaign
          .call-block
            i.fa.fa-phone
            span Have a question? We would love to chat – 
              strong (646)759-8229
          .call-block.m-t-1
            i.fa.fa-question
            span Other 
              a(href="/pg/entrepreneurquestions").link-3 FAQ
      
  //section.home-wrap-text-block.raise-wrap.hide-bg-fixed.raise-landing-section
    .opasity-block
      .container.text-lg-center.text-xs-center
        .wrap
          .col-lg-6.offset-lg-3
            h2.text-uppercase.m-t-0  Raise more than money. Raise awareness.
            h3.font-weight-light Your investors are a new community of supporters for your business.
              br
              | Their ability to spread the word about the great things
              br
              | you’re doing are as valuable as their dollars...
          .row.m-t-3
            .col-xl-12.text-xs-center
              a(href="#").btn.btn-primary.btn-lg Start Campaign