section.raise-capital-landing
  .top-baner.home-wrap-text-block.m-t-0
    .opasity-block
      .wrap.text-xs-center
        img(src="/img/gf_icon.png").logo-banner
        h1.big-h1.text-uppercase.m-t-0 Turn your customers into owners
          br
          | and access our investor network
        h2.font-weight-light.m-t-1.m-b-2 Raise $25,000 - $1,000,000 per year
        a(href="#").btn.btn-primary.btn-lg Start Campaign
  .content-section
    .container
      .row
        .col-xl-12
          .col-xl-6.p-x-0
            .growth-is
              .content
                h1.text-uppercase.m-b-1 GrowthFountain is a community focused on investing in small businesses and startups.
                p But you’ll need to get the ball rolling first by getting your most loyal followers involved. This is the chance to turn your customers, community and network into owners!  This will empower them to spread the word about your company. Once you receive early traction, you can attract more investors from our network.
          .col-xl-6.p-x-0
            .good-candidate.text-xs-center
              h2.font-weight-light Is my business a good candidate?
              .color-effect
                i.fa.fa-question-circle


