include mixins.pug
- 'use strict'
- var fields = { ein: { label: 'Please enter your company`s EIN'} };
- var fields = { street_address: { label: 'Street Address'} };
- var fields = { optional_address: { label: 'Optional Address'} };
- var fields = { zip_code: { label: 'Zip Code'} };
- var fields = { phone: { label: 'Phone'} };
- var fields = { social_security: { label: 'Social Security'} };

+breadcrumbs('form c and electronic signature', '', 
    [
        ['', ''],
        ['', ''],
        ['', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  //START LEFT BLOCK
  .col-lg-3.create_compaign
    .jumbotron.jumbotron-fluid.row
        .raise-funds
          h4.font-weight-bold.text-uppercase.m-b-0 REQUIRED INFORMATION
            .small-text (10% Done)
        .list-group
          a(href="#").list-group-item Background Check
          a(href="#").list-group-item Form C Electronic Signature  
    


  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis Company Form C Electronic Signature – Signature on Behalf of Company
    form(metod="post" action="").form-section
      .col-lg-12
        p.pb10 Company Name} is preparing to file its Form C Offering Material and to officially begin their fundraising campaign.
        p.pb10 Congratulations on this exciting milestone for your company!
        p The Form C is a legally required document that we anticipate filing with the SEC to commence your Offering through our Funding Portal.
        p The SEC requires each issuer to include in the Form C all the material information that is necessary to make the statements in the Form C not misleading. Intentional misstatements or omissions of fact constitute federal criminal violations. See 18 U.S.C. 1001. Including any material misstatements in the Form C could invalidate the Offering, so please review the contents carefully.  

      .col-lg-12.m-t-2.m-b-2
        a(href="#").link-2 Click Here to View the Form C Offering Statement and Electronically Sign


    
      .col-lg-12.m-b-2
        iframe(src="http://resume2015.ru/shablon-rezyume.pdf" type="application/pdf" style="width:100%; height:680px;" frameborder="0").m-t-1.m-b-2
        p Pursuant to the requirements of Sections 4(a)(6) and 4A of the Securities Act of 1933 and Regulation Crowdfunding (§ 227.100-503), the issuer certifies that it has reasonable grounds to believe that it meets all of the requirements for filing Form C and has duly caused this Form to be signed on its behalf by the duly authorized undersigned. 
      .row
        .col-lg-12.form-group
          .col-lg-6
            input(type="text" placeholder="Company Name").form-control
            .help-block Company Name (auto-populate)
      
      .col-lg-12.investment

        .form-group.row
          .col-lg-3
            input(type="text" placeholder="Type Your Name").form-control
            .help-block Type your name here
          .col-lg-3
            .electronically
              span.by By:
              span.name Maria Kravchuk
      .row
        .col-lg-12.form-group
          .col-lg-6
            input(type="text" placeholder="Title").form-control
            .help-block Title (pre-populate CEO/President)
      .col-lg-12.m-b-2
        p Pursuant to the requirements of Sections 4(a)(6) and 4A of the Securities Act of 1933 and Regulation Crowdfunding (§ 227.100-503), this Form C has been signed by the following persons in the capacities and on the dates indicated.

      
      .col-lg-12.investment

        .form-group.row
          .col-lg-3
            input(type="text" placeholder="Type Your Name").form-control
            .help-block Type your name here
          .col-lg-3
            .electronically
              span.by By:
              span.name Maria Kravchuk
      .row
        .col-lg-12.form-group
          .col-lg-6
            input(type="text" placeholder="Title").form-control
            .help-block Title (pre-populate CEO/President)
      .row
        .col-lg-12.form-group
          .col-lg-6
            input(type="text" placeholder="Date").form-control
            .help-block Date (auto-populate)
      .m-t-1
        .col-lg-12.text-md-center.text-sm-center-text-xs-center
          a(href="#").btn.btn-primary.text-uppercase.pull-lg-right submit