.container
  .col-xl-10.offset-xl-1
    section.page
    p.m-t-3.text-uppercase.font-weight-bold.text-justify  THE SECURITIES DESCRIBED HEREIN ARE BEING OFFERED PURSUANT TO SECTION 4(A)(6) OF THE SECURITIES ACT OF 1933 (THE "ACT") AND HAVE NOT BEEN REGISTERED UNDER THE ACT OR THE SECURITIES LAWS OF ANY STATE OR ANY OTHER JURISDICTION. THERE ARE RESTRICTIONS ON THE TRANSFERABILITY OF THE SECURITIES DESCRIBED HEREIN AND NO RESALE MARKET MAY BE AVAILABLE AFTER THESE RESTRICTIONS EXPIRE. 
    h1.m-t-3.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold
      u SUBSCRIPTION AND PURCHASE AGREEMENT FOR COMMON STOCK
    
    p.pb10.text-justify This Subscription and Purchase Agreement (this 
      b "Agreement"
      | ) is made as of Commitment_Date_X by and between issuer_legal_name, a company incorporated in jurisdiction_of_organization (the 
      b "Company"
      | and investor_legal_name (
      b  "Subscriber" 
      | ).For good and valuable consideration and intending to be legally bound, the Company and Subscriber agree as follows:
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-b-0 ARTICLE I
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-t-0 SUBSCRIPTION AND COMMITMENT TO PURCHASE
    ol
      li.pb10.text-justify
        b 
          u Subscription to Purchase.
        |  Subject to the terms and conditions set forth in this Agreement, Subscriber hereby subscribes for and agrees to purchase shares of Common Stock of the Company (each individually, a
        b  "Share" 
        | and collectively, the
        b  "Share"
        | ) at a purchase price of $price_per_share per Share.  The total number of Shares that the Subscriber is committing to purchase pursuant to this Agreement is investor_number_purchased.  The Subscriber acknowledges and agrees that the agreement to purchase the Shares contained in this Agreement is a firm commitment by Subscriber, revocable only under certain conditions as set forth herein.  Subscriber understands and accepts that (a) the offer to purchase the Shares is not effective until accepted by the Company, (b) the offering of the Shares may be cancelled or otherwise withdrawn as set forth in this Agreement and (c) Subscriber’s subscription for and commitment to purchase the Shares is not a guarantee that the Shares will be sold to Subscriber.
      li.pb10.text-justify
        b 
          u Usage of a Crowdfunding Portal.
        |  Subscriber understands that the Company has elected to offer the Shares (the
        b  "Offering"
        | ) through a proprietary electronic web-based communications platform (the
        b  "Platform"
        | ) operated by, GrowthFountain Capital, LLC (the
        b  "Portal"
        | ), a Delaware limited liability company registered with the U.S. Securities and Exchange Commission (the
        b  "SEC"
        | ) as a funding portal.  The Offering is listed on the Platform pursuant to an exemption from the registration requirements of Section 5 of the Securities Act of 1933 (the
        b  "Act"
        | ) for certain crowdfunding transactions carried out pursuant to Section 4(a)(6) of the Securities Act and the rules promulgated in connection therewith (the
        b  "Crowdfunding Exemption"
        | ). This Offering is made pursuant to the Form C filing, filed with SEC, a copy of which has been made available to Subscriber on the Platform.  Subscriber acknowledges that Subscriber has registered for an account on the Platform and has agreed to the Terms of Use and Funding Portal Participation Agreement made available on the Platform. Subscriber understands and accepts that (a) all communications to and from the Company relating to the Offering must be through the communication channels available on the Platform, (b) Subscriber will be identified by name in any communications channels available on the Platform and (c) the Portal is not a broker dealer and neither the Portal nor any of its affiliates or representatives is providing any investment advice or making any recommendations with respect to the Offering.
      li.pb10.text-justify
        b 
          u Conditional Nature of Crowdfunding Transactions.
        |  Subscriber understands and accepts that (a) the subscription to purchase Shares pursuant to this Agreement may be rejected by the Company at any time, (b) the Offering may be cancelled if certain minimum dollar amounts are not committed by potential investors through the Platform prior to deadlines set forth in the Form C and related offering material of the Company made available on the Platform (collectively with the information provided by the Company in connection with the Offering through the communications channel on the Platform, as may be amended from time to time, the
        b  "Offering Material"
        | ), (c) the Offering may be removed from the Platform by the Portal at any time, and (d) the Company may choose to close the Offering at a different closing date than originally intended, so long as the offering remains listed on the Platform for a minimum of twenty one (21) days and the Subscriber is properly notified of any such change.  The Company will notify Subscriber whether the Subscriber’s subscription to purchase Shares contained in this Agreement is accepted or rejected, with such notification to be made available through the Platform. If the sale of the Shares through the Offering is not consummated for any reason, then Subscriber’s committed funds will be returned, less any fees due to the Portal, without interest consistent with the terms of this Agreement. Subscriber understands that the Platform, the Offering Material and information related to the Offering and its status are available at www.growthfountain.com or a subdomain related thereto.
      li.pb10.text-justify
        b 
          u Ability to Cancel Subscription.
        |  Subscriber shall have the ability to cancel and withdraw the subscription and commitment to purchase the Shares contained in this Agreement at any time prior to the date that is 48 hours prior to the End Date (as defined below, it being understood that this deadline date shall be the deadline date first identified in the Offering Material and may change pursuant to the terms of this Agreement).  Subscriber understands that if the Company intends to close the Offering on a date that is earlier than the deadline date first stated in the Offering Material, then the Company will, directly or indirectly, provide Subscriber with at least five business days prior notice with respect to such revised deadline date.  If Subscriber cancels the subscription and commitment to purchase Shares contained in this Agreement, Subscriber’s committed funds will be returned, less any fees due to the Portal, without interest consistent with the terms of this Agreement.
      li.pb10.text-justify
        b 
          u Material Changes to the Offering.
        |  If there is a material change to the terms of the Offering Material, the Company shall direct the Portal to send to the Subscriber a notice of such material change and a notice that
        b  Subscriber’s subscription will be cancelled unless Subscriber reconfirms such subscription 
        | within five business days of Subscriber’s receipt of such notice.  If Subscriber fails to reconfirm Subscriber’s subscription within such reconfirmation period, such subscription will be cancelled automatically by the Portal consistent with the requirements of the Crowdfunding Exemption and the Portal will send to Subscriber a notification that such subscription was cancelled.Under such circumstances where a Subscriber’s subscription is cancelled because Subscriber failed to reconfirm their subscription after receiving the notice of a material change to the Offering Material, Subscriber’s committed funds will be returned, less any fees due to the Portal, without interest consistent with the terms of this Agreement.
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-b-0 ARTICLE II
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-t-0 CLOSING DATE AND PAYMENT MECHANICS
    ol
      li.pb10.text-justify
        b 
          u Establishment of Escrow.
        |  Subscriber understands that in connection with the Crowdfunding Exemption and the related rules and regulations promulgated by the SEC, the Portal is prohibited from holding, possessing or handling any Subscriber funds committed in connection with the Offering as contemplated in this Agreement.  Subscriber acknowledges that Subscriber has agreed to the terms and conditions listed on the Platform relating to the Portal’s use of a third-party escrow agent and Subscriber hereby confirms acceptance of such use, including any use of a third-party originator of automatic clearinghouse transactions.  In connection with the execution of this Agreement, Subscriber agrees to promptly commit a payment in the amount of $aggregate_inclusive_purchase (which includes an amount equal to $investment_amount representing the payment for the Shares and an amount equal to $fees_to_investor representing the fees charged to Subscriber in connection with the use of the Platform, such amount collectively, the
        b  "Total Purchase Price"
        | by performing one of the following options: (a) by sending a bank check representing immediately available funds sent to Boston Private Bank (the
        b  "Escrow Agent"
        | ), (b) by arranging a wire transfer of immediately available funds to the Escrow Agent , or (c) by providing the Portal with Subscriber’s bank information including, but not limited to, the account number and routing number so that the Portal can direct a third party to originate an automatic clearinghouse withdrawal from such account of immediately available funds to be transferred to the Escrow Agent. Subscriber understands that the Total Purchase Price sent to the Escrow Agent will be held in escrow, for the benefit of all investors participating in the Offering, consistent with the terms of the Escrow Agreement entered into between the Portal and Escrow Agent.If Subscriber's subscription is cancelled for any reason, the dollar amount equal to $investment_amount that was committed to the Escrow Agent shall be refunded to Subscriber without any accrued interest, it being understood that $fees_to_investor will not be refunded and will be released by the Escrow Agent to the Portal. If Subscriber decides to provide the Portal with Subscriber’s bank information including the account number and routing number, then Subscriber agrees and confirms that in so doing Subscriber authorizes Portal to share such information with the third party automatic clearinghouse originator and authorizes such originator to make the identified withdrawal and transfer of the Total Purchase Price. Subscriber agrees to comply with the instructions provided through the Platform with respect to all payments of the Total Purchase Price to the Escrow Agent. 
      li.pb10.text-justify
        b 
          u Establishment of Closing Date.
        |  The Company may accept subscriptions until the deadline date identified in the Offering Material (the
        b  "End Date"
        | ), unless such date is modified by written notice from the Company consistent with the terms of this Agreement and the Crowdfunding Exemption at which point such new date shall be deemed to be the End Date for purposes of this Agreement. Provided that subscriptions for an aggregate dollar value of at least $minimum_raise in investment commitments (such dollar value, the
        b  "Minimum Amount"
        | are received through the Platform prior to the End Date, the Company may elect at any time to close this Offering on any date prior to the End Date provided that the Company delivers to Subscriber written notice of such new desired date for closing at least five business days prior to such new desired date of closing (it being understood, as stated above, that such new desired date of closing shall be deemed to become the ͞End Date͟ for purposes of this Agreement and replace any previously identified End Date). Subscriber understands and accepts that, prior to the End Date, the Company may elect to continue accepting subscriptions after the Minimum Amount is achieved for so long as the aggregate dollar value of investment commitments subscribed for is less than or equal to $maximum_raise (such dollar value, the
        b  "Oversubscription Amount"
        | )Subscriber understands that should the Company amend their Offering Material or notify the Portal of a material change in the Offering, the Company will have the ability to adjust the End Date provided that each potential investor is given sufficient time to review such material changes.  In any instance where the Company through the Platform notifies the Subscriber of a change to the Offering and a change to the End Date, Subscriber accepts and understands that the End Date for such Offering will be such date identified in such notice (provided that the Subscriber is given sufficient notice consistent with Regulation Crowdfunding).  For any End Date where the Minimum Amount has been achieved and the Oversubscription Amount has not been exceeded, such date shall be referred to as the
        b  "Closing Date"
        | for purposes of this Agreement and shall in all cases be at least twenty-one (21) days after the date of filing of the Form C with SEC. 
      li.pb10.text-justify
        b 
          u Release of Payment.
        |  Upon the terms and subject to the conditions of this Agreement and provided (a) the Subscriber’s subscription has not been cancelled or rejected prior to the Closing Date and (b) the Offering has not been removed or withdrawn from the Platform prior to the Closing Date, Subscriber hereby agrees to purchase, and the Company hereby agrees to issue, sell and deliver to Subscriber, at the Closing Date, the Shares for an amount equal to the $investment_amount. In connection with such purchase and sale, Subscriber understands and agrees that the Portal shall instruct the Escrow Agent to release, and the Escrow Agent shall release, the Total Purchase Price to the Company, less any costs, expenses and fees owed or due to the Portal which shall be released to the Portal.  Subscriber acknowledges and accepts that if Subscriber does not timely cancel the commitment to purchase, then the commitment to purchase shall become irrevocable. In connection with the release of funds by the Escrow Agent, the Company and Subscriber will remotely exchange documents via the Platform.  Subscriber acknowledges that the Company has the right toaccept or reject this subscription for any reason, and that this subscription shall be deemed to be accepted by the Company only when this Agreement is delivered to Subscriber. Upon rejection of the subscription under this Agreement for any reason, the dollar amount equal to $investment_amount that was committed to the Escrow Agent shall be refunded to Subscriber without any accrued interest, it being understood that $fees_to_investor will not be refunded and will be released by the Escrow Agent to the Portal.
      li.pb10.text-justify
        b 
          u Delivery of Shares and Restrictive Legend.
        |  Following a reasonable time after the Closing Date, the Company shall deliver to Subscriber a certificate representing the Shares purchased by Subscriber or, alternatively, Subscriber shall receive notice and evidence of the digital entry of the number of the Shares owned by Subscriber reflected on the books and records of the Company and verified by a transfer agent designated by the Company (the
        b  "Transfer Agent"
        | ), which books and records shall bear a notation that the Shares were sold in reliance upon the Crowdfunding Exemption.Subscriber agrees that, in order to ensure compliance with the restrictions referred to herein, the Company may issue appropriate ͞stop transfer͟ instructions to its Transfer Agent and the Company shall not be required to transfer on its books any Shares that have been sold or otherwise transferred in violation of any of the provisions of this Agreement. Each certificate representing any Shares may be endorsed with a legend reflecting the terms of this Agreement.
      li.pb10.text-justify
        b 
          u Acknowledgement of Fees.
        |  In connection with the execution of this Agreement by the Subscriber, Subscriber acknowledges and agrees that the Portal may collect a non-refundable participation fee from Subscriber in an amount equal to $fees_to_investor.  Subscriber accepts that such participation fee will be retained by the Portal (regardless of whether the Offering is successful or whether the Subscriber is able to purchase the Shares) and that any repayment amounts calculated in connection with the Shares from the Escrow Agent will not take into consideration such participation fee.  Subscriber understands and accepts that, in connection with the Closing Date, the Portal will receive, directly or indirectly, a dollar amount equal to the sum of all the following: (a) a transaction fee equal to trans_percent% of the total amount of monies raised in the Offering for the purchase of securities offered by the Company, payable upon success, (b) a registration and processing fee equal to $registration_fee payable upon registration, (c) a third-party fees equal to $party_fees payable upon success and (d) a participation fee equal to $fees_to_investor committed to by the investor.
      li.pb10.text-justify
        b 
          u Irrevocable Commitment.
        |  Subscriber understands that Subscriber shall have the right and ability to cancel the commitment to invest set forth in this Agreement up until the date that is forty-eight (48) hours before the End Date, after which the Subscriber agrees that the commitment to purchase the Shares as set forth herein shall be irrevocable.  Subscriber understands that the offer and commitment to purchase the Shares, as set forth herein shall not be accepted until this Agreement is countersigned by the Company and delivered to Subscriber or otherwise made available to Subscriber through the Platform.
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-b-0 ARTICLE III
    h2.text-uppercase.text-xs-center.letter-spacing-normal.font-weight-bold.m-t-0 REPRESENTATIONS AND WARRANTIES OF THE COMPANY
    ol
      li.pb10.text-justify
        b 
          u True and Complete.
        |  The Company represents and warrants to Subscriber that the statements contained in this Article III are true and complete in all material respects as of the Closing Date, except as otherwise indicated. The Company further represents and warrants that the information contained in the Offering Material filed with the SEC is also true and complete in all material respects. The Form C, or the latest amendment thereof, filed with the SEC in connection with the Offering is accurate and complies with Regulation Crowdfunding. The Company will be deemed to have "knowledge" of a particular fact or other matter if one of the Company’s current officers has, or at any time had, actual knowledge of such fact or other matter.
      li.pb10.text-justify
        b 
          u Organization and Standing.
        |  The Company is duly formed, validly existing and in good standing under the laws of the State of jurisdiction_of_organization. The Company has all requisite power 
      li.pb10.text-justify
        b 
          u Authority and Issuance.
        |  The issuance, sale and delivery of the Security in accordance with this Agreement have been duly authorized by all necessary corporate action on the part of the Company. The Security, when so issued, sold and delivered against payment therefor in accordance with the provisions of this Agreement, will be duly and validly issued, all in compliance with the Crowdfunding Exemption.  All corporate action on the part of the Company necessary for the authorization of this Agreement, the performance of all obligations of the Company hereunder on the Closing Date and the authorization, sale, issuance and delivery of the Security pursuant hereto has been taken or will be taken prior to the Closing Date. Upon full execution hereof, this Agreement shall constitute a valid and binding agreement of the Company, enforceable against the Company in accordance with its terms, except as limited by applicable law.
      li.pb10.text-justify
        b 
          u Financial statements.
        |  Complete copies of the Company’s financial statements have been made available to the Subscriber and appear in the Offering Material and on the Platform (the
        b  "Financial Statements"
        | ). The Financial Statements are based on the books and records of the Company and fairly present the financial condition of the Company as of the respective dates they were prepared and the results of the operations and cash flows of the Company for the periods indicated. The Financial Statements comply with the requirements of the Crowdfunding Exemption and have been certified by the principal executive officer of the Company (or an independent public accountant for raises over $100,000) to be true and complete in all material respects.
      li.pb10.text-justify
        b 
          u No Litigation and No Violation.
        |  To the knowledge of the Company, there is no pending action, suit, proceeding, arbitration, mediation, complaint, claim, charge or investigation before any court, arbitrator, mediator or governmental body, that could materially impact the Company or its business or the obligations contained in this Agreement. The performance and consummation of the transactions contemplated by this Agreement do not and will not: (i) violate any material judgment, statute, rule or regulation applicable to the Company or (ii) result in the acceleration of any right in any contract to which the Company is a party or by which it is bound.
      li.pb10.text-justify
        b 
          u No Disqualification Event.
        |  The Company hereby represents and warrants to Subscriber and to the Portal that none of the Company, any of its predecessors, any affiliated issuer, any director, officer, general partner or managing member of the Company, any beneficial owner of 20% or more of the Company’s outstanding voting equity securities, calculated on the basis of voting power, any promoter connected with the Company in any capacity at the time of sale, any person that has been or will be paid (directly or indirectly) remuneration for solicitation of purchasers in connection with he Offering (nor any general partner, director, officer or managing member of any such soliciting person) (each, a
        b  "Covered Person"
        | ) is subject to any of the ͞Bad Actor͟ disqualifications described in Rule 503 of Regulation Crowdfunding (a
        b  "Disqualification Event"
        | ) as of the Closing Date. The Company has exercised reasonable care to determine whether any Covered Person is subject to a Disqualification Event, including, without limitation, making, in the light of the circumstances, factual inquiry into whether any Disqualification Event exists.  The Company has not in any way misled the Portal regarding the identities of each Covered Person or taken any action to prevent a Covered Person from being identified.