include mixins.pug

+breadcrumbs('Team', '', 
    [
        ['Home', '/'],
        ['Team', ''],
    ]
)

section.text_block.information-page
    .container
        .row
            .offset-lg-2.col-lg-8.text-sm-center
                h2.text-uppercase.dosis.m0 Team

                p.mt20 Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.

        .team-member-list
            .row
                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/ken.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | Kenneth Staut
                                    .small-text.opensans CFO

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/leon.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | leon stiel
                                    .small-text.opensans CEO

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/kevin.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | KEVIN MATUSZEWSKI
                                    .small-text.opensans Director

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/kim.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | KIMBERLY RUSSO
                                    .small-text.opensans eCommerce Leader

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/joe.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | JOE ESPOSITO
                                    .small-text.opensans CFA

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/dave.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | DAVE LURVEY
                                    .small-text.opensans CFA

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.

                .col-lg-4.offset-lg-4.mt50
                    article 
                        figure.m0
                            p
                                img(src="/img/pages/andrew.png").img-fluid
                            figcaption
                                h4.dosis.text-uppercase.text-xs-center.mt20
                                    | Andrew Kim
                                    .small-text.opensans Advisor

                                p.text-xs-center
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Consectetur adipiscing elit. Integer posuere erat a ante. Mauris non ipsum molestie, sagittis elit ac, vulputate odio.











