include mixins.pug

+breadcrumbs('Team', '', 
    [
        ['Home', '/'],
        ['Team', ''],
    ]
)

section.text_block.information-page
    .container
        .row
            .col-lg-3 
                .page_title.border-bottom.mb25
                    h4.text-uppercase.dosis ABOUT US
                ul.list-unstyled.mb50.custom
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/overview') Overview
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/team') GrowthFountain Team
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/contact') Contact Us
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/careers') Careers
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/faq') FAQ
                    li
                        a.d-inline-block.w-100.pb10(href='/pg/news') In the News
                    li
                        // у последнего елемента <a> клас pb10 отстутствует
                        a.d-inline-block.w-100(href='/pg/blogs') Blog

            .team-member-list
                .col-lg-9
                    .row
                        .col-lg-10.text-sm-center
                            h2.text-uppercase.dosis.m0 Meet GrowtFountain Team

                    .row
                        .col-lg-5.mt50
                            article(data-id-text="#teamMemberOne")
                                figure.m0
                                    p.img
                                        img(src="/img/pages/ken.png").img-fluid
                                    figcaption
                                        h4.text-uppercase.text-xs-center.mt20.m-b-0
                                            | Kenneth Staut
                                            .small-text.opensans CEO

                        .col-lg-5.mt50
                            article(data-id-text="#teamMemberTwo")
                                figure.m0
                                    p.img
                                        img(src="/img/pages/leon.png").img-fluid
                                    figcaption
                                        h4.text-uppercase.text-xs-center.mt20.m-b-0
                                            | Leon Stiel
                                            .small-text.opensans CTO

                        #teamMemberOne.col-lg-10.biography-text
                            p.text-justify
                                b Kenneth Staut.  
                                | I grew up in suburban Pittsburgh. My dad was a small local business owner and at a very young age, I saw first hand the positive impact a small business can have on the local community - and also witnessed the difficult nature of accessing the capital and resources necessary to grow. I became fascinated with the interworking's of capitalism, which of course led me to Wall Street, where I have been involved in asset management for the last fifteen years. When I read the JOBS Act, I immediately realized how revolutionary crowdfunding for small businesses would be - a "full circle" of sorts back to my formative years - and couldn’t wait to get involved! It is the perfect synthesis of my being; it combines my grass-roots entrepreneurial spirit with my Wall Street finance background. At GrowthFountain, we are making a real difference for entrepreneurs by leveling the playing field.

                        #teamMemberTwo.col-lg-10.biography-text
                            p.text-justify
                                b Leon Stiel.  
                                | I grew up spending my summers going door-to-door campaigning for local community issues and attending computer camp, here in New York. When I graduated high school, I received a scholarship to Carnegie Mellon, where I worked across disciplines, majoring in Art, while taking coursework in Computer Science, and Artificial Intelligence. After graduating, I leveraged my multidisciplinary education at a groundbreaking web development firm, Oven Digital. We worked on building innovative luxury websites for companies from Tiffany & Co to the Museum of Modern Art to LVMH. I rose quickly through the ranks to become Chief Strategy Officer, advising a multitude of startups & established companies including Starwood Hotels and IBM. I even helped to pass a law creating an e-commerce exchange in Bermuda. Not a bad first experience with web technology! After Oven Digital, I helped to found a hedge fund, as Chief Technology Officer. I worked to develop the core infrastructure, built the development team, and transitioned to an active role in trading, as a portfolio manager. This gave me an interesting mix of web and financial experience, and I got to meet Ken Staut. Ultimately, I transitioned to a larger technology role at Credit Suisse, designing systems for the convertibles and derivatives business. This gave me the opportunity to work with the latest technologies on Big Data projects, to help identify patterns in trading activity and manage risk. My diverse background — from going door to door in support of local interests as a kid, to combining an Art and Technology in my education, to gaining financial and Big Data experience — positions me perfectly to help us all capitalize on the exciting opportunity of GrowthFountain.

                        .col-lg-5.mt50
                            article(data-id-text="#teamMemberThree")
                                figure.m0
                                    p.img
                                        img(src="/img/pages/kevin.png").img-fluid
                                    figcaption
                                        h4.text-uppercase.text-xs-center.mt20
                                            | KEVIN MATUSZEWSKI
                                            .small-text.opensans Director

                        .col-lg-5.mt50
                            article(data-id-text="#teamMemberFour")
                                figure.m0
                                    p.img
                                        img(src="/img/pages/kim.png").img-fluid
                                    figcaption
                                        h4.text-uppercase.text-xs-center.mt20
                                            | KIMBERLY RUSSO
                                            .small-text.opensans Marketing Director

                        #teamMemberThree.col-lg-10.biography-text
                            p.text-justify
                                b Kevin Matuszewski.  
                                | I’m a writer, a director, an editor, an animator and a photographer. For more than 20 years, this creative skill set has allowed me to successfully communicate and connect with advertising audiences in both the US and around the world. For me, it’s always been about clear and creative storytelling. Some of the more prominent campaigns I have worked on have been for Pepsi, Coke, Este Lauder, Gillette, Honda, HP, Verizon, ATT, Nokia, M&Ms, E-trade, Maxell, and the NFL.

                        #teamMemberFour.col-lg-10.biography-text
                            p.text-justify
                                b Kimberly Russo.  
                                | I am an online marketer and eCommerce leader that is fascinated by what stimulates a user to act. We are more connected today than ever before and as technology grows we adapt and change the way we go about our daily lives; expanding connections and deepening communications as well as providing a seamlessness transactions. Unearthing how users react to the various modes of communication and ways to transact is a passion that fuels me in my professional career as well as a general user. With the crowdsourcing space growing, the world of crowdfunding is prime for major change. It is my intent to help everyone get their message crafted and broadcasted in a way that drives mutually beneficial and long term partnerships, mentorships, and investments.

                        .col-lg-5.mt50
                            article(data-id-text="#teamMemberFive")
                                figure.m0
                                    p.img
                                        img(src="/img/pages/joe.png").img-fluid
                                    figcaption
                                        h4.text-uppercase.text-xs-center.mt20
                                            | JOE ESPOSITO
                                            .small-text.opensans Senior Advisor


                        #teamMemberFive.col-lg-10.biography-text
                            p.text-justify
                                b Joe Esposito.  
                                | Joe serves as a senior advisor to GrowthFountain. He has spent 14 years in the financial services industry, serving in a variety of operational, investment, and technical roles. Joe has an MBA from Columbia Business School, and a BA from The College of New Jersey. He is a wonderful uncle, and a fine cook.

    .bg-team-wrap.clearfix.mt50
        .container
            .row
                .col-lg-12.text-xs-center
                    h2.dosis.text-uppercase.mb25
                        | Want to work with us
            .row
                .col-lg-6.offset-lg-3.text-xs-center
                    p
                        | We're always looking for additional team members who understand how revolutionary and transformative the crowdfunding initiative is.
            .row
                .col-lg-12.text-xs-center.mt25
                    a(href="/pg/careers").btn.btn-lg.btn-secondary.text-uppercase JOIN NOW












