include mixins.pug
- 'use strict'
- var fields = { first_name: { label: 'First Name'} };
- var fields = { last_name: { label: 'Last Name'} };
- var fields = { email: { label: 'Email Address'} };
- var fields = { number_of_shares: { label: 'Number of Shares'} };
- var fields = { class_securities: { label: 'Class of Securities'} };
- var fields = { voting_pover: { label: '% of Voting Power Prior to Offering'} };


+breadcrumbs('form c', '', 
    [
        ['Home', '/'],
        ['FORM C', ''],
        ['team members (20% voting shareholder)', ''],
    ]
)

section.formc-team-members-director.container.m-b-85
  //START LEFT BLOCK
  .col-lg-3.create_compaign

    .row
      .education-link-wrap
        .jumbotron.jumbotron-fluid
          h4.font-weight-bold.text-uppercase
            i.fa.fa-book
            |  education Links
          .nav
            li.nav-item
              a(href="/pg/investor_tutorial").nav-link.link-3 Issuer Tutorial
            li.nav-item
              a(href="/pg/success_guide").nav-link.link-3 Success Guide
            li.nav-item
              a(href="/calculator/capitalraise/intro").nav-link.link-3 What's My Business Worth?
            li.nav-item
              a(href="#").nav-link.link-3 How Much Should I Raise?



  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.dosis Team members (20% voting Shareholder)
    h3.text-lg-left.text-xs-center.col-lg-12.m-t-1 20%+ Voting Shareholder:
    p.col-lg-12.m-b-2 No earlier than 120 days prior to the date of this offering, please list beneficial owners of 20% or more of issuer’s outstanding voting equity securities.  To calculate total voting power, include direct/indirect shares, include the right through the exercise of options/warrants/conversion, or if securities are held by a family member, through corporations or partnerships, co-trustee, etc. To calculate outstanding voting equity securities, assume all outstanding options are exercised and all outstanding convertible securities converted.
    form(metod="post" action="").form-section
      +fieldBlock("first_name", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: 'First Name',
        })
      +fieldBlock("last_name", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: 'Last Name',
        })
      +fieldBlock("email", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: 'Email Address',
        })
      +fieldBlock("number_of_shares", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: 'Number of Shares',
        })
      +fieldBlock("class_securities", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: 'Class of Securities',
        })
      +fieldBlock("voting_pover", '', {
        class1: 'col-lg-3 col-md-12 text-md-left p-t-0 m-b-0',
        class2: 'col-lg-9 col-md-12',
        type: 'text',
        placeholder: '% of Voting Power Prior to Offering',
        })
      .row.m-t-3
        .col-lg-12.text-md-center.text-sm-center-text-xs-center
          a(href="/company/create").btn.btn-primary.text-uppercase.pull-lg-right Save