div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#videoModal.modal.fade.video-modal
  div(role="document").modal-dialog.modal-lg
    button(type="button", data-dismiss="modal", aria-label="Close").close
      span(aria-hidden="true") &times;
    .modal-content
      .embed-responsive.embed-responsive-16by9
        //- #video-iframe-container
        iframe(
          src=url
          allowfullscreen="true"
          data-provider=provider
          data-id=id
        )#video-iframe-container.embed-responsive-item