.page_title.border-bottom.mb25
  h4.text-uppercase CATEGORIES
ul.list-unstyled.mb50.custom.pages-left-menu
  li.active
    a(href='').d-inline-block.w-100 All
  li
    a(href='').d-inline-block.w-100 Marketing
  li
    a(href='').d-inline-block.w-100 Crowdfunding Campaign
  li
    a(href='').d-inline-block.w-100 For Investors
.page_title.border-bottom.mb25
  h4.text-uppercase Want to fundraise or invest?
.subscribe-blogs
  p Never miss an update:
  form.form-section
    input(type="email" placeholder="E-mail Address").form-control
    .check-block
      label Fundraising for my company
        input(type="checkbox").pull-left
      label Investing in companies
        input(type="checkbox").pull-left
    a(href="#").btn.btn-primary.btn-block subscribe


.page_title.border-bottom
  h4.text-uppercase top POSTS


ul.list-unstyled.mb50.top-blog-list
  li.item
    a(href='').d-inline-block
      img(src=require('images/pages/bas1.png') alt="").pull-md-left
      p.font-weight-bold Credit Unions and Equity Crowdfunding: A Funding Match Made in Heaven
      .info
        span.author John Doe
        span.vert-line |
        span.date-blog July 08, 2017

  li.item
    a(href='' alt="").d-inline-block
      img(src=require('images/pages/bas1.png')).pull-md-left
      p.font-weight-bold Expert Advice: Ken Staut’s 4 Reasons Why Equity Crowdfunding Is Worth it
      .info
        span.author John Doe
        span.vert-line |
        span.date-blog December 07, 2016

  li.item
    // у последнего елемента <a> клас pb10 отстутствует
    a(href='' alt="").d-inline-block
      img(src=require('images/pages/bas1.png')).pull-md-left
      p.font-weight-bold The 2 Words You Should Never Say to an Investor
      .info
        span.author John Doe
        span.vert-line |
        span.date-blog December 10, 2017