#blogList
  .subscribe-blogs
    margin-bottom: rem(50)
    p
      margin-bottom: rem(10)
    label
    	font-weight: normal
    	font-size: rem(11)
    	input
    		margin-top: rem(3)
    		margin-right: rem(5)