.calculator-container
    h3,h2,h4 
        line-height: 1.35!important

    h2.finish-calc
        font-size: rem(23)

        .small-text
            padding-top: 8px
             
            color: $black_text
            font-size: rem(14)
    .finish-icon
        color: $calculator-finish-icon
    .top-breadcrambs
        li 
            display: inline-block
            margin-right: .5%
            width: 33%

            &:last-child
                margin-right: 0

            a 
                padding: rem(14)
                width: 100%

                border-color: $calc_tabs_bg
                background: $calc_tabs_bg

                text-align: center
                color: $small-text

                &.btn
                    border-radius: $calc_tabs_radius


                &.current
                    pointer-events: none
                    background: $calc_tabs_current_bg
                    border-color: $calc_tabs_current_bg
                    color: $white
                    cursor: default

        &.capitalraise
            padding: 0 2%

            li
                width: 24.6%

        &.established-business
            li
                width: 19.6%

    .simple-list
        padding-left: rem(17)

    .list-style-alphabet
        list-style-type: upper-alpha

    .form-group 
        margin-bottom: rem(20)

    .jqplot-title
        display: none

    table 
        thead tr th 
            padding: rem(15)

            text-align: center

        tbody tr td,
        tbody tr th
            text-align: center

    @media screen and (max-width: 992px)
        .mb30xs    
            margin-bottom: rem(30)

    @media screen and (max-width:543px)
        &.select-business
            .btn-lg
                padding-left: rem(9)
                padding-right: rem(9)

            .sm-font-xs
                font-size: 9px!important

        .p-r-0
            padding-right: rem(9)!important
        .p-l-0
            padding-left: rem(9)!important

        .top-breadcrambs
            &.capitalraise
                padding: 0

            &.established-business
                li a
                    letter-spacing: 1px
                    padding: rem(14) rem(5)

    @media screen and (max-width:380px)
        &.select-business
            .btn-lg.p0btn
                padding-left: rem(0)
                padding-right: rem(0)

.table-custom-data
    table-layout: fixed
    max-width: 400px
    margin: 0 auto 20px

.lead
    margin-bottom: 10px
    &__center
        text-align: center

.jqplot-yaxis-label
    left: -30px !important

.jqplot-highlighter-tooltip
    background: rgba(0,0,0,.5)
    color: #fff
    padding: 3px 5px
    border-radius: 4px
    font-size: 12px

.tooltip
    &.tooltip-custom
        opacity: 1

        .tooltip-inner
            padding: 5px 10px 10px 25px
            background: #fff
            color: #3cbdb9
            text-align: left
            border: 1px solid
            max-width: 335px
            .formula
                position: absolute
                top: 20px
            .fraction
                margin-left: 170px
                display: inline-block
                text-align: center
            .fraction, .top, .bottom
                padding: 0 5px
                .bottom
                    border-top: 1px solid #3cbdb9
                    display: block

        .tooltip-arrow
            border-width: 8px 10px 0
            border-top-color: #3cbdb9
            bottom: -2px

            &:after
                content: ''
                position: absolute
                width: 0
                height: 0
                border-color: transparent
                border-style: solid
                top: -8px
                left: -9px
                border-width: 7px 9px 0
                border-top-color: #fff

        .fa.fa-info-circle
            position: absolute
            top: 14px
            left: 10px
            color: #3cbdb9