.bg-dark-alfa-70:before
	content: " "
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	background: rgba(17, 17, 17, .25)
.js-height-parent
	height: rem(545)
.border-bottom-scroll
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1)
	margin-top: rem(25)
.home-section
	position: relative
	background-repeat: no-repeat
	background-attachment: fixed
	background-position: center center
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover

.home-content
	position: relative
	display: table
	width: 100%
	height: 100%
	text-align: center

.home-text
	display: table-cell
	vertical-align: middle
	color: $white
	img
	  max-width: 50%

.hs-line-14
	margin-top: 0
	position: relative
	font-size: rem(48)
	font-weight: $campain_main_name_font_weight
	line-height: 1.4
	text-transform: uppercase  
	letter-spacing: rem(14.4)
	font-family: $one_block_h3_font_family
	color: $white

	
.big-icon
	display: block
	margin: rem(20) auto rem(15)
	text-align: center
	line-height: rem(88)
	font-size: rem(72)
	width: 60px
	text-decoration: none
	outline: none
		


.small-icon
	display: block
	margin: rem(45) auto rem(20)
	text-align: center
	font-size: rem(36)
	color: rgba(255,255,255, .97)

.link-campaing-detail
	+calc-rem(18)
	color: $white
	padding: rem(10)

.social-link
	padding: rem(15) 0

.top-info
	position: relative
	padding-bottom: rem(20)
	padding-top: rem(15)
	.top-info-wrap
		&:before
			width: 100%
			background-color: $black
			opacity: .5
			position: absolute
			z-index: 1
			content: ''
			height: 100%
			left: 0
			bottom: 0
		.top-info-wrap-item
			position: relative
			z-index: 999
			h2
				letter-spacing: rem(.6)
				color: $white
				margin-bottom: 0
				margin-top: 0
			p
				color: $small-text
				margin-bottom: rem(7)

		.btn
			margin-top: rem(8)
.edit-campaign-wrap
	position: fixed
	right: 0
	top: 30%
	z-index: 999
	background-color: rgba(0,0,0,0.5)
	padding: 50px
	text-align: center
.campaigndetail
	margin-top: rem(85)
	h1
		letter-spacing: rem(.75)
		margin-bottom: 0
		font-weight: 300
		line-height: rem(30)
	h2
		letter-spacing: rem(.6)
	p
		margin-bottom: rem(10)
		color: $small-text
		line-height: rem(14)
	.sity-detail
		color: $small-text
		text-transform: capitalize
	.date-detail
		color: $small-text
	.mt25
		margin-top: rem(25)
	.mt20
		margin-top: rem(20)
	.right-block-investors
		h2
			margin-top: 0
			margin-bottom: 0
		.committed
			font-size: rem(24)
			font-weight: 700
			color: $puerto_rico
			line-height: 0
		.investors-block
			margin-top: rem(25)
			ul
				margin-left: 0
				padding-left: 0
				margin-top: rem(6)
				> li
					padding-right: rem(10)
					display: inline-block
				img
					width: rem(35)
					height: rem(35)
				a.link-1
					position: relative
					top: rem(10)
		.progress_bar_container
			span
				margin-bottom: rem(5)
	.share
		padding-top: rem(15)
		a
			font-size: rem(24)
			padding: 0 rem(10)




.about-detail
	padding-bottom: rem(50)
	p
		line-height: rem(18)
	.photo-gallegy
		padding-left: rem(5)
	.no-padding-img
		padding-left: rem(10)
		padding-right: 0
		padding-bottom: rem(10)
		img
			max-height: 220px
	.card
		margin-top: rem(40)
		border: none
		margin-bottom: 0
		&::before
			position: absolute
			width: 100%
			height: 100%
			content: ''
			background-color: rgba(17,17,17, 0.5)
		.card-img
			border-radius: 0
			max-height: 210px
		.card-img-overlay
			text-align: center!important
		h3
			color: $white
			margin-top: 0

	h2
		margin-bottom: rem(25)
	h3.our
		margin-top: rem(45)
		margin-bottom: rem(20)
#members
	.hide-more-detail
		height: 83px
		overflow: hidden
		position: relative
	.hide-more-detail.show-more-detail
		height: auto!important
		.show-more-members
			display: none
	.show-more-members
		position: absolute
		right: 0
		bottom: -2px
		z-index: 2
		background-color: white
		padding-left: rem(17)
		&:before
			content: '...'
			position: absolute
			left: 0
			top: 0
			z-index: 2
			color: $black



.articles_press
	.card
		margin-top: 0
		min-height: rem(148)
		background-color: $alabaster
		text-align: center
		padding: rem(30)
		margin-bottom: rem(45)
		border: none
		&:hover
			.fa-link
				color: $articles-icon-color-hover
			.links
				color: $articles-link-name-color-hover
		.fa-link
			font-size: rem(24)
			color: $articles-icon-color
			margin-bottom: 15px
			+mt(.2s)
			&:hover
				color: $articles-icon-color-hover
		.card-text
			line-height: rem(18)
			letter-spacing: rem(.45)
			color: $black
			font-size: rem(18)
		.intro
			margin-top: rem(10)
		.links
			font-size: rem(14)
			color: $articles-link-name-color
			+mt(.2s)
			&:hover
				color: $articles-link-name-color-hover
		.icon-campaign
			width: rem(12)
			height: rem(12)
			margin-right: rem(5)
			margin-bottom: rem(8)
		.pos-bottom
			margin-top: 10px
.team
	padding-bottom: rem(15)
	a,a:hover
		.card-text,.card-title
			color: $black_text
	.card
		border: none
		margin-bottom: 0
		.card-block
			padding: rem(20) 0
			i
				padding: 0 rem(4) rem(15)
			.cite_education
				margin-top: rem(5)
		.card-title
			margin-bottom: 0
		.img-circle
			width: rem(180)
			height: rem(180)
		.color-grey
			color: $small-text
			font-size: rem(11)

.document
	padding-bottom: rem(45)
	h2
		margin-bottom: rem(25)
	h3
		letter-spacing: rem(.35)
		margin-top: rem(15)
		margin-bottom: 0
	.img-document
		width: rem(28)
		height: rem(28)
		position: relative
		bottom: rem(5)
		margin-right: rem(5)
	a, h3
		font-size: rem(18)

		color: $small-text
		+mt(.2s)
		&:hover, focus
			color: $document-link-hover-color
		i
			font-size: rem(24)
			margin-right: rem(5)
.overview
	h3
		margin-top: 0
	.fundraising
		.jumbotron
			margin-bottom: 0
			padding-bottom: 0
			background-color: $detail-overview-background //переменная находится в файле /unique/variables
			p
				color: $white
				margin-bottom: rem(5)
			h2
				color: $white
				letter-spacing: rem(.6)
				margin-top: 0
				margin-bottom: rem(25)
			.col-lg-4
				padding-left: rem(5)
				padding-right: rem(5)
.perks
	.jumbotron
		margin-bottom: rem(5)
		h3
			margin-top: 0
			margin-bottom: rem(20)
			span
				color: $perks-money-color
		p
			color: $small-text
			margin-bottom: 0
.investors-all
	padding-bottom: rem(45)
	h3
		margin-bottom: 0
	.card
		border: none
		margin-top: rem(25)
		margin-bottom: 0
		.card-title
			margin-bottom: 0
	a
		&:hover
			color: $black_text
.risks
	padding-bottom: rem(45)
	h2
		margin-bottom: rem(20)
	a.see-all
		margin-top: rem(25)
.faq
	padding-bottom: rem(45)
	h2
		margin-bottom: rem(20)
	a.see-all
		margin-top: rem(25)

.ask
	h2
		margin-bottom: 0
	padding-bottom: rem(50)
	.form-section
		input
			border: none
			border-bottom: solid 1px $gallery
			width: 100%
			outline: none
			padding: rem(6) rem(10)

	.hr
		width: 100%
		height: rem(1)
		background-color: #e7e7e7
		margin-bottom: rem(45)
.comments
	.col-lg-1
		padding: 0
	.col-lg-11
		padding-right: 0
		padding-left: rem(10)
	img
		width: rem(55)
		height: rem(55)
		display: inline-block
		//float: left
		//margin-right: 15px
	.comments-wrap
		display: inline-block

		.name-comments
			font-size: rem(14)
			letter-spacing: rem(2.8)
			color: $black
		.kvalificatio-comments
			padding: rem(3) rem(18)
			background-color: $red
			color: $white
			border-radius: rem(2)
			margin-left: rem(10) 
		.date-comments
			font-size: rem(11)
			color: $small-text
		.responce
		
			li
				padding-left: rem(5)
				display: inline-block
				i
					margin-right: rem(5)
		p
			margin-bottom: rem(5)
			margin-top: rem(10)
.like
	h2
		margin-bottom: 0
		letter-spacing: rem(1)
	i
		color: $wild_willow
	.btn
		margin-top: rem(50)
@media only screen and (max-width : 992px)
	.hs-line-14
		font-size: rem(28)
	.p-md-0
		padding-left: 0!important
		padding-right: 0!important
	.tabs-scroll
		display: none

