.create-company-general
	h2
		margin-bottom: rem(25)
	.form-section
		.form-group
			label
				margin-bottom: 0
	.faq
		padding-bottom: 0
	.border-bottom
		margin-top: 50px
	.border-bottom-faq
		margin-top: rem(45)
		margin-bottom: rem(50)
	.add-section
		position: relative
		top: rem(-5)
	.btn
		margin-top: 45px


.m-b-0-form-group
	.form-group
		margin-bottom: 0

@media only screen and (max-width : 992px)
	.create-company-general
		h2
			margin-top: rem(50)!important
		textarea
			max-width: 100%
		.border-bottom
			margin-left: 0
		.additional_info
			label
				padding-top: rem(6)
				padding-left: rem(15)!important

@media only screen and (max-width : 580px)
	.create-company-general
		.btn
			margin-bottom: rem(25)
			&.m-r-3
				margin-right: 0!important