.create-company-general
	h2
		margin-bottom: 50px
	.form-section
		.form-group
			label
				margin-bottom: 0
	.border-bottom
		margin-top: 50px
a.delete-section
	float: right
	margin-right: rem(20)
	color: $small-text
	margin-top: -20px
	+mt(.2s)
	&:hover
		color: $link-1-hover
.m-b-0-form-group
	.form-group
		margin-bottom: 0

.add-link
	margin-top: rem(20)