.create-company-media,.team-members
	.fa-camera
		font-size: rem(30)
		margin-top: rem(15)
	.media-item
		margin-bottom: rem(25)
	.border-top
		margin-top: rem(25)
		border-top: solid $mercury 1px
		margin-left: rem(15)
		width: 94%
	.recommended
		label
			line-height: rem(18)
			margin-top: 0
			padding-top: 0
	.articles
		input
			max-width: rem(568)
			
		.add-article
			margin-left: rem(9)
			position: relative
			top: rem(-5)

		.btn
			margin-top: rem(45)
		a.delete-section
			margin-right: rem(65)
		.add-section
			position: absolute
			top: rem(-5)
			left: rem(10)
	a.delete-section
		margin-right: rem(50)
	.additional-video-block
		.addition-position
			.add-section
				position: absolute
				top: rem(-95)

	.photo-scroll
		margin: 0 auto
		overflow-x: scroll
		overflow-y: hidden
		max-height: rem(130)
		white-space: nowrap
		word-wrap: normal
		::-webkit-scrollbar
			width: rem(5)
			background: transparent
		::-webkit-scrollbar-thumb
			border-width: rem(1) rem(1) rem(1) rem(2)
			border-color: #1a1c1d
			background-color: #929292
		::-webkit-scrollbar-thumb:hover
			border-width: rem(1) rem(1) rem(1) rem(2)
			border-color: #1c1f22
			background-color: $black
		::-webkit-scrollbar-track
			border-width: 0
		::-webkit-scrollbar-track:hover
			border-left: none

		.photo-scroll-wrap
			max-width: rem(97)
			display: inline-block
			img
				padding-right: rem(10)
				padding-bottom: rem(10)

	.p-r-12
		padding-right: rem(12)

	.img-team-members
		max-width: rem(100)

	.dropdown-menu
		min-width: 281px

	.dropdown-toggle
		&:after
			margin-left: rem(10)
			border-top: rem(5) solid
			border-right: rem(5) solid transparent
			border-left: rem(5) solid transparent
			margin-top: rem(-3)

	.custom-select
		min-width: rem(158)
		height: rem(36)!important

.media-item
	margin-bottom: rem(25)
	i
		font-size: rem(30)
		margin-top: rem(15)

.team-members
	h2
		margin-bottom: 50px
	.label-p-t-0
		label
			padding-top: 0
			line-height: rem(18)
			margin-bottom: 0
	.input-min-width
		input
			min-width: rem(180)

.campaign-specifics,.create-perks
	.radio-input
		label
			margin-right: rem(30)
		input
			margin-left: 0
			margin-right: rem(5)
	.p-lg-6-0
		.col-lg-6
			padding-left: 0

	label
		line-height: rem(18)
		margin-top: 0
		padding-top: 0
		margin-bottom: 0
	.btn-dropdown
		min-width: rem(160)
	.custom-select
		outline: none
		color: $grey
		width: 100%
	.img-ppt
		img
			max-width: rem(66)
			margin: auto
	.media-item
		margin-bottom: rem(25)
		i
			font-size: rem(30)
			margin-top: rem(20)

	.img-file
		max-width: rem(65)

	.form-group-m-b-15
		margin-bottom: rem(15)

	.border-top
		margin-top: rem(50)
		border-top: solid $mercury 1px
		margin-left: rem(15)
		width: 98%

	.form-checks
		label
			font-weight: normal
			color: $black
			margin-left: rem(5)

	.label-top-6
		label
			padding-top: rem(6)

	.btn-group
		min-width: 185px
		.dropdown-toggle
			padding-left: rem(8)
			padding-right: rem(8)
			&:after
				margin-top: 0

	.pre-money-p-r-0
		.col-lg-6
			padding-right: 0

	.m-l-30
		margin-left: rem(28)

.create-perks
	label
		padding-left: rem(30)

.campaign-warning 
	font-size: rem(14)
	position: relative;
	padding: rem(10) rem(20)
	padding-left: rem(35)
	margin-top: rem(20)
	margin-bottom: rem(25)
	border: 1px $crimson solid
	color: $crimson
	i
		position: absolute
		top: rem(14)
		left: rem(10)

.create-company-team-add
	.warning-team-add
		font-size: rem(11)
	.team-add-item
		img
			width: rem(180)
			height: rem(180)
		.name
			margin-top: rem(18)
			line-height: rem(15)
			letter-spacing: rem(2.8)
		.small
			margin-top: rem(5)
			color: $small-text
			font-size: rem(11)
			margin-bottom: rem(2)
.form-group-m-b-0
	.form-group
		margin-bottom: 0

.create-perks
	.add-section
		position: relative
		top: rem(-5)
		left: rem(9)