.use-of-proceeds-table
  td.font-size-12
    .form-control
      font-size: rem(12)

  .delete-section-container
    right: 0
    top: 0
  .input-w-80
    padding-left: 20px
    padding-right: 20px
    .form-control
      width: 80%
  .border-b-t-none
    border-top: none
    border-bottom: none
  .border-t-n
    border: none
  .p-t-b-5
    td
      padding-top: 8px
      padding-bottom: 8px
  .p-l-r-20
    padding-left: rem(20)
    padding-right: rem(20)

.team-member-formc
  .delete-section-container
    right: 0

.table-outstanding
  td
    padding: rem(5) rem(15)
  thead
    th
      vertical-align: middle
      padding: 5px 15px
  .delete-section-container
    right: 0
    top: 0
    text-align: center
.team-member-table
  th
    font-size: rem(12)
  .warning-team-add.team-member-no-border
    border-top: none
    border-bottom: none
    border-right: none
  span.confirmed
    color: $wild_willow
    i
      padding-right: 5px
  .invite
    i
      padding-right: 5px
  span.identify
    color: $crimson