.use-of-proceeds-table
  td.font-size-12
    .form-control
      font-size: rem(12)
  .delete-section-container
    right: 0
    top: 0
.team-member-formc
  .delete-section-container
    right: 0

.table-outstanding
  td
    padding: rem(5) rem(15)
  thead
    th
      vertical-align: middle
      padding: 5px 15px
  .delete-section-container
    right: 0
    top: 0
    text-align: center