.heartland-tour
  .top-baner
    height: 60vh
    .background
      top: -50px
    .top-baner-text
      position: relative

      h1, h3
        color: $white
      h1
        margin-bottom: rem(15)
    .center-wrap 
      top: 30%
      @media only screen and (max-width : 992px)
        top: 40%
      @media only screen and (max-width : 375px)
        top: 50%
  .scroll-paralax
    &:after
      background: rgba(17, 17, 17, 0.1)
  .how-it-works
    background-color: $alabaster
    padding: rem(45) 0
    .circle
      margin-right: rem(6)
      height: 13px
      width: 13px
      padding: 0px
      border-radius: 100px
      border: solid 1px #000
      vertical-align: middle
      display: inline-block
      margin-top: -3px


      &.red-circle
        background-color: #d44330
      &.white-circle
        background-color: $white
      &.blue-circle 
        background-color: #0072bc
  .map-apply
    margin-top: rem(60)
    
    .block-links
      @media only screen and (max-width : 992px)
        .col-md-12
          padding: 0
        .wrap-logo
          .center-logo
            position: relative
            text-align: center
            top: 0
            left: 0
            transform: none
            margin-bottom: rem(15)
            margin-top: rem(15)
      @media only screen and (max-width : 576px)
        .wrap-logo
          .center-logo
            img
              width: 35px
          
      @media only screen and (max-width : 375px)
        .btn
          font-size: rem(10)


    .wrap-logo
      position: relative
      .center-logo
        position: absolute
        top: 50%
        left: 50%
        -ms-transform: translate(-50%, -30%)
        -webkit-transform: translate(-50%, -30%)
        transform: translate(-50%, -30%)
        z-index: -1
        img
          width: 130px
    .map-center
      position: relative
      text-align: center
      margin-top: rem(50)
      img
        max-width: 100%
        opacity: 0.3
      .text-wrap
        position: absolute
        top: 46%
        left: 50%
        -ms-transform: translate(-50%, -50%)
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        width: 100%
        h1
          @media only screen and (max-width : 576px)
            font-size: rem(22)
            line-height: rem(25)!important
    .small
      font-size: rem(12)
      color: $small-text
      margin-top: rem(25)
      line-height: 15px
  .sities
    .scroll-paralax
      &:after
        background: rgba(17, 17, 17, 0.1)
    .sities-section
      .background
        top: -250px
      h1
        color: $white
        @media only screen and (max-width : 360px)
          font-size: rem(24)
      .opasity-block
        &:before
          background: rgba(17, 17, 17, 0.2)
        
