.clear
  clear: both
// slider or img
.slider-main
  position: relative
  .heartland-tour-in-main
    position: absolute
    top: 0
    left: 0
    width: 100%
    background-color: rgba($heartland-tour-in-main, .8)
    padding: rem(10)
    text-align: center
    z-index: 2
    p 
      color: $white
    a
      color: $white
      text-decoration: underline
      font-weight: bold
      &:hover
        +mt(.3s)
        color: rgba($white, .7)
        text-decoration: none
.main-top-baner
  .height-block-banner
    height: $height-block-banner
    overflow: hidden
    @media screen and (min-width : 440px) and (max-width : 767px)
      height: 420px!important
    @media only screen and (max-width : 439px)
      height: 92vh!important

    &.scroll-paralax
      &:before
        background: transparent
        z-index: 0

    &:after
      position: absolute
      width: 100%
      height: 100%
      content: ''
      background: rgba(17, 17, 17, .5)
      left: 0
      top: 0
      z-index: 1
    .background
      position: absolute
      width: 100%
      top: -20px
      height: 105%
      background-size: cover!important
      background-position: center
.slider-content,
.main-top-baner
  h1
    color: $white
    margin-bottom: 15px
    margin-top: 0
    letter-spacing: normal
    font-weight: bold
    @media only screen and (max-width : 576px)
      font-size: rem(24)
      line-height: rem(26)
  .small-text
    line-height: 26px
    color: $white
    letter-spacing: .6px
    font-size: 24px
    font-weight: 300
    @media only screen and (max-width : 576px)
      font-size: rem(16)
      line-height: rem(22)
  .link-6
    font-size: 15px
    color: #d7d7d7
    text-decoration: none
    &:hover
      color: $white
    @media only screen and (max-width : 576px)
      font-size: rem(13)
  .center-wrap
    @media only screen and (max-width : 576px)
      top: 60%
//slider main
.slider-main
  .slider-content
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%
    z-index: 999
    width: 100%
    
  .owl-carousel
    .owl-item
      &:before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        z-index: 1
        left: 0
        background: rgba(17, 17, 17, .4)
      &:nth-child(3)
        &:before
          background: rgba(17, 17, 17, 0)
      h1.big-h1
        @media screen and (max-width: 576px)
          font-size: 24px
          letter-spacing: normal
          line-height: 26px!important
    .owl-nav
      margin-top: 0

    .owl-prev
      position: absolute
      left: 10px
      top: 50%
      border-radius: 100px
      border-radius: 100px!important
      opacity: .6
    .owl-next
      position: absolute
      right: 10px
      top: 50%
      border-radius: 100px!important
      opacity: .6
    .owl-dots
      bottom: 0
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      position: absolute;
      left: 50%
      opacity: .6


@-webkit-keyframes fadeOuts
  from
    opacity: 1
  to
    opacity: 0

@keyframes fadeOuts
  from
    opacity: 1
  to
    opacity: 0

.fadeOuts
  -webkit-animation-name: fadeOuts
  animation-name: fadeOuts
@-webkit-keyframes fadeOutsDown
  from
    opacity: 1
  to
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)


.home-our-partners
  background-color: $alabaster
  padding-top: rem(25)
  display: $home-our-partners-display
  text-align: center
  .partners-line
    margin-bottom: rem(35)
    .title
      color: $small-text
      overflow: hidden
      text-align: center
      width: 97%
      margin: auto
      &:before,
      &:after
        content: ''
        display: inline-block
        vertical-align: middle
        width: 100%
        height: 1px
        background-color: #c4c4c4
        position: relative
      &:before
        margin-left: -100%
        left: -14px
      &:after
        margin-right: -100%
        right: -14px
      @media only screen and (max-width : 767px)
        &:before,
        &:after
          background-color: transparent
  .bottom-line
    margin-top: rem(20)
    background-color: $gallery
    padding:
      top: 7px
      bottom: 7px
    span
      color: $small-text


  .item
    min-height: 70px
    display: inline-block
    padding-left: 30px
    padding-right: 30px
    @media only screen and (min-width : 1065px)
      width: 14%
    @media only screen and (max-width : 544px)
      margin: rem(10) 0
      img
        margin-top: 0!important
        margin-bottom: 0
  img
    margin: 0 auto
    &.callahan
      margin-top: rem(12)
      @media only screen and (min-width : 1440px)
        min-width: 155px
    &.jdcu
      margin-top: rem(12)
      @media only screen and (min-width : 1440px)
        min-width: 155px
    &.river-mark
      margin-top: rem(15)
      @media only screen and (min-width : 1440px)
        min-width: 155px
    &.dcu
      margin-top: rem(7)
      @media only screen and (min-width : 1440px)
        min-width: 135px
    &.momentum3
      @media only screen and (min-width : 1440px)
        min-width: 120px
    &.infinity
      @media only screen and (min-width : 1440px)
        min-width: 155px
    &.tvfcu
      @media only screen and (min-width : 1440px)
        min-width: 110px

@media only screen and (max-width : 768px)
  .owl-carousel
    .owl-dots
      display: none

@media only screen and (max-width : 580px)
  .slider-main 
    .slider-content
      top: 60%!important
      .small-text
        font-size: rem(16)!important
        line-height: 22px!important

@-webkit-keyframes zoomOut
  from
    opacity: 1
  50%
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)
  to
    opacity: 0

@keyframes zoomOut
  from
    opacity: 1
  50%
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)
  to
    opacity: 0

.zoomOut
  -webkit-animation-name: zoomOut
  animation-name: zoomOut

.main-slider-item
  height: 70vh!important
  background-size: cover!important
  background-repeat: no-repeat!important
  background-position: center center!important
  @media screen and (min-width : 440px) and (max-width : 767px)
    height: 420px!important
  @media only screen and (max-width : 439px)
    height: 92vh!important

@media only screen and (max-width : 480px)
  .slide_1
    background-position-x: $background-position-x-sl-1
  .slide_2
    background-position-x: $background-position-x-sl-2
  .slide_3
    background-position-x: $background-position-x-sl-3

@media only screen and (max-width : 320px)
  .slide_3
    background-position-x: -400px!important
@media only screen and (max-width : 768px)
  .slider-main
    .slider-content
      top: 55%

.main-video
  height: 75vh
  overflow: hidden
  .slider-main 
    .slider-content
      top: 35%!important
      z-index: 1!important
  .homepage-hero-module
    border-right: none
    border-left: none
    position: relative

  .no-video .video-container video, .touch .video-container video
    display: none

  .no-video .video-container .poster, .touch .video-container .poster
    display: block !important

  .video-container
    position: relative
    bottom: 0%
    left: 0%
    height: 100%
    width: 100%
    overflow: hidden
    background: #000
    .poster img
      width: 100%
      bottom: 0
      position: absolute
    .filter
      z-index: 1
      position: absolute
      background: rgba(0, 0, 0, 0.4)
      width: 100%
      height: 100%
    video
      position: absolute
      z-index: 0
      bottom: 0
    &.fillWidth
      width: 100%

.campaign-list-main-page
  margin-top: rem($margin-section-main-top-list)
  margin-bottom: rem($margin-section-main-bottom-list)
  .btn-see-all
    i
      font-size: rem(12)

.main-video-wrap
  height: 500px
  position: relative
  overflow: hidden
  &:before
    content: " "
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: rgba(17, 17, 17, .5)
  @media only screen and (max-width : 890px)
    height: auto
  @media only screen and (max-width : 768px)
    background-image: url("img/generals/main-before-video.jpg")
    width: 100%
    height: $main-video-table-height
    background-repeat: no-repeat
    background-size: cover
  @media only screen and (max-width : 575px)
    height: $main-video-mobile-height
  @media only screen and (max-width : 375px)
    height: $main-video-xs-height
  video
    width: 100%
    position: absolute
    z-index: -1
    top: -250px
    @media only screen and (max-width : 1340px)
      top: -100px
    @media only screen and (max-width : 1100px)
      top: 0
    @media screen and (min-width : 768px) and (max-width : 890px)
      width: 120%
    @media only screen and (max-width : 768px)
      display: none
  .center-wrap
    position: relative
    margin-top: rem($video-center-wrap-margin-top)
    margin-bottom: rem($video-center-wrap-margin-bottom)
    text-align: center
    .play-icon
      margin-top: rem($play-icon-margin-top-video)
    .text-wrap
      background-color: $video-center-wrap-bgc
      width: 100%
      text-align: center
      padding-top: rem(30)
      padding-bottom: rem(30)
      color: $white
      h2
        margin-top: rem($margin-top-h2-title-video)
        margin-bottom: rem($margin-bottom-h2-title-video)
      .text-video-wrap
        *
          margin-top: rem($margin-top-text-video)
          margin-bottom: rem($margin-bottom-text-video)
          font-weight: $font-weight-text-video
          letter-spacing: $letter-spacing-text-video
          &:last-child
            margin-bottom: rem($margin-bottom-last-child-text-video)
    
.better
  margin-top: rem($margin-section-main-top-better)
  margin-bottom: rem($margin-section-main-bottom-better)
  h2
    margin-bottom: rem(15)
  h3
    margin-bottom: 0
    line-height: rem(24)
  .titile-better
    color: $titile-better-color
    font-size: rem(36)
    display: inline-block
    letter-spacing: $titile-better-ls
    @media only screen and (max-width : 544px)
      font-size: rem(26)
  .better-item
    margin-top: rem(50)
    .photo
      text-align: center
    .title
      text-align: center
      margin-top: rem(30)
  .bottom-wrap
    margin-top: rem(50)
    .item
      margin-bottom: rem(30)
      h3
        font-style: italic
        width: 90%
        display: inline-block
        vertical-align: top
        margin: 0
      i
        font-size: rem(18)
        color: $better-icon-color
        width: 9%
        display: inline-block
  .powered-by
    text-align: center
    display: $powered-by-display
    h4
      font-size: rem($powered-by-title-fz)
      letter-spacing: $powered-by-title-ls
      margin-bottom: 0
      margin-top: rem(15)
      color: $powered-by-title-color
    .small-powered-by
      color: $powered-by-small-color
      font-weight: $powered-by-small-font-weight
      margin-bottom: rem(20)
      font-size: $small-powered-by-font-size
.main-page-banner-raise
  .background
    top: $main-page-banner-bottom-top
    height: $main-page-banner-bottom-height
    background-image: url($main-page-banner-bottom-image)
    @media only screen and (max-width : 1200px)
      top: $main-page-banner-bottom-top-mw
.main-page-banner-invest
  .background
    top: $main-page-banner-bottom-top
    height: $main-page-banner-bottom-height
    background-image: url($main-page-banner-bottom-image)
    @media only screen and (max-width : 1200px)
      top: $main-page-banner-bottom-top-mw
  .center-wrap
    .link-bottom
      margin-top: rem(20)
      a
        font-size: rem(14)
.main-subscription
  margin-top: rem($margin-section-main-top-news)

.main-reviews
  margin-top: rem($margin-section-main-top-news + 70)
  .review-title
    position: relative
    img
      position: absolute
      transform: translate(-50%, -50%)
      left: 50%
      top: 0
  .carousel-review
    padding-left: 30px
    padding-right: 30px
    @media only screen and (max-width : 440px)
      padding-left: 10px
      padding-right: 10px
  .one-review
    padding: 30px
    padding-bottom: 0
    @media only screen and (max-width : 440px)
      padding-left: rem(10)
      padding-right: rem(10)
    .review-text
      background-color: $review-main-text-bgc
      padding: 20px
      color: $review-main-text-color
      font-style: italic
      position: relative
      margin-bottom: 30px
      -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.5);
      min-height: 220px
      &:after
        content: ''
        position: absolute
        bottom: -15px
        left: 0
        width: 0
        height: 0
        border-style: solid
        border-width: 0 22px 15px 0
        border-color: transparent $puerto_rico transparent transparent
    .review-autor
      margin-left: 20px
      img
        display: inline-block
        max-width: 65px
        vertical-align: middle
        margin-right: 15px
      .review-name
        display: inline-block
        vertical-align: middle
        h4
          margin: 0
        p
          font-size: rem(12)
          line-height: 15px
          color: $small-text
  .owl-dots
    display: none
  .owl-nav
    position: absolute
    left: 0
    top: 45%
    width: 100%
    .owl-prev
      float: left
      position: relative
      left: 0
    .owl-next
      float: right
      position: relative
      right: 0
  .owl-nav [class*='owl-']
    padding: 0!important
    background-color: transparent!important
    font-size: rem(72)!important
    color: rgba($small-text, 0.7)!important
    +mt(.2s)
    &:hover
      +mt(.2s)
      background-color: transparent!important
      color: $small-text!important
      cursor: pointer

