.investor-tutorial
	h1
		font-size: 50px
		display: block
		font-weight: bold
		color: $white
		line-height: rem(40)
		margin-bottom: rem(25)
	p
		font-size: 22px
		color: $white
		line-height: rem(24)
	h2
		font-size: 35px
		color: $white
		line-height: rem(40)
		margin-bottom: 25px
	a
		font-size: 22px
	.carousel-caption
		top: 40%!important

.slide_bottom_text
	position: absolute
	bottom: 50px
	right: 150px
	color: $white
	text-transform: uppercase

	.medium_text
		font-size: 30px
		display: block
		font-weight: bold