.investor_table
  margin: 47px auto;
  .tpl_tabs
    border-color: $border_color
  .big-tabs
    margin-bottom: 46px

    &>li
      float: left
      height: 55px
      a
        color: $black_text
        padding: 16px 40px 10px 40px
        text-transform: uppercase
        letter-spacing: 3.9px
        font-size: 18px
      .for_select
        float: right
        width: 180px
        margin-top: -11px
    .active
      a
        border: 1px solid $border_color
        border-bottom: none
  .tpl-tabs-cont
    padding: 25px 0
  .one_table
    margin: 25px 0 49px 0
    .img_column
      width: 33%
      height: 285px
      overflow: hidden;
      position: relative
      float: left
      &:before
        content: ''
        background-color: #000
        width: 100%
        height: 100%
        position: absolute
        left: 0
        opacity: .4
      .img_tab
        padding: 0 10px
        background: $date-investor-dashboard-bgc
        line-height: 26px
        font-weight: bold
        color: $white
        position: absolute
        top: 13px
        right: 13px
        border-radius: 3px
      .end-date
        padding: 6px 10px
        background: $date-investor-dashboard-bgc
        line-height: 14px
        font-weight: bold
        color: $white
        position: absolute
        top: 63px
        right: 13px
        border-radius: 3px
        text-align: right
        letter-spacing: rem(.36)
      .successfull
        padding: rem(6) rem(10)
        background: $investor-successfull-bgc
        line-height: rem(14)
        font-weight: bold
        color: $white
        position: absolute
        letter-spacing: rem(.36)
        top: rem(13)
        right: rem(13)
        border-radius: rem(3)
        text-align: right
      .unsuccessfull
        padding: rem(6) rem(10)
        background: $investor-unsuccessfull-bgc
        line-height: rem(14)
        font-weight: bold
        color: $white
        position: absolute
        letter-spacing: rem(.36)
        top: rem(13)
        right: rem(13)
        border-radius: rem(3)
        text-align: right
      b
        letter-spacing: 0.35px
        font-size: 14px
        position: absolute
        line-height: 18px
        z-index: 2
        top: 59px
        right: 13px
        text-align: right
        color: #fff
      h2
        letter-spacing: $name-investor-dashboard-ls
        color: $white
        position: absolute
        text-align: center
        font-weight: $name-investor-dashboard-fw
        line-height: $name-investor-dashboard-lh
        left: 50%
        margin-top: 0
        margin-bottom: 0
        top: 50%
        width: 100%
        -ms-transform: translate(-50%,-50%)
        -webkit-transform: translate(-50%,-50%)
        transform: translate(-50%,-50%)
        @media only screen and (max-width : 576px)
          letter-spacing: rem(2.1)
          line-height: rem(22)!important
      .investment-processed
        position: absolute
        left: 8px
        top: 10px
        color: $white
        font-weight: bold
        .like-icon-circle
          margin-right: 10px
    .right-block
      height: 285px
      border: 1px solid $border_color
      border-left: none
      float: right
      width: 67%
      @media only screen and (max-width : 992px)
        width: 100%
        height: auto
    .right-columns
      width: 65%
      float: left
      .one_line
        .col40
          width: 40%
          border: 1px solid $border_color
          border-left: none
          float: left
          margin-bottom: -1px
          border-top: none
        .col60
          width: 60%
          border: 1px solid $border_color
          border-left: none
          float: left
          margin-bottom: -1px
          border-top: none
          @media only screen and (max-width : 992px)
            border-right: none
        .col-perks
          height: 35px
          overflow: hidden
        .col33
          width: 33.333333%
        .col66
          width: 66.666666%
        span
          margin: 0 0 0 rem(30)
          line-height: rem(32)
          @media only screen and (max-width : 576px)
            font-size: rem(14)
        span.light_grey
          color: $small-text
        span.dark_grey
          color: $black
        span.bold-grey
          font-size: rem(18)

    .big_columns
      width: 69.27%
    .right-columns.small-column
      width: 43.27%
    .right_buttons
      width: 35%
      border: 1px solid $border_color
      border-left: none
      float: left
      border-top: none
      padding-bottom: rem(12)
      border-right: none
      @media only screen and (max-width : 992px)
        border-right: none
        border-left: 1px solid $border_color
        width: 100%


      h3
        text-align: center
        margin-top: 14px
        margin-bottom: 0
        line-height: rem(24)
      ul
        margin-left: 0
        padding: 0
        margin-bottom: 0
        li
          list-style-type: none
          text-align: center
          padding: rem(3)
          @media only screen and (max-width : 576px)
            font-size: rem(14)

  .bottom_column
    width: 100%
    float: right
    border-top: none
    border-left: none
    padding: 0 29px
    padding-top: 10px
    @media only screen and (max-width : 576px)
      padding: rem(20) rem(10)
    .btn
      margin-top: 12px
      i
        padding-left: 5px
      @media only screen and (max-width : 576px)
        margin-top: rem(20)
        margin-bottom: rem(20)
    .top_descript
      width: 100%
      padding-top: 2px
      padding-bottom: 7px
      .left_text
        float: left
        text-align: center
        h3
          color: $black_text
          margin: 0
          line-height: 1em
          display: block
          float: none
        span
          color: $small-text
          font-size: 11px
          margin: 0
          line-height: rem(16)
          display: block
          float: none
      
      .percents
        height: 6px
        margin-top: 13px
        text-align: center
        @media only screen and (max-width : 576px)
          font-size: rem(13)
      .right_text
        float: right
        text-align: center
        h3
          color: $black_text
          margin: 0
          line-height: 1em
          display: block
          float: none
        span
          color: $small-text
          font-size: 11px
          margin: 0
          line-height: rem(16)
          display: block
          float: none
    .cancel
      background-color: transparent
      border: none
      font-size: rem(11)
      &:hover
        background-color: transparent

    .progress[value]::-webkit-progress-value
      background-color: $progress_bar_background
      height: 11px
    .progress
      margin: 0
    .view_campaign
      background-color: $light_grey
      padding: 0 45px
      text-decoration: none
      font-size: 12px
      border-radius: 3px
      line-height: 25px
      border: 2px solid $light_grey
      color: $black_text
      margin: 13px auto 0 auto
      +mt(.2s)  
    :hover
      background: none
      +mt(.2s)
    .cancel_invest
      font-size: 11px
      height: 15px
      margin-top: -12px
      text-align: right
      padding-bottom: 25px
      @media only screen and (max-width : 576px)
        padding: 0
        margin-top: 0!important
        margin-bottom: 0!important
      a
        display: inline-block
      :hover
        text-decoration: underline
.investor-dashboard
  .custom-select
    position: absolute
    top: rem(-12)
    right: 0
    min-width: 190px
    font-size: rem(11)
    letter-spacing: rem(2.2)
  #historical
    .cancel_invest
      display: none
    .bottom_column
      padding-bottom: rem(10)
      @media only screen and (max-width : 576px)
        padding-bottom: 0
    .img_column
      height: 285px
@media only screen and (max-width : 992px)
  .investor_table
    .one_table
      .img_column
        width: 100%
        float: none
        margin: 0 auto
        border: none
        img
          width: 100%
      .right-columns
        border-left: 1px solid $border-color
        width: 100%
      .right-columns.small-column
        width: 70%
    .bottom_column
      width: 100%
      border-left: 1px solid $border-color
      .cancel_invest
        margin-top: 15px
        text-align: center
        margin-bottom: 5px
@media only screen and (max-width : 580px)
  .investors-dashbord-comment
    .p-xs-1
      padding: 0px 15px!important
  .investor_table
    .col60
      width: 50%!important
    .col40
      width: 50%!important
    .big-tabs
      margin-bottom: 46px
      &>li
        float: left
        height: 55px
        a
          color: $black_text
          padding: 16px 10px 10px 10px
          text-transform: uppercase
          letter-spacing: 3.9px
          font-size: 18px
        .for_select
          float: right
          width: 180px
          margin-top: -11px
      .active
        a
          border: 1px solid $border_color
          border-bottom: none
    .tpl-tabs-cont
      padding: 25px 0
    .bottom_column
      width: 100%
      border-left: 1px solid $border-color
    .one_line 
      span
        margin: 0 0 0 rem(16)!important
.credit-investor
  .profile-type-user.credit-all
    h2
      display: inline-block
      position: relative
      margin-bottom: 0
    .small-text
      font-size: rem(12)
      letter-spacing: .25px
      color: $small-text
      display: block
      padding-top: 5px
      text-transform: initial
  @media only screen and (max-width : 544px)
    .btn
      margin-top: 25px!important
.rating-wrap
  label
    font-weight: bold
    font-size: rem(14)
  .rating
    float: left

    &:not(:checked)
      >
        input
          position: absolute
          top: -9999px
          clip: rect(0, 0, 0, 0)
        label
          float: right
          width: auto
          padding: 0
          padding-right: rem(4)
          overflow: hidden
          white-space: nowrap
          cursor: pointer
          font-size: rem(18)!important
          line-height: 1.2
          color: $rating-icon-color
          font: normal normal normal 18px/1 FontAwesome
          &:before
            content: '\f006'
      > label:hover
        color: $rating-icon-color
        &:before
          content: '\f005'
        ~ label
          color: $rating-icon-color
          &:before
            content: '\f005'
    > input:checked ~ label
      color: $rating-icon-color
        
      &:before
        content: '\f005'
    >
      input:checked
        > label:hover

        + label:hover, ~ label:hover
          color: rgba($rating-icon-color, .7)
          ~ label
            color: $rating-icon-color
      label
        &:hover ~ input:checked ~ label
          color: $rating-icon-color
      