.investor-tutorial
	h1
		font-size: 50px
		display: block
		font-weight: bold
		color: $white
		line-height: rem(40)
		margin-bottom: rem(25)
		letter-spacing: rem(1)
		text-transform: uppercase
	p
		font-size: 22px
		color: $white
		line-height: rem(24)
		letter-spacing: rem(1)
		text-transform: uppercase
	h2
		font-size: 35px
		color: $white
		line-height: rem(40)
		margin-bottom: 25px
		letter-spacing: rem(1)
		text-transform: uppercase
	a
		font-size: 22px
		letter-spacing: rem(1)
		text-transform: uppercase
	h3
		font-size: 25px
		color: $white
		line-height: rem(40)
		letter-spacing: rem(1)
		margin-bottom: 25px
		text-transform: uppercase
	ul, ol
		li
			font-size: 16px
			line-height: 18px
	p.small
		font-size: 14px
		line-height: 15px
	.t45
		.carousel-caption
			top: 45%!important
	.t40
		.carousel-caption
			top: 40%!important
	.before-making
		.carousel-caption
			top: 35%!important
	.t30
		.carousel-caption
			top: 30%!important
	.t20
		.carousel-caption
			top: 20%!important
	.bgc-black
		background-color: $black
	.carousel-caption
		img
			max-width: 300px
			position: absolute
			left: 0
			height: 200px!important
			margin-top: 10px
	.extap
		font-size: rem(18)
	.should
		.slide_bottom_text
			bottom: -140px
.slide_bottom_text
	position: absolute
	bottom: -70px
	right: 0
	color: $white
	text-transform: uppercase
	text-align: left
