.partner-page
  .section-partner
    margin-top: 0
    margin-bottom: 0
    padding: 15px 17px
    background-color: $puerto_rico
    color: $white
  .partners-bgi
    background: url(/img/partner-section.jpg)
    background-position: center center
    background-attachment: fixed
    height: 340px
    background-repeat: no-repeat
    background-size: cover

.team, .raise_landing, .partners, .investor_tutorial, .business_tutorial
  .footer_new
    margin-top: 0
