.team, .raise-capital-landing, .partners, .investor_tutorial, .investor-tutorial, .business_tutorial, .business-tutorial, .heartland-tour
  .footer_new
    margin-top: 0

.page.overview
  .icon-block
    vertical-align: top
  .list-block
    .black-link
      color: $black
      &:hover
        +mt(.2s)
        color: rgba($black, 0.7)
  @media screen and (max-width: 543px)
    .list-block
      .row.m-b-2
        margin-bottom: rem(50)!important
  .text-block
    @media screen and (max-width: 543px)
      margin-top: rem(10)
.pages-left-menu
  li
    padding: rem(2) 0
    padding-left: rem(8)
    margin-bottom: rem(5)
    &.active
      border-left: solid 5px $page-left-menu-color
      padding-left: rem(3)
      a
        color: $page-left-menu-color
    a
      &:hover
        color: $page-left-menu-color
.section-bg-line
  margin-top: 0
  margin-bottom: rem(30)
  padding: 15px 17px
  background-color: $section-bg-line
  color: $white

.page.team
  @media screen and (max-width: 991px)
    .team-member-list
      .name
        margin-top: rem(20)
  .photo-wrap.p-r-0
    @media screen and (max-width: 991px)
      padding-right: 15px!important
  .photo-wrap.p-l-0
    @media screen and (max-width: 991px)
      padding-left: 15px!important
.w-infinityfcu
  width: 85%

.annual_privacy_notice
  .facts-bgc
    background-color: $annual-privacy-notice

.bg-gray-block
  padding: rem(7) rem(20) rem(28)
  background: $alabaster
  h3
    line-height: rem(25)
.text-grey
  color: $small-text
.page.advertising
  .help-block.text-justify
    font-size: rem(12)
    line-height: rem(16)
.page.partners
  .scroll-paralax
    .center-wrap
      @media screen and (max-width: 430px)
        a.btn
          &:nth-child(2)
            margin-left: rem(20)
            margin-right: rem(20)
            margin-top: rem(25)
// on main page and raise-capital landing
.calculator-block-click
  margin-top: rem(70)
  margin-bottom: rem(70)
  .calculator-item
    border: solid 1px $light_grey
    background-color: $white
    padding: 30px
    border-radius: 2px
    +mt(.2s)
    @media screen and (max-width: 991px)
      margin-bottom: 30px
    i
      color: $icon-color-calculator-click
      font-size: rem(50)
      opacity: 0.5
      margin-bottom: 5px
    .text-wrap
      max-width: 210px
      margin: auto
      position: relative
      height: 75px
      h3
        position: absolute
        top: 50%
        transform: translate(-50%,-50%)
        left: 50%
        width: 100%
    .btn
      margin-top: 20px
    &:hover
      +mt(.2s)
      -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
      cursor: pointer
  .col-xl-4
    &:last-child
      .calculator-item
        @media screen and (max-width: 991px)
          margin-bottom: 0

#education-page
  .education-one-item
    margin-top: rem(30)
    margin-bottom: rem(60)
    position: relative
    @media screen and (min-width : 768px) and (max-width : 1199px)
      padding-top: rem(20)
    @media screen and (min-width : 544px) and (max-width : 767px)
      text-align: center
    span
      max-width: 133px
      display: inline-block
      vertical-align: middle
      @media screen and (min-width : 544px) and (max-width : 767px)
        margin-bottom: rem(20)
        max-width: 100%
      @media screen and (max-width : 543px)
        max-width: 160px
    img
      @media screen and (min-width : 768px) and (max-width : 1199px)
        max-width: 50px
      @media screen and (max-width : 543px)
        float: right
        max-height: 60px
    .arrow
      background-image: url("img/generals/arrow-next.png")
      background-repeat: no-repeat
      height: 130px
      right: -15px
      width: 50px
      top: -12px
      position: absolute
      display: inline-block
      vertical-align: middle
      @media screen and (min-width : 768px) and (max-width : 1199px)
        background-size: 60%
      @media screen and (max-width: 767px)
        display: none
    &.one
      @media screen and (min-width : 768px) and (max-width : 1199px)
        padding-top: rem(10)
      img
        margin-left: rem(30)
        @media screen and (min-width : 768px) and (max-width : 1199px)
          margin-left: rem(10)
    &.five
      img
        margin-left: rem(30)
        @media screen and (min-width : 768px) and (max-width : 1199px)
          margin-left: rem(10)
  i.fa-info-circle
    font-size: rem(14)
    color: $sandy-brown-two
    margin-left: rem(3)
    margin-right: rem(3)
  ul.education-ul
    -webkit-padding-start: 60px
  .circle-education
    .like-detail-icon
      margin-top: rem(5)
    .fa-comment-o
      &:before
        transform: translate(-46%, -56%)
  .pb20
    padding-bottom: rem(20)
  #welcomeGF
    h3
      margin-bottom: 40px
#view-wodget-v1
  background-image: url(../img/investor_slider/brouse.jpg)
  height: 95vh
  width: 100%
  background-size: cover
  h1
    position: absolute
    top: 50%
    transform: translate(-50%,-50%)
    left: 50%
    width: 100%
    color: $white
    text-align: center

