.team, .raise-capital-landing, .partners, .investor_tutorial, .investor-tutorial, .business_tutorial, .business-tutorial, .heartland-tour
  .footer_new
    margin-top: 0

.page.overview
  .icon-block
    vertical-align: top
  @media screen and (max-width: 543px)
    .list-block
      .row.m-b-2
        margin-bottom: rem(50)!important
  .text-block
    @media screen and (max-width: 543px)
      margin-top: rem(10)
.pages-left-menu
  li
    padding: rem(2) 0
    padding-left: rem(8)
    margin-bottom: rem(5)
    &.active
      border-left: solid 5px $page-left-menu-color
      padding-left: rem(3)
      a
        color: $page-left-menu-color
    a
      &:hover
        color: $page-left-menu-color
.section-bg-line
  margin-top: 0
  margin-bottom: rem(30)
  padding: 15px 17px
  background-color: $section-bg-line
  color: $white

.page.team
  @media screen and (max-width: 991px)
    .team-member-list
      .name
        margin-top: rem(20)
  .photo-wrap.p-r-0
    @media screen and (max-width: 991px)
      padding-right: 15px!important
  .photo-wrap.p-l-0
    @media screen and (max-width: 991px)
      padding-left: 15px!important
.w-infinityfcu
  width: 85%

.annual_privacy_notice
  .facts-bgc
    background-color: $annual-privacy-notice

.bg-gray-block
  padding: rem(7) rem(20) rem(28)
  background: $alabaster
  h3
    line-height: rem(25)
.text-grey
  color: $small-text