.raise-capital-landing
  .top-baner
    background-image: url("/img/raise-landing/raise-landing-top.jpg")
    height: 70vh
    background-size: cover
    background-attachment: fixed
    h1
      color: $white
      line-height: 48px
    img
      width: 145px
  .content-section
    .growth-is
      background-image: url("/img/raise-landing/raise-content-top.jpg")
      width: 100%
      height: 100%
      padding: rem(45) rem(20) rem(85) rem(20)
      background-size: cover
      &:before
        content: " "
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: rgba($elm, .7)
      .content
        position: relative
        z-index: 2
        h1
          color: $white
        p
          color: $white
    .good-candidate
      .color-effect


