.singup
	.sign-up-left-banner
		background-image: url("/img/sign-up-bg.jpg")
		height: 665px
		width: 100%
		background-position: center
		.wrap-baner
			background-color: rgba($white, .9)
			position: relative
			top: 20px
			padding: 10px 25px
			h1
				display: inline-block
				text-align: center
				font-size: rem(34)
				&.credit
					font-size: rem(52)
					color: $sign-up-credit-color
			hr
				width: 260px
				background-color: $black
				margin: 20px 0px
			p
				font-size: rem(12)
				line-height: 16px
	.sign-up-right
		border: solid 1px $light_grey
		height: 665px
		.label-text
			font-size: rem(12)
		h2
			margin-bottom: rem(30)
		.sign-up-right-padding
			padding-left: rem(20)
			padding-right: rem(20)
		.social-btn
			margin-bottom: rem(30)
		#register-submit-btn
			margin-bottom: rem(23)
			margin-top: rem(8)
		.or
			margin-top: rem(25)
			margin-bottom: 18px
	@media only screen and (min-width : 992px)
		.sign-up-right
			border-left: none


