.bg-team-wrap {
	height: rem(286);

	background: url(/img/pages/team-bg.png);
	background-attachment: fixed;
	background-size: cover;

	h2 {
		color: $alabaster;
	}

	p {
		font-size: rem(18);
		font-weight: 300;
		color: $alabaster;	
	}
}