.map-block {
	height: rem(287);
	max-width: rem(1600);
	margin-top: rem(-85);

	overflow: hidden;
}

// TODO возможно есть смысл перенести в _forms_c если поля с такой высотой встречаються еще где то
.contact-message {
	textarea {
		min-height: rem(95)
	}
}