.footer_new
	.company
		span
			font-weight: bold

//main page top banner
.home-wrap-text-block.top-block
	background: url(img/banners/main-bg-section-top.jpg)
	background-size: 100% 100%
	color: $white
	p
		font-size: rem(14)
		line-height: 18px
	.border
		border: solid 1px $white
	h3.padding-5
		padding: 5px 0
	@media only screen and (min-width : 992px)
		.top-baner-tabel
			.col-xl-4.left
				width: 27%
			.col-xl-4.center
				width: 36%
				border-left: none
				border-right: none
			.col-xl-4.right
				width: 27%
	@media only screen and (max-width : 991px)
		.mt45
			margin-top: 0
			padding-top: 45px
.subscription-campaing-list
	input[type="email"]
		height: 36px