//main page custom
.triangle
  width: 0
  height: 0
  border-style: solid
  border-color: transparent transparent $crusta transparent
  opacity: 0.7
.text-rotate-after
  position: absolute
  font-weight: bold
  font-family: 'Montserrat'
  letter-spacing: 3px
  color: #fff
  transform: rotate(316deg)
  -webkit-transform: rotate(316deg)
  -moz-transform: rotate(316deg)
  -o-transform: rotate(316deg)
  -ms-transform: rotate(316deg)
  z-index: 3
  text-transform: uppercase
  opacity: 0.6
.main-top-baner
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: 0
    z-index: 2
    @extend .triangle
    border-width: 0 0 340px 350px
  &:before
    content: 'your picture'
    @extend .text-rotate-after
    font-size: rem(30)
    bottom: 115px
    right: 0
#campaignList
  .col-xl-4
    &:first-child
      .block_link
        &:after
          content: ''
          position: absolute
          right: 0
          bottom: 0
          z-index: 2
          @extend .triangle
          border-width: 0 0 200px 200px
        &:before
          content: 'your company'
          @extend .text-rotate-after
          font-size: rem(18)
          bottom: 64px
          right: -18px
.main-video-wrap
  .center-wrap
    &:after
      content: ''
      position: absolute
      right: 0
      bottom: -77px
      z-index: 2
      @extend .triangle
      border-width: 0 0 400px 400px
    &:before
      content: 'your video'
      @extend .text-rotate-after
      font-size: rem(30)
      bottom: 90px
      right: 20px
.main-subscription
  margin-bottom: 0
.main-top-baner h1
  letter-spacing: 4.8px
.heartland-tour
  .one-button
    .btn
      padding-left: 0
      padding-right: 0
//custom design elements
.custom-element-design
  .colors
    .item
      display: inline-block
      margin-bottom: 30px
      .square
        width: 50px
        height: 50px
        display: inline-block
        vertical-align: middle
      span
        font-size: rem(14)
        vertical-align: middle
        margin-left: rem(20)
  .buttons
    .social
      max-width: 330px
  .emphasis
    p.font-weight-bold
      font-size: rem(16)
    p.print
      font-size: rem(12)
.custom-admin-dashboard
  .one-item
    margin-bottom: rem(40)
    .icon
      font-size: rem(83)
      color: $crusta
      width: 125px
      display: inline-block
      vertical-align: middle
      @media only screen and (max-width : 767px)
        margin: 0 auto
        text-align: center
        width: 100%
    .text
      display: inline-block
      width: 83%
      vertical-align: middle
      @media only screen and (max-width : 1199px)
        width: 78%
      @media only screen and (max-width : 767px)
        width: 100%
        margin-top: rem(20)

      