<<<<<<< HEAD
.slider-main

  
  .slider-content
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%
    z-index: 999
    width: 100%
    h1
      color: $white
      margin-bottom: 15px
      margin-top: 0
      letter-spacing: normal
      font-weight: bold
    .small-text
      line-height: 26px
      color: $white
      letter-spacing: .6px
      font-size: 24px
      font-weight: 300
    .link-6
      font-size: 15px
      color: #d7d7d7
      text-decoration: none
      &:hover
        color: $white
  .owl-carousel
    .owl-item
      &:before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        top: 0
        z-index: 1
        left: 0
        background: rgba(17, 17, 17, .4)
      &:nth-child(3)
        &:before
          background: rgba(17, 17, 17, 0)
      h1.big-h1
        @media screen and (max-width: 576px)
          font-size: 24px
          letter-spacing: normal
          line-height: 26px!important
    .owl-nav
      margin-top: 0

    .owl-prev
      position: absolute
      left: 10px
      top: 50%
      border-radius: 100px
      border-radius: 100px!important
      opacity: .6
    .owl-next
      position: absolute
      right: 10px
      top: 50%
      border-radius: 100px!important
      opacity: .6
    .owl-dots
      bottom: 0
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      position: absolute;
      left: 50%
      opacity: .6


@-webkit-keyframes fadeOuts
  from
    opacity: 1

  to
    opacity: 0


@keyframes fadeOuts
  from
    opacity: 1

  to
    opacity: 0


.fadeOuts
  -webkit-animation-name: fadeOuts
  animation-name: fadeOuts

@-webkit-keyframes fadeOutsDown
  from
    opacity: 1

  to
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
    transform: translate3d(0, 100%, 0)

.profile-type-user.credit-all
  .profile-comission
    left: 133px!important
    @media screen and (max-width: 768px)
      left: 123px!important
.credit-investor
  .profile-type-user.credit-all
    .profile-comission
      left: 180px!important
.news
  .list-unstyled
    h4
      b
        font-weight: bold!important
.modal-dialog .modal-header.sign-up-header .title-header-signup h1
  letter-spacing: 2px
.slider-main .heartland-tour-in-main
  z-index: 3
header
  z-index: 4
.news-on-main-page
  b 
    font-weight: bold
=======
.footer_new
	.company
		span
			font-weight: bold

//main page top banner
.home-wrap-text-block.top-block
	background: url(img/banners/main-bg-section-top.jpg)
	background-size: 100% 100%
	color: $white
	p
		font-size: rem(14)
		line-height: 18px
	.border
		border: solid 1px $white
	h3.padding-5
		padding: 5px 0
	@media only screen and (min-width : 992px)
		.top-baner-tabel
			.col-xl-4.left
				width: 27%
			.col-xl-4.center
				width: 36%
				border-left: none
				border-right: none
			.col-xl-4.right
				width: 27%
	@media only screen and (max-width : 991px)
		.mt45
			margin-top: 0
			padding-top: 45px
.subscription-campaing-list
	input[type="email"]
		height: 36px
>>>>>>> 62a970b954fcd0e8215b39c29f738cfe18fa992e
