@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,300);
@font-face
  font-family: 'BrandonGrotesque-Medium'
  src: url('~fonts/brandon_grotesque/brandon_med.otf')
  font-weight: normal
  font-style: normal
/*Typhography*/
body
	-webkit-font-smoothing: antialiased
	font-size: rem(15)
a
	color: $small-text
	+mt(.2s)
	&:hover
		text-decoration: none
		color: $link-1-hover
	&:focus
		text-decoration: none
.link-1
	color: $small-text
	letter-spacing: .35px
	+mt(.2s)
	&:hover
		color: $link-1-hover
		outline: none
	&:focus
		color: $small-text
		outline: none

.link-2
	color: $wild_willow
	letter-spacing: .35px
	text-decoration: underline
	+mt(.2s)
	&:hover
		color: $link-2-hover
		outline: none
	&:focus
		color: $wild_willow
		outline: none
.link-3
	color: $puerto_rico
	letter-spacing: .35px
	+mt(.2s)
	&:hover
		color: $link-3-hover
		text-decoration: underline
		outline: none
	&:focus
		color: $puerto_rico
		outline: none
.link-4
	color: $small-text
	letter-spacing: .35px
	font-weight: 700
	+mt(.2s)
	&:hover
		color: $link-4-hover
		outline: none
	&:focus
		color: $small-text
		outline: none
.link-5
	color: $black_text
	+calc-rem(11)
	letter-spacing: .35px
	font-weight: 700
	+mt(.2s)
	&:hover
		color: $link-4-hover
		outline: none
	&:focus
		color: $black_text
		outline: none

.link-6
	color: $white
	+calc-rem(11)
	letter-spacing: .35px
	text-decoration: underline
	+mt(.2s)
	&:hover
		color: $link-6-hover
		outline: none
	&:focus
		color: $white
		outline: none


h1,h2,h3,h4,h5,h6
	font-weight: 500
 // line-height: 18px

	@media screen and (max-width:640px)
		line-height: 1.3!important
h1,h2,h3,h4,h5,h6
	font-family: $open-sans
	letter-spacing: normal
	&.text-uppercase
		font-family: BrandonGrotesque-Medium
		font-weight: bold
h1
	&.text-uppercase
		letter-spacing: 3px
	&.big-h1
		font-size: rem(48)
		letter-spacing: rem(4.8)
h2
	&.text-uppercase
		letter-spacing: rem(2.4)
h3
	&.text-uppercase
		letter-spacing: rem(1.8)
	@media screen and (max-width:640px)
		line-height: rem(22)!important
h4
	&.text-uppercase
		letter-spacing: rem(1.5)
h6
	&.text-uppercase
		letter-spacing: rem(1.1)
h1
	color: $black
	.small-text
		font-size: rem(14)
		letter-spacing: rem(1.4)
		display: block
		padding-top: rem(8)
		line-height: rem(24)
h2
	margin-top: rem(50)
	margin-bottom: rem(30)
	.small-text
		+calc-rem(12)
		letter-spacing: .25px
		color: $small-text
		display: block
		padding-top: 5px
		text-transform: initial
h3
	margin-top: rem(50)
	margin-bottom: rem(25)
	line-height: rem(24)
	.small-text
		+calc-rem(11)
		letter-spacing: .25px
		color: $small-text
		display: block
		padding-top: 5px
		text-transform: initial
h4
	.small-text
		+calc-rem(12)
		letter-spacing: .25px
		color: $small-text
		display: block
		padding-top: 5px
		text-transform: initial
		line-height: 14px
		font-family: $open-sans
h5
	letter-spacing: 1px
p
	margin-bottom: 0
	font-size: rem(15)
	line-height: rem(22)
//дополнительный клас 
//.dosis
//	font-family: $dosis
.open-sans
	font-family: $open-sans

.information-page
	h3
		margin-top: rem(40)
		margin-bottom: rem(15)

.letter-spacing-0
	letter-spacing: 0
.letter-spacing-2
	letter-spacing: rem(2)

.regular-text
	font-weight: 400
.line-height-1
	line-height: 1!important