
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,300);

body
	-webkit-font-smoothing: antialiased
a,a:hover
	text-decoration: none
.link-1
	color: $small-text
	letter-spacing: .35px
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-1-hover
		outline: none
.link-2
	color: $light_green
	letter-spacing: .35px
	text-decoration: underline
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-2-hover
		outline: none
.link-3
	color: $blue
	letter-spacing: .35px
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-3-hover
		text-decoration: underline
		outline: none
.link-4
	color: $small-text
	letter-spacing: .35px
	font-weight: 700
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-4-hover
		outline: none
.link-5
	color: $black_text
	+calc-rem(11)
	letter-spacing: .35px
	font-weight: 700
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-4-hover
		outline: none
.link-6
	color: $white
	+calc-rem(11)
	letter-spacing: .35px
	text-decoration: underline
	+mt(.2s)
	&:hover,
	&:focus
		color: $link-6-hover
		outline: none
.link-login-singup
		text-decoration: none
		text-transform: uppercase
		font-size: rem(14)

$link-1-hover: rgba(119, 119, 119, .6)
$link-2-hover: rgba(93, 152, 60, .6)
$link-3-hover: rgba(47,148,201, .6)
$link-4-hover: rgba(119, 119, 119, .6)
$link-5-hover: rgba(17, 17, 17, .6)
$link-6-hover: rgba(255, 255, 255, .6)


h1,h2,h3,h4,h5,h6
	font-weight: 500
	line-height: 18px
	color: $black_text
h1
	letter-spacing: rem(4.8)
	.small-text
		font-size: rem(14)
		letter-spacing: rem(1.4)
		display: block
		padding-top: rem(8)
		line-height: rem(24)
h2
	font-size: rem(24)
	letter-spacing: rem(2.4)
	margin-top: rem(50)
	margin-bottom: rem(30)
	.small-text
		font-size: rem(11)
		letter-spacing: rem(.25)
		color: $small-text
		display: block
		padding-top: rem(5)
		text-transform: initial
		line-height: rem(14)
h3
	font-size: rem(18)
	letter-spacing: rem(1.8)
	margin-top: rem(50)
	margin-bottom: rem(25)
	.small-text
		font-size: rem(11)
		letter-spacing: rem(.25)
		color: $small-text
		display: block
		padding-top: rem(5)
		text-transform: initial
		line-height: rem(14)
h4
	font-size: rem(14)
	letter-spacing: rem(1.4)
	.small-text
		font-size: rem(11)
		letter-spacing: rem(.25)
		color: $small-text
		display: block
		padding-top: rem(5)
		text-transform: initial
		line-height: rem(14)
h5
	font-size: rem(12)
	letter-spacing: rem(1)
p
	margin-bottom: 0
//дополнительный клас 
.dosis
	font-family: $open-sans
	font-weight: 600
.open-sans
	font-family: $open-sans

.information-page
	h3
		letter-spacing: rem(3.6)
		margin-top: rem(40)
		margin-bottom: rem(15)
		line-height: rem(24)

.letter-spacing-0
	letter-spacing: 0
.letter-spacing-2
	letter-spacing: rem(2)
.green-text
	color: #07152E
.regular-text
	font-weight: 400

@media only screen and (max-width : 1400px)
	h1
		line-height: rem(48)