//link color- для каждего сайта цвета разные 
$link-1-hover: rgba(119, 119, 119, .6)
$link-2-hover: rgba(114, 184, 26, .6)
$link-3-hover: rgba($smalt, .6)
$link-4-hover: rgba(119, 119, 119, .6)
$link-5-hover: rgba(17, 17, 17, .6)
$link-6-hover: rgba(255, 255, 255, .6)
/** End main color **/
$other-font-family: Roboto
//переменная цвета footer
$footer_background: $alabaster

$footer-title-size: 13px // размер заголовка меню в футере
$footer-title-ls: 1.3px // letter-spacing заголовка меню в футере
// для стилизации текста надписи компании в футере 
$footer_logo_font: $other-font-family
$footer_logo_lett_space: rem(1.3)
$footer-bottom-bgc: $smalt
$footer-bottom-link-color: $boulder
$footer-bottom-link-color-hover: rgba($boulder, .6)
$footer-company-text-color: $boulder
$footer-bottom-text-color: $white!important

// Назовем что бы было так что бы было понятно где оно используется
$menu_backgound_from: $white // цвет для меню если градиент то левая сторона
$menu_backgound_to: $white // цвет для меню если градиент то правая сторона
$menu_text_color: $smalt
$menu_text_color-hover: rgba($smalt, .7)
$menu_color: $smalt!important
$mobile-menu-font-weight: bold
$submenu-bgc-hover: $smalt
$navbar-brand-margin-right: 85px
$navbar-brand-margin-left: 40px
$navbar-brand-margin-right-mobile: 0!important
$navbar-brand-margin-left-mobile: 0!important
$height-notification: 62px
$top-position-notification: 38px
$icon-mobile-menu-color: $smalt
$menu-font-weight: bold
$sub-menu-box-shadov: 0px 4px 15px -5px rgba($smalt,0.75)
$icon_header_color: $smalt
$menu-icon-color: $lima
$menu-backgound-mobile: rgba($menu_backgound_from, .93)
$menu-color-mobile: $menu_text_color
$menu-bgc-mobile-hover: rgba($menu_text_color, .1)
$menu-bgc-mobile-user: $smalt
$mobile-menu-box-shadow: inset 0 9px 10px -8px rgba(0,0,0,0.3)

// main page

//img

$home-our-partners-display: none // только на GF
$titile-better-color: $smalt
$titile-better-ls: 3.6px
$better-icon-color: $lima
$video-center-wrap-bgc: rgba($smalt, .8)
$main-video-table-height: 520px
$main-video-mobile-height: 550px
$main-video-xs-height: 580px
$font-weight-text-video: 300
$letter-spacing-text-video: normal

$video-center-wrap-margin-top: 60
$video-center-wrap-margin-bottom: 40
$margin-bottom-text-video: 20
$margin-top-text-video: 0
$margin-bottom-last-child-text-video: 0
$margin-bottom-h2-title-video: 25
$margin-top-h2-title-video: 0
$play-icon-margin-top-video: 45
// bottom banner
$main-page-banner-bottom-height: 450px
$main-page-banner-bottom-top: -500px
$main-page-banner-bottom-top-mw: -670px
$main-page-banner-bottom-image: 'img/banners/main-bg-section-bottom.jpg'


$powered-by-title-color: $smalt
$powered-by-small-color: $black_pearl
$powered-by-small-font-weight: 300
$powered-by-display: block
$powered-by-title-fz: 15
$powered-by-title-ls: 1.5px

//margin section
$margin-section-main-top-list: 70
$margin-section-main-bottom-list: 50
$margin-section-main-top-better: 45
$margin-section-main-bottom-better: 40
$margin-section-main-top-news: 45

$sign-up-credit-color: $lima
$sign-up-header-bgc: $lima
//box shadow for top menu
$box-shadow-top-menu: 0px 2px 6px 0px rgba(0,0,0,0.3)
//нужно решить что это все ?
//active class  for authorization title tab 
$active_tab_authorization: $mine_shaft
//text color for authorization title tab 
$tab_authorization_text: $black
// color background button submit form
$authorization_btn_submit_bg: $cod_gray

// bootstrap slider styles 
//bg color bootstrap slider tick track(class .slider-selection.tick-slider-selection)
$btstr_slider_track_tick_bg: $scorpion
//bg color bootstrap slider not tick track(class .slider-track-high)
$btstr_slider_track_not_tick_bg: $gallery
//bg color bootstrap slider handle block(class .slider-handle)
$btstr_slider_nandle_block_bg: $lima
//bg color bootstrap slider other handle block(class .slider-tick)
$btstr_slider_other_nandle_block_bg: $white

// color warning block
$text_warning_block_color: $crimson

// переменные для главного меню 
// $padding_menu: 14px 0 0 0 
$menu_shadows: none
$navbar_height: 100px
$navbar_height_mobile: 65px
$logo-width-desktop: 120px
$logo-width-mobile: 100px
// $navbar-header-padd-top: 8px // паддинг в хедере сверху
// $menu-profile-padd-top: 11px // для вертиального выравнивания меню логин\регистр. и иконки профиля в хедере

// нужно проверить !!!
$border-radius-lg:       50px
$border-radius-sm:       50px
// радиус для кнопок 
$btn-border-radius-lg: 50px
$btn-border-radius-sm: 50px
$btn-border-radius: 50px
//переменная для радиуса инпутов
$input-border-radius: 1px
//шрифт по умолчанию 
$font-family-base: 'Open Sans', sans-serif

// переменная размера шрифта для меню которая используется в common/header.sass
$font-size-menu: rem(15)
$letter-sp-menu: rem(1.5)
$font-family-menu: $other-font-family
$font-size-sub-menu: rem(15)
// размеры шрифтов 
$font-size-base:             .875rem
$font-size-lg:               0.875rem!important
$font-size-sm:               0.75rem!important 
$font-size-xs:               .65rem 

$font-size-h1:               1.875rem
$font-size-h2:               1.5rem
$font-size-h3:               1.125rem
$font-size-h4:               0.9375rem
$font-size-h5:               0.8125rem

//переменные отступов для кнопок
$btn-padding-x-lg: rem(42)
$btn-padding-y-lg: rem(14)
$btn-padding-x-sm: rem(26)
$btn-padding-y-sm: rem(6)
$btn-padding-y:    rem(10)
$btn-padding-x:    rem(33)


//forms  высота инпутов
$input-height: 36px
$input-height-sm: 36px
$input-height-lg: 36px

$border_color: $gallery

//переменные инпутов радиус
$border-width: 1px
$border-radius: 1px
// цвет текста всех инпутов
$input-color: $black // почему то не работает 
$custom-select-color: $black

// переменные для пагинации
$pagination-active-color: $grey
$pagination-color: $pagination-active-color
$pagination-padding-y: .16rem
$pagination-padding-x: .62rem
$pagination-padding-x-lg: rem(15)
$pagination-padding-y-lg: rem(6)
$pagination-active-border: $grey
$pagination-hover-border: $grey
$pagination-hover-bg: transparent
$pagination-hover-color: $grey

// наверно не здесь 
$alert-info-bg: none
$alert-info-border: $black
$alert-info-text: $black

$alert-success-bg: none

$alert-warning-bg: none

$alert-danger-bg: none
$alert-danger-border: #ed1c24
$alert-danger-text: #ed1c24


//ostap
$jumbotron-bg: #f8f8f8
$jumbotron-padding: 5px
$company-campaign-font-family: $other-font-family //font-f for left menu - company/campaign

$list-group-border-radius: 0
$list-group-border-radius: 0
$list-group-border-width: 0
// ToDo

//использую на странице invest 
// Оставь добавь переменные плиз
$list-group-active-bg: $smalt
$list-group-active-color: #f4f4f4
$list-group-bg: none
$list-group-hover-bg:  none
$list-group-link-color:  none
$list-group-active-text-color: #f4f4f4
$list-group-link-color: $black_text
//Breadcrumb
$breadcrumb-divider-color: $black_text
$breadcrumb-active-color: #777777

$nav-pills-active-link-color: $grey

$link-color: #111

/* випадающие списки _forms.sass */

$select_height: 36px
$select-padding-y: 0
$select-padding-x: 0.75rem
$select-btn-border-width: 2px

// contextual colors
$text-muted: $small-text
$brand-info: $lima




$display_partnres: none
$popover-bgc: rgba($smalt, 0.9)
$popover-color: $white
$popover-bgc-arrow: rgba($smalt, 0.5)
// цвет для процентов над прогресбаром в ячейке компании
$total_sum_progresbar: $smalt
//цвет прогресс - для каждего сайта разный, менять переменную цвета из файла color.sass
$progress_bar_background: $lima
// $progress-bar-color: $wild_willow
$progress-bar-color: $lima
// радиус для custom-select
$custom-select-border-radius: 1px

//цвет дроп зоны при перетягивании картинки
$dragging-hover-border: $lima

// для стилизации названия компании на странице кампании
$campain_main_name_font_weight: bold

//для стилизации заголовков на странице кампании(переход к заголовкам возможен с помощью верхнего stiky menu)
$campign_subheading_color: $black

// стилизация заголовков в ячейке кампании
$one_block_h3_font_family: $other-font-family
$one_block_h3_letter_space: rem(1.8)
$one_block_h3_font_weight: 700
$list-company-bottom-ff: $other-font-family


// для задаванния картинки бекграунда в хедере(в некоторых сайтах есть кроме цвета еще и картинка)
$header_bg_image: #{''}

// для стилизации заголовков на странице education
$color_heading_education: $black
$heading_education_font_weight: 700
$heading_education_lett_space: rem(3.6)

// для стилизации табов на страницах калькуляторов
$calc_tabs_bg: $alabaster
$calc_tabs_radius: 0
$calc_tabs_current_bg: $smalt

// для стилизации заголовков блогов(на странице списка блогов)
$blog-item-title-weight: 400
$blog-item-title-f-size: rem(18)
$blog-item-title-let-space: 2.2px


// для настройки кнопок с выпадающими списками .one_drop на странице кампании
$one_drop_border_radius: 1px
$one_drop_font_weight: 700

$detail-skroll-ff: $other-font-family // font-family link skroll menu
$company-comments-ff: $other-font-family // 
// переменная для заливки цвета в странице компании - секция OVERVIEW AND TERMS 
$detail-overview-background: $smalt

//переменная для цвета суммы на станице компании - секция Perks
$perks-money-color: $lima

//переменные для меню со скролом на странице компании  
$tabs-scroll-border-bottom-active-link: $smalt
$tabs-scroll-border-bottom-hover-link: $smalt

//переменные для цветов на странице компании - секция ARTICLES AND PRESS
$articles-link-name-color: $smalt // цвет ссылки
$articles-link-name-color-hover: $link-3-hover //
$articles-icon-color: $lima // цвет иконки
$articles-icon-color-hover: $link-2-hover

// переменная для цвета при наведении  надписи на странице компании секция DOCUMENTS
$document-link-hover-color: $smalt

//цвет иконки в шаблонах колькуляторов страница finish
$calculator-finish-icon: $lima
// переменная для вывода текста на странице investment for site DCU
$display_dcu_confirmation: none

// campaign LIKE color -variabless
$bgc-like-detail: $puerto_rico // bgc section like page campaign detail
$campaign-like-color: $white
$campaign-like-color-h2: $black
$campaign-like-bgc: rgba($lima, .75)
$detail-shate-hover-color: $smalt // share hover color

$company-comments-fw: bold
//color-green -variables
$color-green: $lima

// company investor dashboard name -variables
$name-investor-dashboard-ls: 5.1px
$name-investor-dashboard-fw: 400
$date-investor-dashboard-bgc: $red
// color for menu icon check 

// for formc risk -variables
$active-risk-bgc: $smalt
//issuer dashboard
$issuer-dashboard-bgc: $smalt
$more_inform-bgc: rgba($smalt, 0.9) // при ховере на компанию

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$smalt !default;
$nav-color-hover:		$white !default;
$nav-font-size: 		18px !default;
$nav-rounded: 			10px !default;
$nav-padding: 			9px 20px !default;
$nav-margin:			0;
$nav-background: 		$white !default;
$nav-background-hover:	$smalt !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$white !default;
$dot-background-active:	$smalt !default;

//notification 
$bgc-notificatin-bell: $smalt
$notific_list_title: $smalt
$notification-title-ff: $other-font-family
$notification-link-color: $smalt
$notification-link-color-hover: $link-3-hover
$notification-text-color-read: $menu_text_color-hover
$notification-text-color-not-read: $white
$notification-border-bottom-color: rgba($small-text, .9)
$notification-bgc-not-read: rgba(70,70,70, .9)
//raise landing
$growth-is-bgc: $smalt
$content-bottom-icon-color: $smalt

//icon circle
$icon-circle-color: $white
$icon-circle-bgc: $lima

// pages left menu
$page-left-menu-color: $smalt
$section-bg-line: $smalt

// selection
$selection-color: $white
$selection-bgc: rgba($smalt, .5)

// heartland-tour page
$heartland-tour-in-main: $smalt
$heardlen-city-icon-color: $smalt
$heardlen-calendar-bgc: $sandy-brown-two

//цвет иконки для кнопки play
$play-icon-color: $lima

// на странице ANNUAL PRIVACY NOTICE
$annual-privacy-notice: $smalt

