
//link color- для каждего сайта цвета разные 
$link-1-hover: rgba(119, 119, 119, .6)
$link-2-hover: rgba(230, 102, 53, .6)
$link-3-hover: rgba(230, 102, 53, .6)
$link-4-hover: rgba(119, 119, 119, .6)
$link-5-hover: rgba(17, 17, 17, .6)
$link-6-hover: rgba(255, 255, 255, .6)
/** End main color **/

/** Дополнительный шрифт **/
$alegreya-sans: 'Alegreya Sans', sans-serif

$second-font-family: $alegreya-sans

