-
  var dateHelper = require('helpers/dateHelper.js');
  var cssClass = "clearfix nav-link ";
  cssClass += read_flag ? 'read' : '';

li(class=cssClass)
  span(data-messageid=id).server-message
    span.pull-left #{ message.text }
    i.pull-right #{ dateHelper.formatTime(time) }