-
  var cssClass = 'clearfix nav-link notification-item ';
  cssClass += read_flag ? 'notification-item-read' : '';

li(class=cssClass data-id=id id=('comment' + id))
  p.pull-left !{ message.text }
  p.pull-left.date #{ app.helpers.date.fromNow(time) }