-
  var dateHelper = require('helpers/dateHelper.js');
  var cssClass = 'clearfix nav-link notification-item ';
  cssClass += read_flag ? 'notification-item-read' : '';

li(class=cssClass data-id=id)
  p.pull-left !{ message.text }
  p.pull-left.date #{ dateHelper.fromNow(time) }