// TODO добавить анимацию ховерам, появлению блока с меню(ховер на пунктах главного меню)
header
  .navbar-toggleable-md::after
    clear: none

  .bg-inverse
    background-color: transparent
    background: -webkit-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
    background: -o-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
    background: -moz-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
    background: linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
    -webkit-box-shadow: $menu_shadows
    -moz-box-shadow: $menu_shadows
    box-shadow: $menu_shadows

  .navbar
    padding-bottom: 0

    .navbar-brand
      width: 20%

    .mobile-logo
      display: none

  .navbar-nav
    height: $navbar_height
    padding: $padding_menu

    .nav-item
      height: 100%
      position: relative
      margin-left: 20px
      min-width: 35px

      cursor: pointer

      & > a 
        cursor: pointer

        font-size: 11px
        letter-spacing: 2px
        text-transform: uppercase
        color: $white

      .list-container
        display: none

        &.two-columns
          padding: 10px
          width: 450px

      &:hover .list-container
        position: absolute
        top: 100%
        left: -10px
        z-index: 9999
        
        display: block

        background-color: rgba($menu_backgound_from, 0.96)

        &.two-columns
          left: -120px

          .submenu
            vertical-align: top
            float: left
            min-width: 200px

            & > li:first-child:hover
              background: transparent
              cursor: default

            &:last-of-type
              float: right

        &.user-info-drop
          right: -10px
          left: auto


        .submenu
          display: inline-block
          min-width: 245px

          li
            &:hover
              background-color: rgba($white, .09)

              a 
                color: rgba($menu_text_color, 1)

            a
              padding-left: 15px
              width: 100%

              color: rgba($menu_text_color, 0.7)


              font-size: 13px
              text-align: left
            p 
              margin-bottom: 0

              font-weight: 600

      &.notification

        & > a

          i
            position: relative

            line-height: 33px
            font-size: 14px

            color: $icon_header_color

            .count-notific
              position: absolute
              top: 3px
              left: -8px
              
              display: block
              height: 16px
              width: 16px

              background: $boulder
              border-radius: 50%

              color: $menu_text_color

              line-height: 1.4
              text-align: center
              font-size: 11px
              letter-spacing: initial
              font-family: 'Open Sans', sans-serif;

        .submenu::-webkit-scrollbar
          width: 0

        .submenu
          -ms-overflow-style: none

        .submenu
          overflow: -moz-scrollbars-none

        &:hover .submenu
          height: 231px
          overflow: auto

          li:not(.title)
            cursor: pointer
            padding-right: 1rem


          li
            margin-bottom: 5px

            text-align: left

            &:last-child
              margin-bottom: 0

            & > *
              display: inline-block

              font-size: 11px!important

              color: rgba($menu_text_color, 0.7)

            &:hover
              span, i 
                color: rgba($menu_text_color, 1)

            span

              @include ellipsis

              width: 152px

            &.title

              position: absolute
              top: 0
              
              margin-bottom: 0
              padding: 12px 17px 12px 11px;
              width: 245px

              border-bottom: 1px rgba($menu_text_color, 0.3) solid
              background-color: $notific_list_title
              cursor: default

              span
                color: $white

              &:hover
                background-color: $notific_list_title
                a
                  color: $view_all_notification

              a
                width: auto
                padding-left: 0

                color: $view_all_notification
                text-decoration: underline

                &:hover
                  color: rgba($view_all_notification, 0.7)

                  cursor: pointer
              & + li 
                margin-top: 48px

      &.user-info
        a.user-info-name
          span
            display: inline-block
            margin-top: -13px
            margin-right: 10px
            height: 48px
            vertical-align: text-top
            width: 48px

            background-color: rgba($menu_text_color, .09)

            border-radius: 50%

            text-align: center

          i
            font-size: 24px
            line-height: 2
            letter-spacing: 0
  
  .nav-link-sm
    padding: 4px 12px
    font-size: 0.75rem
    color: $menu_text_color


  @media screen and (max-width: 991px)
    .navbar-nav
      padding: 14px 0 0 0

    .navbar-toggler
      margin-top: 2px
      color: rgba($menu_text_color, .5)

      font-size: 26px
      
      &:focus
        outline: none

    .navbar .navbar-brand
      display: inline-block

      width: 180px
    
    .nav-item
      text-align: left

    .navbar-toggler
      float: right
    .pseudo-block
      height: 50px
      width: 1px
      display: inline-block

    .logo
      display: none!important

    .navbar-nav .nav-item.user-info a.user-info-name span
      margin-top: -20px !important
      height: auto
      margin-right: auto
      width: auto
      background-color: transparent

  @media screen and (min-width:992px) and (max-width: 1120px)
    .navbar .navbar-brand
      margin-top: 6px
      width: 15%

    .navbar-nav .nav-item.user-info a.user-info-name span
      display: none

  @media screen and (max-width: 992px)

    .navbar-nav:first-of-type
      height: auto
      // margin-bottom: 27px
      width: 100%

      text-align: center

    .full-height
      width: 100%
      position: absolute
      left: 0
      height: 100vh
      z-index: 9999
      background-color: transparent
      background: -webkit-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
      background: -o-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
      background: -moz-linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
      background: linear-gradient(to right, $menu_backgound_from, $menu_backgound_to)
      -webkit-box-shadow: $menu_shadows
      -moz-box-shadow: $menu_shadows
      box-shadow: $menu_shadows

    .navbar-nav:first-of-type
      float: none!important
      width: 540px
      margin-left: auto
      margin-right: auto

    .navbar-nav:last-of-type
      display: inline-block
      float: none!important
      width: 100%
      margin: 0 auto
      
    .form-inline
      margin: 0 10px
      display: block
      height: 45px
      border-bottom: 1px solid $menu_text_color
      position: relative

      .form-control
        background-color: transparent
        border: none
        outline: none
        padding-left: 40px
        height: 45px
        color: $menu_text_color

      .btn
        border: none
        outline: none
        padding: 5px
        color: $menu_text_color
        font-size: 25px
        position: absolute
        left: 0
        top: 0
    
    .navbar-nav
      .nav-item
        position: static !important
        min-width: 100%
        height: auto

    .notification-bell
      margin-top: -3px

    .notification-container
      left: auto !important
      right: 0 !important

    .list-container
      position: static

  @media screen and (max-width: 585px)

    .navbar .navbar-brand
      display: inline-block

      width: 155px

    .navbar-nav:first-of-type
      height: auto
      // margin-bottom: 27px
      width: 100% !important

      text-align: center


      li.nav-item
        margin-left: 0!important
        width: 100%

        .list-container

          &.two-columns
            width: 100%

        &:hover .list-container
          position: static
          
          display: block

          background-color: rgba($menu_backgound_from, .96)


          .submenu
            display: block
            min-width: 100%

          &.two-columns
            padding: 0;
            width: 100%

            .submenu
              float: none
              min-width: 100%

              &>li:first-child:hover
                background: none

              &:last-of-type
                float: none

    .navbar-nav:last-of-type
      width: auto

      li.nav-item
        margin-left: 0!important
        padding-left: 10px
        min-width: 100%
        text-align: left

    .notification-container
      left: auto !important
      right: 0 !important
      position: absolute !important
      min-width: 300px

  @media screen and (max-width: 385px)

    .notification-container
      min-width: 100%