@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,300);

$font-family-base: 'Open Sans', sans-serif
$dosis: 'Dosis', sans-serif
$open-sans: 'Open Sans', sans-serif

// Фукнции
=mt($time)
    transition: all $time ease
    -webkit-transition: all $time ease-in-out
    -moz-transition: all $time ease-in-out
    -ms-transition: all $time ease-in-out
    -o-transition: all $time ease-in-out
    transition: all $time ease-in-out

=ellipsis() 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


=calc-rem($px)                                                                    
    font-size: $px / 16 + rem                                                     




=calc-rem-padding($px)
    padding-top: $px / 16 + rem
    padding-bottom: $px / 16 + rem

=placeholder                                                                      
  &::-webkit-input-placeholder                                                    
    @content                                                                      
  &:-moz-placeholder                                                              
    @content                                                                      
  &::-moz-placeholder                                                             
    @content                                                                      
  &:-ms-input-placeholder                                                         
    @content  

