- pug_html += app.breadcrumbs('Success!', '', [ ['Home', '/'], ['COMPANY', '/'], ['Express interest', ''], ]); 


.container.thank-you-page
  .row
    .col-xl-8.offset-xl-2
      h2.text-xs-center.m-b-1.font-weight-light.m-t-0.thank-you-page-title
        .icon-in-circle.m-r-1.d-inline-block.align-middle
          i(aria-hidden="true").fa.fa-thumbs-o-up
        | Thank you for expressing your interest!
      h2.text-xs-center.m-t-0.m-b-0.font-weight-light You’ve joined xx people who indicate an interest in "COMPANY"
      hr.m-t-3.m-b-3
  .row
    .col-xl-6.offset-xl-3.col-lg-8.offset-lg-2
      .text-wrap
        p.text-justify If "COMPANY" elects to proceed with a live offering, the company will first register and qualify the offering with the Securities and Exchange Commission. As soon as the BlueHollar offering goes live, you will be notified by email.
        p.m-t-1
          | If you have questions, please write to us at 
          a(href="mailto:info@growthfountain.com").link-2 info@growthfountain.com