.container
  .row
    .col-lg-3
      .footer_title.border_bottom
        h4 About us
      a(href="/pg/overview") Overview
      a(href="/pg/team") #{teamName}
      a(href="/pg/partners").display-partners Partners
      a(href="/pg/contact") Contact Us
      a(href="/pg/careers") Careers
      a(href="/pg/news") In the News
      a(href="/pg/faq") FAQ
      //- a(href="/pg/blogs").mb20 Blog
    .col-lg-3
      .footer_title.border_bottom
        h4 Investor resources
      a(href="/pg/investor_tutorial") Investor Tutorial
      a(href="/pg/education") Education
      a(href="/pg/investorquestions").mb20 FAQ
    .col-lg-3
      .footer_title.border_bottom
        h4 Business resources
      a(href="/pg/business_tutorial") Business Tutorial
      //- a(href="") Campaign Material
      a(href="/pg/success_guide") Success Guide
      a(href="/calculator/capitalraise/intro") How Much Should I Raise?
      a(href="/calculator/selectYourBusiness") What's My Business Worth?
      a(href="/pg/entrepreneurquestions").mb20 FAQ
    
    .col-lg-3
      .footer_title.border_bottom
        h4 Legal
      a(href="/pg/terms_of_use") Terms of Service
      a(href="/pg/privacy_policy") Privacy Policy
      a(href="/pg/annual_privacy") Annual Privacy Notice
      a(href="/pg/electronic_signature").mb20ESIGN Disclosure
  .row
    .col-lg-12
      hr.mb50.mt50
      p.small.text-muted GrowthFountain Capital, LLC (“GFC”) is a funding portal registered with the US Securities and Exchange Commission (“SEC”) and is a member of the Financial Industry Regulatory Authority (“FINRA”).  GFC serves as the funding portal facilitating all securities-related transactions on the website growthfountain.com and all subdomains related thereto (collectively, the “Platform”).  All securities listed on the Platform are offered pursuant to Section 4(a)(6) of the Securities Act of 1933, as amended, and the related rules promulgated by the SEC (collectively, “Regulation Crowdfunding”).   By viewing and using the Platform, you agree to be bound by our Terms of Use and Privacy Policy, as may be amended. GFC is not a registered broker dealer or an investment advisor. GFC and its affiliates do not make investment recommendations or provide any investment advice.  No communication, through the Platform or otherwise, should be construed as advice or a recommendation for any securities being offered through the Platform.  GFC does not verify information provided by companies listed on the Platform and makes no assurance as to the completeness or accuracy of any such information. Prospective investors must conduct their own due diligence before making a decision to invest in any securities offered on the Platform.  Investments in crowdfunding offerings are speculative and involve a high degree of risk and those investors who cannot afford to lose their entire investment should not invest. SEC registration and FINRA membership do not constitute an endorsement by those entities. Neither the SEC nor any other regulatory body has passed upon the merits of the securities, the terms of the offerings, or the accuracy or completeness of any offering materials posted on the Platform.  The securities that are listed on the Platform are not insured against loss, not guaranteed to increase in value and may lose all their value.
  .row
    .col-lg-12.text-xs-center.mt50
      .display-partners
        p.fade-in-logo#fade_in_logo
          img(src="/img/fade-in-logo.png" alt="")
      .company
        span ©GROWTHFOUNTAIN 2016.
        p Made with heart in NYC

