li.nav-item
  a(href="/companies").nav-link
    i.fa.fa-search.hidden-md-down
    |  Explore 
    .hidden-lg-up.d-inline-block
      |  companies
//for mobile
li.nav-item.hidden-lg-up
  a(href="/pg/education").nav-link Education
li.nav-item.hidden-lg-up
  a(href="/pg/faq").nav-link FAQ
li.nav-item.hidden-md-down
  a(href="#").nav-link About us 
    i.fa.fa-angle-down
  .list-container
    ul.submenu.list-unstyled
      li
        a(href="/pg/overview").nav-link GrowthFountain Overview
      li
        a(href="/pg/team").nav-link #{app.config.teamName}
      li.display-partners
        a(href="/pg/partners").nav-link Partners
      li
        a(href="/pg/contact").nav-link Contact Us
      li
        a(href="/pg/careers").nav-link Careers
      li
        a(href="/pg/news").nav-link In the News
      li
        a(href="/pg/faq").nav-link FAQ
      //li
        a(href="/blog").nav-link Blog
  li.nav-item.hidden-md-down
    a(href="#").nav-link Resource center 
      i.fa.fa-angle-down
    .list-container.two-columns
      ul.submenu.list-unstyled
        li.nav-link-sm
          p For Investors
        li
          a(href="/pg/investor-tutorial").nav-link Investor Tutorial
        li
          a(href="/pg/education").nav-link Education
        li
          a(href="/pg/investor-questions").nav-link FAQ
      ul.submenu.list-unstyled
        li.nav-link-sm
          p For Businesses
        li
          a(href="/pg/business-tutorial").nav-link Business Tutorial
        //- li
        //-     a.nav-link(href=Urls['campaign-list']()) Campaign Material
        li
          a(href="/pg/success-guide").nav-link Success Guide
            if app.user.is_anonymous() 
              i.fa.fa-lock.pull-right.align-middle
              span.title Access our tools for free!  Simply register on our platform to get started.
        li
          a(href="/pg/advertising").nav-link Advertising and Communication
            if app.user.is_anonymous() 
              i.fa.fa-lock.pull-right.align-middle
              span.title Access our tools for free!  Simply register on our platform to get started.
        li
          a(href="/calculator/revenue-share").nav-link Revenue Share Calculator
            //-if app.user.is_anonymous()
              i.fa.fa-lock.pull-right
              span.title Access our tools for free!  Simply register on our platform to get started.
        li
          a(href="/calculator/capital-raise").nav-link How Much Should I Raise?
            //-if app.user.is_anonymous()
              i.fa.fa-lock.pull-right
              span.title Access our tools for free!  Simply register on our platform to get started.
        li
          a(href="/calculator/business-valuation").nav-link Business Valuation Calculator
            //-if app.user.is_anonymous()
              i.fa.fa-lock.pull-right
              span.title Access our tools for free!  Simply register on our platform to get started.
        li
          a(href="/pg/entrepreneur-questions").nav-link FAQ

  if app.user.is_anonymous()
    li.nav-item.hidden-md-down
      a(href="/raise-capital").nav-link Raise Capital
  else
    li.nav-item.hidden-md-down
      a(href="/company/create").nav-link Raise Capital
if app.user.is_anonymous()
  .mobile-signup.mobile-singup-wrap.hidden-lg-up.text-xs-left
    a(href="/account/login").btn.m-b-2.m-t-2.btn-login-mobile Log in
    a(href="/account/signup").btn.btn-primary.btn-login-mobile sign up + get $25
.hidden-lg-up.profile-mobile-menu
  include profile
