li.nav-item.notification.notification-bell.text-center.drop-container
  a(href="#")
    i.fa.fa-bell-o
    - var style = unreadCount ? '' : '"display: none;"';
    span(style="#{ style }").count-notific
      #{ unreadCount || '' }

  .list-container.notification-container
    ul.submenu.list-unstyled.notifications
      li.clearfix.title.nav-link
        span.pull-left
          b
            span.count-notific
              #{ unreadCount || ''}
            | &nbsp;
            | pending comment(s)
        a(href="#").view-all.pull-right  view all
    each n in notifications
      snippets.message(n)
          
          