- 'use strict';
include menu.pug

- pug_html += app.breadcrumbs('Create Company', '', [ ['Home', '/'], ['Create Campaign', '/campaign/' + values.id + '/general_information'], ['GENERAL INFORMATION', ''], ]);

section.create-company-general.container.m-b-85
  - var campaignId = values.id;
  - var formcId = formc.id;
  .row
    +menu('campaign', 'general_information')
    
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.title GENERAL INFORMATION
      form.form-section
        - pug_html += app.fields.textareaLabel('pitch', {schema: fields.pitch, value: values.pitch,})
        - pug_html += app.fields.textareaLabel('intended_use_of_proceeds', {schema: fields.intended_use_of_proceeds, value: values.intended_use_of_proceeds,})
        - pug_html += app.fields.textareaLabel('business_model', {schema: fields.business_model, value: values.business_model,})
        .border-bottom.m-t-3.m-b-3
        |!{ templates.additional_info }
        .border-bottom.m-t-3.m-b-3
        |!{ templates.faq }
        
        .col-lg-12.m-t-3.pull-lg-right.p-r-0.p-l-0.text-lg-right.text-md-center.text-sm-center.text-xs-center
          // button(type="submit").btn.btn-secondary.text-uppercase.m-r-3.m-t-0 Fields Review
          button#submitForm.btn.btn-primary.text-uppercase.m-t-0 save and continue
            i.fa.fa-angle-right
