- 'use strict';
include ../../../templates/mixins.pug
//- include menu.pug
include ../../../templates/menuRaiseFund.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', ''],
        ['GENERAL INFORMATION', ''],
    ]
)

section.create-company-general.container.m-b-85
  +menu('raise_fund', 'general_information')
  
  .col-lg-10.offset-lg-1.col-xl-8.offset-xl-0.push-xl-3
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 GENERAL INFORMATION
    form(data-method="PATCH" action="").form-section
      if values.id && values.id != ''
        input(type='hidden' name='id' value=values.id)#id
      .form-group.row.clearfix.required
      +fieldBlock("pitch", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        placeholder: "What's your pitch?",
        type: 'textarea',
        })
      +fieldBlock("intended_use_of_proceeds", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'textarea',
        placeholder: "What's your business model?",
        })
      +fieldBlock("business_model", '', {
        class1: 'col-lg-3 col-md-12 text-md-left',
        class2: 'col-lg-9 col-md-12',
        type: 'textarea',
        placeholder: 'How are you going to use the money you raise?',
        })
      |!{ templates.additional_info }
      .border-bottom
      |!{ templates.faq }
      
      .col-lg-12.m-t-3.pull-lg-right.p-r-0.text-lg-right.text-md-center.text-sm-center.text-xs-center
        // button(type="submit").btn.btn-secondary.text-uppercase.m-r-3.m-t-0 Fields Review
        button(type="submit" data-method="PATCH").btn.btn-primary.text-uppercase.m-t-0 save and continue
          i.fa.fa-angle-right

  //- +menu('raise_fund', 'general_information')

