- 'use strict';
include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
include menu.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', '/campaign/' + values.id + '/general_information'],
        ['GENERAL INFORMATION', ''],
    ]
)

section.create-company-general.container.m-b-85
  - var campaignId = values.id;
  - var formcId = formc.id;
  +menu('campaign', 'general_information')
  
  .col-xl-8.col-lg-8.col-md-12
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0.m-b-3 GENERAL INFORMATION
    form.form-section
      .col-xl-12
        +fieldTextareaLabel("pitch", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          }, fields.pitch))
        +fieldTextareaLabel("intended_use_of_proceeds", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          }, fields.intended_use_of_proceeds))
        +fieldTextareaLabel("business_model", _.extend({
          class1: 'col-xl-3 col-lg-12 text-lg-left text-xl-right',
          class2: 'col-xl-9 col-lg-12',
          }, fields.business_model))
        |!{ templates.faq }
        .border-bottom
        |!{ templates.additional_info }
        
        .col-lg-12.m-t-3.pull-lg-right.p-r-0.text-lg-right.text-md-center.text-sm-center.text-xs-center
          // button(type="submit").btn.btn-secondary.text-uppercase.m-r-3.m-t-0 Fields Review
          button#submitForm.btn.btn-primary.text-uppercase.m-t-0 save and continue
            i.fa.fa-angle-right
