include menu.pug

- 
  var imageDropzone = require('directives/setdropzone/image.js'); 
  var galleryDropzone = require('directives/setdropzone/gallery.js'); 
  pug_html += app.breadcrumbs('Create Company', '', [ ['Home', '/'], ['Create Company', '/campaign/' + values.id + '/general_information'], ['Media', ''], ]);

section.create-company-media.container.media-container
  - var campaignId = values.id;
  - var formcId = formc.id;
  .row
    +menu('campaign', 'media')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.title Media
      form.form-section
        -
          pug_html += new imageDropzone.ImageDropzone(view, 
            'header_image_image_id', 
            'header_image_data', 
            view.fields.header_image_image_id
          ).render().resultHTML;
        .thumbnail-picture
          -
            pug_html += new imageDropzone.ImageDropzone(view, 
              'list_image_image_id', 
              'list_image_data', 
              view.fields.list_image_image_id
            ).render().resultHTML;

        -
          pug_html += new galleryDropzone.GalleryDropzone(view, 
            'gallery_group_id', 
            'gallery_group_data', 
            view.fields.gallery_group_id
          ).render().resultHTML;
        .row
          .col-xl-12
            .border-bottom.m-t-3.m-b-3
        .col-lg-12
          h3.text-lg-center.col-md-center.col-xs-center.m-t-0 Recommended Additional Media

        .row.m-b-2.recommended.main-video-block
          -
            pug_html += video.render();

        .row.additional-video-block
          |!{ templates.additional_video }
        .row
          .col-xl-12
            .border-bottom.m-t-2.m-b-3
        |!{ templates.press}
        .row
          .col-xl-12.pull-lg-right.text-lg-right.text-sm-center.text-md-center.text-xs-center.m-t-3.p-sm-0
            button#submitForm.btn.btn-primary.text-uppercase save and continue
              i.fa.fa-angle-right

