include menu.pug

- 
  var imageDropzone = require('directives/setdropzone/image.js'); 
  var galleryDropzone = require('directives/setdropzone/gallery.js'); 
  pug_html += app.breadcrumbs('Create Company', '', [ ['Home', '/'], ['Create Company', '/campaign/' + values.id + '/general_information'], ['Media', ''], ]);

section.create-company-media.container.media-container
  - var campaignId = values.id;
  - var formcId = formc.id;
  .row
    +menu('campaign', 'media')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.dosis.text-lg-center.text-xs-center.m-t-0 Media
      form.form-section
        -
          pug_html += new imageDropzone.ImageDropzone(view, 
            'header_image_image_id', 
            'header_image_data', 
            view.fields.header_image_image_id
          ).render().resultHTML;
        .thumbnail-picture
          -
            pug_html += new imageDropzone.ImageDropzone(view, 
              'list_image_image_id', 
              'list_image_data', 
              view.fields.list_image_image_id
            ).render().resultHTML;

        .m-b-2
          -
            pug_html += new galleryDropzone.GalleryDropzone(view, 
              'gallery_group_id', 
              'gallery_group_data', 
              view.fields.gallery_group_id
            ).render().resultHTML;
        .row
          .col-xl-12
            .border-bottom.m-t-2.m-b-3
        .col-lg-12
          h3.text-lg-center.col-md-center.col-xs-center.m-t-0 Recommended Additional Media

        .row.m-b-2.recommended.main-video-block
          .video-container
            .col-xl-7.col-lg-6
              - pug_html += app.fields.textLabel('video', {placeholder: 'http://www.', help_text: 'YouTube or Vimeo links only please.', schema: fields.video, value: values.video,})

            #video_source.col-xl-5.col-lg-6
              -
                var videoInfo = app.getVideoInfo(values.video);
              if videoInfo.provider === 'youtube'
                .img-media.youtube-media
                  img(src="https://img.youtube.com/vi/" + videoInfo.id + "/0.jpg")
              else if videoInfo.provider === 'vimeo'
                .img-media
                  img(src="" data-vimeo-id=videoInfo.id).card-img.w-100.vimeo-thumbnail
              else
                .img-media
                  img(src=require("images/default/default-video.png"))


        .row.additional-video-block
          |!{ templates.additional_video }
        .row
          .col-xl-12
            .border-bottom.m-t-2.m-b-3
        |!{ templates.press}
        .row
          .col-xl-12.pull-lg-right.text-lg-right.text-sm-center.text-md-center.text-xs-center.m-t-3.p-sm-0
            button#submitForm.btn.btn-primary.text-uppercase save and continue
              i.fa.fa-angle-right

