- 'use strict';
include ../../../templates/mixins.pug
include ../../../templates/fields_mixins.pug
include menu.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', '/campaign/' + values.id + '/general_information'],
        ['Media', ''],
    ]
)
section.create-company-media.container.media-container
  +menu('campaign', 'media')
  //START RIGHT BLOCK
  .col-xl-8.col-lg-8.col-md-12
    h2.text-uppercase.dosis.text-lg-center.text-xs-center.dosis.m-t-0.m-b-3 Media
    form(data-method="PUT" action="").form-section

      +imageDropzone("header_image_image_id", _.extend({
        class1: 'col-xl-3 col-lg-12 text-xs-center text-xl-right',
        class2: 'col-xl-9 col-lg-12 text-xs-center p-sm-0',
        thumbSize: '255x153',
        default: '/img/default/255x153.png',
        text: 'Drop your photo here or click to upload',
        icon: 'file-image-o',
        label: 'Header Image'
      }, this.fields.header_image_image_id))
      +imageDropzone("list_image_image_id", _.extend({
        class1: 'col-xl-3 col-xs-12 text-xs-center text-xl-right',
        class2: 'col-xl-9 col-xs-12 text-xs-center p-sm-0 p-l-1',
        thumbSize: '255x153',
        default: '/img/default/255x153.png',
        text: 'Drop your photo here or click to upload',
        icon: 'file-image-o',
        label: 'Thumbnail Picture'
      }, this.fields.list_image_image_id))
      .m-b-2
        +galleryDropzone("gallery_group_id", _.extend({
            class1: 'col-xl-3 col-lg-12 text-xs-center text-xl-right',
            class2: 'col-xl-9 col-lg-12 text-xs-center p-sm-0',
            default: '/img/default/77x45.png',
            text: 'Drop your photo(s) here or click to upload',
            icon: 'file-image-o',
            data: values.gallery_group_data,
          }, fields.gallery_group_id))

      .col-lg-12.p-r-0.m-t-2.m-b-3
        hr
      .col-lg-12
        h3.text-lg-center.col-md-center.col-xs-center.m-t-0 Recommended Additional Media

      .row.m-b-2.recommended.p-sm-0.main-video-block
        .col-lg-12.p-sm-0
          .col-lg-7
            +fieldTextLabel("video", _.extend({
              class1: 'col-xl-5 col-lg-12 p-sm-0 text-xl-right text-lg-left',
              class2: 'col-xl-7 col-lg-12 p-sm-0',
              }, fields.video))
            
          #video_source.col-lg-5.p-sm-0.p-r-0
            .embed-responsive.embed-responsive-16by9
              - var mainVideo = app.getVideoId(values.video);
              if mainVideo && mainVideo.provider == 'youtube'
                iframe(src="//www.youtube.com/embed/" + mainVideo.id + "?rel=0" allowfullscreen="true").embed-responsive-item
              else if mainVideo && mainVideo.provider == 'vimeo'
                iframe(src="//player.vimeo.com/video/" + mainVideo.id allowfullscreen="true").embed-responsive-item
              else
                iframe(src="//www.youtube.com/embed/?rel=0" allowfullscreen="true").embed-responsive-item

        .row.m-b-0.additional-video-block
          |!{ templates.additional_video }
        .col-xl-12
          .border-bottom.m-t-3.m-b-3
        |!{ templates.press}
        .col-xl-12.pull-lg-right.text-lg-right.text-sm-center.text-md-center.text-xs-center.m-t-3
          button(type="submit" data-method="PUT").btn.btn-primary.text-uppercase save and continue
            i.fa.fa-angle-right
  //- +menu('media')
