- 'use strict';
include ../../../templates/mixins.pug
include menu.pug

+breadcrumbs('Create Company', '', 
    [
        ['Home', '/'],
        ['Create campaign', ''],
        ['perks', ''],
    ]
)

section.create-perks.container
  +menu('perks')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 perks
    form(metod="post" action="").form-section
      .form-group
        .col-sm-12.p-r-0
          .campaign-warning 
            i.fa.fa-exclamation-triangle 
            span.warning-text 
            | Investment decisions can depend as much on emotional attachment to your company as they do on potential return. Evidence suggests that investors particularly like to invest in companies that give them perks - or tangible rewards of ownership, as well as continued contact post-investment.We recommend offering at least one item, and perhaps more, depending on the level of investment. For example, all investors could receive coupons or discounts. If the company makes a widget, who
            | invest a minimimum of $500 receive a free widget. Please consider the cost of shipping and production when you offer to send an investor a free item based on their investment - make sure it works for you monetarily and make sure to manage expectations appropriately. Offering perks is completely optional and up to you - you can even offer honorable mention on a website, a signed picture, etc. Investor perks are not intended to affect the value of the security andshould evaluate the
            | merits of each investment without regard to any Investor Perks.
        .col-lg-12
          .row
            .articles
              +fieldBlock("perks", '', {
                class1: 'col-lg-3 col-md-4',
                class2: 'col-lg-9 col-md-8',
                type: 'json',
                })
              .col-lg-8.offset-lg-3.p-l-0
                a(href="#" data-section='perks').link-2.add-section
                  i.fa.fa-plus
                  |  Add Another Perks Level
        .col-lg-12.pull-lg-right.p-r-0.m-t-3.text-lg-right.text-md-center.text-sm-center.text-xs-center
              button(type="submit" data-href="/api/campaign/" + values.id).btn.btn-secondary.text-uppercase.m-r-3.onPreview preview
              button(type="submit").btn.btn-primary.text-uppercase save
                i.fa.fa-angle-right
