- 'use strict';
include menu.pug

- pug_html += app.breadcrumbs('Create Company', '', [ ['Home', '/'], ['Create Company', '/campaign/' + values.id + '/general_information'], ['perks', ''], ]);

section.create-perks.container
  - var campaignId = values.id;
  - var formcId = formc.id;
  .row
    +menu('campaign', 'perks')

    //START RIGHT BLOCK
    .col-xl-8.col-lg-8.col-md-12
      h2.text-uppercase.text-lg-center.text-xs-center.m-t-0.title perks
      form.form-section
        .form-group.row
          .col-xl-12
            .warning-block  
              i.fa.fa-info-circle
              span.warning-text Investment decisions can depend as much on emotional attachment to your company as they do on potential return. Evidence suggests that investors particularly like to invest in companies that give them perks - or tangible rewards of ownership, as well as continued contact post-investment. We recommend offering at least one item, and perhaps more, depending on the level of investment. For example, all investors could receive coupons or discounts. If the company makes a widget, who invest a minimimum of $500 receive a free widget. Please consider the cost of shipping and production when you offer to send an investor a free item based on their investment - make sure it works for you monetarily and make sure to manage expectations appropriately. Offering perks is completely optional and up to you - you can even offer honorable mention on a website, a signed picture, etc.
                br
                |  Investor perks are not intended to affect the value of the security and should evaluate the merits of each investment without regard to any Investor Perks.
        .articles
          |!{ templates.perks }
        .row
          .col-lg-12.pull-lg-right.m-t-3.text-lg-right.text-md-center.text-sm-center.text-xs-center
            button#submitForm.btn.btn-primary.text-uppercase save
