- 'use strict';
include ../../../templates/mixins.pug
include menu.pug

+breadcrumbs('CREATE CAMPAIGN', '', 
    [
        ['Home', '/'],
        ['current', ''],
    ]
)

section.campaign-specifics.container.m-b-85
  +menu('specifics')

  //START RIGHT BLOCK
  .col-lg-8
    h2.text-uppercase.text-lg-center.text-xs-center.dosis.m-t-0 specifics
    form(metod="post" action="").form-section
      .form-group
        .col-sm-12.p-r-0
          .campaign-warning 
            i.fa.fa-exclamation-triangle 
            span.warning-text 
            | You get to set two fundraising goals: the minimum you're willing to accept and the  maximum you're willing to accept.  If you don't reach your minimum fundraising goal, all money will be returned to the investors.

      .row.label-top-6
        .col-lg-6.col-l-65
          +fieldBlock("minimum_raise", '', {
            class1: 'col-lg-6 col-md-3', 
            class2: 'col-lg-6 col-md-9', 
            type: 'text',
            placeholder: '$',
            })
        .col-lg-6.col-l-65
          +fieldBlock("maximum_raise", '', {
            class1: 'col-lg-5 col-md-3', 
            class2: 'col-lg-7 col-md-9', 
            type: 'text',
            placeholder: '$',
            })
      .label-top-6
        +fieldBlock("minimum_increment", '', {
           class1: 'col-lg-3 col-md-4',
           class2: 'col-lg-9 col-md-8',
           type: 'text',
           placeholder: '$  People can invest this amount or more  ',
           })
      .label-top-6
        +fieldBlock("length_days", '', {
           class1: 'col-lg-3 col-md-4',
           class2: 'col-lg-9 col-md-8',
           type: 'choice',
           text: 'Length of the Campaign',
           })
      .text-lg-right.img-ppt
        - const fileName = values.investor_presentation_data ? values.investor_presentation_data.name : '';
        - const extension = fileName ? fileName.split('.').pop() : '';
        - const suffix = extension == 'pdf' ? '_pdf' : (['ppt', 'pptx'].indexOf(extension) != -1 ? '_pptx' : '_file');
        +fieldDropzone("investor_presentation", {
            class1: 'col-lg-3',
            class2: 'col-lg-9 p-l-1 p-r-1',
            text: 'Drop your PPT or PDF here or click to upload',
            icon: 'file',
            default: '/img/default' + suffix + '.png',
        })
            //- default: fileName && (fileName.endsWith('.pdf') || fileName.endsWith('.pptx')) ? '/img/default' + suffix + '.png' : '/img/MS-PowerPoint.png',
            //- default: '/img/MS-PowerPoint.png',

      .row.border-top

      h3.text-lg-center.col-lg-12.pre-money-terms Pre-Money Valuation and Equity Terms
      .col-lg-12.text-lg-center.text-md-center.text-xs-center.m-b-1.p-b-1
        a(href="https://github.com/vladyslav2/gfwhitelabels/files/470205/growthfountain_security_description.pdf" target="_blank").link-2 Click here to see descriptions of Common Equity and PayBack Share

      .pre-money-terms
        +fieldBlock("security_type", '', {
          class1: 'col-lg-3', 
          class2: 'col-lg-9', 
          type: 'radio',
          })



      .security_type_list.security_type_0(style=(values.security_type == 0 ? '' :  "display: none"))
          .row
            .col-lg-6.col-l-65.m-l-30.form-group.row.clearfix
              label.col-lg-5.text-lg-right Link to Calculators
              .col-lg-7
                .btn-group
                  button(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-dropdown Link to Calculators
                  button(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.dropdown-toggle.dropdown-toggle-split.btn-dropdown-click
                    span.sr-only 
                  .dropdown-menu
                    a(href="/calculator/paybackshare/step-1" target="_blank").dropdown-item Payback Share Calculator
                    a(href="/calculator/capitalraise/intro" target="_blank").dropdown-item How Much Should I Raise?
                    a(href="/calculator/capitalraise2/step-1" target="_blank").dropdown-item Capital Raise Calculator 2
                    a(href="#" target="_blank").dropdown-item What's My Business Worth?
            .col-lg-5.col-l-65.p-l-0.p-r-1.pre-money-p-r-0.pull-right
              +fieldBlock("premoney_valuation", '', {
                class1: 'col-lg-4 col-md-3', 
                class2: 'col-lg-6 col-md-9', 
                type: 'text',
                placeholder: '$',
                })
          .label-top-6
            +fieldBlock("price_per_share", '', {
               class1: 'col-lg-3 col-md-4',
               class2: 'col-lg-9 col-md-8',
               type: 'text',
               placeholder: '$',
               })
          
          .row.m-t-2.form-group-m-b-15
            .col-lg-6.col-l-65
              +fieldBlock("min_number_of_shares", '', {
                class1: 'col-lg-6 p-l-2', 
                class2: 'col-lg-6 col-md-9', 
                type: 'text',
                placeholder: '$',
                disabled: true,
                })

            .col-lg-6.col-l-65
              +fieldBlock("max_number_of_shares", '', {
                class1: 'col-lg-5 col-md-3', 
                class2: 'col-lg-7 col-md-9', 
                type: 'text',
                placeholder: '$',
                disabled: true,
                })

          .row.m-t-2.form-group-m-b-15
            .col-lg-6.col-l-65
              .form-group.row.min_equity_offered.required
                label(for="min_equity_offered").text-lg-right.col-lg-6.p-l-2 Minimum Equity Offered
                .col-lg-6.col-md-9
                  input.form-control#min_equity_offered(name="min_equity_offered" placeholder="$" type="text" value="0" disabled)

            .col-lg-6.col-l-65
              .form-group.row.max_equity_offered.required
                label(for="max_equity_offered").text-lg-right.col-lg-5.col-md-3 Maximum Equity Offered
                .col-lg-6.col-md-9
                  input.form-control#max_equity_offered(name="max_equity_offered" placeholder="$" type="text" value="0" disabled)



          //- .row.m-t-2.form-group-m-b-15
          //-   .col-lg-6.col-l-65
          //-     +fieldBlock("min_equity_offered", '', {
          //-       class1: 'col-lg-6 p-l-2', 
          //-       class2: 'col-lg-6 col-md-9', 
          //-       type: 'text',
          //-       placeholder: '$',
          //-       disabled: true,
          //-       })

          //-   .col-lg-6.col-l-65
          //-     +fieldBlock("max_equity_offered", '', {
          //-       class1: 'col-lg-5 col-md-3', 
          //-       class2: 'col-lg-7 col-md-9', 
          //-       type: 'text',
          //-       placeholder: '$',
          //-       disabled: true,
          //-       })
            //- .col-lg-6 Maximum # of Share: 
            //-   span#min_number_of_share 1000

      .security_type_list.security_type_1(style=(values.security_type == 1 ? '' :  "display: none"))
          //- .row
          //- .label-top-6
          //-   +fieldBlock("percentage_revenue", '', {
          //-      class1: 'col-lg-3 col-md-4',
          //-      class2: 'col-lg-9 col-md-8',
          //-      type: 'text',
          //-      placeholder: '$',
          //-      })
          
          //- .row.m-t-2.form-group-m-b-15
          //-   .col-lg-6.col-l-65.label-top-6
          //-     +fieldBlock("cap", '', {
          //-       class1: 'col-lg-6 p-l-2', 
          //-       class2: 'col-lg-6 col-md-9', 
          //-       type: 'text',
          //-       placeholder: '$',
          //-       })
          //-   .col-lg-6.col-l-65.label-top-6
          //-     +fieldBlock("expiration_date", '', {
          //-       class1: 'col-lg-6 p-r-2', 
          //-       class2: 'col-lg-6 col-md-9', 
          //-       type: 'date',
          //-       })

          .row.m-t-2.form-group-m-b-15.label-top-6
            .col-lg-6.col-l-65
              .form-group.row.min_equity_offered.required
                label(for="min_equity_offered").text-lg-right.col-lg-6.p-l-2 Percentage Revenue
                .col-lg-6.col-md-9
                  input.form-control(name="min_equity_offered" placeholder="$" type="text" value="5%" disabled)

            .col-lg-6.col-l-65
              .form-group.row.max_equity_offered.required
                label(for="max_equity_offered").text-lg-right.col-lg-5.col-md-3 Cap
                .col-lg-6.col-md-9
                  input.form-control(name="max_equity_offered" placeholder="$" type="text" value="2X" disabled)

          .row
            .col-lg-6.col-l-65.m-l-30.form-group.row.clearfix
              label.col-lg-5.text-lg-right Link to Calculators
              .col-lg-7
                .btn-group
                  button(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-dropdown Link to Calculators
                  button(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.dropdown-toggle.dropdown-toggle-split.btn-dropdown-click
                    span.sr-only 
                  .dropdown-menu
                    a(href="/calculator/paybackshare/step-1" target="_blank").dropdown-item Payback Share Calculator
                    a(href="/calculator/capitalraise/intro" target="_blank").dropdown-item How Much Should I Raise?
                    a(href="/calculator/capitalraise2/step-1" target="_blank").dropdown-item Capital Raise Calculator 2
                    a(href="#" target="_blank").dropdown-item What's My Business Worth?

          .col-lg-9.offset-lg-3.p-r-0
            h4.m-t-1.font-weight-bold Here’s how PayBack Share works:
            ol.simple-list.mb45
              li.p-b-1 Share 5% of your company's revenue with investors annually, until;
              li.p-b-1 You have paid investors back two times the invested amount (distributions are capped at (2x) the investment amount, at which point the contract is deemed fulfilled);
              li.p-b-1 No distributions are required until the second full calendar year and the company is allowed one year of forbearance as needed;
              li In the event of default, investors become general unsecured creditors (senior to equity).

      .col-lg-12.pull-right.p-r-0.m-t-2.text-lg-right
              a(href="/api/campaign/" + values.id target="blank").btn.btn-secondary.text-uppercase.m-r-3 preview
              button(type="submit").btn.btn-primary.text-uppercase save
                i.fa.fa-angle-right
