.row.foreign-country-row
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.textLabel('city', Object.assign({
          'type': 'text',
          'value': user.city,
        }, fields.city))
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.textLabel('state', Object.assign({
          'type': 'text',
          'label': 'State/Province/ Region',
          'placeholder': 'State/Province/Region',
          'value': user.state,
        }))

.row.foreign-country-row
  .col-xl-6.col-lg-6.col-md-6
    -
      pug_html += app.fields.textLabel('zip_code1', Object.assign({
          'type': 'text',
          'value': user.zip_code,
        }, fields.zip_code, { 'label': 'Postal Code' }))
  .col-xl-6.col-lg-6.col-md-6.foreign-country-phone
      -
        pug_html += app.fields.textLabel('phone', Object.assign({
            'type': 'text',
            'value': user.phone,
          }, fields.phone))
