section
  
  .row
    .col-xl-12
      h2.text-uppercase investors
  .row
    .col-xl-12
      .panel-message
        .left-wrap
          .create-message
            p Send a Message to Investors
            a(href="#").btn.btn-sm.btn-primary create message
              i.fa.fa-angle-right
          .see-message
            p See Previous Messages Sent
            a(href="#").link-3
              i.fa.fa-paper-plane
              | 2 messages
        .right-wrap
          .send-payment
            p Send Payment to Investors
            a(href="#").btn.btn-sm.btn-secondary Send Payment
              i.fa.fa-angle-right

  .col-xl-12.send-message
    .title.line-row.row
      .col-xl-12
        i.fa.fa-envelope-o
        h4.text-uppercase.d-inline-block send a message
        a(href="#").delete.d-inline-block
          i.fa.fa-times
    
    .from.line-row.row
      .col-xl-12
        h4.text-uppercase.d-inline-block.m-r-0 From:
        input(value="Company name").d-inline-block.form-control
    
    .to.line-row.row
      .col-xl-12
        h4.text-uppercase.d-inline-block to:
        span All Investors
    .panel.line-row.row
      .col-xl-12
        a(href="#")
          i.fa.fa-bold
        a(href="#")
          i.fa.fa-italic
        a(href="#")
          i.fa.fa-underline
        //a(href="#") A
        span.line-vertical
        a(href="#")
          i.fa.fa-list-ol
        a(href="#")
          i.fa.fa-list-ul
        span.line-vertical
        a(href="#").attach-file
          i.fa.fa-paperclip
          strong Attach a file
    .textarea.row
      form.form-section
        .form-group.m-b-0
          textarea.w-100.form-control
    .row.file-row
      .col-xl-12
        .file
          a(href="#")
            i.fa.fa-file-o
            | filename.pdf
          a(href="#").delete
            i.fa.fa-times





  .col-xl-12.all-investors(style="display: none;")
    .col-xl-12
      .row.item
        .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
          .photo
            img(src=require("images/default/Default_photo.png"), alt="")
          .name
            h4.text-uppercase vladyslav tarasenko
            p vlad@growthfountain.com
        .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .city
            i.fa.fa-map-marker
            .street
              p.font-weight-bold United States
              p 17 Sunnyhill Drive Pittsburgh, PA 17803
        .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
          .invest
            span.money $100
            .date June 15th, 2017
              br
              | 2:08:00 pm
        .col-xs-12
          .border-bottom
      .row.item
        .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
          .photo
            img(src=require("images/default/Default_photo.png"), alt="")
          .name
            h4.text-uppercase vladyslav tarasenko
            p vlad@growthfountain.com
        .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .city
            i.fa.fa-map-marker
            .street
              p.font-weight-bold United States
              p 17 Sunnyhill Drive Pittsburgh, PA 17803
        .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
          .invest
            span.money $100
            .date June 15th, 2017
              br
              | 2:08:00 pm
        .col-xs-12
          .border-bottom
