section.investors-dashbord-document
  .row
    .col-xl-12
      h2.text-uppercase documents with growthfountain
      a(href=formc.link_to_formc target="_blank").link-1
        img(src=require('images/icons/lrg_US_Department_of_State35.gif')).img-document.d-inline-block
        h3.d-inline-block.m-t-0.m-b-0.listing  Form C
      br
      a(href='/' + formc.id + '/255' target="_blank").link-1.openPdfPreview
        h2.d-inline-block.m-t-1.m-b-0.listing
          i.fa.fa-file-pdf-o
        h3.d-inline-block.m-t-0.m-b-0.listing  Listing Agreement
      br
      a(href=require('doc/GrowthFountain_Crowdfunding_Success_Checklist.pdf') target="_blank").link-1
        h2.d-inline-block.m-t-1.m-b-0
          i.fa.fa-file-pdf-o
        h3.d-inline-block.m-t-0.m-b-0  GrowthFountain Crowdfunding Success Checklist
      br
      a(href=require('doc/How_to_Run_a_Successful_Crowdfunding_Campaign_MoneyInc.pdf') target="_blank").link-1
        h2.d-inline-block.m-t-1.m-b-0
          i.fa.fa-file-pdf-o
        h3.d-inline-block.m-t-0.m-b-0  How to Run a Successful Crowdfunding Campaign
