section
  
  .row
    .col-xl-12
      h2.text-uppercase investors
  .col-xl-12.all-investors
    .row
      .col-xl-12.item
        .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
          .photo
            img(src=require("images/default/Default_photo.png"), alt="")
          .name
            h4.text-uppercase vladyslav tarasenko
            p vlad@growthfountain.com
        .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .city
            i.fa.fa-map-marker
            .street
              p.font-weight-bold United States
              p 17 Sunnyhill Drive Pittsburgh, PA 17803
        .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
          .invest
            span.money $100
            .date June 15th, 2017
              br
              | 2:08:00 pm
        .col-xs-12
          .border-bottom
      .col-xl-12.item
        .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
          .photo
            img(src=require("images/default/Default_photo.png"), alt="")
          .name
            h4.text-uppercase vladyslav tarasenko
            p vlad@growthfountain.com
        .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .city
            i.fa.fa-map-marker
            .street
              p.font-weight-bold United States
              p 17 Sunnyhill Drive Pittsburgh, PA 17803
        .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
          .invest
            span.money $100
            .date June 15th, 2017
              br
              | 2:08:00 pm
        .col-xs-12
          .border-bottom
      .col-xl-12.item
        .col-xl-5.col-lg-5.col-md-4.col-sm-12.col-xs-12.photo-wrap
          .photo
            img(src=require("images/default/Default_photo.png"), alt="")
          .name
            h4.text-uppercase vladyslav tarasenko
            p vlad@growthfountain.com
        .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .city
            i.fa.fa-map-marker
            .street
              p.font-weight-bold United States
              p 17 Sunnyhill Drive Pittsburgh, PA 17803
        .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12
          .invest
            span.money $100
            .date June 15th, 2017
              br
              | 2:08:00 pm
        .col-xs-12
          .border-bottom