<div class="container calculator-container">
    <div class="page">
        <p class="lead">This calculator will give you an idea of distributions associated with issuing Payback Share</p>
        <form class="js-calc-form">
            <div class="form-group row">
                <label for="input2" class="col-sm-7 col-form-label asdasdasdsa">How much money do you plan to raise?</label>
                <div class="col-sm-5">
                    <input value="{{#formatPrice raiseMoney}}{{/formatPrice}}" type="text" class="form-control js-field" id="input2"
                           placeholder="$0"
                           data-input-mask="price"
                           data-model-value="raiseMoney"
                           data-current-value="{{ raiseMoney }}"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label for="input3" class="col-sm-7 col-form-label">What do you expect your revenue to be next year?</label>
                <div class="col-sm-5">
                    <input value="{{#formatPrice nextYearRevenue}}{{/formatPrice}}" type="text" class="form-control js-field" id="input3"
                           placeholder="$0"
                           data-input-mask="price"
                           data-model-value="nextYearRevenue"
                           data-current-value="{{ nextYearRevenue }}"
                    />
                </div>
            </div>
            <div class="form-group row">
                <label for="input1" class="col-sm-7 col-form-label">At what rate do you expect your revenue to grow each year?</label>
                <div class="col-sm-5">
                    <input value="{{ growLevel }}" type="text" class="form-control js-field" id="input1"
                           data-input-mask="percent"
                           data-model-value="growLevel"
                    />
                </div>
            </div>
            <div class="submit-area">
                <div class="form-group row">
                    <div class="col-sm-6 text-xs-center text-sm-left">
                        <a class="btn btn-link" href="/calculator/step-1" role="button">Go back</a>
                        <p>Don't worry we saved this info</p>
                    </div>
                    <div class="col-sm-6 text-xs-center text-sm-right">
                        <button type="submit" class="btn btn-primary btn-lg">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
