.container.calculator-container
    .page
        h1.calculator-title PayBack Share Calculator - Intro
        p PayBack Share is a revenue share agreement that may be a good choice for:
        ul.list-unstyled
            li A) Companies that generate or expect to generate cash (your operating earnings will have to be &gt; 5% of your revenue for this to make sense);
            li B) LLC&rsquo;s that are looking for ways to raise funds without the need to issue K-1s; and
            li C) Companies that want to maintain a clean capital structure in anticipation of a future venture capital fundraising round.
        p Here&apos;s how it works:
        ol.list-unstyled
            li 1. You share at least 5% of your revenue annually;
            li 2. No distribution is required until the second full calendar year and you are allowed one year of forbearance as needed;
            li 3. Distributions are capped at 2x the invested amount, at which point your obligation is fulfilled.
        p Here are some of the advantages of choosing PayBack Share:
        ol.list-unstyled
            li 1. It does not dilute the ownership of current shareholders or the control of management
            li 2. It avoids a prolonged negotiation over valuation and &ldquo;messy cap table&rdquo;
            li 3. It may be easier to raise capital and attract investors by offering the potential to earn regular cash distributions
            li 4. It gives you the chance to keep more of the upside since once investors&rsquo; have received 2x their money back, you will have no further obligation
        p Click here to see the PayBack Equity Subscription Agreement
        p.text-xs-center.text-sm-right
            a.btn.btn-primary.btn-lg(href='/calculator/paybackshare/step-2', role='button') Ok, let&apos;s get started
