if attr.allowQuestion
  | !{ snippets.add() }

div(class=(attr.cssClass || '')).p-xs-0
  .comments
    -
      var options = _.extend({
        owner_id: owner_id,
        company_id: company_id,
      }, attr);

    each c in comments
      | !{ helpers.fields.comment(c, 0, options, helpers) }
