if attr.allowQuestion
  | !{ snippets.add() }

div(class=(attr.cssClass || '')).p-xs-0
  .comments
    -
      var options = _.extend({
        owner_id: owner_id,
        company_id: company_id,
      }, attr);

    each c in comments
      | !{ helpers.fields.comment(c, 0, options, helpers) }

.stubs.collapse
  //- todo: move this to fields
  form.comment-form.form-section.edit-comment.collapse
    .col-lg-11.offset-lg-1.m-t-2.p-r-0.p-l-3.p-xs-0.form-group
      .border-bottom.m-t-0.mb30.hidden-xs-down
      .col-lg-12.p-xs-0
        textarea(
          name="message"
          placeholder="Type your text here"
        ).form-control.big-textarea.text-body.col-lg-12
    .col-lg-12.p-r-0.text-xl-right.text-lg-right.text-xs-center.p-xs-0
      button(type="button").btn.btn-sm.btn-secondary.text-uppercase.m-r-2.cancel-comment Cancel
      button(type="button").btn.btn-sm.btn-primary.text-uppercase.submit-comment Submit
      