.container.m-t-3.p-x-0
  if attr.allowQuestion
    | !{ snippets.add() }
  .comments.col-xl-8.offset-xl-2.p-xs-0
      -
        var level = 0;
      each c in comments
        | !{ snippets.comment({ comment: c , snippets: snippets, attr: attr , level: level }) }
