section#home(data-background='https://s3.amazonaws.com/growthfountain-development/filer_public/60/0e/600e5642-6b02-4a9b-b901-c651f2f62b5b/1.jpg', style='background-image: url("https://s3.amazonaws.com/growthfountain-development/filer_public/60/0e/600e5642-6b02-4a9b-b901-c651f2f62b5b/1.jpg");').home-section.bg-dark-alfa-70.parallax-2.fixed-height-small
      .js-height-parent.container(style='height: 600px')
        // Hero Content
        .home-content
          .home-text.text-lg-center
            h1.hs-line-14.font-alt.margin-bottom-50.mb-xs-30 #{ campaign.company.name }
            .local-scroll
              a.big-icon.link-6.lightbox-gallery-1.mfp-iframe(href='https://www.youtube.com/watch?v=eE-zAcJusWU')
                i.fa.fa-play-circle-o
              a(href=campaign.company.website).link-6.link-campaing-detail #{ campaign.company.website }
              .row.d-inline-dlock
                a(href="")
                  i.fa.fa-facebook
                a(href="")
                  i.fa.fa-twitter
                a(href="")
                  i.fa.fa-instagram
                a(href="")
                  i.fa.fa-linkedin

        // End Hero Content