section.home-section.bg-dark-alfa-30(style="background: url(/img/bg.jpg) center center no-repeat; background-size: cover;")
    .js-height-full
        .home-content.container
            .home-text
                img(
                src="/img/main_logo.png" 
                alt="Growthfountain"
                ) 
                .local-scroll.pt30
                    a(href=Urls['campaign-list']()).btn.btn-lg.btn-primary INVEST
                    span.hidden-xs  
                    a(href="/user/issuer_dashboard/").btn.btn-lg.btn-primary RAISE CAPITAL
                    .row
                        .col-md-4.col-md-offset-8.pull-right
                            p.lead.text-md-left
                                | Investors and Entrepreneurs:
                                br
                                | connecting, funding,
                                br
                                | and enriching one another,
                                br
                                | one idea at a time.
                            div
                                a(href="").link-1 Understand the Risks
