li.nav-item.notification.text-center
        a(href="#")
          i.fa.fa-bell-o.inline-block
            span.count-notific 5

        .list-container 
          ul.submenu.list-unstyled 
            li.clearfix.title
            span.pull-left.inline-blockb 5 pending
            a(href="#").inline-block.pull-right view all

            li.clearfix 
                span.pull-left.inline-block Maria Kravchuk wrote...
                i.inline-block.pull-right just now

            li.clearfix 
                span.pull-left.inline-block Maria Kravchuk wrote...
                i.inline-block.pull-right just now

            li.clearfix 
                span.pull-left.inline-block Maria Kravchuk wrote...
                i.inline-block.pull-right just now

            li.clearfix 
                span.pull-left.inline-block Maria Kravchuk wrote...
                i.inline-block.pull-right just now
