if user.token != ''
    li.nav-item.notification.notification-bell.text-center
            a(href="#")
              i.fa.fa-bell-o
                span.count-notific 5

            .list-container.notification-container
              ul.submenu.list-unstyled 
                li.clearfix.title.nav-link
                    span.pull-left
                        b 5 pending
                        | comments
                    a(href="#").pull-right view all

                li.clearfix.nav-link
                    span.pull-left Maria Kravchuk wrote...
                    i.pull-right just now

                li.clearfix.nav-link
                    span.pull-left Maria Kravchuk wrote...
                    i.pull-right just now

                li.clearfix.nav-link
                    span.pull-left Maria Kravchuk wrote...
                    i.pull-right just now

                li.clearfix.nav-link
                    span.pull-left Maria Kravchuk wrote...
                    i.pull-right just now

    li.nav-item.notification.text-center.hidden-md-down
            a(href="#")
              i.fa.fa-envelope-o
                span.count-notific 5
