li.nav-item.hidden-md-down
    a.nav-link(href=Urls['campaign-list']())
        i.fa.fa-search 
        | Explorer 
li.nav-item.active
    a.nav-link(href="/page/11/") About us 
        i.fa.fa-angle-down
    .list-container
        ul.submenu.list-unstyled
            li
                a.nav-link(href="/page/11/") Overview
            li
                a.nav-link(href="/page/11/#") Team
            li
                a.nav-link(href="/page/11/#") Partners
            li
                a.nav-link(href="/page/11/#") Contact Us
            li
                a.nav-link(href="/page/11/#") Careers
            li
                a.nav-link(href="/page/11/#") In the News
    li.nav-item
        a.nav-link(href="/page/11/#") Resource center 
            i.fa.fa-angle-down
        .list-container.two-columns
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Investors
                li
                    a.nav-link(href="/page/11/") Investor Tutorial
                li
                    a.nav-link(href="/page/11/") Educational Materials
                li
                    a.nav-link(href="/page/11/") FAQ
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Businesses
                li
                    a.nav-link(href="/page/11/") Business Tutorials
                li
                    a.nav-link(href="/page/11/") Campaign Material
                li
                    a.nav-link(href="/page/11/") Success Guide
                li
                    a.nav-link(href="/page/11/") Capital Raise Caculator
                li
                    a.nav-link(href="/page/11/") What's My Business Worth?
                li
                    a.nav-link(href="/page/11/") FAQ
    li.nav-item
        a.nav-link(href="/page/11/#") Advisor network 
            i.fa.fa-angle-down
        .list-container
            ul.submenu.list-unstyled
                li
                    a.nav-link(href="/page/11/") About
                li
                    a.nav-link(href="/page/11/") FAQ
