li.nav-item.hidden-md-down
    a.nav-link(href=Urls['campaign-list']())
        i.fa.fa-search 
        | Explorer 
li.nav-item.active
    a.nav-link(href="/page/11/") About us 
        i.fa.fa-angle-down
    .list-container
        ul.submenu.list-unstyled
            li
                a.nav-link(href="/page/15/") Overview
            li
                a.nav-link(href="/page/17/") Team
            li
                a.nav-link(href="/page/18/") Partners
            li
                a.nav-link(href="/page/19/") Contact Us
            li
                a.nav-link(href="/page/20/") Careers
            li
                a.nav-link(href="/page/5/") In the News
    li.nav-item
        a.nav-link(href="#") Resource center 
            i.fa.fa-angle-down
        .list-container.two-columns
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Investors
                li
                    a.nav-link(href="/page/21/") Investor Tutorial
                li
                    a.nav-link(href="/page/14/") Educational Materials
                li
                    a.nav-link(href="/page/11/") FAQ
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Businesses
                li
                    a.nav-link(href="/page/21/") Business Tutorials
                li
                    a.nav-link(href=Urls['campaign-list']()) Campaign Material
                li
                    a.nav-link(href="/page/22/") Success Guide
                li
                    a.nav-link(href="/page/23/") Capital Raise Caculator
                li
                    a.nav-link(href="/page/24/") What's My Business Worth?
                li
                    a.nav-link(href="/page/11/") FAQ
    li.nav-item
        a.nav-link(href="#") Advisor network 
            i.fa.fa-angle-down
        .list-container
            ul.submenu.list-unstyled
                li
                    a.nav-link(href="/page/13/") About
                li
                    a.nav-link(href="/page/11/") FAQ
