li.nav-item.hidden-md-down
    a.nav-link(href="#")
        i.fa.fa-search Explorer 
li.nav-item.active
    a.nav-link(href="#") About us 
        i.fa.fa-angle-down
    .list-container
        ul.submenu.list-unstyled
            li
                a.nav-link(href="#") Overview
            li
                a.nav-link(href="#") Team
            li
                a.nav-link(href="#") Partners
            li
                a.nav-link(href="#") Contact Us
            li
                a.nav-link(href="#") Careers
            li
                a.nav-link(href="#") In the News
    li.nav-item
        a.nav-link(href="#") Resource center 
            i.fa.fa-angle-down
        .list-container.two-columns
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Investors
                li
                    a.nav-link(href="") Investor Tutorial
                li
                    a.nav-link(href="") Educational Materials
                li
                    a.nav-link(href="") FAQ
            ul.submenu.list-unstyled
                li.nav-link-sm
                    p For Businesses
                li
                    a.nav-link(href="") Business Tutorials
                li
                    a.nav-link(href="") Campaign Material
                li
                    a.nav-link(href="") Success Guide
                li
                    a.nav-link(href="") Capital Raise Caculator
                li
                    a.nav-link(href="") What's My Business Worth?
                li
                    a.nav-link(href="") FAQ
    li.nav-item
        a.nav-link(href="#") Advisor network 
            i.fa.fa-angle-down
        .list-container
            ul.submenu.list-unstyled
                li
                    a.nav-link(href="") About
                li
                    a.nav-link(href="") FAQ
