if user.token != ""
    li.nav-item.user-info
        a.nav-link.notification.user-info-name
            span
                i.fa.fa-user
            v.hidden-md-down #{user.last_name}
        .list-container.user-info-drop.notification-container
            ul.submenu.list-unstyled 
                li
                    a(href="/account/profile").nav-link Profile
                li
                    a(href="#").nav-link Issuer Dashboard
                li
                    a(href="#").nav-link Investor Dashboard
                li
                    a(href="/account/logout/").nav-link Logout
        
else
    li.nav-item
        a.btn.btn-lg.btn-primary(href="/account/login/") Login
    
    li.nav-item
        a.btn.btn-lg.btn-primary(href="/account/signup/") Signup
