section.header_title
    .container
    .row
        .col-lg-6
            h2= page.title
        .col-lg-6 text-lg-right
            a(href="/")
            span /
            span.curent= page.title

section.text_block
    .container= page.content
