section.reset
  .container
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-85 Change Password

    .col-lg-4.offset-lg-4
      form(data-method="PUT").form-section
        input(type="hidden" name="domain" value=window.location.host)
        .col-lg-12
          .form-group.row.clearfix.required
            input(autocomplete='off' type="password" placeholder="New Password" name="new_password1" data-value-type="password").form-control
        .col-lg-12
          .form-group.row.clearfix.required
            input(autocomplete='off' type="password" placeholder="Repeat Password" name="new_password2" data-value-type="password").form-control
        .col-lg-12
          .row.text-sm-center
            button(type="submit").btn.btn-primary.text-uppercase Save
