include ../../../templates/mixins.pug
section.reset
    .container
        .col-lg-12
            h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-85 Change Password

        .col-lg-4.offset-lg-4
            form(action="" method="post").form-section
                input(type="hidden" name="uid" value=uid)
                input(type="hidden" name="token" value=token)
                .col-lg-12
                    .form-group.row.clearfix.required
                        //- input(type="password" placeholder="New password" name="password").form-control
                        input(type="password" placeholder="New password" name="new_password1").form-control
                .col-lg-12
                    .form-group.row.clearfix.required
                        //- input(type="password" placeholder="Repeat password" name="password").form-control
                        input(type="password" placeholder="Repeat password" name="new_password2").form-control
                .col-lg-12
                    .row.text-sm-center
                        button(type="submit").btn.btn-primary.text-uppercase Save
