<div class="modal fade cropModal modal-dropzone  cssClass + '" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
    <div class="modal-body">
      <div class="form-group  cropperTemplate" style="display: none">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <div class="crop-image-container"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 m-t-3 m-b-0 text-xs-center">
            <button type="button" class="btn btn-secondary m-r-2 cropper-cancel" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-primary cropper-ok" data-dissmiss="modal">
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="row previewTemplate" style="display: none">
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
          <div class="crop-image-container "></div>
        </div>
        <div class="preview-container col-xl-5 col-lg-5 col-md-5 col-sm-5 hidden-xs-down text-xs-center p-r-0">
          <div class="row">
            <div class="img-preview" style="width: 150px; height: 150px; overflow: hidden; margin: auto;"></div>
          </div>
          <div class="row">
            <div class="img-preview mini" style="width: 50px; height: 50px; overflow: hidden; margin: auto;"></div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xl-12 m-t-3 m-b-2 text-xs-center">
            <button type="button" class="btn btn-secondary m-r-2 cropper-cancel" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-primary cropper-ok" data-dissmiss="modal">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer "></div>
  </div>
</div>
</div>
