.row.fileContainer
  .col-xl-12.one-photo
    if file.file.id
      .delete-image-container
        a(href="#").crop-image.cropImage
          i.fa.fa-crop
        a(href="#").delete-image.deleteFile
          i.fa.fa-times
      img(class=("w-100 img-" + file.fieldName) src=file.file.getUrl('main'))
    else
      img(class=("w-100 img-" + file.fieldName) src=file.getDefaultImage())
