.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Intro
        p One of the most common questions that we get at GrowthFountain is “How much money do I need to raise in order to continue to grow my business?” Just by answering a handful of questions, Capital Raise Estimator enables you to determine the appropriate amount of money you require.
        p.text-xs-center
            a.btn.btn-primary.btn-lg(href='/calculator/capitalraise/step-1') Ok, let's get started
