.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Intro
        p If your business is not expected to generate positive cash flow over its first 12 - 24 months, or if you expect to be reinvesting the cash your business generates for the first several years, then we recommend you issue convertible preferred equity.
        p The tool below can help guide you to an initial valuation at which to issue your convertible preferred equity.
        p The approach to valuing a start-up varies in several respects from an established business, as there are often no earnings or cash flow during the start-up phase.
        p For example, one must factor in a higher probability for failure, which can run at rates approaching 50% in the first five years of a business.  On the other hand, a start-up has significantly higher potential for future growth.
        p Hence a start-up's valuation range will typically be wider than that of an existing business, and be comprised of a higher percentage of option value.
        p.text-xs-center
            a.btn.btn-primary.btn-lg(href='/calculator/capitalraise/step-1') Ok, let's get started
