include ../../../templates/mixins.pug

+breadcrumbs('Startup Business Valuation Calculator ', 'intro',
    [
        ['Home', '/'],
        ["What's My Business Worth?", '/calculator/selectYourBusiness'],
        ["Startup Business Valuation Calculator", '']
    ]
)

.container.calculator-container
    .row
        .offset-lg-2.col-xs-8
            ul.list-inline.top-breadcrambs.mb45
                li
                    a(href="/calculator/capitalraise/intro").current.btn.text-uppercase Intro
                li
                    a(href="/calculator/capitalraise/step-1").btn.text-uppercase step 1
                li
                    a(href="/calculator/capitalraise/finish").btn.text-uppercase finish

    .row
        .offset-lg-3.col-lg-6
            p If your business is not expected to generate positive cash flow over its first 12-24 months, or if you expect to reinvest the cash your business generates for the first several years, then Common Equity might be a good choice for you.

    .row
        .offset-lg-3.col-lg-6
            p.mt15 This calculator can help guide you to an initial valuation at which to issue Common Equity.

    .row
        .offset-lg-3.col-lg-6
            p.mt15 This approach to valuing a start-up varies in several respects from an established business, as there are often no earnings or cash flow during the start-up phase.
    .row
        .offset-lg-3.col-lg-6
            p.mt15 For example, one must factor in a higher probability for failure, which can run at rates approaching 50% in the first five years of a business. On the other hand, a start-up has significantly higher potential for future growth.

    .row
        .offset-lg-3.col-lg-6
            p.mt15 Hence a start-up’s valuation range will typically be wider than that of an existing business, and be comprised of a higher percentage of option value.

    .row
        .offset-lg-3.col-lg-6.mt50
                a(
                    href="/calculator/capitalraise/step-1"
                ).btn.btn-primary.pull-sm-right.text-uppercase Ok, let&apos;s get started

