.authorization{
	// margin-top: 45px;
}

.login-tabs {
	margin-bottom: 20px;

	border-bottom: none;

	li {
		margin-right: 8%;

		&:last-child {
			margin-right: 0;
		}

		a.nav-link {
			padding: 5px 30px;

			text-transform: uppercase;
			color: $tab_authorization_text;
			letter-spacing: 2px;

			&.active,
			&.active:focus {
				border-color: $active_tab_authorization $active_tab_authorization $active_tab_authorization;
			}
		}
	}
}

.authorization-tabs-content {
	font-weight: 300;
	label {
		margin-bottom: 0px;
		margin-top: 4px;

		color: $grey;
		font-weight: 400;
	}

	.signature,
	.terms_conditions {
		margin-top: 20px;
		margin-bottom: 10px;

		label {
			margin-top: 0;

			font-size: 16px;

		}

		input[type='checkbox'] {
			vertical-align: bottom;
		}
	}

	.terms_conditions {
		margin-bottom: 30px;
	}

	.socialaccount_ballot {

		margin-top: 30px;
		margin-bottom: 20px;

		p {
			color: $black;
		}

		.social-icons {
			margin-left: -12px;
		}

		li {
			float: left;
		}

		a {
			padding: 5px 15px;

			cursor: pointer;

			font-size: 18px;
			color: $grey;

			&.facebook {

			}

			&.googleplus {

			}

			&.linkedin {

			}
		}
	}

	.forget-password {
		@include calc-rem(16);

		display: inline-block;
		margin-top: 8px;
	}

	.submit-btn {
		padding: 10px 30px;
		border-radius: 2px;
		background: rgba($authorization_btn_submit_bg, .8);

		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

// временнно переопределю класы для чекбоксов
.forms-block {
	.form-section {
		.pseudo-checkbox {
			input[type='checkbox'] {
				top: 6px;
				left: 4px;
				bottom: auto;
				right: auto;

				opacity: 1;
			}
		}
	}
	
}


@media screen and (max-width:991px) {
	.forms-block {
		margin-top: 30px;
	}

}

@media screen and (max-width:480px) {
	.authorization-tabs-content {
		.forget-password {
			@include calc-rem(14);
		}
	}
}
