.profile {

	// hide all popovers content source block
	[class*='popover-content'] {
		display: none; }

	.profile-tabs-content {
		.drop-photo {
			min-height: 135px;
			margin-top: 5px;

			background: $border_color;
			border: 1px $grey solid;
		}

		.selected-area-info {
			position: relative;

			padding: 5px 0 0 20px;
			margin-bottom: -5px;

			i,
			span {
				display: inline-block;

				color: $total_sum_progresbar;
				font-size: 11px;
			}

			i {
				position: absolute;
				top: 7px;
				left: 5px;
			}
		}

		.drop-image-title {
			margin-top: 17px;

			span {
				@include calc-rem(14);

				color: $footer_text;
			}

			i {
				@include calc-rem(28);

				margin-top: 17px;

				color: $footer_text;
			}
		}
	}

	.investors-warning {
		@include calc-rem(14);

		position: relative;

		padding: 10px 20px;
		padding-left: 35px;
		margin-top: 60px;
		margin-bottom: 20px;

		border: 1px $text_warning_block_color solid;

		color:$text_warning_block_color;

		i {
			position: absolute;
			top: 14px;
			left: 10px;
		}
	}

	.select-group {
		select {
			max-width: 554px;
		}
	}

	// тут переопределяем стили для елементов формы которые заданы в pages.scss
	.form-section {
		.street_address_2 label {
			color: $footer_text;
		}

		.city_state {
			position: relative;
			z-index: 50;

			input {
				display: none;
			}

			span.change_state_city {
				position: absolute;
				top: 6px;
				left: 15px;

				cursor: pointer;

				.input-value {
					@include ellipsis();

					display: inline-block;
					max-width: 150px;
					margin-right: 20px;

					text-decoration: underline;
				}

				i {
					vertical-align: super;
				}
			}
		}

		textarea {
			max-width: 554px;
		}

		input[type='date'] {
			height: 35px;// непонятно по какой причине высота этого элемента больше чем 38пкс
		}
	}

	@media screen and (max-width: 543px) {
		.profile-tabs { 
			li.nav-item {
				margin-right:3%;
				margin-left: 0;
				margin-top: 1.5rem;

				min-width: 150px;
			    width: 100%;
			    max-width: 100%;
			}
		}
	}
}
