.thankyou-title
	letter-spacing: 2px
	
	i 
		color: $wild_willow

.result-info-block 
	width: 290px

	ul 
		margin-bottom: 0
		padding-left: 25px

		line-height: 1.7

		li span
			color: $footer_text
