.investment
	h2
		margin-bottom: 30px
	.no-margin-bottom
		margin-bottom: 0

.text-color-puerto_rico
	color: $puerto_rico
.list-group-border-invest
	border: 1px solid #e7e7e7
.list-group-item-heading
	margin-bottom: 15px
.payment-information
	padding-bottom: 50px
.payment-inform-link
	border: 1px solid #e7e7e7
	border-radius: 2px
	max-height: 67px
	&:hover
		border: none
.invest-right-margin
	margin-top: 30px
	margin-bottom: 0
.investment-summary
	padding-bottom: 0
	padding-top: 15px
	p
		line-height: 1
		margin-top: 7px
	span
		color: $small-text
.varification
	label
		font-weight: 400
		padding-top: 0
	.btn
		margin-top: 20px
	.form-group
		margin-top: 25px
		margin-bottom: 25px
