- pug_html += app.breadcrumbs("Business Valuation Calculator", '', [ ['Home', '/'], ["Business Valuation Calculator", ''],]);


.container.calculator-container.select-business.text-xs-center
  .row.text-xs-center
    .col-xl-10.offset-xl-1
      h3.font-weight-light.text-xs-center.m-b-3.m-t-0 Use GrowthFountain's Business Valuation Calculator can evaluate your future business, find out how much to raise in equity crowdfunding, and estimate rates of return. 
    .col-xl-10.offset-xl-2.col-lg-10.offset-lg-1.p-xs-0
      .col-xl-5.col-lg-6.col-md-12.mb30xs
        a(href="/calculator/establishedbusiness/intro").btn.btn-lg.btn-primary.text-uppercase.btn-block i have an established business

      .col-xl-5.col-lg-6.col-md-12
        a(href="/calculator/capitalraise/intro").btn.btn-lg.btn-primary.text-uppercase.btn-block i have a brand new startup
