- pug_html += app.breadcrumbs("What's My Business Worth?", '', [ ['Home', '/'], ["What's My Business Worth?", ''],]);


.container.calculator-container.select-business.text-xs-center
  .row.text-xs-center
    .col-xl-10.offset-xl-2.col-lg-10.offset-lg-1.p-xs-0
      .col-xl-5.col-lg-6.col-md-12.mb30xs
        a(href="/calculator/selectCalculator2").btn.btn-lg.btn-primary.text-uppercase.btn-block i have an established business

      .col-xl-5.col-lg-6.col-md-12
        a(href="/calculator/selectCalculator").btn.btn-lg.btn-primary.text-uppercase.btn-block i have a brand new startup
