- var config = require('./config.js');

mixin googleTag(id)
  noscript
    iframe(
    src="https://www.googletagmanager.com/ns.html?id=" + id
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  )

if config.googleTagIdGeneral
  +googleTag(config.googleTagIdGeneral)

if config.googleTagId
  +googleTag(config.googleTagId)
