.container.calculator-container
    .page
        h1.calculator-title Capital Raise Calculator - Finish
    .submit-area
        h3 Total Amount of Capital Raise We Recommend: #{formatPrice(model.finalRaiseAmount)}
        .form-group.row
            .col-sm-6.text-xs-center.text-sm-left
                a.btn(href='/calculator/capitalraise2/step-1', role='button') Go back
                p Don&apos;t worry we saved this info
            .col-sm-6.text-xs-center.text-sm-right