div(class=class1)
  select(
    id=id || name + '__day'
    name=(name || name) + '__day'
    data-value-type="string"
  ).custom-select.w-100
    option(value="") DD
    option(value = "01" selected = (value == '01') ? true : false) 1
    option(value = "02" selected = (value == '02') ? true : false) 2
    option(value = "03" selected = (value == '03') ? true : false) 3
    option(value = "04" selected = (value == '04') ? true : false) 4
    option(value = "05" selected = (value == '05') ? true : false) 5
    option(value = "06" selected = (value == '06') ? true : false) 6
    option(value = "07" selected = (value == '07') ? true : false) 7
    option(value = "08" selected = (value == '08') ? true : false) 8
    option(value = "09" selected = (value == '09') ? true : false) 9
    option(value = "10" selected = (value == '10') ? true : false) 10
    option(value = "11" selected = (value == '11') ? true : false) 11
    option(value = "12" selected = (value == '12') ? true : false) 12
    option(value = "13" selected = (value == '13') ? true : false) 13
    option(value = "14" selected = (value == '14') ? true : false) 14
    option(value = "15" selected = (value == '15') ? true : false) 15
    option(value = "16" selected = (value == '16') ? true : false) 16
    option(value = "17" selected = (value == '17') ? true : false) 17
    option(value = "18" selected = (value == '18') ? true : false) 18
    option(value = "19" selected = (value == '19') ? true : false) 19
    option(value = "20" selected = (value == '20') ? true : false) 20
    option(value = "21" selected = (value == '21') ? true : false) 21
    option(value = "22" selected = (value == '22') ? true : false) 22
    option(value = "23" selected = (value == '23') ? true : false) 23
    option(value = "24" selected = (value == '24') ? true : false) 24
    option(value = "25" selected = (value == '25') ? true : false) 25
    option(value = "26" selected = (value == '26') ? true : false) 26
    option(value = "27" selected = (value == '27') ? true : false) 27
    option(value = "28" selected = (value == '28') ? true : false) 28
    option(value = "29" selected = (value == '29') ? true : false) 29
    option(value = "30" selected = (value == '30') ? true : false) 30
    option(value = "31" selected = (value == '31') ? true : false) 31
