.col-xl-12.p-x-0.p-t-1
  .warning-block  
    i.fa.fa-info-circle
    span.warning-text If you have any problems with uploading images please attache and send them to 
      a(href="mailto:morgan@growthfountain.com" target="_blank").link1 morgan@growthfountain.com
