.col-xl-12.p-x-0.p-t-1.imageErrorMsg
  .warning-block  
    i.fa.fa-info-circle
    span.warning-text If you have any problems with uploading of images please attach them and send them to 
      a(href="mailto:morgan@growthfountain.com").link-3 morgan@growthfountain.com
