.col-xl-12.p-x-0.p-t-1.imageErrorMsg
  .warning-block  
    i.fa.fa-info-circle
    span.warning-text If you are having problems uploading your images please attach your photos to an email and send them to 
      a(href="mailto:morgan@growthfountain.com").link-3 morgan@growthfountain.com
