- document.title = 'Results - Free Startup Valuation Calculator ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'Take advantage of our free startup valuation calculator to find out how much your startup idea is worth';

- pug_html += app.breadcrumbs('Startup Valuation Calculator', 'finish', [ ['Home', '/'], ["What's My Business Worth?", '/calculator/business-valuation'], ["Startup Valuation Calculator", ''],]);

.container.calculator-container
  .row
    .offset-lg-2.col-lg-8
      ul.list-inline.top-breadcrambs.mb45.revenue-share-calculator
        li
          a(href="/calculator/startup/intro").btn
            h4.text-uppercase.m-b-0 Intro
        li
          a(href="/calculator/startup/step-1").btn
            h4.text-uppercase.m-b-0 step 1
        li
          a(href="/calculator/startup/finish").current.btn
            h4.text-uppercase.m-b-0 finish

  .row
    .offset-lg-3.col-lg-6.text-xs-center.p-l-0.p-r-0
      h2.m0.finish-calc.font-weight-light
        .like-detail-icon.d-inline-block
          i(aria-hidden="true").fa.fa-diamond.like-icon-circle
        | &nbsp;Based on your inputs, you may want to consider a valuation of
        span.font-weight-bold  #{app.helpers.format.formatMoney(Math.round(data.PreMoneyValuation / 1000) * 1000)}.

  .row
    .offset-lg-3.col-lg-6.mt45
      p.text-justify  Please note, valuing a pre-revenue company is really more of an art than a science and can vary across a wide band, so if you derive a different valuation, that's ok. Just remember, valuation matters to potential investors, so if you want to increase the probability of success, try to ensure the value proposition is fair to everybody involved.

  .row
    .offset-lg-3.col-lg-6
      hr.mt50.mb50

  .row
    .offset-lg-3.col-lg-6.text-xs-center.capitalraise-calculator-finish-bottom
      h4.text-uppercase Next steps
      p Now that you know what your business is worth, you can estimate how much capital to raise.
      a(href="/calculator/capital-raise").btn.btn-primary how much should I rase
