.display-partners
	display: $display_partnres!important
// цвет заголовков на странице education.pug
.heading-education
	color: $color_heading_education

// подзаголовки на странице кампании
.campaign-subheading
	color: $campign_subheading_color

/* сostum progressbar begin */

.progress-container
	position: relative

	span
		position: absolute
		top: 0
		line-height: 11px
		text-align: right

		i
			font-weight: bold
			background: $white
			margin-top: -11px

	.circle
		top: -5px

.text_block
	.page_title
		width: 100%
		border-color: $light_grey
  
		ul.simple-list 
			padding-left: rem(20)
			li 
				margin-bottom: rem(15)

.position-relative
	position: relative

/* end common styles for pages(faq, overview.. etc..) */

/*дополнительный клас для Заголовков*/
.border-bottom
	border-bottom: solid $mercury 1px
.opacity-border
	opacity: 0.1

/*Breadcrumb*/


@media screen and (max-width: 991px)
	.mpb50
		padding-bottom: rem(50)

.pt50
	padding-top: rem(50)
.pt55
	padding-top: rem(55)
.pb50
	padding-bottom: rem(50)
.p50
	padding-top: rem(50)
	padding-bottom: rem(50)
.pt30
	padding-top: rem(30)
.pb10
	padding-bottom: rem(10)
.pt10
	padding-top: rem(10)
.pt3 
	padding-top: rem(3)

.p-l-0
	padding-left: 0
.p-r-0
	padding-right: 0

.mb50
	margin-bottom: rem(50)
.mt50
	margin-top: rem(50)
.mt30
	margin-top: rem(30)
.mb30
	margin-bottom: 30px
.m30
	margin: rem(30) 0
.mr30
	margin-right: rem(30)
.mt20
	margin-top: rem(20)
.mb20
	margin-bottom: rem(20)
.mb45
	margin-bottom: rem(45)
.mt45
	margin-top: rem(45)

.mt25
	margin-top: rem(25)
.mb25
	margin-bottom: rem(25)
.mt15
	margin-top: rem(15)
.mb15
	margin-bottom: rem(15)

.m0
	margin-top: 0!important
	margin-bottom: 0!important
	
.m-t-85
	margin-top: rem(85)!important

.m-b-85
	margin-bottom: rem(85)
.m-b-10
	margin-bottom: rem(10)
.row.no-gutters
	margin-right: 0;
	margin-left: 0;

.l-h-24
	line-height: rem(24)
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]
	padding-right: 0;
	padding-left: 0;


.text-center-flex
	width: 100%
	margin: 0 auto
	text-align: center
	display: block
	.col-lg-4, .col-lg-3, .col-xl-4
		float: none
		display: inline-block
		vertical-align: top
		text-align: left

// для больших textarea 
.form-section
	.big-textarea
		textarea
			min-height: 170px
			width: 100%
.big-textarea
		textarea
			min-height: 170px
			width: 100%
textarea.big-textarea
	min-height: 170px

.letter-spacing-normal
	letter-spacing: normal

//
.base-font-size
	font-size: $font-size-base

.color-green
	color: $color-green

.letter-spacing-normal
	letter-spacing: normal!important

.noscroll
	overflow: hidden
.hiddendiv
	display: none
	white-space: pre-wrap
	min-height: 50px
	overflow: hidden
	word-wrap: break-word