// @import "bourbon"

/** Signup button **/

/** Menu costum **/

$padding_menu: 30px 0 0 0

$menu_shadows: none
$navbar_height: 100px

/** Menu gradient color **/


$border-width: 1px
$border-radius: 0
// $btn-border-radius: 0 !important
