- document.title = 'Login ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'Log in to your GrowthFountain account';

- pug_html += app.breadcrumbs('Login to Your Account', '', [ ['Home', '/'], ['Login to Your Account', ''], ]);

section.login
  .container
    .col-lg-12
      h2.text-uppercase.text-sm-center.text-xs-center.m-b-0.m-t-0  Welcome Back
      p.text-xs-center New to GrowthFountain? 
        a(href="/account/signup").link-3 Sign Up
    
    .col-xl-4.col-lg-6.col-sm-8.offset-sm-2.col-md-8.offset-md-2.offset-lg-3.offset-xl-4
      form(action="" novalidate autocomplete="off" role="presentation").form-section.login-form
        .row
          input(type="checkbox" id="agree-rules" name="checkbox1" value="1" checked="1" style="display: none")
          .social-btn.col-lg-12.p-xs-0
            a(data-original-title="facebook" data-network="facebook" href="#")#signup-facebook.btn.btn-block.btn-social-network.btn-facebook.text-uppercase
              i.fa.fa-facebook
              |  log in with Facebook
            a(data-original-title="Linkedin" data-network="linkedin" href="#")#signup-linkedin.btn.btn-block.btn-social-network.btn-linkedin.text-uppercase
              i.fa.fa-linkedin
              |  log in with linkedin
            a(data-original-title="Google Plus" data-network="google" href="#")#signup-google.btn.btn-block.btn-social-network.btn-google.text-uppercase
              i.fa.fa-google-plus
              |  log in with Google
          .col-lg-12.p-xs-0
            .border-bottom.or
              span or
        .col-lg-12.p-xs-0
          input(type="hidden" name="domain" value=window.location.host)
          -
            pug_html += fields.email.render();
            pug_html += fields.password.render();

        .col-lg-12.p-xs-0
          .row.forgot
            a(href="/account/reset").link-3 Forgot Your Password?
        .col-lg-12
          .row.text-sm-center.text-xs-center
            button(type="submit")#login-btn.btn.btn-primary.text-uppercase Log In
      .row
        .col-lg-12.p-xs-0
          .bottom
            span.label-text I agree to the 
              a(href="/pg/terms-of-use" target="_blank").link-3 Terms of Use
              | , 
              a(href="/pg/privacy-policy" target="_blank").link-3 Privacy Policy
              |  and 
              a(href="/pg/electronic-signature" target="_blank").link-3 Electronic Signature and Electronic Delivery of Documentation.

        
        
