div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#sign_up.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .modal-header.sign-up-header
        button(type="button" data-dismiss="modal" aria-label="Close").close
          span(aria-hidden="true")
            i.fa.fa-times
        .title-header-signup.m-t-1
          .row
            if window.location.pathname != '/calculator/revenue-share/step-2' && window.location.pathname != '/calculator/capital-raise/step-2' && window.location.pathname != '/calculator/established-business/step-3' && window.location.pathname != '/calculator/startup/step-1'
              .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12.p-l-0.p-xs-0
                .text-xs-center.text-sm-right.text-md-right.text-lg-right.text-xl-right
                  h1.title.text-uppercase Get
                  h1.number.text-uppercase.font-weight-bold
                    | &nbsp;$25&nbsp;
                  h1.title.text-uppercase Credit
                .title-header-bottom.text-xs-center.text-sm-right.text-md-right.text-lg-right.text-xl-right
                  span.font-weight-light If You Sign Up Now*
                  hr.mobile
              .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-xs-12.border-left 
                .text.text-xs-left
                  p *Limited time offer for new accounts only. Credit valid for 90 days and can be used only for investments made on this platform. Other conditions apply, see 
                    span
                      a(href="/pg/terms-of-use" target="_blank").link-6 Terms of Use.
            else 
              .col-xl-12.white-color
                h3.font-weight-bold.m-t-1.m-b-0 Our calculators are free to use!
                h3.font-weight-light.m-t-0.m-b-1 Simply register on the site to continue.

      .modal-body
        .container.form-section
          h2.text-xs-center.text-uppercase.dosis.modal-title Sign up
          p.text-xs-center Have an account? &nbsp;
            a(href="#").link-3.switchAuthPopup
              | Log In
          form(novalidate autocomplete="off")#sign-up-form.col-lg-12
            input(type="hidden" name="domain" value=window.location.host)
            .row
              .social-btn.m-t-2.m-b-2
                button(data-network="facebook")#signup-facebook.btn.btn-block.btn-social-network.btn-facebook.text-uppercase.m-t-0
                  i.fa.fa-facebook
                  |  SIGN UP with Facebook
                button(data-network="linkedin")#signup-linkedin.btn.btn-block.btn-social-network.btn-linkedin.text-uppercase
                  i.fa.fa-linkedin
                  |  SIGN UP with linkedin
                button(data-network="google")#signup-google.btn.btn-block.btn-social-network.btn-google.text-uppercase
                  i.fa.fa-google-plus
                  |  SIGN UP with Google
            .fields-group.m-x-auto
              .form-group.clearfix.required.m-b-0.text-xs-center
                .row
                  .col-lg-12.p-xs-0
                    label.p-t-0.m-b-0
                      input(type="checkbox" name="checkbox1" value="1")#agree-rules
                      span.label-text I agree to the 
                        a(href="/pg/terms-of-use" target="_blank").link-3 Terms of Use
                        | , 
                        a(href="/pg/privacy-policy" target="_blank").link-3 Privacy Policy
                        |  and 
                        a(href="/pg/electronic-signature" target="_blank").link-3 Electronic Signature and Electronic Delivery of Documentation.
                
              .row
                .col-xs-12.p-xs-0
                  .border-bottom.or
                    span or
            .first-last.row
              .col-xl-6.p-xs-0
                -
                  pug_html += app.fields.fieldText('first_name', {
                    required: true,
                    placeholder: 'First Name',
                    type: 'text',
                    'class': 'form-group row clearfix',
                  });
              .col-xl-6.p-xs-0
                -
                  pug_html += app.fields.fieldText('last_name', {
                    required: true,
                    placeholder: 'Last Name',
                    type: 'text',
                    'class': 'form-group row clearfix',
                  });
              .col-xl-12.p-xs-0
                -
                  pug_html += app.fields.fieldText('email', {
                    required: true,
                    placeholder: 'E-mail',
                    type: 'email',
                    'class': 'form-group row clearfix',
                  });
                  pug_html += app.fields.fieldText('password1', {
                    required: true,
                    placeholder: 'Password',
                    type: 'password',
                    'class': 'form-group row clearfix',
                  });
            input(
              type="hidden"
              value=window.location.host
              name="domain"
            )
            .col-lg-12.text-xs-center
              button(type="submit")#signup-btn.btn.btn-primary.text-uppercase Sign up
            
      .modal-footer
        .bottom-line.col-xs-12
          span Be signing up I agree to receive occasional issuer and investor notifications 
            br
            | from GrowthFountain.