div(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")#sign_in.modal.fade
  div(role="document").modal-dialog
    .modal-content
      .container
        .modal-header.p-x-0
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true")
              i.fa.fa-times
          h2.dosis.text-uppercase.text-sm-center.text-xs-center.mt50 Log in
          p.small-text.text-xs-center New to GrowthFountain? &nbsp;
            a(href="#").link-3.switchAuthPopup Sign Up
        .modal-body
          .form-section
            form(novalidate autocomplete="off")#sign-in-form.login-form.col-lg-10.offset-lg-1
              .col-lg-12.p-xs-0
                -
                  pug_html += app.fields.fieldText('email', {
                    autocomplete: 'off',
                    required: true,
                    placeholder: 'E-mail',
                    type: 'email',
                    'class': 'form-group row clearfix',
                  });
                  pug_html += app.fields.fieldText('password', {
                    required: true,
                    autocomplete: 'off',
                    placeholder: 'Password',
                    type: 'password',
                  'class': 'form-group row clearfix',
                  });
                input(
                  type="hidden"
                  value=window.location.host
                  name="domain"
                )
              .col-lg-12.p-xs-0
                .row.forgot
                  a(href="#").reset-password-link.link-3 Forgot Your Password?
              .col-lg-12
                .row.text-sm-center.text-xs-center
                  button(type="submit")#login-btn.btn.btn-primary.btn-login.text-uppercase Log In
            //-
              .col-lg-12.border-bottom.or
                span or
              .social-btn.col-lg-12
                a(data-original-title="facebook" href="#")#login-facebook.btn.btn-block.btn-facebook.text-uppercase
                  i.fa.fa-facebook
                  |  Log In with Facebook
                a(data-original-title="Linkedin" href="#")#login-linkedin.btn.btn-block.btn-linkedin.text-uppercase
                  i.fa.fa-linkedin
                  |  Log In with linkedin
                a(data-original-title="Google Plus" href="#")#login-google.btn.btn-block.btn-google.text-uppercase
                  i.fa.fa-google-plus
                  |  Log In with Google
    .modal-footer
