section.reset
  .container
    .col-lg-12
      h2.dosis.text-uppercase.text-sm-center.text-xs-center.m-t-85 Reset Password

    .col-lg-4.offset-lg-4
      form(data-method="PUT").form-section.login-form
        .col-lg-12.p-xs-0
          input(type="hidden" name="domain" value=window.location.host)#domain.form-control
          - pug_html += fields.email.render();
        .col-lg-12
          .row.text-xs-center
            button(type="submit").btn.btn-primary.text-uppercase Reset
